[2019-08-14 14:57] RRomoff commented on #380
Thanks for these questions, @gireeshpunathil. I made a few tweaks below. The one thing we want to keep in mind is survey length, so we want to add questions that add considerable value, or even decide what questions no longer add value. One follow up question I have is what are appropriate ranges for the final question? See recommended updates below:

How did you start using  Node.js?
Through Java

[2019-08-14 14:58] RRomoff commented on #380
@mhdawson Thanks for your edits! I made changes directly to the survey. Please let me know if I've addresses changes sufficiently!

[2019-08-14 14:59] ljharb commented on #380
For 43 and 44, I’d say it’s better to throw out last year’s data on an incorrect question and make sure we can look at trends next year :-)

[2019-08-14 15:01] RRomoff commented on #380
Thanks @bnb! Yes, completely agree RE binary gender option. It's been an open text option in the past and will continue to be so. I'm not sure why the translation only gave two options, but that will be addressed to ensure full inclusion.  The survey is back open for comments, not sure if you've had a chance to dig in but would love your final thoughts be we call this closed. :)

[2019-08-14 15:09] RRomoff commented on #380
**UPDATE**
The survey has been updated. Thank you for providing insightful and thoughtful feedback. Please check out comments and provide any required follow-ups. I'll leave the survey open for comments until Wednesday, August 21st. If you have any questions, please let me know. :)

[2019-08-14 15:19] gireeshpunathil commented on #380
@RRomoff - thanks; your gradation of values in the last question makes sense to me!

[2019-08-14 17:50] mhdawson commented on #380
@RRomoff it still looks like the list of repositories/working groups/projects is out of date

[2019-08-14 17:54] mhdawson commented on #380
Other than the list of repositories/working groups/projects in the one question it looks good to me.

[2019-08-14 17:55] mhdawson commented on #403
I'm +1 for moving to the existing repo unless somebody else has concerns.

[2019-08-14 19:21] mcollina commented on #403
+1!

Il giorno mer 14 ago 2019 alle 19:55 Michael Dawson <
notifications@github.com> ha scritto:

[2019-08-15 09:20] mcollina commented on #398
Hey @nodejs/community-committee @nodejs/tsc, have you got any feedback? I've added this into the agenda for next meetings. The cross project council is looking to move fast on this one, so I would recommend to give all feedbacks in the next two weeks.

One of the point of discussion is if the TSC and CommComm have to _vote_ on this (https://github.com/openjs-foundation/cross-project-council/pull/2

[2019-08-15 20:38] ljharb commented on #380
@RRomoff thanks! my updated feedback:
 - for the timezone names, since there's often multiple time zone names for a given UTC offset, perhaps it would be good to include in the text description the UTC offset? Additionally, for example, "Pacific Standard Time" only applies for half the year due to daylight savings time - so do I spend more of my time in PST, or PDT? One option might be, "excluding

[2019-08-15 21:02] RRomoff commented on #380
Awesome! Thanks, @mhdawson . I'll come back with a recommended updated list and would love feedback on if it's accurate/ a recommendation on who might be able to check it.

[2019-08-16 18:26] #395 closed

[2019-08-16 18:29] mhdawson commented on #398
To capture this for the discussion.  I did raise this in the last TSC meeting, not everybody was there but asked that if there were any objections/concerns that people comment in this issue or reach out to me or @mcollina.  No specific/concerns issues where raised or discussed in the meeting.

[2019-08-16 18:52] ryzokuken opened #405 "Org description"
Making this issue here since I didn't know of a better place to make it. I just realized we don't have an org description. We should probably have one, not for any specific reason, just because it doesn't hurt.

Maybe we could just reuse the description from the nodejs/node repository.

[2019-08-17 05:10] keywordnew commented on #398
The stage 1 proposal was part of the updates @joesepi shared at the last CommComm meeting. There were no objections, but we can discuss the stage 2 proposal next week. Unlikely to be new objections since the content hasn't changed. I'm also making myself available to discuss any concerns or ideas related to this.

[2019-08-19 13:18] Trott opened #406 "Archive nodejs/ffi repo and remove group?"
The repo has been idle for over two years and the group seems inactive. Archiving is low-stakes--it's trivial to undo. Same for removing/adding groups.

/ping @nodejs/ffi in case I'm wrong about all of this.

(The repo has recent commits because I rebased against core master this morning to remove a bunch of vulnerability reports from GitHub. That's when I noticed that there are zero differences b

[2019-08-19 13:19] cjihrig commented on #406
SGTM

[2019-08-20 04:44] keywordnew commented on #405
Related issue: #257

[2019-08-20 04:46] keywordnew commented on #405
I'd suggest a modification of the description from nodejs/node:

[2019-08-20 18:43] keywordnew commented on #403
Final comments from @nodejs/community-committee @nodejs/tsc ?

[2019-08-20 20:54] mhdawson commented on #406
SGTM

[2019-08-20 23:20] jasnell commented on #406
SGTM

[2019-08-21 12:40] Trott opened #407 "Removed members on zero teams"
HI! Did my from-time-to-time sweep to find people who are no longer on any teams and remove them from the org. Only found one person this time. @chorrell was on the docker team only but removed themselves 12 days ago. I've removed them from the org. Easy enough to add them back if they should be added, but AFAIK, removing someone on zero teams has never been a mistake that had to be undone. Anyway

[2019-08-21 12:40] #407 closed

[2019-08-21 14:50] WaleedAshraf commented on #403
+1 with moving existing repo. We will need to add all the members in `openjs-foundation/summit` repo.

[2019-08-24 00:06] keywordnew commented on #239
I believe we've made progress on this front. The OpenJS Foundation has begun supporting attendees (https://github.com/nodejs/admin/blob/master/travel-visas.md#need-some-assistance) and folks had made use of this by Collab Summit Berlin 2019.

After the Travel Fund formally moves to the governance of the CPC via #398, further issues for the Travel Fund can be opened in the CPC. In the meantime, the

[2019-08-24 00:06] #239 closed

[2019-08-25 07:22] XhmikosR opened #422 "Set up Netlify for Pull Request previews for nodejs.org repo"
Or something else that has the same effect.

Currently one has to pull down the changes locally to see them in action which is far from optimal.

[2019-08-28 21:19] evahowe commented on #387
awesome!  what's your email and I will add you to the invite!

[2019-08-29 04:30] keywordnew commented on #403
Need the help of an org owner to transfer nodejs/summit, @mhdawson @amiller-gh :-)

[2019-08-29 04:49] keywordnew commented on #343
This repo was moved as agreed and is now found at https://github.com/nodejs/package-compliant

Closing the issue as it has been resolved.

[2019-08-29 04:49] #343 closed

[2019-08-29 16:56] ljharb commented on #380
@RRomoff
 - Pacific Time, and similar, sounds good
 - for questions 37/38 i think it'd be ideal to give slack and gitter and irc explicit mentions
 - for 39, it really depends on what the intention of the question is. If it's asking about what people use in their apps, then "use in production"; if it's asking about what people support with their libraries, then "support"? The two use cases are dif

[2019-08-29 17:05] ljharb commented on #380
@RRomoff
 - Pacific Time, and similar, sounds good
 - for questions 37/38 i think it'd be ideal to give slack and gitter and irc explicit mentions
 - for 39, it really depends on what the intention of the question is. If it's asking about what people use in their apps, then "use in production"; if it's asking about what people support with their libraries, then "support"? The two use cases are dif

[2019-08-29 20:47] mhdawson commented on #403
I'm happy to do it. Will ping you to co-ordinate.

[2019-08-29 21:34] mhdawson commented on #403
@keywordnew I moved the repo over but I'm not an org owner in the openjs-foundation so I can't update members/team.

@openjs-foundation/cpc-voting-members
 can one of the voting members help out with this?

[2019-08-29 22:32] keywordnew commented on #403
Thanks @mhdawson! With which handles would members/team need to be updated?

[2019-08-30 02:05] keywordnew commented on #403
- [x] Repo moved.
- [x] Team created.

I'm going to close this issue. Please feel free to reopen this issue if necessary, or open a new issue at the new location: https://github.com/openjs-foundation/summit

[2019-08-30 02:05] #403 closed

[2019-08-30 05:56] Trott opened #408 "Moderation team recertification"
The last time @nodejs/community-committee and @nodejs/tsc certified members of @nodejs/moderation was August-October of 2018. (See https://github.com/nodejs/community-committee/issues/361 for CommComm.)

They need to be certified annually. So, I'm adding this to the agenda for both TSC and CommComm.

In addition to certifying (or not certifying, and thus removing) members of the Moderation Team, i

[2019-08-30 13:16] WaleedAshraf commented on #403
can someone add me also? @keywordnew

[2019-08-30 18:11] keywordnew commented on #403
@WaleedAshraf of course! Can you please join the openjs-foundation org so we can do that?

[2019-08-30 19:49] mhdawson commented on #408
I think it's also a good time to thank the moderation team members for all the hard work over the last year.  I think the've been doing a great job.

[2019-08-30 21:57] mcollina commented on #408
Great job folks!

[2019-08-31 13:47] WaleedAshraf commented on #403
@keywordnew I think someone with org access needs to do that. I'll open issue in openjs-foundation/summit repo.

[2019-09-03 10:48] Whizkevina commented on #387
wizkevinaaina@gmail.com (Here's my email)

[2019-09-04 13:22] Trott commented on #406
Done.

[2019-09-04 13:22] #406 closed

[2019-09-04 23:33] evahowe commented on #387
Just added you :)

On Tue, Sep 3, 2019 at 3:48 AM Aina Oluwatimilehin <notifications@github.com>
wrote:

--
Eva Howe
Operations Manager
This Dot Labs
eva@thisdot.co

[2019-09-06 15:29] RRomoff commented on #380
@ljharb, thanks for this - comments in line :)

**Done**

**These are added**

**I've read this with "use in production"  in mind but in reading some write in comments, can see the confusion. I recommend we add "use in production" but am open to a question hat covers other use cases.**

**Recommending two questions here,
**1) What primary tool do you use to manage installed node.js versions?
Choos

[2019-09-06 16:35] ljharb commented on #380
Your comments sound good to me, thanks

[2019-09-08 10:20] Whizkevina commented on #387
Thanks.
I have accepted it.

[2019-09-09 13:08] mhdawson opened #409 "FYI - Add Sam Roberts as calendar maintainer"
Unless there are objections I'm going to add @sam-github as a Calendar maintainer so he can modify/edit the security WG meeting entries.

[2019-09-09 13:34] gireeshpunathil commented on #409
+1

[2019-09-11 16:42] Fishrock123 commented on #408
No objections to recertifying here.

[2019-09-11 16:43] jasnell commented on #408
No objections. +1 to recertifying.

[2019-09-11 16:49] Trott commented on #408
TL;DR: Hey, @bnb, @dshaw, @gdams, @gibfahn, @hackygolucky, @thefourtheye: can you folks indicate whether you are active in Moderation these days and wish to remain on the team? Whatever your answer, thank you for doing the hard Moderation Team work this year!

Current Moderation Team members are:

* @benjamingr
* @bnb
* @dshaw
* @gdams
* @gibfahn
* @hackygolucky
* @ljharb
* @othiym23
* @ryanmuraka

[2019-09-11 16:52] othiym23 commented on #408
I am interested in continuing to serve on the moderation team.

[2019-09-11 17:24] bnb commented on #408
I am interested in continuing to serve on the moderation team as well ❤️

[2019-09-11 17:25] bnb commented on #408
On activity: we’re in an interesting place where reactions happen very rapidly and are taken care of by the time I get to them. As such, I don’t engage as I’ve found dogpiling is not an effective strategy for moderation 😅

[2019-09-11 18:16] sam-github commented on #409
I can confirm I have access (I deleted the meeting that did not take place 2 days ago for sec-wg).

[2019-09-11 18:16] #409 closed

[2019-09-11 19:18] dshaw commented on #408
I am unable to allocate the time needed to serve on this team and will not be continuing this year. Thank you. 💖✨

[2019-09-11 19:47] hackygolucky commented on #408
Good question, and it is time for me to step down.
I have too many other priorities to focus on for noow, and my work has def pulled away from this work. Certainly not doing any favors here by taking up a seat. 🤗

[2019-09-16 17:18] outsideris opened #411 "Request to use netlify on nodejs-ko"
In @nodejs/nodejs-ko , we are using GitHub pages and actions for our blog for nodejs news.

We need to build a preview on PR because we missed broken markdown in code review. We will use netlify for the only preview because blog URL is hard to change.

Thanks. https://github.com/nodejs/nodejs-ko/issues/877

[2019-09-16 18:14] Trott commented on #411
@nodejs/tsc @nodejs/community-committee

[2019-09-16 19:02] mhdawson commented on #411
Privileges that need to be granted: https://www.netlify.com/docs/github-permissions/

I'd assume we would enable only for the single repository.

[2019-09-17 00:07] nschonni commented on #411
Is the separate repo still needed outside https://github.com/nodejs/nodejs.org/tree/master/locale/ko

[2019-09-17 18:24] Trott commented on #411
@nodejs/i18n Is the https://github.com/nodejs/nodejs-ko repo necessary? Or should everything be happening in https://github.com/nodejs/nodejs.org/tree/master/locale/ko and CrowdIn at this point?

[2019-09-17 18:25] Trott commented on #411
There's a gh-pages branch on the  https://github.com/nodejs/nodejs-ko so it has a web presence that I imagine most of the other translation repos don't.

[2019-09-18 00:29] yous commented on #411
Yes, @nodejs/nodejs-ko translate almost every release post on <https://github.com/nodejs/nodejs-ko>, which is served on separate website (<https://nodejs.github.io/nodejs-ko/>). Also there is a Twitter bot (https://twitter.com/nodejs_ko) for notifications.

[2019-09-18 21:14] mhdawson commented on #408
We discussed in the TSC meeting today the following proposal from Rich:

    * Re-certify the following people:
      * @benjamingr
      * @bnb
      * @ljharb
      * @othiym23
      * @ryanmurakami
  * We should not re-certify these people as they have voluntarily removed themselves from the team
    or have not responded, but can always be added at a later time if they decide they want to be

[2019-09-18 21:26] targos commented on #408
+1

[2019-09-18 23:18] Trott commented on #408
+1 as well. With my vote, that brings us to 11 TSC members out of 20 voting to recertify these people:

* @benjamingr
* @bnb
* @ljharb
* @othiym23
* @ryanmurakami

All members of Moderation Team must be re-certified by both CommComm and TSC. Since those are the only individuals being re-certified by TSC, they are also the only individuals that CommComm needs to consider at this time.

@nodejs/comm

[2019-09-19 14:30] bnb commented on #408
@Trott I will abstain, but will bring this up in today's CommComm meeting.

[2019-09-19 14:37] benjamingr commented on #408
@Trott first of all thank you for doing this 🙇 I am concerned that this means there is no TSC representation in the moderation team which I think is important for establishing trust between the moderation team and various bodies.

Would it be possible to ask for volunteers in the next TSC meeting?

[2019-09-19 14:48] Trott commented on #408
@benjamingr Yes. Also, I volunteer, but will wait until this first round of re-certification is done to put my hand up.

[2019-09-19 16:30] mhdawson commented on #408
In the commcomm meeting meeting today the following commcomm members voted to recertify based on the recommendation:

* Michael Dawson (@mhdawson)
* Manil Chowdhury (@keywordnew)
* Tierney Cyren (@bnb)
* Adam Miller (@Trott amiller-gh)
* Joe Sepi (@joesepi)
* Waleed Ashraf (@waleedashraf)

@nodejs/community-committee could those of you who could not make the meeting please cast your vote in this i

[2019-09-19 17:37] Trott commented on #408
Aside, but a relevant and important one: @mhdawson https://github.com/nodejs/community-committee lists 13 CommComm members but @nodejs/community-committee has 14 members. Which (if either) is correct? The README lists @AhmadAwais but they're not on the GitHub team. Meanwhile, the GitHub team includes @jemjam and @Tiriel, but they are listed as Emeriti in the README. So I'd guess that the README is

[2019-09-19 17:38] mcollina commented on #408
+1 from me

[2019-09-19 17:59] MylesBorins commented on #408
+1 from me

On Thu, Sep 19, 2019 at 1:38 PM Matteo Collina <notifications@github.com>
wrote:

[2019-09-19 19:30] ahmadawais commented on #408
🙌

+1 from me as well for the moderation team recertification. Mad props on
all the work you folks do.

Stuck at the US Embassy for a couple of days, just returning back so
couldn't make it to the meeting but watched it on YouTube just now.

not on the GitHub team

This has come before, I am not sure how to fix this. Is there anything I
need to do? Otherwise, please add me there to sort this throu

[2019-09-19 19:46] bnb commented on #408
@ahmadawais / @Trott: Fixed.

[2019-09-19 22:00] mhdawson commented on #408
@bnb thanks, I was going to hope you answered Rich's question/concerns.

[2019-09-20 13:51] Trott commented on #408
With this, it appears that the five members are recertified. I"m going to close this. If I'm wrong to do that because CommComm's procedure is different than I imagine, please re-open.

[2019-09-20 13:51] #408 closed

[2019-09-20 14:14] Trott commented on #408
P.S. @nodejs/moderation I've taken care of all the documented Moderation Team offboarding tasks except for removing the offboarded folks from the Moderation Team Slack because I do not have access to that Slack. Please do that! Thanks!

[2019-09-20 15:16] benjamingr commented on #408
@Trott awesome super helpful. I have pinged the Ryan in the slack. And you know... if you ever feel like joining again 😉

[2019-09-22 15:54] cclauss opened #413 "Transfer jenkins CI tool tap2junit into Node.js org"
This is a request for approval to transfer the repo for the Node dependency [__tap2junit__](https://github.com/jbergstroem/tap2junit) into the Node.js GitHub organization for the reasons discussed at nodejs/build#1921 and in accordance with our [policy for transferring a repo](https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANGEMENT_POLICY.md#repositories).

I am willing to do the mechanic

[2019-09-22 18:01] addaleax commented on #413
SGTM

[2019-09-23 17:03] sam-github commented on #413
+1

[2019-09-23 19:54] cjihrig commented on #413
+1

[2019-09-24 12:53] jbergstroem commented on #413
I have transferred the project ownership per request in the thread.

[2019-09-24 18:29] sam-github commented on #413
@jbergstroem thanks!

[2019-09-26 14:14] mhdawson opened #414 "FYI - Enable travis for tap2junit"
Similarly to #1899 endable travis. Since we've not had objections in the past I'm going to go ahead and do it.

If anybody objects I'll go back and disable. Unless there are objections I'll close this in a week.

[2019-09-26 15:18] christian-bromann opened #415 "Code&Learn: Call for session proposals"
Hey Node Community 👋

as you might know we are planning a Code&Learn session again at this years Node+JS interactive. The format will be a little bit different. We want every project to participate by proposing collaboration sessions on different topics of the project. The idea is that attendees can either join a collab session proposed by core maintainer of the project or even propose their own s

[2019-09-26 21:55] mhdawson commented on #415
@nodejs/n-api I know we already have a workshop at Node+JS Interactive but any interest in proposing a session on building N-API addons?

[2019-09-26 22:14] mhdawson commented on #415
@nodejs/n-api one though I had was may one on adding tests for node-addon-api?

[2019-09-26 22:18] Trott commented on #415
I'm not the person to prepare such a session, but if there's someone who can prepare it, I'll be happy to help: A session specifically for Windows developers that want to contribute to Node.js. We need more Windows-centric devs in core.

[2019-09-27 21:48] sam-github commented on #413
Re-opening because there is a problem with the license for tap13.py in the tap2junit modjule.

policy is: https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANGEMENT_POLICY.md#repositories

https://github.com/nodejs/tap2junit/pull/12#discussion_r328423431 desribes the copyright ownership.

Apparently the openjs foundation doesn't allow GPL, don't have a link to that yet.

So, options?

- rewr

[2019-09-27 21:51] ljharb commented on #413
if it's just a tap formatter, there's tons of them on npm. does it have to be python?

[2019-09-27 22:00] cclauss commented on #413
Nope.  Python is not essential.  A rewrite in JS is cool as long as it generates identical output.

Should we be using https://www.npmjs.com/package/tap @isaacs or https://wiki.jenkins.io/display/JENKINS/TAP+Plugin

@rvagg Wrote me that:

[2019-09-27 22:04] mhdawson commented on #413
This `Apparently the openjs foundation doesn't allow GPL` is not accurate.  What I mentioned is that we might need to ask for the ok if its not one of the ones explicitly allowed by the Foundation policy. (I'm trying to find the Node.js one).

[2019-09-27 22:26] mcollina commented on #413
On npm there are: https://www.npmjs.com/package/tap-junit, https://www.npmjs.com/package/tap-xunit and likely many more. We might not need a rewrite even.

[2019-09-27 22:33] mhdawson commented on #413
Can't find a link to the Node.js policy and done for today.  Will try to find it early next week.

[2019-09-27 23:00] richardlau commented on #413
It does not have to be Python. I believe Python was chosen because all of our build systems have it as it required to build Node.js.

Reasons for it not to be Node.js:
* Apart from running the linter jobs we avoid having any version of Node.js pre-installed on the build systems to avoid any contamination of the test results.
* It's generally not a good idea to have the framework run with the Node.

[2019-09-27 23:08] sam-github commented on #413
If we actually have to install node on a ci machine, that's pretty much a non-starter, IMO.

On the other hand, if the node binary is so damaged it can't read some tap in, and write xml out... I'm ok with not getting all the xml results, something went very wrong. I don't think its much different from not getting lint results because node was terribly broken.

[2019-09-28 11:37] jbergstroem commented on #413
This is why I used python (coupled with ansible as dep stack)

Happy to assist as intermediate or permanent solution.

Another option could be finding another tap13 parser we could pull as an dependency instead of hosting the code? I initially wrote this a long time ago and recall not having too many options at the time but that may have changed.

[2019-10-02 07:17] mcollina opened #416 "Collaborator Summit - Montreal 2019"
Hi @nodejs/collaborators,

It's time to plan your trip to Montreal for the Collabor Summit on the 13th and 14th of December 2019 (together with [Node+JS Interactive](https://events.linuxfoundation.org/events/nodejs-interactive-2019/))! We are still putting out a registration link, but in the meantime it's important that you propose any sessions you'd like to present and propose using this [link](h

[2019-10-02 16:28] sam-github commented on #413
@mhdawson You said that it might be allowed to have a GPL project under nodejs/, we just have to ask the foundation. Can you do that, or tell me how to do it?

[2019-10-02 18:11] boneskull commented on #416
should relay this message to the ojsf mailing list(s)

[2019-10-02 18:11] boneskull commented on #416
I have twittered it: https://twitter.com/b0neskull/status/1179457849367265281

[2019-10-02 18:47] MylesBorins commented on #413
/cc @brianwarner who can chime in. My impression is that we don't want to have GPL code checked directly in or in our project. Is there a way to use pip to install `tap13.py`? Is it in the registry? AFAIK the problem would be having it checked into the tree, no a dependency. Alternatively seeing if redhat would be open to relicensing would be preferable

[2019-10-02 19:19] cclauss commented on #413
[__pip2 install tap2junit__](https://pypi.org/project/tap2junit) works as expected.

[2019-10-02 20:38] brianwarner commented on #413
I can help on the mechanics of this.  Yes - the current draft of the OpenJS Foundation IP policy lists a certain number of pre-approved licenses.  Licenses that aren't on the list can be brought to the board for consideration on an exception basis.  The best way to do this is through the current CPC representatives (Michael and Kris), and then we can take it from there.

As mentioned in the CPC ca

[2019-10-02 20:42] MylesBorins commented on #413
Since we can install via pip I think the easiest course of action is to replace the dependency with a requirements.txt and have our infrastructure (ansible?) Install the deps in the environment

[2019-10-02 21:09] sam-github commented on #413
@MylesBorins I was a bit puzzled by the above comment, because its exactly what we do currently, then I realized the original description used the phrase "node dependency", and I think you might have gotten mislead by that.

Here's some background for the most of us who are not actively involved in the build WG:

tap2junit is not a dependency of github.com/nodejs/node, and is not proposed to be ve

[2019-10-02 22:32] mhdawson commented on #413
@MylesBorins would like your comment on @sam-github response. My guess is that it is also a good candidate for an exemption since it's not something we will ship as part of Node.js, only a tool that we want to maintain and use as part of our CI processes.  I'm happy to submit the request for an exception but want to make sure we are comfortable with that.  Adding @nodejs/tsc as an FYI as well.

[2019-10-02 22:32] mhdawson commented on #413
adding @nodejs/community-committee as FYI as well.

[2019-10-03 19:21] MylesBorins commented on #413
@sam-github fwiw I was aware this was not a dependency for Node.js core, and would not be something we would be shipping. The foundation has an IP and license policy which explicitly states that we cannot have GPL code without an exception... and honestly if there is any path towards avoiding that exception I think we should do so.

I had misunderstood when I quickly reviewed the repo thinking tha

[2019-10-03 19:39] mhdawson commented on #413
Tagging for TSC agenda. I think we should discuss in a TSC meeting to make sure there is consensus to ask for an exception versus any other alternative.

[2019-10-03 19:41] Trott commented on #413
I definitely am fine with either approach.

[2019-10-03 19:43] Trott commented on #413
@nodejs/tsc Consider getting your opinion in early if you already have it:

👍 = relicense
😄 = exception
🎉 = I do not have an opinion on this and do not expect to have one--make a decision without my input
❤️ = I do not have an opinion on this but I expect to have one after discussion
🚀 = some other option not listed above

[2019-10-03 20:08] sam-github commented on #413
:+1:

The only GPL code in the repo is tap13.py, and I don't see any sign Josef is a Node.js collaborator, https://github.com/nodejs/tap2junit/blob/master/tap2junit/tap13.py#L17

I emailed him, if he is willing and able to relicense, that's great, I'll ping back if he responds, or perhaps he'll join this conversation (I couldn't find a GH ID).

Other path depends on a question I don't know the ans

[2019-10-03 20:17] #414 closed

[2019-10-03 20:20] sam-github commented on #413
@cclauss found @rajcze --- Josef, see conversation above, are you willing or able to relicense https://github.com/nodejs/tap2junit/blob/master/tap2junit/tap13.py from GPL? I understand licensing is your choice, so absolutely no hard feelings if you do not.

[2019-10-03 21:00] mhdawson commented on #413
I `think` it is only used is tap2junit used ONLY to convert the test output of nodejs/node.  @jbergstroem could you confirm as I think you'd best know if it was used in some other way.

[2019-10-03 21:30] rajcze commented on #413
@sam-github If it was just me, re-licensing would not be an issue, but I'll need to check with Red Hat's legal to check what I can do here, since the copyright/ownership/whatever laws are just plain weird in general, and I'm not an expert on how the Czech/American laws interact here.

Do you have a list of acceptable licenses?

Anyway, as far as I understand (and this is obviously not that much) t

[2019-10-03 22:40] jbergstroem commented on #413
As mentioned previously, the rationale for doing so was because some nodes lack setuptools/pip and it was non-trivial to add it. This may have changed.

[2019-10-03 22:57] sam-github commented on #413
@rajcze I really appreciate your openness to trying to sort this out. I suspect anything other than GPL and fringe stuff like WTFPL are probably fine. We mostly have MIT licenses across our code bases, fwiw. I defer to Michael for specifics.

@mhdawson Any idea what licenses are OK?

@jbergstroem pip is available on the nodes I've seen, but I haven't seen them all, so can't speak to the issues. An

[2019-10-03 23:04] MylesBorins commented on #413
MIT or Apache-2.0 would be the preferred license

On Thu, Oct 3, 2019, 6:57 PM Sam Roberts <notifications@github.com> wrote:

[2019-10-04 04:01] richardlau commented on #413
Another option for the majority (only?) use-case of testing nodejs/node is to have the test runner just output junit xml in the first place and avoid the need for conversion. I've got a WIP PR that attempts to do so: https://github.com/nodejs/node/pull/29840.

[2019-10-04 08:01] rajcze commented on #413
@sam-github  @MylesBorins turns out, I can easily do Apache Software License 2.0, so the code in the source repo https://bitbucket.org/fedoraqa/pytap13/src/develop/pytap13.py is hereby licensed with ASL2.0

If there's anything I could help with, please let me know. I have some hours to spare that can be put into FOSS projects.

[2019-10-04 08:31] cclauss commented on #413
We could sync with Py3 changes in https://github.com/nodejs/tap2junit and then make a new release on https://pypi.org/project/tap2junit under Apache license.

[2019-10-04 18:18] mhdawson opened #417 "Enable Travis for node-addon-api"
Similarly to #414 enable travis for node-addon-api

Unless there are objections I'll do this late next week.

@nodejs/tsc, @nodejs/community-committee

[2019-10-04 18:27] mcollina commented on #417
SGTM

Il giorno ven 4 ott 2019 alle 20:18 Michael Dawson <notifications@github.com>
ha scritto:

[2019-10-04 20:55] clarkbw opened #419 "GitHub Maintainer Feedback Group"
👋

GitHub is in the process of putting together a new OS Maintainer Feedback Group. We are asking a few different OS projects, of a variety of scales and types, to each pick two representatives for a one year "term".

During this year, we will hold regular calls, collect feedback, report on progress, and hopefully send a lot of swag. We will also be exploring hosting "soft skills" workshops online

[2019-10-04 21:18] cjihrig commented on #417
+1 from me.

[2019-10-05 10:18] mcollina commented on #419
I'm happy to help.

[2019-10-05 14:17] cjihrig commented on #419
I'm also happy to help if you'd like.

[2019-10-07 16:26] clarkbw commented on #419
💯Perfect!

@mcollina and @cjihrig can you email me: clarkbw@github.com and I'll get you started in the process.

[2019-10-08 02:49] Trott commented on #422
@nodejs/tsc @nodejs/community-committee @nodejs/website

[2019-10-08 06:36] phillipj commented on #422
Couldn't agree more, would love to have previews rather than being forced to run locally and/or ask for screenshots.

SGTM

[2019-10-08 06:38] XhmikosR commented on #422
Something to new since I made this issue. Netlify has changed their pricing. Not sure if it will affect us, just throwing it out there.

In theory, we should be OK, at least for starters.

[2019-10-08 06:51] targos commented on #422
What are the permissions asked by Netlify?
Is it an OAuth or a GitHub app ?

[2019-10-08 06:52] XhmikosR commented on #422
https://www.netlify.com/docs/github-permissions/

[2019-10-08 06:53] targos commented on #422
LGTM

[2019-10-08 06:55] targos commented on #422
I guess we need to setup a Netlify account for the org. Should it belong to the Build WG?

[2019-10-08 16:24] richardlau commented on #422
https://github.com/nodejs/nodejs.dev has some sort of Google Cloud Build staging thing going on. Could that potentially be used? I think @MylesBorins set it up.

[2019-10-08 16:29] MylesBorins commented on #422
@richardlau TBH the setup that we have on nodejs.dev is not neccessarily ideal for everyone and is a little bit more hands on then simply installing netlify.

[2019-10-09 04:04] Trott opened #424 "Archive https://github.com/nodejs/nodejs-no"
As I understand it, all (or at least most) of the https://github.com/nodejs/nodejs-XX (where XX is a language code) repositories are not serving much of a purpose. They are mostly (or entirely) inactive. Translations are now happening in the main repo for the website (https://github.com/nodejs/nodejs.org) and on CrowdIn. I don't think these repositories come into play.

So I'd like to start archiv

[2019-10-09 04:05] Trott commented on #424
(No commits have landed in https://github.com/nodejs/nodejs-no for over four years.)

[2019-10-09 04:10] gireeshpunathil commented on #424
+1 for archiving, assuming future translation requirements will be accepted / handled in the main repo.

[2019-10-09 07:34] eiriksm commented on #424
+1 for archiving. The activity was mostly around "the iojs period", but that is not so relevant any more :)

[2019-10-09 13:24] cjihrig commented on #424
+1 for archiving.

[2019-10-09 15:43] RRomoff commented on #380
Hi All- I am currently working on getting the survey translated. All feedback has been incorporated and I am closing this issue. Thank you for the help!

[2019-10-09 15:43] #380 closed

[2019-10-09 16:41] bnb commented on #424
+1 for archiving all inactive repos. I believe nodejs/nodejs-ko is relatively active, though.

[2019-10-09 19:36] SMotaal commented on #419
@clarkbw Not sure if this would be something of a fit for me… From what I'm reading alone, I am somewhat inclined to ask.

The gist of it — I am kind of lagging on the more usual/typical maintenance aspects for open source in general, though it has and continues to be my full-time commitment to do it and close those kind gaps. This seems like a good venue for me to both learn and give some input r

[2019-10-10 17:35] mhdawson commented on #417
Enabled, closing.

[2019-10-10 17:35] #417 closed

[2019-10-11 13:43] pauliver commented on #419
@SMotaal - Would you mind reaching out to me directly? I would love to hear more about the gaps you speak of. You can reach me at this username (at) github.com

[2019-10-11 15:19] SMotaal commented on #419
@pauliver certainly… would love to follow up (and will do shortly).

[2019-10-12 04:43] Trott commented on #424
Done! Thanks!

[2019-10-12 04:43] #424 closed

[2019-10-12 11:36] WaleedAshraf opened #425 "Nodejs Interative & Collab Summit"
I am about to open PR for travel fund request for Collab Summit. Should I mention the ticket cost of Nodejs Interactive in the travel funds or not?
Last time collaborators were given code to register for Nodejs Interactive and also mentioned ticket cost in the travel fund request.

I'm not sure what's the process this time.

@brianwarner @mcollina @keywordnew

[2019-10-14 14:55] mcollina commented on #425
We usually do not cover the cost of attending the conference as part of the travel fund. If you are planning to participate in a panel/representing Node, you should seek a free ticket from the organization.

cc @nodejs/tsc @nodejs/community-committee

[2019-10-14 17:32] Trott commented on #425
To the best of my knowledge, there's no code for Collaborators and no need to mention ticket cost or any other cost other than costs for which you are seeking reimbursement.

[2019-10-17 16:40] mhdawson commented on #416
One suggestion would be to add some detail on what selecting one of these implies:

- [] Collaborate
- [] Workshop
- [] Talk

[2019-10-23 14:10] targos commented on #422
What about https://github.com/nodejs/admin/issues/422#issuecomment-539369086 ?

[2019-10-25 13:49] Trott opened #429 "Is operations@openjs.org bouncing?"
The travel fund doc says to send expense reports to operations@openjs.org. That address is bouncing for me.

Confirmation would be welcome, just in case I have a typo I'm not seeing or something.

/ping @brianwarner (who I also emailed about this, sorry for multiple channels of communication!)

[2019-10-25 13:51] Trott commented on #429
Argh, of course, it's openjsf.org.

[2019-10-25 13:51] #429 closed

[2019-10-25 18:58] Trott opened #430 "enable dependabot"
I'd like enable dependabot for nodejs/nodejs.org so we can stop manually doing things like https://github.com/nodejs/nodejs.org/pull/2723. That would mean installing it for the org (like we have done for Travis and other things) but only enabling it on the nodejs.org repository (and other repositories where we deem it appropriate).

Any objections?

Permissions required are:

FWIW, dependabot was

[2019-10-25 19:01] targos commented on #430
SGTM

[2019-10-26 02:20] gireeshpunathil commented on #430
+1

[2019-10-29 18:03] Trott commented on #430
Installed dependabot for the org and enabled it for nodejs.org repo.

[2019-10-29 18:03] #430 closed

[2019-10-29 18:21] ChALkeR commented on #430
SGTM

[2019-10-30 08:30] #425 closed

[2019-10-30 10:11] mcollina opened #432 "Should we host a code and learn in Montreal"
The team organizing the conference is thinking about cancelling the code&learn given the low engagement from the projects. Do we want to hold it, or can we release that time to the Collab Summit?

@nodejs/tsc @nodejs/community-committee

[2019-10-30 18:49] bnb commented on #432
Hard yes if it's possible. Specifically, I know at least in Colombia we basically ran out of things that could be committed by first timers since our test coverage is so well covered at this point. If we can still generate the necessary tasks – or take a different approach, like docs – I'm a hard -1 on skipping it.

[2019-10-30 18:58] mcollina commented on #432
The key problem is that there is no one leading it right now. If there is a volunteer to prep the task on our side, we can host it.

cc @Trott @BridgeAR @bengl who helped a lot in past editions.

[2019-10-30 19:27] sam-github commented on #432
OK, that makes sense, its a lot of work. I can't volunteer to organize either. I understand the challenge now.

[2019-10-30 19:58] gabrielschulhof commented on #432
In N-API there would be a lot of small things to contribute, namely to
write tests that pass NULL to all the parameters accepted by API calls.
Here's an example:

https://github.com/nodejs/node/blob/master/test/js-native-api/test_constructor/test.js#L55-L62

I could probably make up at least 10-15 tasks to hand out on slips of
paper. I don't know what level of difficulty they would qualify as, but

[2019-10-30 21:48] mhdawson commented on #432
This issue should probably have more of the background: https://github.com/openjs-foundation/cross-project-council/issues/287.

In that issue it was discussed that we'd pretty much run out of issues to be used for a Node.js code and learn.  The proposal was to make it cover all of the Projects in the OpenJS Foundation:

Some of the proposals are here: https://github.com/openjs-foundation/code-and-

[2019-10-31 06:06] Trott commented on #432
TL;DR I think we should reclaim the time for the Collaborator Summit this time around.

Can't speak for others who might be well-positioned to organize, but I simply don't have the time to do the upfront work required for a successful Code & Learn at this time. Maybe/hopefully next year. I have other reservations about doing a Code & Learn, but if I'm being honest, the biggest one is my own lack o

[2019-10-31 06:18] nschonni commented on #432
Maybe reach out to https://nodeschool.io/montreal/, not sure if they're still actively meeting though

[2019-11-04 17:50] Trott commented on #432
Based on email with the Foundation folks/Summit planners., I think the plan is to reclaim the time for Collaborator Summit. I don't think this issue needs to remain open and I don't think it needs to be on the TSC agenda this week. Do you agree, @mcollina? Happy to discuss it if my impression is not everyone else's impression.

[2019-11-05 00:10] joyeecheung commented on #432
FWIW we have a lot of left over tasks from the C+L in Shanghai last week since we had a low turnout (it was not a Node or JS conference) and we did not have WiFi at the venue. But this should be pretty useful for future C+L if people run out of tasks (I think these clues can be used to generate ~300 PRs at least)

[2019-11-05 02:25] starkwang opened #435 "Where should I submit the Expensify report to?"
In our [travel fund documentation](https://github.com/nodejs/admin/blob/master/MEMBER_TRAVEL_FUND.md#reimbursement), it mentions that the member should submit the Expensify report with operations@openjsf.org **ON CC**:

But where should I submit the report **TO**? 🤔

[2019-11-05 03:56] Trott commented on #435
@brianwarner

[2019-11-05 03:57] brianwarner commented on #435
It's fine if operations@openjsf.org is on To: or Cc:, just so long as it gets there somehow.  Thanks!

[2019-11-05 03:59] #435 closed

[2019-11-05 10:54] mcollina commented on #432
Do we want to go ahead with the C & L then? Would you like to coordinate/run the session?

Or should we cancel?

[2019-11-05 14:39] Trott commented on #432
Another reason to be cautious about running a Code & Learn this year is that our test reliability in CI is really not up to it. Even when CI is in great shape, a big Code & Learn event causes issues. (If a planned Code & Learn acts as motivation to solve those test reliability issues, then great! But I wouldn't rely on that happening.)

[2019-11-05 20:41] joyeecheung commented on #432
I will leave early from the conference so I cannot help with the session myself. Just putting the information out there in case anyone is interested...but without someone actually running it I think we should cancel.

[2019-11-06 16:56] Trott commented on #432
From today's TSC minutes:

    need to provide an answer unless there is a volunteer to run it by end of day
    today (Nov 6) we'll let the conference know they can get the time back.
    Matteo will let the conference org's know based on issue.

I've removed the `tsc-agenda` label.

[2019-11-08 05:14] ladyleet commented on #425
Responding here - the foundation will cover tickets for collaborators for the conference.

While I'm still coordinating internally and working with @keywordnew on rollout this week, feel free to just email me for the code if you are a collaborator ladyleet@nodejs.org.

I am trying to set up registration for Collab Summit this year as well - will let you know when we get that set up.

[2019-11-08 07:00] Trott commented on #425
So if Collaborators are getting a code to use to get a ticket at no cost, I guess that means they shouldn't include the cost in their travel fund requests?

[2019-11-08 07:20] WaleedAshraf commented on #425
@Trott I think yes. Tracy said the same in this comment: https://github.com/nodejs/admin/pull/437#issuecomment-551387447

[2019-11-08 07:59] ladyleet commented on #425
👍 happy to answer additional questions. im emailing you a code @Trott

[2019-11-08 20:09] Fishrock123 opened #438 "Transfer BOB streams repo to nodejs org"
_I hope this is the correct issue tracker for this._

I propose we move https://github.com/Fishrock123/bob into the `nodejs` github org under a more appropriate name.

"Future Streams (BOB)", maybe.

This should be done to help prevent that work from being lost/forgotten, as it is very hard to progress alone, and my primary projects presently do not relate to node.

The project is licensed under M

[2019-11-08 20:11] Fishrock123 commented on #432
I personally feel like 'Code & Learn's are fun but fundamentally unproductive.

I'd rather have a much smaller group of more dedicated people who we can do deeper dives with.
Or, like, just host collab summit at that time and hope those folks with that level of interest find their way to showing up. If you're at a collab summit you're probably bound to learn a lot of in-depth stuff, honestly.

[2019-11-08 21:16] Trott commented on #438
Hi, @Fishrock123! The procedure is detailed in https://github.com/nodejs/admin/blob/master/transfer-repo-into-the-org.md. Only thing I'm seeing missing in the repo is a code of conduct (which, if you wish, can just be a single sentence saying that the project uses the Node.js Code of Conduct and providing a link to https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md).

Other than that,

[2019-11-08 21:17] #432 closed

[2019-11-08 21:18] Trott commented on #432
I closed this even though Community Committee didn't appear to weigh in much. Feel free to reopen if CommComm wants to put it on their agenda or thinks there's more to discuss here or whatever. Just tidying up. Not feeling strongly that this issue must be closed right now or anything.

[2019-11-09 09:24] mcollina commented on #438
LGTM/+1

[2019-11-09 16:26] cjihrig commented on #438
SGTM

[2019-11-10 08:25] jasnell commented on #438
+1

[2019-11-10 16:01] Trott commented on #438
The repo should get a code of conduct added before being transferred. Other than that, it seems ready.

[2019-11-12 15:08] Trott opened #441 "codecov for the GitHub org"
@bcoe has been working on getting Windows coverage included in coverage.nodejs.org. He's intending to use codecov to merge Linux results with Windows results. So there's an application request for that in the nodejs GitHub org right now. I'm inclined to approve it, but want to give @nodejs/tsc and @nodejs/community-committee an opportunity to weigh in.

[2019-11-12 15:53] targos commented on #441
We already seem to have the Codecov GitHub app installed in the org:

![image](https://user-images.githubusercontent.com/2352663/68686999-ce104100-056c-11ea-9f2d-326185607071.png)

![image](https://user-images.githubusercontent.com/2352663/68687021-d799a900-056c-11ea-8652-212b77a4b14f.png)

Don't we just need to enable it for the repo that `coverage.nodejs.org` uses?

[2019-11-12 18:21] Trott commented on #441
Guess someone authorized it some time between the four days ago when it was requested and today. :-D Might have even been me. OK, let's consider this an FYI then. I'll close. Thanks.

[2019-11-12 18:21] #441 closed

[2019-11-17 23:53] Trott opened #442 "GitHawk"
A request for enabling GitHawk came from @AliSawari but I don't have any context and can't find anything searching the issue tracker. Leaving a note here in case they or anyone else want to make the case for GitHawk. In the meantime, I'm doing to use the "deny" button and another request can always be submitted if the org decides to enable it. Thanks!

/ping @nodejs/tsc @nodejs/community-committee

[2019-11-17 23:55] Trott commented on #442
Closing for now, but feel free to re-open (or request it be re-opened in a comment if the button is unavailable) if this is a conversation we should have at this time! Thanks!

[2019-11-18 13:55] AliSawari commented on #442
hey there @Trott
I submitted this Request because I wanted to comment on and review issues related to our translation team, @nodejs/nodejs-fa right away from my phone! because i spend a lot of time in the way to work LOL

Unfortunately, GitHub does not have an official client for smart phones
that is why Im using GitHawk. it is a free github client made for iOs

[2019-11-18 14:08] richardlau commented on #442
They have one in beta:
https://github.blog/2019-11-13-universe-day-one/#mobile

[2019-11-18 14:32] AliSawari commented on #442
@richardlau Thank you
I did search App Store for it before, didn't find that specified app
I will surely search again, thanks again for informing

[2019-11-18 14:42] AliSawari commented on #442
Looks like we have to wait for it to come out... :neutral_face:

[2019-11-18 15:49] bnb commented on #442
Y

[2019-11-18 16:17] ljharb commented on #442
Until then, the web works fine on a phone, no?

[2019-11-18 16:25] AliSawari commented on #442
yes it does, but most of the time I'd end up forced to switch to Desktop Version which again, you have to zoom in to click buttons

[2019-11-18 17:02] ljharb commented on #442
For which features? GitHub recently updated the mobile view to have a lot of the desktop features that were previously missing. I think suggestions is the big one that's still not there tho.

[2019-11-21 10:07] WaleedAshraf opened #445 "Node.js Foundation Membership"
Currently, if you try to renew "Node.js Foundation Membership", it shows this message. I think it's because of openjs-foundation merge. Putting it here so that it can be fixed later and also update in the [TRAVEL_FUNDS](https://github.com/nodejs/admin/blob/master/MEMBER_TRAVEL_FUND.md#requirements) doc.

![image](https://user-images.githubusercontent.com/8335457/69328169-0f7cac80-0c4f-11ea-8da2-0c

[2019-11-21 20:01] mhdawson commented on #438
+1 once code of conduct is added.

[2019-11-21 20:13] brodybits commented on #438
Have you guys seen <https://github.com/callbag/callbag>?

It seems to provide an extremely flexible API for similar functionality as some kind of a standard. "Not a library, just a standard (...)"

[2019-12-10 08:32] AliSawari commented on #442
I have reconsidered using GitHub Official website on my phone. thanks for noticing everyone!  :wave:
@Trott @ljharb . you may close

[2019-12-10 08:35] #442 closed

[2019-12-17 21:28] #416 closed

[2019-12-18 21:02] Trott commented on #445
I don't think Node.js Foundation membership is really a thing anymore. And the Travel Fund will be moving to the OpenJS CPC. So this will hopefully self-resolve in the next month or so.

[2019-12-18 21:03] Trott opened #452 "archive nodejs/members respository"
Now that OpenJS Foundation is a thing, it seems like the https://github.com/nodejs/members repository is superfluous. I propose archiving it. We can always unarchive it if it turns out we need it after all. Archiving it will also help discourage people from trying to renew their Node.js Foundation membership, which I don't think they can actually do right now.

@nodejs/tsc @nodejs/community-commit

[2019-12-18 21:13] cjihrig commented on #452
Unless someone has a reason to keep it, +1.

[2019-12-18 21:58] mcollina commented on #452
+1
Il 18 dic 2019, 16:13 -0500, Colin Ihrig <notifications@github.com>, ha scritto:

[2019-12-19 03:41] WaleedAshraf commented on #445
I'm okay with closing this issue. Would be good if we can add to some "things to do" list when we move travel fund to CPC. I'm not sure if there is an issue keeping such a list or something similar,

[2019-12-19 04:05] WaleedAshraf commented on #452
+1

[2019-12-19 14:48] ahmadawais commented on #452
LGTM. +1

[2019-12-25 05:59] Trott commented on #452
Archived. Thanks!

[2019-12-25 05:59] #452 closed

[2019-12-25 09:01] ChALkeR commented on #452
Belated +1.

[2019-12-26 15:58] bnb opened #454 "Node.js Social Media Accounts"
A bit ago, @RRomoff and I had a discussion about the possibility of the Node.js project taking over the presence of Node.js on various social media platforms now that we've moved into the OpenJS foundation and those accounts aren't representing the Node.js Foundation.

Effectively, this would mean that we the project end up taking over what's published to the Node.js accounts that exist. This woul

[2019-12-26 19:14] gr2m commented on #454
Happy to help in any way I can!

[2019-12-27 09:12] mcollina commented on #454
What about the "nodejs collection" on Medium?

What tools is the foundation currently using?

---

I think managing those accounts should be one of the responsibilities of CommComm, with an easy path for the TSC to announce new releases/new features/etc of the runtime.

I think there are 2 main responsibilities of managing such a big accounts:

1. plan content and decide what to promote, and sched

[2019-12-27 14:50] Trott commented on #454
The Node.js Collection (https://medium.com/the-node-js-collection) looks like it's a RisingStack thing now more than a Node.js project thing. They've already got their own blog/Medium setup. Anyway, I had originally written this based on my experiences editing submissions via https://github.com/nodejs/nodejs-collection but it looks like that process has changed a lot since I last was involved. Her

[2019-12-27 14:53] Trott commented on #454
For Twitter, I'd be very interested to try what's being proposed here.

I have no opinion on what to do with Facebook and LinkedIn, but I imagine we'd want to do something, and it would be similar to Twitter. Maybe manage all three in one place?

[2019-12-27 14:56] Trott commented on #454
By the way, and I hope this was obvious but just in case not: No diss on RisingStack or anything like that. They produce good content and their weekly roundup was a good one last time I checked (and I assume they're still doing it). If they're the only ones supplying good content on a regular basis to the Node.js Collection, that's great for them.

[2019-12-28 09:25] gr2m commented on #454
I'm working on a separate action to schedule a merge of pull requests.

[2019-12-28 19:50] canterberry opened #456 "Transfer canterberry/nodejs-keys into nodejs/keys"
Delivers [nodejs/build#1913](https://github.com/nodejs/build/issues/1913#issuecomment-569382306).

# Summary

https://github.com/canterberry/nodejs-keys → https://github.com/nodejs/keys

The proposed **nodejs/keys** repo would hold the PGP signing keys for members of the Node.js release team.

# Permissions

This repo should be readable by the general public, but only members of the Node.js organi

[2019-12-28 21:20] Trott commented on #456
@nodejs/build @nodejs/tsc

[2019-12-28 21:20] Trott commented on #456
@nodejs/community-committee

[2019-12-28 21:23] addaleax commented on #456
:+1:

Only suggestion I’d have to is to be more explicit when naming the repo, e.g. nodejs/release-keys rather than just nodejs/keys.

[2019-12-29 01:24] canterberry commented on #456
Well observed, @addaleax. In the immediate term, the only known use case for this repo would be for the release team's signing keys. However, there's little reason why it could not be the source of truth for the PGP keys of other members of the organization as well! For example, members of the security team, for researchers to submit vulnerability disclosures via encrypted email.

[2019-12-29 20:21] WaleedAshraf commented on #454
@Trott You are right about Node.js Collection on Medium is not much active in the past few months. I have been in contact with @rromoff and @bnb. We are trying to make it more open, easy to submit and a more community-driven blog. Gather more technical reviewers and make the submission process easier.

I want to give it a last push with the new process and see if it works. I suggest we keep Node.j

[2019-12-29 20:27] bnb commented on #454
@mcollina on what the plan would be to manage engagement with the account: I think it would still be vital for the individuals who we entrust with this ability to be able to engage directly from the account themselves without the forced proxy of GitHub PRs. Liking, retweeting, and responding would be a part of this responsibility.

[2019-12-30 00:10] ahmadawais commented on #454
About Node.js Collective: May I also add that keeping it on Medium is sort of a blocker for many people. The biggest issue for me has always been the code blocks. Medium refuses to add syntax highlighter and we either end up with dead-looking text or code screenshots like the one below (which are a11y nightmare).

![](https://on.ahmda.ws/375c74/c)

May I suggest migrating from Medium to Dev.to as

[2019-12-30 00:23] Trott commented on #454
GitHub Gists import nicely in Medium with syntax highlighting intact. See, for example, https://medium.com/@Trott/using-worker-threads-in-node-js-part-2-a9405c72a6f0.

[2019-12-30 03:43] rvagg commented on #456
^ I agree, I was imagining the same thing re adding the option of sending encrypted emails to security@, report@, etc.

[2019-12-30 15:10] sam-github commented on #456
`nodejs/pgp-keys`? `nodejs/org-keys`? `nodejs/nodejs-keys`?

[2020-01-03 16:37] wesleytodd opened #459 "Web Frameworks Team"
We would like to kick off a new team. The scope of the team would be as follows:

The first things we will need are a team and a repo.  The working name is "Web Server Frameworks", so it would make sense to me to start with `web-server-frameworks` as the repo name (assuming it is not a problem to change the name if we land on something more fitting).

So far the initial list of members are:

@wesl

[2020-01-03 16:44] hueniverse commented on #459
I am certainly interested in learning more about such effort.

[2020-01-03 16:56] JozefFlakus commented on #459
Interesting idea, I'm curious about the topics that will be covered there. As a framework author you can add me as well.

[2020-01-03 16:59] wesleytodd commented on #459
For those who follow here, just to be clear, if you express interest I will add you to the list of members above.  If you do not want this, please be clear about your intent.  @JozefFlakus and @hueniverse are both added to the members list!

[2020-01-03 17:03] delvedor commented on #459
I'm very interested as well, great initiative! :)

[2020-01-03 17:42] sheplu commented on #459
Not a web framework dev but starting to contribute. But using them on serverless most of the time.
So if I can help I will be very interested !

[2020-01-03 18:10] MylesBorins commented on #459
I think this is an awesome idea and am happy to help in anyway y'all need to be successful.

I do want to suggest that this effort be framed as a team to start. To become a working group involves creating a charter and being given clear authority over specific work areas of the Node.js project. While I see this effort as massively improving our ecosystem I do not yet see clarity on what exactly th

[2020-01-03 18:13] Xstoudi commented on #459
@RomainLanz and @thetutlage should be listed in here IMO

[2020-01-03 18:15] wesleytodd commented on #459
@MylesBorins I agree and have updated the request.  I am not sure we would ever want specific authority over work in Node.js and I agree that chartering would serve no purpose for us now.  One thing to point out, while this process has been done a few times there are no docs, only docs for starting a WG (see https://github.com/nodejs/TSC/issues/795).

[2020-01-03 18:22] ayenisholah commented on #459
I am interested. I love Node.js

[2020-01-03 18:37] MylesBorins commented on #459
@wesleytodd I think I found [the documentation](https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANGEMENT_POLICY.md#teams)

TL;DR

* Make issue to make a new repo (this one)
* Request team to own new repo
  * if no team exists request to make a new one
* In 72 hours if there are no objections team + repo are made.

Seems like you've done all the heavy lifting already! I can help with making

[2020-01-03 18:42] niftylettuce commented on #459
I'd be interested, actively building [Lad](https://lad.js.org)

[2020-01-03 18:45] wesleytodd commented on #459
Also, how do people feel about changing the name to `Server Frameworks Team`?  It was brought to my attention that `Web Frameworks` strongly implies the front-end ones (react, vue, etc), which is not my intended focus.

[2020-01-03 19:00] retrohacker commented on #459
A quick sampling of some frameworks home pages:

Express calls itself a web framework
Fastify calls itself a web framework
Restify calls itself a web service framework
Hapi calls itself a framework
Koa calls itself a web framework

I have a preference to keep "web framework" in the name since it seems to be rather standard across the ecosystem. But ultimately don't care too much about what color w

[2020-01-03 19:50] wesleytodd commented on #459
Web Server Framework?

[2020-01-03 20:20] fed135 commented on #459
This is very relevant to my interests!

[2020-01-03 20:26] niftylettuce commented on #459
HTTP Framework is pretty simple/focused, and doesn't limit us to just Web since a lot of these also serve as API frameworks.  But then do people consider API part of Web?  What about using one of these frameworks as API for a React Native iOS/Android app?

[2020-01-03 20:37] wesleytodd commented on #459
I really dont want to limit to http.  I think protocol doesn't really matter as long as the domain is the server framework.  And for sure api servers fit within this fully.  It looks like atleast a few gave "Web Server Framework Team" the 👍, but does anyone have other ideas (or object to that name)?

[2020-01-03 20:47] JozefFlakus commented on #459
I would say that, as far it is visible under `nodejs` organization it carries the domain implicit. If it will stay as `Web Frameworks Team` everyone will recognize the domain well, and it will be easier to remember and operate.

[2020-01-03 20:57] DonutEspresso commented on #459
I am interested too.

[2020-01-03 23:05] AlexZeitler commented on #459
I would be interested, mostly from a Hypermedia perspective.

[2020-01-04 03:06] arei commented on #459
Interested.

[2020-01-04 03:25] gireeshpunathil commented on #459
request to add me to the team. my motivations:
 - to help the middleware abstractions of these frameworks are well aligned / stacked up with node core functions
 - consider these frameworks as the prominent node.js workloads, gather usage insights and feed it back to the core

[2020-01-04 03:37] RamirezAlex commented on #459
I would love to help :)

[2020-01-04 14:59] drawm commented on #459
Count me in. I would love to get involved!

[2020-01-05 00:57] MarcinHoppe commented on #459
I will definitely be following this effort and will try to contribute if anything security related pops up.

[2020-01-05 01:09] Alyssa-Cooper commented on #459
This is a great initiative. I'd love to contribute!

[2020-01-05 09:25] antsmartian commented on #459
This is a great initiative. I'm someone who involve myself with load of web development in my day to day life, would love to contribute in this idea. Count me in.

[2020-01-05 10:31] kamilmysliwiec commented on #459
Great idea, I'm happy to help as well ([NestJS](https://github.com/nestjs))

[2020-01-05 12:40] mcollina commented on #459
I’m in!

I would also invite @ronag, who has done extensive work on http in core.

[2020-01-05 12:46] ronag commented on #459
I'm interested as well.

[2020-01-06 08:27] LoicPoullain commented on #459
I'm interested as well! ([FoalTS](https://github.com/FoalTS/foal))

[2020-01-06 13:51] mhdawson commented on #459
I'm in as well.

[2020-01-06 15:08] bajtos commented on #459
I'd like to join too (https://loopback.io)

[2020-01-06 16:01] raymondfeng commented on #459
I'd like to join too - [LoopBack](https://loopback.io).

[2020-01-06 17:55] blakeembrey commented on #459
Thanks @wesleytodd, I'd love to be involved.

[2020-01-06 17:58] wesleytodd commented on #459
Ok, I have added everyone who has posted.  According to the docs it needs to wait 72 hours without objection, and I posted 3 days ago, so I guess we are good to go!

Thanks everyone for the interest and once we get the team and repo setup I will post a doodle so we can pick a time for our first meeting.

[2020-01-06 18:01] MylesBorins commented on #459
thanks @wesleytodd for pinging the thread. I'll go ahead and spin stuff up.

[2020-01-06 18:33] MylesBorins commented on #459
Team created, Names in the list in original post have been added to that team. I've also made the repo and kicked it off with basic a basic README, code of conduct, license, and starter governance (including process for adding new members).

Gonna close this issue so y'all can take convo to the new repo

https://github.com/nodejs/web-server-frameworks

[2020-01-06 18:33] #459 closed

[2020-01-23 14:05] mhdawson opened #464 "Create 2 new repositories for build wg - jenkins config"
The build WG would like to get the ok to add 2 new repositories that we'll use to keep a history of the configuration of the jobs within jenkins.

The repos we want to create are:

 * jenkins-config-test
 * jenkins-config-release

More details on the plans are in: https://github.com/nodejs/build/issues/2133

[2020-01-23 14:48] Trott commented on #464
+1. FWIW, approval is not needed to create new repositories.

What teams will have write or admin access?

[2020-01-23 14:49] Trott commented on #464
@nodejs/tsc @nodejs/community-committee

[2020-01-23 15:21] sam-github commented on #464
Initially, they will be private repos.

They will be readable by nodejs/build, and writable by a jenkins backup cron job.

Intention is that when we validate that no sensitive information is in the build job XML, they become public, readable by all, but only writable by the jenkins backup cron job.

[2020-01-23 17:29] bnb commented on #454
I will PR a proposal for this next week.

[2020-01-27 17:12] sam-github commented on #464
+1

[2020-01-27 21:33] bnb commented on #464
+1

[2020-01-29 16:19] joesepi commented on #464
+1

[2020-01-29 18:55] bnb commented on #464
Been 6 days with no -1s or -0s. I’d like to assert that these can go ahead and be created.

[2020-01-30 20:45] mhdawson commented on #464
@bnb agreed. Created the repositories.

@rvagg, @sam-github what teams should we give access to the repo?

I'm thinking maybe build for jenkins-config-test and build-infra for jenkins-config-release as a start?

We also need to likely add some user so that the automation can push the updates.  What do we need to add for that?

[2020-01-30 21:27] sam-github commented on #464
I added @nodejs/jenkins-admins to nodejs/jenkins-config-test and @nodejs/jenkins-release-admins to nodejs/jenkins-config-release. Those are the groups that can already see the respective jenkins config right now, so it doesn't expose anything new.

@rvagg is in both, so he can add any other groups he deems reasonable.

[2020-01-30 21:27] #464 closed

[2020-01-30 21:35] mhdawson opened #467 "Approval to promote @weelsytodd to maintainer of nodejs / web-server-frameworks team"
I'd like to give @wesleytodd maintainer access to the nodejs / web-server-frameworks team so that he can add/manage members. This seems to be the case for a few other teams (ex security-wg) so I think its ok but wanted to record and get approval here.

[2020-01-31 02:18] gireeshpunathil commented on #467
+1

[2020-02-10 08:19] antsmartian commented on #438
Just curious here, what's the status/plan for this?

[2020-02-10 14:54] jasnell commented on #438
Still undermined but we should discuss at the tsc meeting. Fwiw, I've incorporated a modified version of the c/c++ API into the quic implementation but we still need to decide overall direction here

[2020-02-17 14:48] mhdawson commented on #467
No objections and one approval so I'm going to go ahead and do it. @nodejs/tsc @nodejs/community-committee another FYI let me know if you object and I'll revert.

[2020-02-17 14:50] mhdawson commented on #467
@wesleytodd you are now a maintainer for that team

[2020-02-17 14:50] #467 closed

[2020-02-17 21:48] Fishrock123 commented on #438
At this point the lack of interest here now makes me very hesitant to actually do this, since it is essentially 100% my work still. (I don't think I've done anything to complicate contributions, though?)

[2020-02-17 22:00] jasnell commented on #438
There does seem to be a lack of overall interest but, fwiw, I am using a variation on the c++ API in the quic implementation.

[2020-02-19 18:07] wesleytodd commented on #467
Awesome thanks!

[2020-02-20 06:30] Trott opened #469 "unblock translation process"
See https://github.com/nodejs/nodejs.org/issues/2906 by @alexandrtovmach:

[2020-02-20 06:32] Trott commented on #281
Travel fund is now a CPC thing, so I think this can be closed here?

[2020-02-20 06:32] #281 closed

[2020-02-20 06:33] Trott commented on #358
Travel fund is now a CPC thing so I think this can be closed here?

[2020-02-20 06:33] #358 closed

[2020-02-20 06:33] Trott commented on #337
Travel fund is now a CPC thing so I think this can be closed here?

[2020-02-20 06:33] #337 closed

[2020-02-20 10:27] targos commented on #469
In the screenshot, it says "set up integration via access token only if you have limited or no access to the GitHub repository".
What would be the other way to set it up?

[2020-02-20 16:07] ljharb commented on #469
On behalf of someone else who has no access to manage integrations, perhaps

[2020-02-20 16:28] bnb commented on #454
As an update to this, I'm working with Electron to set up Twitter Together as a way to prove it works and is something that can be integrated into our process before going ahead and PRing a document that may or may not include that.

[2020-02-20 16:56] bnb commented on #469
Theoretically an org owner should be able to do this?

Additionally, perhaps this merits @nodejs-github-bot being the "owner" of this integration so it's not tied to someone who may or may not be an org owner in the future?

[2020-02-21 14:28] mhdawson opened #470 "Additional org owned by Node.js project for package maintenance team"
In the context of https://github.com/nodejs/package-maintenance/issues/271

The package maintenance team is exporting how to host tools being developed.

The team does not want to use a repo in the nodejs or due to concerns that might make them look officially supported by the Node.js project and put other tools at a disadvantage.

At the same time the team would like to leverage existing governan

[2020-02-21 14:37] mcollina commented on #470
Definitely +1.

We might want to change how the package-maintenance team is chartered (or actually not chartered right now).

My concerns are about moderation and governance. Would the new org still be moderated by our moderation team? What is the role of the Node.js TSC?

[2020-02-21 14:45] cjihrig commented on #470
Sounds like a decent idea. +1 to trying it.

[2020-02-21 15:03] gengjiawen opened #471 "Setup a bot account for Node.js org"
I am thinking add auto doc push for node-addon-api/ https://github.com/nodejs/node-addon-api/blob/cb498bbe7f8aa601e95c7946df3db6dedf15f709/package.json#L245 using https://github.com/JamesIves/github-pages-deploy-action. But this requires token https://github.com/JamesIves/github-pages-deploy-action#required-setup. Thoughts ?

[2020-02-21 15:06] mhdawson commented on #470
@mcollina right now the package-maintenance team is just a team (not chartered)

I think that is the ask, that the moderation team have responsibility for the second ord

The TSC/CommComm would be responsible for the org, just like the nodejs org so that the same requirements for repos (licences etc.) would apply as if the repos were in the nodejs org. Some rights to manage the org would be delega

[2020-02-21 19:15] ryzokuken commented on #471
can't this be done via CI?

[2020-02-21 22:31] nschonni commented on #471
There is one https://github.com/nodejs-github-bot but I believe it is only used for Docker-node right now

[2020-02-22 12:12] gengjiawen commented on #471
Not sure which you mean, I intend to make auto push doc using github CI. But it requires token to push to `gh-pages` branch.

[2020-02-24 17:30] bnb commented on #470
I am not entirely convinced that the structural, governance, and moderation overhead is going to be worth adding an additional organization. This definitely stems from my personal looseness with organizations - I don't really think it's problematic to put work being done by people associated with an org inside of an org. If folks think something is official when it's not despite being explicitly d

[2020-02-24 23:13] wesleytodd commented on #470
Yes, that is the ask.  I think that it is important that this kind of thing be explicit and supported, but also I don't believe that the few of us contributing so far have the additional bandwidth to support it ourselves.

I am not sure what that would give us.  I am fine with it, but since these packages are in fact outside the original scope of NodeJS I am interested in how it would look.

I und

[2020-02-25 07:08] codeekage commented on #470
Correct me if I’m wrong, but my understanding of this is - create a separate org completely independent from `nodejs` org (remove `pkg-maintenance` project from the node org).

Which brings up governance, moderation, and charter. And if the `node` project’s TSC still provides an overhead in the new org that makes the project the responsibility of `node` to ensure moderation in that new org.

From

[2020-02-25 07:22] ljharb commented on #470
Moderation is important, yes. I'm on the moderation team, and while I can't speak for the rest of the team, am happy to moderate the new repos we create - and the added complexity of it being in a separate org feels trivial to me (and also, automateable).

Why does the Github org name change anything? Does the project's governance not apply to whatever it both decides it applies to, and whatever i

[2020-02-25 17:30] MylesBorins commented on #470
Could the solution to this problem not be as simple as adding the new org / repo in [the list in the readme](https://github.com/nodejs/admin#administration-for-tsc--community-committee-collaborative-efforts).

Any repo / team will require their own governance... but it feels to me like just documenting it in the readme might be sufficient

[2020-02-25 18:30] wesleytodd commented on #470
We do not intend to remove the team from the node org.  We just have other projects we have started to help deliver on the work coming our of the team.

I missed the CPC meeting this morning, but I can ask in an issue.  I am not sure why it would matter though.

That is what I was hoping.  That if we agreed and documented it accordingly, that it would just be additions to the moderation team workf

[2020-02-25 18:43] MylesBorins commented on #470
Also worth mentioning I don't think there is any need to check with the cpc on this. Nodejs is chartered with governing it's project... The org / repo is an artifact of that. We have other orgs we already maintain

[2020-02-27 18:43] mcollina commented on #364
Closing because the 2019 election happened.

[2020-02-27 18:43] #364 closed

[2020-02-28 10:11] WaleedAshraf commented on #470
We may need to extend the [Applicability](https://github.com/nodejs/admin/blob/master/Moderation-Policy.md#applicability) in moderation policy?

[2020-03-02 22:16] mhdawson commented on #470
We've had few people chime in, but not enough to make sure we are moving towards a consensus.  Going to add to the agenda for next week.

[2020-03-03 17:33] mcollina opened #472 "Election for the Voting Representative for the OpenJS Cross-Project-Council"
Hi fellow @nodejs/tsc and @nodejs/community-committee ,

It’s time we elect our new Cross-Project-Council voting representatives for next term which starts on April 1st 2020. The current ones are @joesepi and me.

I propose we follow the same pattern we did last year with the TSC electing a representative and the CommComm electing one (see https://github.com/nodejs/admin/issues/316).

We need to h

[2020-03-03 20:06] joesepi commented on #472
If anyone has any questions about what it's like to participate as a member of the CPC, please don't hesitate to reach out to any of us. My DMs are open and you can find me on Slacks.

[2020-03-03 20:25] mhdawson commented on #472
+1

[2020-03-04 00:56] Trott opened #473 "Archive commit-queue repository"
This should be super-duper uncontroversial given the conversation at the end of the only issue ever opened in that repository. I'm moving the conversation to the build repository.

[2020-03-04 00:56] Trott commented on #473
@nodejs/tsc @nodejs/community-committee @nodejs/commit-queue

[2020-03-04 01:08] jasnell commented on #473
SGTM

[2020-03-04 13:57] bnb commented on #473
+1

[2020-03-04 14:01] bnb commented on #472
+1. Also happy to facilitate the CommComm vote.

[2020-03-04 14:21] bnb commented on #470
So far I’ve not seen a comprehensive list of what’s necessary. Before answering this, I think that would be needed to understand what the impact is.

We’ve got well over 100 repos in this org at present. If folks haven’t turned off auto-watch and _aren’t_ okay with notification overflow, that seems like a them problem and IMO shouldn’t impact our decisions.

The Node.js GitHub org has not been lim

[2020-03-04 14:51] cjihrig commented on #473
+1

[2020-03-04 22:26] mhdawson commented on #473
+1

[2020-03-05 00:21] mmarchini commented on #473
+1

[2020-03-05 15:10] bnb opened #474 "Create nodejs/examples repository"
Per https://github.com/nodejs/community-committee/pull/570, CommComm has an `Examples` initiative.

[2020-03-05 17:22] bnb commented on #469
ping @nodejs/i18n does that unblock you?

[2020-03-06 20:53] mhdawson commented on #474
+1

[2020-03-06 20:54] mhdawson commented on #472
Unless I hear objections before then I'll open the call for nominations on the TSC side on Monday.

[2020-03-09 01:50] Trott commented on #473
Done.

[2020-03-09 01:50] #473 closed

[2020-03-09 12:01] ryzokuken opened #475 "Move gyp-next to the nodejs org"
Request to move gyp-next (https://github.com/ryzokuken/gyp-next) to the nodejs organization. More context at https://github.com/nodejs/node/pull/32090.

[2020-03-09 12:02] ryzokuken commented on #475
/cc @targos @cclauss @rvagg @MylesBorins

[2020-03-09 12:04] targos commented on #475
+1

[2020-03-09 16:57] mhdawson commented on #475
+1

[2020-03-09 16:58] MylesBorins commented on #475
+1 with the name gyp-next

On Mon, Mar 9, 2020, 12:57 PM Michael Dawson <notifications@github.com>
wrote:

[2020-03-09 20:25] joesepi commented on #472
I think it should also be made clear that if anyone is considering running for the role but the timing of the weekly meetings is an issue -- there is talk of reconsidering the meeting times as new people come on board. Don't let that be a blocker.

[2020-03-10 00:50] joyeecheung commented on #475
+1

[2020-03-10 01:13] rvagg commented on #475
Full context:

GYP is a Google tool, now deprecated by them, we've taken over maintenance of it and it's used in nodejs/node and node-gyp (libuv too, but they're using a pruned-down version and are about to rip it out entirely). We're in the middle of a synchronization effort between the two projects and the repo on question here _should_ be a synthesis of all that so ought to end up as the source

[2020-03-10 03:22] Qard commented on #475
PYG: (Here's the) Project You Generated :laughing:

[2020-03-10 03:29] MylesBorins commented on #475
I very much like pyg. Can't get the Beatles song "Little Pygies" out of my
head now.

On Mon, Mar 9, 2020, 11:23 PM Stephen Belanger <notifications@github.com>
wrote:

[2020-03-10 03:39] cclauss commented on #475
`pip install pyg` does have a ring to it.

[2020-03-10 07:51] Qard commented on #475
Hasn't been updated in seven years. Maybe we could ask to reclaim the name? :thinking:

Alternatively:

JUNA - Just Use Ninja Already :wink:
JHEF: Javacript Has Enough Frameworks (so we made one for Python instead)
NACL: Node.js Abstract Compiler Launcher (That'll get us away from Google copyright concerns _for sure_ :trollface: )

More seriously:

NUB - Node.js Universal Builder
JUBE - JSON-based

[2020-03-10 07:53] richardlau commented on #475
I kind of feel that, boring as it may be, anything that doesn't have "gyp" as part of its name is just going to be confusing.

[2020-03-10 13:18] Trott commented on #475
That'll do: pyg. That'll do.

Er, uh, more seriously, I kinda agree with @richardlau that including `gyp` as part of the name is the user-friendly thing to do.

[2020-03-10 14:32] sam-github commented on #475
I agree, to, should have `gyp`. I'm fine with `gyp-next`, the README should be clear that the goal is not to resuscitate gyp or encourage its use for new projects, but to maintain it sufficiently for Node.js addons and libuv.

[2020-03-10 14:45] cclauss commented on #475
I would advocate that this module can be `pip install`-ed from PyPI.  My sense is that there has been a lot of unnecessary questions and delay in working with gyp because we have resisted the use of `pip install`.

[2020-03-10 14:48] sam-github commented on #475
Can we pip install _and vendor_ it? Node.js build doesn't depend on pip ATM for building, but if pip's a better way to get it into our deps or tools than `cp -r`, I'm OK with using it.

[2020-03-10 15:00] cclauss commented on #475
Yes.  pip and vendor can co-exist.

[2020-03-10 15:41] targos commented on #475
/cc @nodejs/tsc @nodejs/community-committee per https://github.com/nodejs/admin/blob/master/transfer-repo-into-the-org.md#step-2-open-an-issue-in-the-admin-repository

[2020-03-10 15:44] bnb commented on #475
SGTM :shipit:

[2020-03-10 18:12] ryzokuken commented on #475
That's the plan anyway.

Re: the name, @Qard suggested that the "gyp" in the name can stand for "Google Yeets Projects" which is an amazing name IMO as long as it's okay with Google folks (mean no offense, it's just a fact about the past of the project...) @MylesBorins thoughts?

[2020-03-10 18:25] ryzokuken commented on #475
@targos the document doesn't exactly say how many approvals are required or how long we should wait until we can proceed with the transfer.

[2020-03-10 18:27] targos commented on #475
There's a reference to another document which says we must wait 72 hours.

[2020-03-10 18:29] richardlau commented on #475
The link to the other document is broken (I've raised https://github.com/nodejs/admin/pull/476 to fix it).

[2020-03-10 18:30] richardlau commented on #475
https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories (the corrected link) says (as @targos points out) to wait for 72 hours.

No approvals are required, just no objections in that 72 hour period.

[2020-03-10 20:08] mhdawson opened #477 "New repos for sample ci configs"
The package maintenance team would like 2 new repos to maintain sample CI configs for using Travis and Github actions.

See: https://github.com/nodejs/package-maintenance/issues/321

The team has made recommendations in terms of what Node.js versions to test on, and would like to provide ci configs which support those recommendations.

The repos we'd like are:

  * nodejs/ci-config-travis
  * node

[2020-03-10 20:09] mhdawson commented on #477
The discussion ended up with using a separate repo for each type of ci so that

* we could have different teams maintaining the repos
* some ci's only seem to allow an org/repo reference as opposed to a path within the repo.

[2020-03-10 20:40] mhdawson commented on #472
Issue opened in the TSC repo.

[2020-03-11 01:24] nschonni commented on #475
Just curious if this is still a stopgap to keep it alive while a non-Python alternate is proposed?

[2020-03-11 01:30] nschonni commented on #475
The GYP license also only only seems to restrict the use of the Google trademark, rather than GYP name

https://chromium.googlesource.com/external/gyp/+/refs/heads/master/LICENSE

[2020-03-12 11:00] Qard commented on #475
Wouldn’t making it pip installable increase the likelihood people use it for other things, which we specifically _don’t_ want? 🤔

[2020-03-12 11:15] cclauss commented on #475
I doubt that anyone is going to find gyp just by search among the +222k packages on PyPI.

[2020-03-12 12:57] ryzokuken commented on #475
Done.

[2020-03-12 12:57] #475 closed

[2020-03-13 22:29] mmarchini opened #478 "Disable dependabot on nodejs/node-v8"
Apparently dependabot is enabled by default on repositories now. Since the repository is a "mirror" of `nodejs/node` it makes no sense having the bot enabled there.

Ref: https://github.com/nodejs/node-v8/pull/151
cc @targos

[2020-03-13 22:31] ljharb commented on #478
To disable it, go to https://github.com/nodejs/node-v8/network/alerts and uncheck "automated security updates".

[2020-03-13 23:24] targos commented on #478
Done

[2020-03-13 23:24] #478 closed

[2020-03-15 18:48] nschonni opened #479 "nodejs-foundation NPM account"
2 minor things:
1. Now that the NodeJS foundation has been changed, should the account get renamed?
1. There is an issue with the NPM profile having a trailing `/` that gets encoded to `%2f` if you look at the GitHub link on https://www.npmjs.com/~nodejs-foundation

[2020-03-16 07:03] keywordnew commented on #479
Does this (https://www.npmjs.com/org/nodejs) belong to the project? There are no public packages.

Here's a screenshot for the second item:
<img width="466" alt="Screen Shot 2020-03-15 at 23 59 27" src="https://user-images.githubusercontent.com/10335475/76730797-36d51900-6719-11ea-94a6-01c90ec85635.png">

[2020-03-16 11:39] gengjiawen commented on #471
@Trott Can you push this a little forward.

[2020-03-16 18:45] mmarchini commented on #471
@gengjiawen I don't think you need a bot token for this. Is this the workflow you're looking for?

1. Trigger Action when a commit is pushed to `master`
2. The action will run `npm run doc`
3. The result from above will be published to GitHub Pages

If that's the case, you can do it with `GITHUB_TOKEN` by pushing the result from `npm run doc` to https://github.com/nodejs/node-addon-api/tree/gh-pag

[2020-03-18 16:17] mhdawson commented on #470
TSC has no objections/concerns over separate organization, removing tsc-agenda tag.

[2020-03-18 22:11] mhdawson commented on #479
@nschonni I removed the trailing `/`.

In terms of a rename, I'm not sure you can rename your npm account. That would mean we would have to create a new account and then add the new user to all of the packages that the nodejs-account is currently associated with.

It should still be specific to the Node.js project I think, unless we wanted to have the backup be the foundation one, but then I'm not

[2020-03-18 22:29] MylesBorins commented on #479
Afaik we have the nodejs org on npmjs.

When I changed my handle I wrote a script to automate giving permissions to
all my packages to my new account... Something like that should be easy
enough to roll out it we want to change handles

On Wed, Mar 18, 2020, 6:12 PM Michael Dawson <notifications@github.com>
wrote:

[2020-03-18 22:29] nschonni commented on #479
Yup, not sure if it worth it, so feel free to close.

I don't know if you transferred them into Node NPM Org if that would do the same thing as the break glass account, but it sounds like that setup might be changing with the GitHub acquisition

[2020-03-19 11:21] gengjiawen commented on #471
I don't want `GITHUB_TOKEN` bind to personal account, it may cause management or other security issues.

[2020-03-19 14:39] bnb commented on #474
Planning on creating this today since it's been well over 72 hours. Going to get my local POC up to ensure my plan for the repo works, then create ❤️

[2020-03-19 15:06] bnb commented on #454
While I'm continuing to work on this with the Electron team, I've also gotten a POC up that just tweets to my own account:

Repo: https://github.com/bnb/tweet
Commit: https://github.com/bnb/tweet/commit/f25187bb25401ba2d5295f7ad2074c31668830b1
Action run: https://github.com/bnb/tweet/actions/runs/59001947

Direct commits directly trigger the tweet, and PRs will trigger the tweet once they're merge

[2020-03-19 16:20] SauloNunes commented on #474
+1

[2020-03-19 16:24] mcollina opened #480 "Call for Volunteers for the OpenJS Foundation Code of Conduct Panel"
Hey @nodejs/moderation,

We are looking for volunteers for the OpenJS Foundation Code of Conduct Panel (CoCP).
The focus of the CoCP is to coordinate cross-project CoC policies and enforcement, as well as providing an escalation path.  You can find a wider definition at https://github.com/openjs-foundation/cross-project-council/blob/master/FOUNDATION_CODE_OF_CONDUCT_REQUIREMENTS.md#escalation.

He

[2020-03-19 16:29] bnb commented on #470
Pinging @nodejs/community-committee for objections/concerns. If there are none by Monday at 1pm ET, we can consider this CommComm approved.

On my personal comments: I am personally -0. I don't think it's ideal and I don't necessarily agree with the proposed reasons but I respect that others who are doing this work hold them.

[2020-03-19 17:02] ljharb commented on #480
As a member of @nodejs/moderation and a CPC member, I'm happy to volunteer to be on that panel, if there's no objections from any stakeholders.

[2020-03-19 17:14] mmarchini commented on #471
GITHUB_TOKEN is not binded (or bindable) to personal accounts. Is the idea to publish the docs _outside_ the nodejs org?

[2020-03-19 17:53] benjamingr commented on #480
Hey I would also be happy to volunteer if it makes sense.

[2020-03-19 19:35] mcollina commented on #480
We can provide one volunteer:

How would you like to run the election? Can the moderation team coordinate an election like we elect our voting representative?

[2020-03-19 20:13] ryanmurakami commented on #480
We can do the election internally on the moderation team slack. I'll bring this up there and then report back.

[2020-03-19 21:59] Trott opened #481 "Archive https://github.com/nodejs/perfetto-nodejs-wip?"
I would like to archive https://github.com/nodejs/perfetto-nodejs-wip. It has not had a commit in about 10 months (until I rebased just now). If it ever becomes active again, we can unarchive it. @nodejs/tsc @nodejs/community-committee @kjin

[2020-03-19 22:01] mmarchini commented on #481
cc @nodejs/diagnostics

[2020-03-19 22:10] mhdawson commented on #481
Unless @kjin indicates otherwise +1. We can always un-archive if the effort is revived.

[2020-03-19 23:01] jasnell commented on #481
No objection to archiving right now but I do hope to get back to this by the end of the year.

[2020-03-20 00:09] bnb commented on #481
No objection. Also pre-emotive +1 to unarchive when @jasnell or anyone else starts working on it again.

[2020-03-20 00:45] gengjiawen commented on #471
Not out the nodejs org. Looks `GITHUB_TOKEN` is a good solution. I will give it a  try.

[2020-03-20 00:56] MylesBorins commented on #471
We can make an ssh key for the specific repo fwiw.

Here's an example action for deploying to gh_pages

https://github.com/tc39/proposal-module-attributes/blob/master/.github/workflows/publish.yml

In this case we setup a deploy key for the specific repo, generated with ssh-keygen

https://developer.github.com/v3/guides/managing-deploy-keys/#deploy-keys

[2020-03-20 06:45] mcollina commented on #481
No objection

[2020-03-20 08:01] Flarna commented on #481
No objection

[2020-03-20 08:44] mcollina commented on #474
+1. Let me know if the examples needs a code/review a pass. I'll be happy to give some feedbacks.

[2020-03-20 12:27] BridgeAR commented on #481
No objection

[2020-03-22 16:15] benjamingr commented on #480
I'm fine with @ljharb taking this - was just trying to help. Plenty of other places that help can go where we miss volunteers.

I appreciate the will to have a vote and the fact you are taking this seriously and with respect.

[2020-03-22 21:41] mcollina commented on #480
Are there any objection to nominate @ljharb for this position?

[2020-03-23 01:53] Trott commented on #481
Archived!

[2020-03-23 01:53] #481 closed

[2020-03-23 19:35] MylesBorins opened #483 "Google Season of Docs"
The 2020 initiative has been started. I think we should get involved

https://groups.google.com/forum/#!topic/season-of-docs-announce/x04Gl7D4dm8

[2020-03-24 13:33] mhdawson commented on #477
@nodejs/tsc would be good to get some approvals on this.

[2020-03-24 13:34] mhdawson commented on #477
@nodejs/community-committee ping as well.

[2020-03-24 13:54] richardlau commented on #477
It might be nice but technically you don't need any approvals -- just no objections in a 72 hour period: https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories

[2020-03-24 14:51] mcollina commented on #477
+1

[2020-03-24 15:03] mhdawson commented on #477
@richardlau I understand that, but would like a few +1's anyway.

[2020-03-24 16:06] mcollina commented on #472
As per https://github.com/nodejs/TSC/issues/835#issuecomment-602889188, I'll keep serving as Voting Representative for the @nodejs project for the next term.

[2020-03-24 16:34] mcollina commented on #480
No objection, @ljharb would be our representative for the this term.

[2020-03-24 16:34] #480 closed

[2020-03-26 14:42] mhdawson commented on #470
No objections by Monday so considered approved.

[2020-03-27 01:39] alexandrtovmach commented on #469
Thanks everyone for help, I'm finally unblocked and this issue can be closed

[2020-03-27 04:21] #469 closed

[2020-03-27 18:48] Trott opened #485 "archive https://github.com/nodejs/nodejs-ru"
No commits for a few years now, no issues opened for a couple years, the team should remain of course, and translations can occur in the nodejs.org repo and/or in CrowdIn, but the repo should be archived. Or at least that's my perception. (And unarchiving is no big deal, so even if I'm wrong, this is low risk.)

@nodejs/nodejs-ru @nodejs/i18n @nodejs/community-committee @nodejs/tsc

[2020-03-27 18:55] alexandrtovmach commented on #485
@nodejs/i18n team actively working on renew localization process, and now we're thinking about structure of locale teams. This repo and other like this - it's kind of basement for translators to discuss their stuff. Actual translation happens on Crowdin side, so here shouldn't be any commits/PRs, just issues and team guidelines.

When repo is archived there is no way to create new issue, and trans

[2020-03-27 18:55] alexandrtovmach commented on #485
related https://github.com/nodejs/i18n/issues/211

[2020-03-27 22:46] Trott commented on #485
Ah, sounds good. Maybe all the code should be removed and replaced with a README that explains who is on the team, how the translation process works, and how people can volunteer? (Or content similar to that?) I'll close this issue. Thanks!

[2020-03-27 22:46] #485 closed

[2020-03-28 14:39] gengjiawen commented on #471
Finished: https://github.com/nodejs/node-addon-api/pull/691.

Any way I can live view the site. I know how to do this on gitlab. Not sure how it works on github.

[2020-03-28 14:43] gengjiawen commented on #471
Ok, find a preview one: https://cdn.statically.io/gh/gengjiawen/node-addon-api/gh-pages/index.html

but the url looks not so official.

[2020-03-28 14:44] nschonni commented on #471
You need to turn on the GitHub pages in the Settings for the repo. This might help https://pages.github.com/

[2020-03-28 14:48] gengjiawen commented on #471
My looks like this, but it's (http://www.gengjiawen.com/node-addon-api/) a 404
![image](https://user-images.githubusercontent.com/3759816/77825720-2d4ea680-7146-11ea-87f3-ee0e64882253.png)

[2020-03-28 14:54] gengjiawen commented on #471
I see, I have choose a theme.

[2020-03-28 14:56] gengjiawen commented on #471
You can try this way without generating any key, super easy.

Thanks all.

[2020-03-28 14:56] #471 closed

[2020-03-29 17:41] alexandrtovmach commented on #485
@Trott Yep, that's what I'm going to do

[2020-03-30 20:36] mmarchini commented on #477
+1

[2020-03-30 21:11] nschonni commented on #477
Wouldn't it be better to just work with their docuementation teams to improve their official docs like https://github.com/travis-ci/docs-travis-ci-com/edit/master/user/languages/javascript-with-nodejs.md

[2020-03-30 22:58] dominykas commented on #477
We've tried reaching out to see if the defaults can be changed, and we did get some traction in the right direction, but this is broader than just that, e.g. we want shareable and automatically updatad configs to run tests in all LTS versions since 8, or all versions that ever existed - depending on your support policy.

We also want to lower the burden on maintainers to not have to keep that up t

[2020-03-31 15:08] mhdawson commented on #477
Tagged for agenda as FYI, if no objections after meeting time will consider approved and move to create.

[2020-03-31 21:28] bnb commented on #477
Huge +1. I am also happy to help maintain GitHub Actions CI templates since I’ve been working with them quite a bit lately ❤️

[2020-04-01 03:30] gengjiawen commented on #422
I think it should be more general. since all our doc service may need it.

[2020-04-01 07:58] mcollina commented on #422
The Build WG currently manages all Node secrets, so yes, I would say it's the build wg.

[2020-04-01 19:32] joesepi commented on #474
+1. I'm happy to help on this as well -- review as well as adding examples.

[2020-04-02 00:37] bnb commented on #474
Apologies for the delay, took last week off and played catchup this week. I've got the repo up, would love feedback and will likely push it up to nodejs/examples pending any -1s tomorrow in CommComm.

https://github.com/bnb/examples

[2020-04-02 00:53] bnb commented on #474
Please do note: there's still some additional markdown context I'd like to add in the README like what kind of examples are welcome (examples should go beyond hello, world; examples can and should be potential real-world examples of Node.js usage, including usage of IaaS services like Heroku, Now, and Netlify or cloud services like AWS Lambda, Google Cloud Functions/Google Cloud Run, Azure Functio

[2020-04-03 18:07] Trott commented on #422
@nodejs/build

[2020-04-03 23:40] obensource opened #487 "Bug: Node.js YouTube Channel video uploads are disappearing"
## Description
All new Node.js WG meeting videos that are streamed live to our [YouTube channel](https://www.youtube.com/channel/UCQPYJluYC_sn_Qz_XE-YbTQ/videos) via Zoom (eg. from CommComm's Zoom account) are disappearing.

## Behavior
The last video that has persisted to YouTube was from the Build WG meeting, but today's i18n and Tooling WG videos weren’t uploaded (it looks like).

👉  Additional

[2020-04-04 00:25] sam-github commented on #487
@mhdawson is aware of this, and has reached out to the Foundation to see if they can help (we are paid Zoom customers so can hopefully get help).

So, definitely a problem, and its being worked on!

[2020-04-04 00:38] brianwarner commented on #487
Yes, something strange is going on. @mhdawson and I were working on it yesterday, and we filed a support ticket. We'll be in touch when we hear from them. In the meantime, I'd recommend doing a cloud recording of each call, downloading it, and then posting it directly to the channel.

[2020-04-04 08:12] joyeecheung commented on #422
I think sending a PR to https://github.com/nodejs-private/secrets to store the credentials would be enough, people who place their public keys in the corresponding folder there would just get the access

[2020-04-04 08:30] joyeecheung opened #488 "Remove automation teams and archive the automation repo"
As explained in https://github.com/nodejs/Release/issues/547#issuecomment-597098210

The automation team was created so that we can ping a group of people for work/reviews/ideas about automation, but it is too big and rarely used at this point. Instead we tend to just open issues/PRs in https://github.com/nodejs/node-core-utils (which is somewhat like a mono repo now where new tools are being adde

[2020-04-04 19:23] mmarchini commented on #488
+1 on deleting these teams and on creating a ncu team

[2020-04-06 17:55] mhdawson commented on #477
Should have taken this off the agenda as FYI complete

[2020-04-06 18:04] bnb commented on #474
Repo has been created. Thanks all ❤️

[2020-04-06 18:04] #474 closed

[2020-04-06 21:32] bnb commented on #488
+1

[2020-04-06 21:39] codebytere commented on #488
+1

[2020-04-08 05:11] wesleytodd commented on #470
We are working out the details of this in the working group.  Do we want to leave this open as a place to update and collect feedback on the plan, or are we good to close this now?

[2020-04-08 05:18] Trott opened #489 "archive ecmascript-modules fork?"
Doesn't look like much is happening with https://github.com/nodejs/ecmascript-modules. Can we archive it?

I'm going to synch it up with the main repo now, mostly to silence GitHub warnings about minimist.

[2020-04-08 05:18] Trott commented on #489
@nodejs/tsc @nodejs/community-committee

[2020-04-08 05:21] ljharb commented on #489
cc @nodejs/modules-active-members

[2020-04-08 05:30] MylesBorins commented on #489
IMHO it can be archived

On Wed, Apr 8, 2020, 1:22 AM Jordan Harband <notifications@github.com>
wrote:

[2020-04-08 05:32] Trott commented on #488
Should https://github.com/nodejs/node-auto-test be archived as well?

[2020-04-08 05:36] ljharb commented on #489
Seems reasonable, now that ESM is unflagged in node 13. There's a few open PRs (@guybedford, @mathiasbynens) and some open issues (@coreyfarrell, @jkrems, @geoffreybooth, @smotaal), but presumably those could be closed, or transferred into nodejs/node?

[2020-04-08 08:41] richardlau commented on #488
I think we should keep it. I believe @mmarchini has used it recently to try out some GitHub Actions related things and it would be the ideal place to trial any work towards a commit queue.

[2020-04-08 10:01] codeekage commented on #483
Hello @MylesBorins, Please, ar you still following up on this? I'm happy to help where I can.

[2020-04-08 17:25] jkrems commented on #489
I’d be surprised if anything there is still relevant. +1 for archiving it.

[2020-04-08 17:25] jkrems commented on #489
I’d be surprised if anything there is still relevant. +1 for archiving it.

[2020-04-08 17:26] bnb commented on #489
+1 if modules folks thinks it's fine, which they seem to.

[2020-04-08 18:01] GeoffreyBooth commented on #489
Fine by me. I think the issues should get migrated somewhere though, either the main Node repo or the modules repo? I guess the PRs could get migrated to the Node repo or just archived?

[2020-04-08 18:57] obensource commented on #487
Looks like this issue was resolved a couple days ago and videos are being uploaded properly again.

Maybe @mhdawson might know if the videos between March 26th and April 6th (I think that timeline is correct) were clobbered and no longer exist, or if they're recoverable (no pressure either way, just curious).

I went ahead and updated the [Release working group meeting video](https://www.youtube.c

[2020-04-08 19:31] MylesBorins commented on #483
Applications open April 13th and Close May 4th. I can work with @brianwarner on the initial bits of the application

[2020-04-08 23:30] sam-github opened #490 "new github team: platform-ibmi"
We'd like to make a @nodejs/platform-ibmi team to ping about issues, see https://github.com/nodejs/node/issues/32725#issuecomment-611243162

There's a libuv port to IBMi in progress (almost complete?) and a nodejs one is in-progress as well.

[2020-04-08 23:49] richardlau commented on #490
👍. For some context IBM i and AIX are not the same thing (although IBM i PASE provides a means to ["port IBM AIX® applications to the IBM i platform with minimal effort"](https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_73/rzalf/rzalfintro.htm)).

While it's okay to ping IBMers in any of the IBM platform teams, e.g. platform-aix team, it would be more direct to go directly to the IBM team tha

[2020-04-09 00:00] cjihrig commented on #490
+1

[2020-04-09 02:33] ThePrez commented on #490
For reference, we've had Node.js running since v0.x, but we are just now working to add the platform to the community builds. We are slow like that. :-(

For what it's worth, market research shows a whopping 26% of IBM i customers are using Node.js (#NotATypo)!

If we have a Node.js platform team, I would suggest the same members as @libuv/ibmi

[2020-04-09 08:49] bnoordhuis commented on #490
Said team consists of the following people:

@kadler
@markdirish
@ThePrez
@mgoffmn
@abmusse

[2020-04-09 15:20] Trott commented on #490
+1

[2020-04-09 15:31] targos commented on #490
+1

[2020-04-09 15:38] addaleax commented on #490
Done, created the team and invited the people from the libuv team + @dmabupt who was suggested in the referenced issue.

[2020-04-09 16:49] #490 closed

[2020-04-10 18:45] mmarchini commented on #488
+1 on keeping node-auto-test

[2020-04-10 22:31] obensource commented on #487
Hi all! 👋

Reopening this issue since we're still experiencing streaming issues. I tried starting the live stream twice today when kicking off an i18n meeting, and both attempts failed.

@brianwarner & @mhdawson: any luck with the support ticket?

I also noticed that the description for a lot of our meetings point to an old OpenJS CPC bootstrap meeting, and that the title of the Release working gr

[2020-04-13 17:02] Trott opened #491 "Changing name of localization team"
Per https://github.com/nodejs/i18n/issues/219#issuecomment-608949928 and subsequent comments, I'd like to remove the existing @nodejs/translators team (which I think was just created very recently, and change the name of @nodejs/localization to @nodejs/translators

Someone please say something if this is a problem. Thanks!

@nodejs/community-committee @nodejs/tsc

[2020-04-13 18:41] alexandrtovmach commented on #491
Yeah, sounds great!!! If it's possible could you also add me as admin for this team, so I can organize stuff?
@benjamingr any objections?

[2020-04-14 15:04] mhdawson commented on #477
The repos have been created, closing.  The maintainers will be managed through the ci-config-travis-maintainers and ci-config-github-actions-maintainers teams.  Initially I've just added @dominykas to that list.  We have an action to document more governance for the package maintenance team and we'll include in that how the two maintainer teams will be managed.

[2020-04-14 15:04] #477 closed

[2020-04-14 15:08] mhdawson opened #492 "Install github dco app for use in ci-config-travis and ci-config-github-actions repos"
For the new ci-config repos requested by the Package-maintenance team I'd like to enable the DCO github app https://github.com/apps/dco to enforce sign offs for the commits.

[2020-04-14 15:20] ljharb commented on #477
I’d like to be on the Travis list.

[2020-04-14 15:35] mcollina commented on #492
sgtm

[2020-04-14 21:50] mhdawson commented on #487
I think I fixed it by making the "stuck" video private. After that the build WG meeting streamed ok.  We should leave this open until a few more people confirm its working again.

[2020-04-15 22:21] mhdawson commented on #489
+1 based on modules team indicating its a good idea

[2020-04-15 22:50] jkrems commented on #489
I don't remember us ever looking at them and we're not deleting the repo or taking any other irreversible action. If somebody wants to actually continue any of the issues, they either (a) have already done it and the ecmascript-modules ones is an inactive dupe or (b) can always do it in the future.

[2020-04-15 22:53] MylesBorins commented on #489
all issues and PRs are currently closed. I believe those get maintained
during archiving, which should be sufficient.

On Wed, Apr 15, 2020 at 6:50 PM Jan Olaf Krems <notifications@github.com>
wrote:

[2020-04-15 23:01] mhdawson commented on #470
@wesleytodd I think leaving this open and using to document is a good idea.

[2020-04-16 15:56] Trott commented on #489
Archived.

[2020-04-16 15:56] #489 closed

[2020-04-16 16:23] bnb opened #495 "archive nodejs/wishlist"
The https://github.com/nodejs/wishlist repo was never started in the direction it was intended to and the person who started it has confirmed they're not going to be able to prioritize that over other work.

[2020-04-16 16:37] mhdawson opened #496 "2nd Director seat- post July 2020"
Creating issue here so we can put on tsc and commcomm agenda as follow up to the emails sent out.

Issue in the CPC repo:
https://github.com/openjs-foundation/cross-project-council/issues/438

[2020-04-16 16:39] joesepi commented on #472
As per https://github.com/nodejs/community-committee/issues/586, I'll keep serving as the Voting Representative for the @nodejs project for the next term.

[2020-04-16 16:39] joesepi commented on #472
Closing this issue as elections have concluded. Thanks all.

[2020-04-16 16:39] #472 closed

[2020-04-16 16:46] codeekage commented on #483
Hello @MylesBorins please, are there any updates on this?

[2020-04-16 18:07] WaleedAshraf commented on #495
+1

[2020-04-16 18:11] MylesBorins commented on #483
@brianwarner can you please fill out the form found at https://docs.google.com/forms/d/e/1FAIpQLSfW36sFci3s51hFtJSZ_V2FcaMXJ-uCig84ynnn9ezoe9H_MQ/viewform

ping me if you need answers to questions

[2020-04-16 18:12] bnb opened #497 "Install semantic-pull-requests for nodejs/examples"
I'd like to request that the Semantic Pull Request [GitHub App](https://github.com/apps/semantic-pull-requests) ([source](https://github.com/zeke/semantic-pull-requests)) be added for [nodejs/examples](https://github.com/nodejs/examples).

The GitHub App is built by a long-time Node.js community member and current Node.js project member (i18n) @zeke.

I've found it useful in helping create consist

[2020-04-16 19:09] joesepi commented on #495
+1

[2020-04-16 19:35] alexandrtovmach commented on #491
We're already done with guidelines, and would like to make a few announcements for all teams, and resolving this issue will be very helpful 😉

[2020-04-16 20:09] zeke commented on #497
👋 happy to help support this if it's what the community wants.

For the uninitiated, I recorded a demo that covers how to set up and use `semantic-release` and the Semantic Pull Requests GitHub app:

- Tweet: https://twitter.com/zeke/status/1240717367501414400
- Video: https://www.youtube.com/watch?v=rCXq86FOlzQ&feature=emb_logo
- Repo: https://github.com/zeke/semantic-release-with-github-actions

[2020-04-16 21:43] mhdawson commented on #495
+1

[2020-04-17 12:59] Trott commented on #491
* Moved nodejs-ko from existing translators to existing Localization
* Added write access for Localization team to i18n repo
* Deleted existing translators team
* Renamed Localization team to translators
* Made @alexandrtovmach a maintainer of the team. (The other maintainer is @benjamingr.)

One change is that the new translators team is not a subteam of i18n the way the old team was (because it'

[2020-04-17 12:59] #491 closed

[2020-04-17 13:05] Trott commented on #491
General note that I sometimes forget to share with new maintainers of parent teams like this, and might as well share more widely as a GitHub comment: Only maintainers are direct members. Everyone else gets their membership on the team by being a member of a subteam (which are the 30+ translation teams like `nodejs/nodejs-ko` and `nodejs/nodejs-ar`). As a general rule, please don't add members dir

[2020-04-17 13:07] alexandrtovmach commented on #491
@Trott Thank you so much

[2020-04-20 03:16] wesleytodd commented on #470
Awesome!  Then here is the link to the WIP charter you started in case other folks want to give feedback: https://github.com/nodejs/package-maintenance/pull/338

[2020-04-23 12:46] mhdawson commented on #492
Discussed in TSC meeting 16 April 2020 and agreed could proceed if no objections in 72 hours: https://github.com/nodejs/TSC/blob/master/meetings/2020-04-16.md#nodejsadmin

[2020-04-23 12:48] mhdawson commented on #492
It requires these permissions:

Read access to code
Read access to members, metadata, and pull requests
Read and write access to checks

Will install for only the 2 specified repositories.

[2020-04-23 13:04] joesepi commented on #492
SGTM

[2020-04-23 14:31] BethGriggs commented on #492
+1

[2020-04-23 15:08] mhdawson commented on #492
Installed for the 2 specific repositories.

[2020-04-23 15:08] #492 closed

[2020-04-23 18:14] bnb commented on #495
This has been open for a week with no -1s. Archived.

[2020-04-23 18:14] #495 closed

[2020-04-23 18:27] bnb commented on #456
+1 as long as build and TSC +1. I'm also okay with `nodejs/keys` simply based on my personal naming aesthetics, but can understand why others may differ. If we plan on including additional keys, I think this makes even more sense given that it'll be a generic catch-all and we can avoid forcing a specific use with the most generic term.

[2020-04-23 19:11] sam-github commented on #456
Remember we already have a repo that contains keys:

- github.com/nodejs/keys - has gpg keys
- github.com/nodejs/secrets - has ssh keys

I don't think anybody could guess that from the names.

Thus my suggested more specific names: https://github.com/nodejs/admin/issues/456#issuecomment-569704804

Not blocking, just anticipating people coming along and wanting to know why the build keys aren't in

[2020-04-23 22:04] mhdawson commented on #496
This is the suggestion that was made in the last TSC meeting for the projects input on the topic:

The Node.js project is happy to continue to provide a director representative and has
people who are willing to volunteer for the position. If the CPC direction is to no longer have
the Director seat assigned to the project, the project would like to be consulted/involved in
the discussion.

[2020-04-24 14:31] joyeecheung commented on #456
@sam-github  https://github.com/nodejs/secrets contains private keys (for ssh-ing into the machines), https://github.com/nodejs/keys doesn't seem to exist?  From what I can tell, https://github.com/canterberry/nodejs-keys only contains public keys. I guess we should be fine if simply document what those repos are in the README.

[2020-04-27 01:22] bnb commented on #456
@joyeecheung +1 to distinguishing in READMEs. The description could also include something along the lines of `If you're looking for public keys, please see [nodejs/keys]().` and `If you're looking for private keys, please see [nodejs/secrets (private)]().` for `nodejs/secrets` and `nodejs/keys`, respectively.

[2020-04-28 17:08] bnb opened #500 "Self-nomination: Social Team"
I'd like to self-nominate myself as a member of the [social team](https://github.com/nodejs/admin/blob/master/social-team.md) ❤️

**Context:** I genuinely love working around open-source and communications, and the social team is a good way to do that for Node.js. Having the project drive the direction of our social accounts is something I've been keen on for years, and I'm incredibly excited to s

[2020-04-28 17:18] bnb commented on #500
I suppose I should ping @nodejs/tsc and @nodejs/community-committee on this since it requires +1s with no -1s.

[2020-04-28 17:19] bnb commented on #445
Going to close this since there's no such thing as the Node.js Foundation anymore, and the OpenJS Foundation membership work is done through the CPC.

[2020-04-28 17:19] #445 closed

[2020-04-28 17:20] bnb commented on #454
Closing this since https://github.com/nodejs/admin/pull/494 is now merged.

[2020-04-28 17:20] #454 closed

[2020-04-28 17:21] bnb commented on #288
@mmarchini is this still in question? Seems like it may have been moved into Node.js: https://github.com/nodejs/build/issues/1613#issuecomment-596848805

[2020-04-28 17:23] addaleax commented on #500
+1

[2020-04-28 17:24] bnb commented on #303
Is there any forward movement on this issue? The question does seem to have been answered. I'd be +1 to it since it would indeed make managing CommComm work easier, but obviously we'd need to go through the correct process.

If not, can we close it?

[2020-04-28 17:24] bnb commented on #317
@joyeecheung did those ever get uploaded? If not, do they still need to be? I'd be happy to do so if needed.

[2020-04-28 17:26] bnb commented on #392
Going to close this since it seems resolved (and @benjamingr's comments still hold true to this day). If needed, please feel free to reopen 👍

[2020-04-28 17:26] #392 closed

[2020-04-28 17:26] bnb commented on #387
Going to close this since it's well past.

[2020-04-28 17:26] #387 closed

[2020-04-28 17:27] bnb commented on #388
@keywordnew is this resolved at this point? If so, can it be closed? If not, what are necessary next steps?

[2020-04-28 17:29] bnb commented on #267
I'm going to close this for now since there's been no forward movement in over a year. While I think it would still be a nice thing to have, I don't think other folks are as on-board with it as I am. More than happy to be wrong - please feel free to re-open if I am 👍

[2020-04-28 17:29] #267 closed

[2020-04-28 17:30] bnb commented on #369
seems like we had +1s. Do you want to make a template repo and then request that it be moved into the org @devsnek?

[2020-04-28 17:32] bnb commented on #389
Is there any further steps here? If so, what are they? If not, can we close this?

[2020-04-28 17:34] bnb commented on #422
@joyeecheung I would be happy to send that PR if needed, pending getting the details from the Website WG.

[2020-04-28 17:36] targos commented on #500
+1

[2020-04-28 17:37] Fishrock123 commented on #389
This kind of audit should be done yearly at least, imo.

I can be removed from the google account now too.

[2020-04-28 17:38] jasnell commented on #500
+1

[2020-04-28 17:39] MylesBorins commented on #422
I just got previews setup on nodejs.dev using GitHub actions, the nodejs-infrastructure gcp account, and a free tier cloudflare cdn.

I could likely spin this up to do staging previews for .org rather painlessly if folks are interested. With that said it isn't a huge deal to use netlify

[2020-04-28 18:30] ahmadawais commented on #500
+1

[2020-04-28 18:48] cjihrig commented on #500
+1

[2020-04-28 19:09] BridgeAR commented on #500
+1

[2020-04-28 20:10] joesepi commented on #500
+1

[2020-04-28 20:47] joyeecheung commented on #317
@bnb From a quick search in our YouTube account, I don’t think they have been uploaded. Would be great if they are, thanks!

[2020-04-28 21:17] mcollina commented on #500
+1

[2020-04-28 21:23] mhdawson commented on #500
+1

[2020-04-29 02:12] gireeshpunathil commented on #500
+1

[2020-04-29 10:22] WaleedAshraf commented on #500
+1

[2020-04-30 13:09] Trott commented on #389
It will probably be forgotten unless it is made someone's responsibility. "An audit will happen yearly" means it probably won't happen. "The CommComm Chair will perform an audit or identify someone to perform an audit in June of every year" is more likely to actually happen.

The question is: Who is the best person or people to take on this duty? Foundation folks? CommComm? TSC? Someone else?

[2020-04-30 16:30] joesepi commented on #496
In today's @nodejs/community-committee meeting, we discussed this issue. @keywordnew highlights the value we've had in our Node.js meetings to have a member of the board give updates directly. An ask could be to have the new rep, if it is not a Node specific person, to give a monthly update to the top level meetings (TSC/Comm Comm).

[2020-04-30 21:14] joesepi commented on #496
I should also note that in today's comm comm meeting we were essentially on the same page as the TSC statement above.

[2020-05-01 03:39] keywordnew commented on #496
FWIW, yes, I'm in strong agreement with @bnb's initial opinion

[2020-05-04 19:32] mhdawson commented on #389
I think adding it to the list of things for either the CommComm or TSC chair makes sense.  I think it should be up to whoever we choose, to ensure it happens either by finding a volunteer or doing it themselves.

[2020-05-04 19:41] mhdawson opened #503 "Approval to enable github pages for node-addon-examples"
The N-API team is working to move the workshop material we've done at past conferences into the node-addon-examples repository.

You can read up on more of the details in https://github.com/nodejs/abi-stable-node/issues/391#issuecomment-619642068 if you are interested.

In support of that we'd like to use github pages to deliver the end result. We'd need to enable GitHub pages for that in the repo

[2020-05-04 19:41] mhdawson commented on #503
@nodejs/n-api FYI

[2020-05-05 19:58] bnb commented on #500
Opened this 7 days ago, but realized I didn't actually codify the social team mirroring the 7 day window policy that the Moderation Team has, so I've now opened up a PR for that: https://github.com/nodejs/admin/pull/504

I suppose that without further objection, I'd like to recommend this could be considered "approved" on Friday this week to add 4 additional days for objections since that policy w

[2020-05-07 00:12] keywordnew commented on #388
This initiative continued for a few months, at least till an an AMA for CommComm in November 2019. Rachel and Eva from This Dot were championing this, I believe.

I'll close this issue for now, as goal-setting had been completed. As for the continuity of the AMAs, that's an open-ended question :)

[2020-05-07 00:12] #388 closed

[2020-05-07 20:20] mhdawson commented on #389
@brianwarner volunteered to take this on if we want the foundation to take this on.

[2020-05-07 20:21] mhdawson commented on #389
@nodejs/community-committee are you ok with @brianwarner/foundation handling this?

[2020-05-07 20:24] brianwarner commented on #389
Proposed process from the TSC meeting:
* Brian to generate a list of people with access
* Brian to work with chairs of TSC and CommComm to do initial filtering of who should be on the list
* Any names not tagged in the first round will be distributed to the broader TSC and CommComm for consideration
* Any names not tagged in either round will be pruned from the account.

[2020-05-08 17:45] mhdawson commented on #389
+1 to the suggested process.

[2020-05-08 19:09] bnb opened #505 "Publishing @nodejs/i18n under `@nodejs` scope on npm"
Currently the @nodejs/i18n team has been working on making the translated docs into a module. Currently, it's only consumable via git installs. There's currently an open issue requesting to publish it as @nodejs/i18n on npm: https://github.com/nodejs/i18n/issues/328

 How can we make this happen? 😇

[2020-05-08 19:47] amiller-gh commented on #389
Hi all, briefly surfacing from my startup-life exile to +1 the above process and to say I also don't need access any more 🙏

Miss you all!

[2020-05-08 21:16] ahmadawais commented on #389
+1 to @brianwarner's suggestions.

[2020-05-08 21:45] bnb commented on #500
It's currently End of Work on Friday. There's been no -1s and no -1s to my assertion about it ending today, so I'm going to say this is finalized. I'll work with the appropriate folks on Monday to get things set up and transferred into the Social Team's hands ❤️

[2020-05-11 22:48] #500 closed

[2020-05-11 23:06] bnb commented on #503
+1 to this but I think in the future as we move forward with refining our website, it would be nice to consolidate and centralize our websites into either subdomains or pages of the official Node.js website to enable the ecosystem to find all our data and useful things rather than having some on subdomains, some on pages of the site, some on GitHub pages, and some on other random services.

[2020-05-11 23:10] bnb commented on #503
Also: I respect reaching out to nodejs/admin but I don't think turning on GitHub Pages is something that should require admin-level approval. I know this is at odds with my previous statement, but at present my previous statement is not reality. If a WG, initiative, or team wants to turn things on, I think they should be able to without this level of process. What that looks like should probably b

[2020-05-13 20:51] mhdawson commented on #503
@bnb,for GitHub pages I agree teams should be able to do that if needed, but I don't think we have that documented anywhere yet.

[2020-05-15 16:49] canterberry commented on #456
Wait, the Node.js team is storing their GPG and SSH private keys in a shared (albeit private) repo on GitHub? If this is true, then I think we have a bigger issue to tackle.

[2020-05-15 17:00] canterberry commented on #456
@joyeecheung :+1: Knowing now that both `nodejs/keys` and `nodejs/secrets` both currently exist and contain secrets, to revise my initial proposal:

 * Move all GPG private keys into the **nodejs/secrets** repo.
 * Delete the current private **nodejs/keys** repo (to ensure private keys are absent from the repo history).
 * Create a new **nodejs/keys** repo, initially marked as *private*.
 * Copy t

[2020-05-16 04:20] rvagg commented on #456
What is this existing nodejs/keys repo? Can someone with org access please definitively confirm that such a thing exists and what it contains? I'm not aware of it ever existing and have only been without org admin access for a year or so now. The secrets repo is nodejs-private/secrets. I don't believe we're storing GPG private keys for anything anywhere, I know for sure we're not in secrets. Our p

[2020-05-16 05:03] canterberry commented on #456
Thanks for clarifying @rvagg . It's a bit unclear to non-members whether such a repo exists, since if it does it would be private. It wasn't until [this comment](https://github.com/nodejs/admin/issues/456#issuecomment-618601953) that it seemed like there might be a conflict preventing this proposal from moving forward.

[2020-05-16 05:08] targos commented on #456
There is no nodejs/keys repository

[2020-05-16 20:48] bnb commented on #456
+1 to what @targos said - there is no nodejs/keys repo (confirming as an org owner).

[2020-05-19 19:45] bnb opened #509 "Setting up 1Password for Teams for Node.js"
1Password kindly offers [free Teams plans](https://github.com/1Password/1password-teams-open-source) for Open Source projects.

One of the features that is offered through Teams plans is shared 2FA. Authorized users have access to a cycling 2FA code that's compatible with most/all MFA-enabled sites.

Given that we now have a Node.js Social Team that has password-based access to the @nodejs Twitter

[2020-05-19 20:04] mmarchini commented on #288
(sorry, I thought I replied here but apparently I forgot to hit "Comment" days ago :upside_down_face:)

We have a nodejs.org DNS entry pointing to the dashboard now, and I moved the infrastructure to Glitch (which makes maintenance considerably simpler). If folks are interested in contributing and evolving the dashboard, I think moving the repository to the foundation (which was the goal of this i

[2020-05-20 17:23] bnb commented on #288
I think it would be nice to move it into the Foundation if it's something on the nodejs.org website :)

[2020-05-20 18:03] mmarchini commented on #288
Cool!

I guess the only item missing to move it to the org is a `CONTRIBUTING.md`?

[2020-05-21 21:27] sam-github commented on #503
There was a org wide audit of wikis from a security perspective, because some of them were turned on, world-writable. It was a fair bit of work, @MylesBorins I think did the work, but it gave me the sense that turning features in a github repo on and off is not just the concern of the people working in that repo, it can have org wide concerns.

The posting of an issue in admin isn't so much of a "

[2020-05-21 21:28] mhdawson commented on #389
@brianwarner seems like your proposal looks good to people, can we move to the next step?

[2020-05-21 21:39] brianwarner commented on #389
Sounds good, it's good timing because I'm doing the same thing right now for jQuery. I'll build a list of people who have accounts in gsuite, or are on google groups mailing lists, or are currently owners/content managers on YouTube.

[2020-05-22 13:58] mhdawson commented on #503
I have a tool somewhere which I used to audit the wikis, have always thought we should add that to our automation but never quite got to it.

I'm on the same page as @sam-github its a pretty small ask to open an admin issue and believe the benefits are worth it.

[2020-05-22 13:58] mhdawson commented on #503
This was discussed/raised in both TSC and CommComm meetings and there were no objections in the following week. Considering approved.

[2020-05-22 13:58] #503 closed

[2020-05-26 20:21] sam-github opened #510 "do we need to get more GHA budget for node-private?"
I know most people here can't see node-private, but its a copy of the nodejs/node repo in a private repo, used while discussing and developing fixes for embargoed issues.

Since its an exact copy of nodejs/node (except for the pre-release branches), it has the github action configuration.

And I got this over the weekend:

To ensure your service isn't disrupted, make sure you increase your monthly

[2020-05-26 20:27] richardlau commented on #510
There's some stuff that's currently only tested via actions (build/test with address sanitizers (ASAN) enabled and build/test from the source tarball).

[2020-05-26 21:05] sam-github commented on #510
That's a good point.

So, who do we have that has some contact with GH? Maybe we can get some sponsored quota?

We must be out of quota because private repos are assumed, usually correctly, to be closed source, because I am certain that there is way more GHAs being triggered on nodejs/node than there are on the quite quiet nodejs-private/node-private repo.

[2020-05-26 22:40] nschonni commented on #510
Not sure if you already looked at it, but the new-ish vulnerability disclosure stuff built in to GH has with private forks https://help.github.com/en/github/managing-security-vulnerabilities/creating-a-security-advisory
Not sure if it counts as private build quota, and maybe wouldn't work with the other Jenkins setup though

[2020-05-26 22:41] sam-github commented on #510
I've seen it, but like I said

[2020-05-28 14:30] mhdawson commented on #510
@bnb is this something you can help with?

[2020-05-28 14:57] bnb commented on #510
Will reach out to some folks.

[2020-05-28 15:02] bnb commented on #510
Also: I'd definitely recommend taking a look and seeing if we can optimize our usage at all just so we don't have an exponential growth problem.

[2020-05-28 15:36] martinwoodward commented on #510
:wave: Martin from GitHub here - I'll talk to GitHub support and see if we can help.  It will probably mean upgrading the org to GitHub Enterprise plan so that you get a lot of private action minutes included. Shouldn't affect things though other than you'll see some additional features you don't have in teams.

Long term we want to make it so Security Advisories work for you so that you don't hav

[2020-05-28 15:41] martinwoodward commented on #510
Can you check it now? - did I fix it for you?

[2020-05-28 16:20] bnb commented on #389
Removing the agenda item for now since it seems like there's nothing to be done from CommComm's side currently.

[2020-05-28 16:38] sam-github commented on #510
@martinwoodward thank you!

https://github.com/organizations/nodejs-private/settings/billing says we are GHE, I don't know how to check the GHA budget -- I got a notification by email, but it didn't include any links, and I just poked around for a couple minutes and didn't find anything.

For using the advisories, its mostly a matter of time, but also a matter of nervousness :-).

I was about to t

[2020-05-28 16:41] #510 closed

[2020-05-28 17:01] sam-github opened #511 "request to add aixtools (Michael Felt) to the platform-aix team"
background: https://github.com/nodejs/build/issues/2328#issuecomment-634843571

@aixtools is an AIX expert who has volunteered to receive notifications for when @nodejs/platform-aix is pinged in nodejs (build or node).

This kind of expertise is valuable, somewhat rare, and we could use more of it.

Adding @aixtools to https://github.com/orgs/nodejs/teams/platform-aix requires adding him to the or

[2020-06-04 05:21] Trott commented on #511
@sam-github For @nodejs/platform-* teams, you can unilaterally add people. No one really "owns" any of those teams, and for platforms like AIX and SmartOS, it's hard to imagine turning down anyone willing to dive in on issues.

[2020-06-04 10:52] aixtools commented on #511
Just thought I'd mention - when I try the link  https://github.com/orgs/nodejs/teams/platform-aix from above I get:
![image](https://user-images.githubusercontent.com/10852597/83748212-21112900-a662-11ea-9c40-43c0894f645b.png)

[2020-06-04 10:57] richardlau commented on #511
I believe the way GitHub works is that the team pages are only visible to members of the organization the team belongs to.

[2020-06-04 11:17] aixtools commented on #511
Sounds good. Then I'll know when I "am in" :)

[2020-06-04 16:07] sam-github commented on #511
@aixtools I sent you the invite, thanks so much for the offer.

[2020-06-06 00:44] brianwarner commented on #483
I realized this is still open, and wanted to give the update that we are participating. The application is here: https://github.com/openjs-foundation/cross-project-council/tree/master/mentorship/2020/google-season-of-docs

This issue can probably be closed.

[2020-06-06 01:55] #483 closed

[2020-06-06 03:01] aixtools commented on #511
I’m in. Thanks

Sent from my iPhone

[2020-06-06 04:16] #511 closed

[2020-06-11 19:18] bnb commented on #509
I opened this 23 days ago with no negative comments from @nodejs/tsc and @nodejs/community-committee. Given that, I'm going to take the time to apply for the 1Password Teams plan that's free for us, and will PR the documentation around it once it's approved.

[2020-06-15 23:22] mhdawson commented on #389
@brianwarner just making sure this is still on your list.

[2020-06-18 08:43] benjamingr opened #512 "Question regarding visibility of CoC reports"
Hey,

Our [moderation policy](https://github.com/nodejs/admin/blob/master/Moderation-Policy.md#requesting-moderation) details what happens when a report is received at report@nodejs.org :

I have a few questions and would like to clarify a few things:

 - I want our process to include specific permission to discuss the specific details of a moderation request between project members outside the Gi

[2020-06-18 12:58] Trott opened #513 "ES modules repo/team cleanup"
I'd like to archive https://github.com/nodejs/dynamic-modules. It seems inactive.

I'd also like to remove the modules-observers team. It seems to have served its purpose. As modules becomes less and less of an isolated strategic initiative and more and more something in core, an observers team seems less necessary.

I'll leave this open for at least 72 hours (and probably longer) for comments bef

[2020-06-18 13:35] zackschuster commented on #513
i'm a member of modules-observers. would i be able to transfer to a different team? i'd like to stick around :)

[2020-06-18 14:05] giltayar commented on #513
You can take out the modules observer group, but you won't be able to stop me observing you! 😃

Thank you for the time spent as a member and as an (official) observer (and especially for @MylesBorins for inviting me to join). I learned a lot, and hopefully contributed some, even if just a little.

And kudos for the great work in delivering ESM to Node.js!

And, as a parting gift, here's a talk abo

[2020-06-19 04:13] Trott commented on #512
/ping @nodejs/tsc @nodejs/community-committee

[2020-06-19 04:22] gireeshpunathil commented on #512
I am fine leaving it to the discretion of the moderation team , based on the perceived seriousness of the content and based on the discussion they have, they may decide to disclose the full content, or disclose the theme but omit the identities

[2020-06-19 17:10] Trott commented on #512
I think we should remove the requirement in the policy to open an issue. I think posting in the report to TSC/CommComm (which I currently post in the TSC meeting issues once a week) should be sufficient. I know the moderation repo is supposed to be a private repo for Node.js members and its contents are supposed to be confidential. In reality, we give access to hundreds of people around the globe

[2020-06-21 07:08] MylesBorins opened #514 "archive https://github.com/nodejs/open-standards"
Work has moved to https://github.com/openjs-foundation/standards

[2020-06-21 13:27] Trott commented on #514
Should we also remove the @nodejs/open-standards team or does that still serve a purpose?

[2020-06-21 21:47] MylesBorins commented on #514
I think we can also remove that team

[2020-06-22 12:08] coreyfarrell commented on #513
I don't have the bandwidth to enable notifications for the entire nodejs/node repository but membership in the modules-observers team gives me notifications I need.  Maybe I should request transfer to the modules-active-members team but I think the modules-observers team still has a valid purpose.

[2020-06-22 14:07] benjamingr commented on #513
@giltayar knowing you: if you are interested and want to get involved in more areas including but not limited to:

 - Universal JavaScript (EventTarget/AbortController)
 - Streams and the (possible) new HTTP API
 - Promises UX
 - Docs
 - People engagement and CommComm

All those things could use help and of course - the modules team is still very much active and working on shipping ESM and I'm sur

[2020-06-22 14:58] coreyfarrell commented on #513
@benjamingr I'm aware of my membership in the tooling team.  As a member of modules-observers I receive notifications for any issue/PR tagged with `@nodejs/modules`.

[2020-06-22 21:12] mhdawson commented on #512
I agree with @Trott with working to ensure we don't identify parties.  I wonder if we should have a more private repo where an issue is opened instead, possibly with normally only the Moderation team having access?

[2020-06-23 00:19] guybedford commented on #513
Sounds good, thanks @Trott for the cleanup here.

Typically we only cc @nodejs/modules-active-members when writing a PR or modules issue. How are observers still getting notified for these? Or is this a special rule for labels?

[2020-06-23 19:07] bnb commented on #514
+!

[2020-06-23 19:41] MylesBorins commented on #514
Done

[2020-06-23 19:50] Trott commented on #514
Re-opening pending removal of the team as well. Self-assigning so I'm not creating work for anyone else. :-D

[2020-06-23 20:27] Trott commented on #514
Deleted the team.

[2020-06-23 20:27] #514 closed

[2020-06-24 16:12] jasnell opened #516 "Next steps for Black Lives Matter support"
First off, let me state up front that I'm locking this issue immediately to outside contributors.

@nodejs/tsc @nodejs/community-committee :

We need to discuss and decide upon the next stage of our committed support for Black Lives Matters. Our first step was to create the full page message of support which has now transitioned into a banner. In that message, we commit to taking proactive steps t

[2020-06-24 16:17] bnb commented on #516
To clarify, I assume this is to prevent troll spam (which I don't doubt would happen) and not because we want to exclude folks, right?

I think one of the first steps we need to take is follow through on making ourselves available for working with Black members of the ecosystem, either 1:1 or however they're comfortable. Providing multiple methods to approach us - a GitHub issue, a Calendly bookin

[2020-06-24 18:26] MylesBorins opened #517 "Add collaborators as "Read" to this repo"
@nodejs/collaborators or @nodejs/members should be added so they can participate in locked conversations.

[2020-06-24 19:42] MylesBorins commented on #516
FWIW the black lives matter email address has continued to receive emails which we have actively been responding to and working with folks who have asked for support

[2020-06-25 01:55] Trott commented on #516
We should probably quantify that. Might be useful to share somewhere as evidence of action on the commitment. And is definitely useful as a metric we can look at for internal discussion about how we're doing and what next steps might be.

[2020-06-25 04:27] MylesBorins commented on #516
@Trott here are an idea of some numbers we could report. I'm not saying that we should, and we would likely want to talk with the people we are working more closely with to see if they are comfortable with this kind of data being shared.

* how many emails we received
* how many emails we received that were thankful supportive of the message
* how many emails we received that were critical of the

[2020-06-25 15:09] bnb commented on #516
I can do the same for Twitter DMs to @nodejs for whatever metrics we decide.

[2020-06-25 18:23] AshCripps opened #518 "Audit platform teams"
Out of the ci stability session came the proposal that we audit the various platform teams we have in node to ensure that everyone is still active and willing, then allowing us to drive for more people to join them to help the fight to improve our CI stability.

The teams:
@nodejs/platform-aix
@nodejs/platform-arm
@nodejs/platform-macos
@nodejs/platform-ibmi
@nodejs/platform-freebsd
@nodejs/platfo

[2020-06-25 18:23] AshCripps commented on #518
cc @Trott

[2020-06-26 04:10] Trott commented on #516
I'd be interested in this one:

The related ones about how people felt about our attempts to give them that support...that would be useful too, but not strictly necessary for that one above to be useful, and it seems like that one above is one we can count up more-or-less immediately, I would think.

[2020-06-26 04:32] gireeshpunathil commented on #516
some success criteria (that can be refined):

 - n number of people mentored per year (define n)
 - n number of people on-boarded per year (define m)
 - a survey conducted per year whose result shows visible and positive response about the initiative

[2020-06-26 15:35] benjamingr opened #519 "Nodejs-he team"
Hey, there is a @nodejs/nodejs-he team that hasn't been active for ~5 years https://github.com/nodejs/nodejs-he

It contains 3 members: myself (I'm also a member of several other teams), @a8m and @AvnerCohen with @gonenduk with a (long pending?) membership request.

As the team is inactive, I think we should remove it but there might be an overarching theme I am not aware of.

As a side note - if

[2020-06-26 15:38] benjamingr commented on #519
Also, it appears that I am a direct member of the translators team (not sure why?) - I tried checking the audit log or my email but I think that's a mistake.

Unless there is a reason I don't understand (I'll wait for a few days) I'll remove myself as a direct member of the translators team.

Fwiw @alexandrtovmach is also (the only other) direct member of the translators team. I am also not entire

[2020-06-26 16:16] aixtools commented on #518
Is a reply sufficient for this audit?

On 25/06/2020 20:23, Ash Cripps wrote:

[2020-06-26 16:23] AshCripps commented on #518
@aixtools this issue is more calling for said audit that is being handled in other repos, That being said as a new member we know you are active :)

[2020-06-27 02:02] bnb commented on #516
Worth noting: only people with write access to this repository can now comment, which excludes much of the collaboratorship.

[2020-06-27 20:04] mmarchini opened #520 "Request to join @nodejs/automation-admins"
@nodejs/automation-admins is the only team with admin access to https://github.com/nodejs/node-auto-test. That repository is useful to test automation tools, but sometimes changing the repository settings is needed to enable automation (so we know the requirements before moving any automation to nodejs/node). I have access to the Settings tab since I'm on TSC, but don't want to abuse the access, s

[2020-06-28 08:02] gireeshpunathil commented on #520
+1 to grant access to Matheus

[2020-06-28 14:54] tniessen commented on #517
+1 to @nodejs/members.

[2020-06-28 15:35] codeekage commented on #517
+1

[2020-06-28 17:29] tniessen commented on #517
Adding @nodejs/members with "Read" access might not help:

Citing @bnb from https://github.com/nodejs/admin/issues/516#issuecomment-650473171:

[GitHub seems to confirm this.](https://help.github.com/en/github/building-a-strong-community/locking-conversations)

[2020-06-29 01:35] bnb commented on #288
Looks about right (sorry for the delayed response!)

[2020-06-29 02:07] mmarchini commented on #517
Any concerns on adding @nodejs/members with write permission? If we want to limit commits here, we could set branch restrictions.

[2020-06-29 02:29] gireeshpunathil commented on #517
I would rather move the relevant issue ( #516) to a less restricted repo such as core. Adding write permissions to the org members does not seem to align well with the stated purpose of this repo? (`Administration for TSC + Community Committee collaborative efforts`)

[2020-06-29 15:28] bnb commented on #517
This would exclude CommComm from the discussion.

[2020-06-29 15:55] tniessen commented on #517
We should probably just unlock #516 then, and delete undesired comments quickly.

[2020-06-29 16:54] gireeshpunathil commented on #517
apologies, did not know that, and definitely did not mean it!

[2020-06-29 19:42] bnb commented on #509
This has been completed. PR up momentarily.

[2020-06-29 20:51] bnb commented on #517
no offense taken! Just wanted to make sure that it was shared <3

[2020-06-29 20:54] mmarchini commented on #517
I agree with @tniessen, and if the volume of undesired comments grows quickly, we can lock again and figure out another way to handle this.

[2020-06-29 23:38] mmarchini commented on #520
Pinging @nodejs/tsc and @nodejs/community-committee just in case

(I don't think we have a defined process to request to join a more privileged team?)

[2020-06-30 13:07] Trott commented on #513
I archived the dynamic-modules repo. Still have to figure out what to do with the team.

[2020-06-30 17:31] jbergstroem opened #522 "Request to create new oauth app for grafana authentication"
I seek the approval for creating a new oauth2 application in the nodejs org that helps provide access levels to grafana, similarly to how jenkins authenticates the different teams.

Since each oauth app has its own callback url, I cannot reuse the one from jenkins.

Context and background here: https://github.com/nodejs/build/issues/2370

cc: @mmarchini @MylesBorins

[2020-06-30 17:39] mmarchini commented on #522
cc @nodejs/tsc @nodejs/community-committee

[2020-06-30 17:39] mmarchini commented on #522
+1 from me

[2020-06-30 17:48] jbergstroem commented on #522
Someone with correct permissons would visit [this page](https://github.com/organizations/nodejs/settings/applications) and create this application for me. I would retrieve a client id and secret and provide a callback url [`https://grafana.nodejs.org/login/github`] to the person creating it.

More info about [how to create an oauth app in github](https://developer.github.com/apps/building-oauth-ap

[2020-07-01 03:26] zackschuster commented on #513
@guybedford we're auto-subscribed to a bunch of places, like moderation.

[2020-07-01 04:36] mmarchini opened #523 "Request permission to create personal and Jenkins tokens for `github-bot` add Secrets to `nodejs/reliability` and `nodejs/node`"
I noticed we don't have a policy to create tokens for `github-bot` nor do we have a policy to add Secrets (which are used by Actions) to repositories, so I'll assume the same requirements we have for creating GitHub Apps (because functionally creating token + adding secrets is similar to creating an App). This issue bundles a few requests:

### For `nodejs/reliability`

- Create a Jenkins token fo

[2020-07-01 12:24] gireeshpunathil commented on #523
+1

[2020-07-02 23:53] Trott commented on #519
@nodejs/i18n OK to remove the team? We should certainly archive the repo: https://github.com/nodejs/nodejs-he

[2020-07-02 23:56] Trott commented on #513
OK, someone else may make a different decision, but I'm going to leave the team, but remove folks who don't chime in about wanting to stay so that we don't have a long tail of inactive folks with access to the moderation repo, etc. If you haven't said anything in this thread and I've removed you and you want to get re-added, leave a comment in the next week or so.

[2020-07-02 23:58] Trott commented on #513
(I'll also leave folks who are active on other teams.)

[2020-07-03 00:24] Trott commented on #513
OK, all done! Closing but will repeat this bit:

[2020-07-03 00:24] #513 closed

[2020-07-03 06:58] WebReflection commented on #513
So, I woke up with:

and

... were both necessary?

[2020-07-03 09:02] alexandrtovmach commented on #519
@Trott I'm personally not sure that archive the repo makes any sense. Are there any limitations by GitHub for count of active repos? I believe not, so why we need to archive it? Later when somebody else decided to join this group:
- he/she will be disappointed with archived repo
- he/she requests to unarchive repo

My position is let's keep it as it is

@benjamingr Huge thanks to you for your time

[2020-07-03 09:19] benjamingr commented on #519
Basically the risk is that anything we put on GitHub is part of our org and all the members are members of our GitHub org and have access to some secrets (like the moderation repo). Inactive members with org access are technical debt that can bite us - of course the best thing is for them from my PoV is to get involved in the project again but other than that - they haven't been active for ~5 year

[2020-07-03 09:26] AvnerCohen commented on #519
@benjamingr I am very much interested in staying part of the node org. while i have never been super active, I am watching threads and will jump in if I see I can contribute, admittedly, it's not too frequent.

If possible at all, I'd rather leave it as is.

[2020-07-03 10:23] benjamingr commented on #519
@AvnerCohen

If you are interested and want to get involved in more areas including but not limited to:

 - Universal JavaScript (EventTarget/AbortController) and better web platform interop
 - Streams and the (possible) new HTTP API
 - Promises UX
 - Docs
 - People engagement and CommComm

Please ping me (on FB or email). Becoming a CommComm member for example is mostly just showing up for meetin

[2020-07-03 13:07] benjamingr commented on #519
By the way - As far as I understand you did not serve any active function in the Node.js org in the last 5 years nor have you had any interaction with the org. If that is a mistaken assumption then I think involvement (and team membership) in one of the areas you are currently contributing in is appropriate :]

[2020-07-03 15:27] Trott commented on #513
Thanks for the feedback. Can you elaborate a bit?  Is it that the email notifications arrived without an email explanation that this was happening? In other words, there was little context and it was impersonal. Or is it something else?

(Related: Did you want to be added back to the team?)

[2020-07-03 15:33] benjamingr commented on #513
@WebReflection feel free to ping me on Facebook (or via email) if you want to find other teams to get involved in. I think the project could benefit a lot from your contributions. Additionally if you are already involved with the work of another team you can be ask to be added back.

This was just a standard team clean-up, if you get removed from the last team you are a member of in GitHub it remo

[2020-07-03 15:34] Trott commented on #519
I was suggesting it because these repos used to be where some types of translation PRs happened (and in at least one instance, still is). But I believe we do it all through CrowdIn now. So, to me, having the repo (which hasn't been updated in approximately 5 years?) is misleading. It suggests that's where the work happens and it suggests that no work has actually happened for 5 years.

All that sa

[2020-07-03 15:43] Trott commented on #513
For that matter, modules-observers still exists and you're welcome to be added back to it. We're doing audits on a few teams right now. (Specifically, I'm doing one on platform-windows and there are other ones for jenkins-admins and various other builds groups.) There are a few reasons for pruning the group memberships. (The big one for me is access to private repos.)

It's not automatic (although

[2020-07-03 16:40] bmacnaughton commented on #513
i'd like to be added-back/kept on the module-observers team. figuring out how to make our APM auto-instrumentation work with ES modules is my current focus.

our specific implementation monkey-patches the objects returned by the require function. i'm just starting to read months of backlog but is there any particular area where i can find a focus on that specific use case? issue https://github.com

[2020-07-03 16:46] bizob2828 commented on #513
I’d also like to be added back to module observers.

[2020-07-03 17:05] WebReflection commented on #513
@Trott @benjamingr thank you both, I didn't realize myself I was just module observer, hence my "_reference counting_" went down to zero after that. I know I haven't been too active recently but ... well, work / life happens, but I assure you I'm reading pretty much everything going on in there so ... thanks for adding me back, I'll try to contribute more in the near future 👋

[2020-07-03 21:11] mhdawson commented on #522
+1 from me as well. I can help create the app once we have enough approvals. The are mandatory:  "Application Name", "Homepage URL" and "Authorization callback URL". A description is optional

[2020-07-03 21:16] mhdawson commented on #522
@jbergstroem what scopes need to be authorized for graphana?

[2020-07-03 21:16] mhdawson commented on #520
+1

[2020-07-03 21:56] jbergstroem commented on #522
@mhdawson i should really try this with another org but the documentation says `scopes = user:email,read:org`. Perhaps check if jenkins asks for something similar.

[2020-07-03 21:56] sendilkumarn commented on #513
Hi @Trott & @benjamingr same here I was removed from the org but I would like to continue being part of the org and contribute.

If there is a possibility I would like to contribute toward the following teams

- Streams and the (possible) new HTTP API
- People engagement and CommComm

Thanks in advanceadvance🙂

[2020-07-04 00:07] mmarchini commented on #520
We don't have a clear policy on joining teams, but since there has been no objections and a few approvals from TSC and CommComm, I'll go ahead and add myself to the team tomorrow.

I also opened a PR with a suggested policy to request to join a team: https://github.com/nodejs/admin/pull/525

[2020-07-04 02:15] Trott opened #526 "cleanup chakracore teams and vm repo"
I think we can probably eliminate @nodejs/ChakraCore, @nodejs/node-chakracore, and @nodejs/node-chakracore-admins. Am I wrong? Happy to keep around anything that makes sense, but at this point, I think all work has stopped on node-chakracore?

Additionally, it seems that we can archive https://github.com/nodejs/vm which stemmed from the effort to make things JavaScript engine-neutral. We can alway

[2020-07-04 02:34] mmarchini commented on #526
I'm fine with it (kinda sad though, was hoping to see time travel debugging on Node.js some day).

[2020-07-04 02:50] Trott commented on #526
Still might happen? https://developers.google.com/web/updates/2020/03/chromium-chronicle

[2020-07-04 03:10] gireeshpunathil commented on #526
may be a good idea to wait for an opinion from the pinged team members themselves? IIUC lot of effort were spent on chakra, so may be they can assert what their long term plan with it is.

[2020-07-04 03:21] jasnell commented on #526
At this point all work on the node-chakracore stuff is halted. The repo has been archived and, afaik, the team has shifted focus to v8 and chromium. It's safe to disable/delete these.

[2020-07-04 04:30] Trott commented on #526
I plan to wait at least 3 days and, given the long holiday weekend in the U.S., probably more like 5 days before acting.

[2020-07-06 00:16] bnb commented on #526
I am +1.

With my project hat on (i.e. not representing Microsoft - I am not sure what official statuses are): my understanding as an ecosystem member is that ChakraCore is still under development but as @gireeshpunathil there is a larger focus on V8 now that Edge has moved to Chromium.

Speaking with my Microsoft hat on: if it's needed/wanted, I'd be happy to figure out who the correct people are

[2020-07-06 04:45] bnb commented on #522
No objection.

[2020-07-06 16:57] ThePrez commented on #518
Are we supposed to be using this issue as a "roll call" to verify our presence for the audit, or is this issue simply to track a TODO that will be accomplished by some other means?

[2020-07-06 17:01] Trott commented on #518
It's a tracking issue. So far, I've only started the Windows team checks. Speaking of which, I should probably finish that up....

[2020-07-06 17:20] #509 closed

[2020-07-06 17:29] joesepi opened #527 "Self-nomination: Social Team"
I'd like to self-nominate myself as a member of the [social team](https://github.com/nodejs/admin/blob/master/social-team.md) 🙌

**Context:** I am a believer in the Node.js project managing its own social media and I want to work towards having a vibrant and engaged presence. I'm interested in tooling and processes to allow people within our community to help add to that presence. I'm also happy a

[2020-07-06 18:19] mhdawson commented on #527
+1 from me.

[2020-07-06 18:29] AshCripps commented on #518
On the IBM specific platforms front I'm not 100% sure we need a full audit we do aim to keep on top of it and I believe all members are IBMers or IBM affiliated but will need to double check

[2020-07-06 18:53] bnb opened #529 "Create repository `nodejs/tweet` under the Social Team"
As part of my [initial recommendation](https://github.com/nodejs/admin/issues/454) around creating the social team was to create a repository and use [Twitter Together](https://github.com/gr2m/twitter-together) by @gr2m (a former CommComm member ❤️ ) to enable us to provide more broad control of the Twitter account for project members outside of just Social Team members.

As a social team member,

[2020-07-06 18:54] bnb commented on #529
cc @nodejs/tsc @nodejs/community-committee

[2020-07-06 19:52] mhdawson commented on #530
Current status is that we are talking with the Foundation to see how they can help get this part completed

[2020-07-06 19:54] mhdawson commented on #529
+1

[2020-07-06 19:57] mhdawson commented on #518
@AshCripps I suggest you just propose the list for the IBM specific platforms. Except for people who were on the lists but were not IBMers.

@cjihrig you might do the same for smartos

[2020-07-06 22:45] nschonni commented on #530
Maybe use an existing tool like https://github.com/fossology/fossology

[2020-07-06 23:14] ahmadawais commented on #527
+1 from me as well.

[2020-07-07 01:20] ahmadawais commented on #529
+1

[2020-07-07 01:27] mmarchini commented on #529
+1

[2020-07-07 01:27] mmarchini commented on #527
+1

[2020-07-07 02:34] gireeshpunathil commented on #529
+1. A clear definition of what type of content qualifies (or a best practice around that) would be great to set upfront, IMO.

[2020-07-07 16:18] giltayar commented on #513
I’d also like to be added back to module observers.

[2020-07-08 23:34] WaleedAshraf commented on #522
No objection

[2020-07-08 23:35] WaleedAshraf commented on #527
+1

[2020-07-08 23:36] WaleedAshraf commented on #529
+1

[2020-07-09 03:13] mmarchini commented on #522
7 days have passed and no objections, although our [policy](https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#github-apps) requires two approvals from each committee (so at least four approvals) to add a GitHub App to a repository or to the org (in this case, the app is org wide IIUC). @bnb @WaleedAshraf should we consider your comments as approvals, or only as not object

[2020-07-09 03:36] jbergstroem commented on #522
I can be available with some heads up to help out.

[2020-07-09 12:38] manekinekko commented on #513
Hi @Trott & @benjamingr I was also removed from the org but I would like to continue being part of it. I have been away because of parent leave. Would love to keep contributing to the Node community, if you folk still need help please let me know. Cheers.

[2020-07-09 12:46] Trott commented on #513
I've re-added everyone who has commented.

@bmacnaughton Your invitation is still pending, which I think means you haven't accepted it in the GitHub interface? (The invitation for @manekinekko is pending too, but I just added it now.)

[2020-07-09 14:26] Ethan-Arrowood opened #531 "New Repo Request: http-next"
The NodeJS Web Server Framework Working Group requests a new repo in the NodeJS org titled **http-next**. We will be using this repo to develop a ground-up rewrite of the http core modules. This plan was discussed during the OpenJS World collaboration summit and continued during our routine working group meetings.

Here are some relevant issues for more information:
- [Future of http Organization

[2020-07-09 18:31] bnb commented on #529
Plenty of +1s. No -1s. Been open for  > 3 days. Going to go ahead and kick this off here soon.

[2020-07-09 22:10] mhdawson commented on #522
I'm on holiday now until Monday but if help is still needed at that point I can try to catch up with @jbergstroem

[2020-07-09 22:21] mhdawson commented on #531
+1

[2020-07-10 09:12] mcollina commented on #531
LGTM.

Is this going to be a node core fork?

[2020-07-10 16:17] bnb commented on #522
@mmarchini consider mine an approval.

[2020-07-10 17:34] Ethan-Arrowood commented on #531
Great question @mcollina

@jasnell do you think a fork would be best or would you like to built it in another way?

[2020-07-12 07:54] targos commented on #522
@jbergstroem Can you please provide the values for each field of the form?

![image](https://user-images.githubusercontent.com/2352663/87241668-b5229d00-c425-11ea-9cd9-cf3db60f9abc.png)

[2020-07-13 02:58] jbergstroem commented on #522
- application name: grafana acl (improvement to naming suggested)
- homepage url: https://grafana.nodejs.org
- application description: This application allows grafana to read the nodejs organization github groups and emails that allows us to implement fine-grained authorization in grafana
- callback url: https://grafana.nodejs.org/login/github

[2020-07-13 06:13] targos commented on #522
@jbergstroem I created the application. How can I give you the client ID and secret?

[2020-07-13 13:00] jbergstroem commented on #522
I emailed you my gpg pubkey.

[2020-07-13 13:27] targos commented on #522
I answered your email with the encrypted secrets.

[2020-07-13 18:36] jbergstroem commented on #522
Received. Will test the integration tonight.

[2020-07-13 18:55] bnb commented on #527
It has now been 7 days, and there have been zero objections from the TSC and CommComm. As per the social-team doc (linked in Joe's post), this is now accepted.

Going to merge https://github.com/nodejs/admin/pull/528. Welcome to the Social Team, Joe.

[2020-07-13 18:56] #527 closed

[2020-07-14 01:29] jbergstroem commented on #522
Update: looks like it works, I just need to sort out some issues on receiving the request. Bare with me and hopefully we can call it at that.

[2020-07-17 09:00] obensource opened #532 "Transfer Unicode ICU modules to Node.js"
## Request Description
@srl295 and other Unicode Consortium members who maintain the ICU npm modules that node consumes have expressed an intent to transfer ownership of the following repositories to the nodejs org:
* [`full-icu-npm`](https://github.com/unicode-org/full-icu-npm)
* [`full-icu-test`](https://github.com/unicode-org/full-icu-test)
* [`icu4c-data-npm`](https://github.com/unicode-org/ic

[2020-07-17 15:53] srl295 commented on #532
- `full-icu-npm` is the `full-icu` npm module
- `full-icu-test` is the CITGM test for it.
- `icu4c-data-npm` is the helper which builds and publishes icu4c data to NPM. This is becoming obsolete whenever https://github.com/unicode-org/full-icu-npm/issues/36 is implemented, because on the ICU side the data is published as seaprate zip files in github https://unicode-org.atlassian.net/browse/ICU-206

[2020-07-17 16:36] bnb commented on #532
I've got a minor concern here that since @srl295's focus has changed away from these modules and there was no mention of anyone _already_ maintaining it (looking to onboard vs. enabling existing maintainers) that there's a non-trivial chance that we won't be able to maintain these effectively.

[2020-07-17 19:04] ryzokuken commented on #532
:raised_hand_with_fingers_splayed: I could help out this these packages if you need any.

[2020-07-17 21:48] obensource commented on #532
@bnb out of the gate, if not much action is taken other than to transfer these to the node org – there's definitely a chance we won't be able to maintain them effectively. 💯

A couple thoughts though:
* Before transferring ownership, we should discuss this in full at our next @nodejs/i18n WG meeting with @srl295 and any other active maintainers of these repos in order to better understand the requ

[2020-07-17 23:56] srl295 commented on #532
Really great thoughts. However, it's not getting any maintenance by other ICU people. (Historically it started as part of ICU because I was revving the ICU tools, but that's been superseded by other work within Icu.) And the reality is that it is commonly used within the node ecosystem. So, owner wise if it's within node i18n it will be more likely to get any updates.

Icu-tc was supportive of thi

[2020-07-17 23:57] srl295 commented on #532
Also I'm glad to help onboard anyone/everyone, @ryzokuken (Thanks) or others.

[2020-07-20 18:31] bnb commented on #532
+1 then. I would like to only request that if we do accept that we also have a plan for messaging in the case where we're not able to find active maintainers / the maintainers that start are not able to commit to long-term maintenance.

[2020-07-20 18:36] jasnell commented on #532
+1 from me and many thanks to @srl295 for keeping it going thus far

[2020-07-20 23:03] mmarchini commented on #520
Added myself to the team.

[2020-07-20 23:03] #520 closed

[2020-07-20 23:04] mmarchini commented on #522
@jbergstroem did it work? Does this issue need to remain open?

[2020-07-21 17:43] bnb commented on #529
This is now completed

[2020-07-21 17:43] #529 closed

[2020-07-21 22:26] mhdawson commented on #532
+1 from me and thanks for all of the hard work put in by @srl295

[2020-07-21 23:25] mmarchini commented on #523
In theory this requires two approvals from TSC and CommComm (per https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#github-apps-bot-personal-tokens-and-repository-secrets), although until yesterday the policy for adding secrets was unspecified. So ping @nodejs/tsc @nodejs/community-committee.

[2020-07-22 03:30] jbergstroem commented on #522
@mmarchini will close this since the oauth app works. Thanks for the help, everyone. I will share more updates once we get the dashboard into general availability.

[2020-07-22 03:30] #522 closed

[2020-07-22 17:58] joaocgreis commented on #526
I believe the teams can be removed. I just removed the Jenkins jobs, so they are no longer necessary there. They should be easy to bring back if the effort on Node-ChakraCore is to resume.

[2020-07-22 18:27] mhdawson commented on #526
+1

[2020-07-22 18:35] mhdawson commented on #523
+1

[2020-07-23 17:55] bnb commented on #526
Seems like we have consensus. I'd say go for it @Trott.

[2020-07-23 18:33] ChALkeR commented on #526
+1

[2020-07-23 19:19] mmarchini commented on #523
Sorry for the constant pings, but this still needs two other approvals per our policy. @nodejs/tsc @nodejs/community-committee

[2020-07-23 19:37] bnb commented on #523
+1

[2020-07-23 19:40] mhdawson opened #534 "New repo nodejs-next-10"
In our initial meeting on strategy for the next 10 years of Node.js we agreed we should have a new repo to keep minutes, generating meeting issues etc.

My proposal for the repo name is

nodejs-next-10

See https://github.com/nodejs/node/issues/34260

[2020-07-23 19:56] mhdawson commented on #534
Would also like to ask at the same time for a new team called next10 that is used to manage access to the repo

[2020-07-23 20:13] mmarchini commented on #534
+1

[2020-07-23 21:04] addaleax commented on #523
+1

[2020-07-24 03:14] ahmadawais commented on #523
+1

[2020-07-24 15:26] Trott commented on #526
All done.

[2020-07-24 15:26] #526 closed

[2020-07-24 19:10] bnb commented on #534
since `nodejs` is already in the slug for the org, perhaps `next-10` or `next-ten` would be a slightly nicer naming structure? I'm always put off by `nodejs/nodejs-{x}`.

Regardless, +1 for creating a repo for this.

[2020-07-24 20:22] mhdawson commented on #534
I'm going with `next-10`, will plan to use that.

[2020-07-24 20:23] mhdawson commented on #534
will also make team name 'next-10'

[2020-07-24 21:03] bnb commented on #534
that SGTM, +1

[2020-07-25 21:30] mmarchini commented on #523
Thanks! I started to add the secrets, but apparently github-bot doesn't have all the permissions it needs on Jenkins (https://github.com/nodejs/reliability/issues/26). I'll wait until we add those permissions to it before finishing this task.

[2020-07-26 18:42] mmarchini opened #535 "Add secrets to create winget package on nodejs/node"
Requesting authorization to add secrets to nodejs/node to move forward with https://github.com/nodejs/node/pull/34014#issuecomment-647536998.

cc @nodejs/tsc @nodejs/community-committee

[2020-07-27 17:29] bnb commented on #535
+1 and 🎊

[2020-07-27 18:17] mmarchini opened #536 "Add `@nodejs-github-bot` to `@nodejs/collaborators`"
As per https://github.com/nodejs/reliability/issues/26, our bot doesn't have the necessary permission to interact with Jenkins via `node-core-utils`, which prevents it from generating CI failure reports and later will prevent it from [starting CI](https://github.com/nodejs/node/pull/34089). @richardlau [suggested](https://github.com/nodejs/build/issues/2394) we add the bot to `@nodejs/collaborator

[2020-07-27 18:29] mhdawson commented on #534
No objections in 72 hours as per: https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories so will go ahead and create the repo and team.

[2020-07-27 19:48] mhdawson commented on #534
Repo and team created, closing

[2020-07-27 19:48] #534 closed

[2020-07-28 01:10] mmarchini commented on #536
@richardlau do you know if making the `@nodejs/bots` team a subteam of collaborators would work? for Jenkins permissions?

[2020-07-28 03:48] richardlau commented on #536
I’m not sure. https://issues.jenkins-ci.org/browse/JENKINS-44920 suggests it should work, https://issues.jenkins-ci.org/browse/JENKINS-63051 claims it does not.

[2020-07-28 04:04] richardlau commented on #536
The user page in Jenkins shows the groups the user is in as far as Jenkins is concerned, e.g. https://ci.nodejs.org/user/nodejs-github-bot/

[2020-07-28 04:36] mmarchini commented on #536
Guess we can try it, and if adding as subteam doesn't work we can add the bot to collaborators directly

[2020-07-28 22:41] mhdawson commented on #536
Adding it to the sub-team makes sense to me unless we'd want to remove access for collaborators when doing as security release but still have the bots work.

[2020-07-28 23:26] jbergstroem commented on #536
(fwiw, brought up in the build team wg meeting and no one had objections to testing it out)

[2020-07-29 20:08] mmarchini commented on #536
I'll go ahead and add the bots team as a subteam of collaborators to test if that's enough. If it doesn't work I'll add github-bot as a collaborator and try again. Will keep this open until next Monday in case anyone has any objections.

[2020-07-29 20:13] mmarchini commented on #536
List of repositories the bot will gain write access when added to the collaborators team:

- nodejs/wasi
- nodejs/gyp-next
- nodejs/webcrypto
- nodejs/promises-debugging
- nodejs/reliability
- nodejs/promise-use-cases
- nodejs/node-auto-test
- nodejs/node-v8
- nodejs/vm
- nodejs/node-chakracore
- nodejs/moderation
- nodejs/help
- nodejs/code-and-learn
- nodejs/node-convergence-archive
- nodejs/nod

[2020-07-29 20:49] mmarchini commented on #536
I added the bot as both a subteam and a direct member of collaborators, and it still doesn't have permission to start CI:

![image](https://user-images.githubusercontent.com/4048656/88851705-ffd04300-d1a1-11ea-89e3-0595f441a00e.png)

I'm also getting 403 when trying via API calls.

FWIW the issue we found on reliability was different and increasing permissions for the bot was not necessary to fix

[2020-07-29 22:04] Trott commented on #536
@nodejs/build Any idea on the CI problem above?

[2020-07-29 22:15] mhdawson commented on #536
@mmarchini as an experiment have you tried adding the the permissions in the matrix for the GitHub bot user to see if that works  or not? That would clarify whether it is an issue with the permissions or how they are being assigned to the GitHub bot.

[2020-07-29 22:28] mmarchini commented on #536
I'm not a Jenkins admin so I can't do that, I'm happy to check if someone can make the changes in the matrix

[2020-07-29 22:31] mmarchini commented on #536
Did someone add the bot to the matrix? it seems to be working now

[2020-07-29 23:26] mmarchini commented on #536
Ok, the bot seems able to start CI when the `@nodejs/Bots` team is a subteam of `@nodejs/collaborators` (good, because I'm not sure we can remove a team from the subteams list of another team).

[2020-07-30 01:37] mmarchini commented on #536
Just so others don't try to do it, when I tried to remove the `@nodejs/Bots` team from being a subteam of `@nodejs/collaborators`, I got these messages:

![image (1)](https://user-images.githubusercontent.com/4048656/88870428-328e3180-d1ca-11ea-966e-b44348f33838.png)

![image (2)](https://user-images.githubusercontent.com/4048656/88870425-315d0480-d1ca-11ea-9603-0b90ba12338c.png)

I thought it was

[2020-07-30 19:03] Trott commented on #536
So you tried it after bots was removed but github-bot was added as a to the collaborators team? I'm astonished that wouldn't work. That doesn't make sense to me at all. Why would someone on a subteam have *more* permissions than someone directly on the team? So strange....

[2020-07-30 19:05] Trott opened #537 "more subteams under Collaborators"
Although I hope the need for subteams is only temporary, I've added `net` as a subteam and will add `http2` once we remove non-collaborators from that team. (The non-collaborators are not active as far as I can tell.) That will enable us to use CODEOWNERS for http2 pull requests. Refs: https://github.com/nodejs/node/pull/34534

@nodejs/tsc @nodejs/community-committee

[2020-07-30 20:19] Trott commented on #536
The answer to the "Why can't I disassociate the subteam rather than deleting it?!" question: Go the subteam's settings and there's a pull down for Parent Team. Select "Clear selected value" and that should make it not have a parent team anymore.

[2020-07-30 21:09] mmarchini commented on #536
Disassociate the subteam and addded the bot account directly to Collaborators :)

[2020-07-30 21:27] mmarchini commented on #537
+1 as long as this is a temporary solution.

[2020-07-31 05:26] gireeshpunathil commented on #537
+1

[2020-07-31 06:47] mcollina commented on #537
+1

[2020-07-31 11:10] ahmadawais commented on #537
+1

[2020-08-02 18:29] mmarchini commented on #523
All secrets were added.

[2020-08-02 18:29] #523 closed

[2020-08-02 18:32] mmarchini opened #538 "Request permission to add `github-bot` secrets to `nodejs/node-auto-tools`, and to configure webhook to the bot server"
Similar to #523, but instead we're adding secrets to `nodejs/node-auto-tools`. New GitHub and Jenkins tokens will be created. Also, the repository currently doesn't have webhooks, adding a webhook to our bot will help test features faster.

[2020-08-02 18:35] mmarchini commented on #538
Those secrets are already used on `nodejs/node` and `nodejs/reliability` as per https://github.com/nodejs/admin/issues/523, and the webhook is already configured on `nodejs/node`. Can we [fast-track](https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#github-apps-bot-personal-tokens-and-repository-secrets)?

[2020-08-04 22:34] bnb commented on #537
+1. If we're blocked on CODEOWNERS by subteams, perhaps it's worth investigating a more permanent solution - I think this is probably a valuable thing to have.

[2020-08-04 22:59] mmarchini commented on #537
FYI this might not be needed once we land https://github.com/nodejs/github-bot/pull/265 (which should be soon)

[2020-08-05 03:02] mmarchini commented on #536
This was done and the world didn't end, so closing

[2020-08-05 03:02] #536 closed

[2020-08-05 03:03] mmarchini commented on #538
cc @nodejs/tsc @nodejs/community-committee

[2020-08-05 03:04] mmarchini commented on #535
need one more from commcomm and two from TSC cc @nodejs/tsc @nodejs/community-committee

[2020-08-05 14:41] bnb commented on #538
+1

[2020-08-06 20:40] dominykas opened #539 "Travis CI on nodejs/ci-config-travis"
It seems Travis does not have access to https://github.com/nodejs/ci-config-travis and therefore all the configs there cannot be imported.

There is no `.travis.yml` at the root, but I don't think it's necessary - it seems https://github.com/hapijs/ci-config-travis works just fine without it, so I assume it is some permission at the organization level that prevents this.

Can someone please turn t

[2020-08-06 21:08] mmarchini commented on #539
cc @nodejs/tsc @nodejs/community-committee

[2020-08-06 21:10] mmarchini commented on #539
Since Travis is used on the Org already (https://github.com/nodejs/nan/runs/954394147), we can fast track. Please leave a :+1: on this comment if you agree this should be fast-tracked.

[2020-08-06 21:12] mmarchini commented on #539
Btw, +1 on the request

[2020-08-06 22:27] Trott commented on #539
Same.

[2020-08-07 02:41] Trott commented on #537
Done. Will be happy to undo it when the GitHub bot change lands. Until then, closing.

[2020-08-07 02:41] #537 closed

[2020-08-07 06:05] bnb commented on #539
+1 on the request and fast-track.

[2020-08-07 07:05] ahmadawais commented on #539
+1

[2020-08-07 16:07] Trott commented on #518
The @nodejs/platform-windows team audit is complete. The team went from 10 members to 5. https://github.com/nodejs/build/issues/2389

[2020-08-10 17:30] mmarchini commented on #539
Done! @dominykas can you confirm if it is working now??

[2020-08-10 20:12] dominykas commented on #539
Yes, it does - thanks!

[2020-08-10 20:12] #539 closed

[2020-08-11 18:14] bnb commented on #497
Per the new bot guidelines, here are the permissions the bot requires:

![image](https://user-images.githubusercontent.com/502396/89933271-d0c3c380-dbdc-11ea-8193-74192663c7c7.png)

also, per the same policy need 2 +1s from both @nodejs/tsc and @nodejs/community-committee

[2020-08-11 18:28] mmarchini commented on #497
+1

out of curiosity, any reasons to have this as a GitHub App instead of an Action (besides it already being implemented as an App)?

[2020-08-11 18:33] bnb commented on #497
That would be a good question for @zeke 👍🏻

[2020-08-11 18:41] zeke commented on #497
Borrowing from https://github.com/zeke/semantic-pull-requests/issues/90#issuecomment-671442448

There is at least one GitHub Action with similar functionality: https://github.com/amannn/action-semantic-pull-request -- but last I checked it still had an issue with surfacing multiple checks on a single PR: https://github.com/amannn/action-semantic-pull-request/issues/5

On a personal note, I would l

[2020-08-11 18:58] mmarchini commented on #497
what a weird issue :O

Both the Action and the App only check if commits are following https://conventionalcommits.org, right? If so I've been doing that on some projects with the following Action:

[code]

I'm probably missing some edge cases or some use cases though.

[2020-08-11 19:00] bnb commented on #497
@mmarchini commits || title for squash merging, and auto-updates when the title changes.

[2020-08-11 19:09] mmarchini commented on #497
Right, was just reading the Action and my example above definitely ignores the Pull Request title. I think the problem is that the https://github.com/amannn/action-semantic-pull-request Action is creating a new Status for each run so it can stay Pending until `WIP` is removed. It would probably be better to create a new Check Run, since those will be tied to the current Action Check Suite (what a

[2020-08-11 20:58] mhdawson commented on #496
Think this can be closed, it was agreed and I believed communicated that the board seat would be open to members from all projects this year.

[2020-08-11 22:00] mmarchini opened #540 "Request new `github-bot` token for `nodejs/node`"
Request permission to add another `github-bot` token on `nodejs/node`. I think it only needs the following permissions:

![image](https://user-images.githubusercontent.com/4048656/89952973-197e7b00-dbe3-11ea-8f49-c4021447a978.png)

Requesting a separate token as it provides more granularity over the permissions of each Action. If folks think we should just have a Token with umbrella read-only perm

[2020-08-11 22:46] #496 closed

[2020-08-11 23:51] zeke commented on #497
cc @amann FYI 👋🏼

[2020-08-12 06:54] mcollina commented on #540
sgtm

[2020-08-12 07:47] mcollina commented on #497
+1

[2020-08-12 16:48] mcollina opened #541 "move undici to the nodejs org"
A long time ago, I started developing https://github.com/mcollina/undici which is a replacement for Node.js core `http.request` and `http.Agent`. I think it has a reached a point of maturity where it would benefit to be in the Node.js organization instead.

wdyt?

cc https://github.com/mcollina/undici/issues/312

[2020-08-12 17:57] mmarchini commented on #509
We also have a LasPass account, what is the guidance between using one or the other? Zoom credentials are on LastPass today, any chance we can have it on 1Password (either move to 1Password or have it on both)?

[2020-08-12 18:01] bnb commented on #509
AFAIK LastPass is controlled by the Foundation, not the project. I've now stored CommComm's Zoom credentials in 1Password and have restricted that to a CommComm group within the 1Password.

[2020-08-12 18:02] bnb commented on #509
I didn't answer your second question, sorry @mmarchini: more than happy to store them on 1Password and help set up the team infra for that to restrict it.

[2020-08-12 18:59] mmarchini commented on #509
That would be amazing, thanks! Since the credentials for WG meetings is shared across many WGs + TSC (afaik), we should probably have a team specific for these credentials (instead of having a team with everyone from TSC + WGs)?

[2020-08-12 19:19] mmarchini commented on #541
cc @nodejs/community-committee @nodejs/tsc

[2020-08-17 16:50] mmarchini commented on #538
need one more approval from each committee according to https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#github-apps-bot-personal-tokens-and-repository-secrets

cc @nodejs/tsc @nodejs/community-committee

[2020-08-17 16:51] mmarchini commented on #535
need one more approval from each committee according to https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#github-apps-bot-personal-tokens-and-repository-secrets

cc @nodejs/tsc @nodejs/community-committee

[2020-08-19 00:51] ljharb opened #543 "Change "default branch for new repos" setting for nodejs/pkgjs orgs"
i requested to enable the "default branch name for new repos" beta for the nodejs and pkgjs github orgs.

If we decide we want to change that for new repos, we can set https://github.com/organizations/nodejs/settings/repository-defaults to "main" right now (it will change to "main" automatically later this year; so this would just be opting in to the new default explicitly).

Concretely, I'd like

[2020-08-19 15:56] bnb commented on #541
SGTM :shipit:

[2020-08-19 17:37] bnb commented on #535
@mmarchini perhaps using the agenda labels for awareness would be helpful in getting this.

[2020-08-19 17:38] joesepi commented on #535
+1 from me. Thanks!

[2020-08-19 17:58] mmarchini commented on #535
Added to TSC agenda for awareness, if we get one more approval or objection I'll remove it :)

[2020-08-19 18:12] mhdawson commented on #535
+1

[2020-08-20 19:51] mmarchini opened #544 "Create new repository for "future of build toolchain" strategic initiative"
I'd like to create a repository for this strategic initiative so we can better organize discussions around known issues, possible solutions and user feedback. I don't have any name preference for the repository, could be `build-tools-next`, `build-tools-revamp`, `build-tools-future`, `after-gyp`, or anything else.

If having a repository for this is too much and it flops, we can always archive it

[2020-08-24 09:13] mcollina commented on #541
Done.

I've also created a team with @ronag and myself in it with `Maintain` access to the undici repo.

[2020-08-24 09:13] #541 closed

[2020-08-24 12:48] ronag opened #545 "Create a nodejs npm organization?"
I think it might make sense to have a NodeJS organization on npm where different working groups could publish packages, e.g. `@nodejs/undici`, `@nodejs/quic` etc... for feedback on new modules we are working on before or as an alternative to inclusion into core. I think this sometimes would be a preferable workflow to adding features as "experimental" (unless they depend on code in core).

Would a

[2020-08-24 15:18] bnb commented on #543
+1.

cc @nodejs/community-committee @nodejs/tsc

[2020-08-24 15:41] ahmadawais commented on #543
+1

[2020-08-24 16:17] rachelnicole commented on #543
+1

[2020-08-24 20:22] mmarchini commented on #545
cc @nodejs/tsc @nodejs/community-committee

I think having an npm org so we can publish scoped packages is a good idea.

https://www.npmjs.com/org/nodejs already exists. I don't know if it is owned by any of us or not though (it's not owned by the old nodejs-foundation user). If it's not owned, we need to send a request to npm to transfer ownership.

[2020-08-24 20:23] bnb commented on #544
I particularly like `after-gyp` :)

[2020-08-24 20:33] bnb commented on #545
@mmarchini afaik it is us.

[2020-08-24 20:34] mmarchini commented on #545
I think so too, but I really can't tell with all that information on npm
![image](https://user-images.githubusercontent.com/4048656/91093606-81cf5280-e60e-11ea-9834-14185f27d777.png)

[2020-08-24 22:37] mhdawson commented on #545
When we last discussed we went with using the `nodejs-foundation` as described in one of the docs (don't have time to find it right now).

There have been discussion over the years that maybe we should use the org feature (at the start is was not as well established), but I was not in the loop if we created it.

[2020-08-25 16:48] bnb commented on #545
Ah yeah, I remember that - I think the reason why we did this was to preserve the scope of `@nodejs/` for core if we were to align with some web standards that were being discussed around scoped modules. @MylesBorins may have more context on that/how it's progressed?

[2020-08-25 16:58] bnb commented on #545
As an extension of that: I don't think `@nodejs-foundation/` makes sense anymore at all and we should reconsider that decision.

[2020-08-25 17:06] mmarchini commented on #545
Agreed, but I don't think nodejs-foundation is an npm org, seems like it's a regular user: https://www.npmjs.com/~nodejs-foundation

[2020-08-25 18:00] richardlau commented on #545
Correct, it is a regular user owned by the Build WG:
- https://github.com/nodejs/build/blob/master/doc/resources.md#npm-management
- https://github.com/nodejs/admin/blob/master/npm-management.md

It's meant to be there as a backup to prevent us being locked out of any modules we own, e.g. due to users becoming inactive.

[2020-08-27 19:26] mmarchini commented on #544
Repository created: https://github.com/nodejs/build-toolchain-next

[2020-08-27 19:26] #544 closed

[2020-08-28 15:19] bnb commented on #519
@Trott @benjamingr any way we can progress this?

[2020-08-28 15:20] bnb commented on #505
going through old issues and wanted to follow up here. Since previous pings didn't work, going to ping the two top-level commitees: @nodejs/tsc @nodejs/community-committee. How can we get this published to help lower the barrier to entry for i18n?

[2020-08-28 15:20] bnb commented on #540
+1

[2020-08-28 17:02] benjamingr commented on #519
I am not sure, the team isn't active in any capacity and hasn't been for several years. We (the Node.js org) are very averse in general to removing inactive people from the org and closing defunct teams.

I (still) think the logical move is to archive the (inactive) team (and other inactive teams) as org membership gives members access to sensitive areas (like the moderation repo).

It's super eas

[2020-08-28 17:38] bnb opened #546 "Move bnb/join to nodejs/join or nodejs/meet"
I've gotten a bit tired of having to open up the GItHub issue for meetings just to access the join link, and I'd rather not fill up my bookmarks bar with random join links.

Inspired by a single page that @davidguttman made for the Mentorship meeting, I've built out what I suppose could be considered a tiny static site generator that automatically builds an index and individual redirect pages for

[2020-08-28 17:45] mmarchini commented on #546
cc @nodejs/tsc @nodejs/community-committee

[2020-08-28 17:48] bnb commented on #546
Updated slightly, accidentally did the wrong combo of shift and enter which created the issue a bit before it was fleshed out fully 👍🏻

[2020-08-28 18:16] bnb commented on #519
As a CommComm member, I'm +1 to this suggestion:

[2020-08-28 18:26] mmarchini opened #547 "Request to create new repository `node-cq-archive`"
One suggestion for the `commit-queue` is to make landed PRs purple instead of closing them. Since it requires force-pushing to the PR head branch, if something goes wrong we're overriding the original commits. To ensure recoverability in case of failures, I suggest creating a repository that will essentially be a fork of `nodejs/node` for the Commit Queue to push a backup of any PR it tries to lan

[2020-08-28 18:31] mmarchini commented on #547
cc @nodejs/tsc @nodejs/community-committee

[2020-08-28 20:18] nschonni commented on #519
What about copying the members to an Emeritus in the README, and point them to nodejs/admin (or maybe node/i18n) if someone is interested in reviving the team at a later date. Then the repo and team can be archived with some steps if someone wants to step up again later

[2020-08-28 20:22] nschonni commented on #546
What about adding the links to https://nodejs.org/en/about/working-groups/

[2020-08-28 20:48] mmarchini commented on #546
The page is _really_ long, as someone who can easily have 4+ foundation meetings in a week, having a single place with easy access seems really beneficial.

[2020-08-28 21:14] bnb commented on #546
@nschonni a large part of the point of this is that it's automatically generated and can be easily accessed from a memorable URL in a repo that's easy to maintain. Including that in the working groups page makes less easy to access, harder to automate, and doesn't give both a focused place and a single, low-maintenance and memorable url per group.

Also, that page seems to be entirely unmaintained

[2020-08-28 21:20] bnb commented on #547
If this moves us toward all purple merges, huge mega ultra +1.

[2020-08-28 21:30] mmarchini commented on #547
@bnb we can only hope

[2020-08-28 21:32] nschonni commented on #546
Yup, i'm definitely not the target audience for this 😄 . Maybe I'll just re-frame my comment and suggest a more general, integrate it with the existing .org or .dev repos as a `/meet` instead of a new site

[2020-08-28 21:39] AvnerCohen commented on #519
I don't know for sure, but my guess is there are many more similar such defunct groups/repos ([nodejs i18n teams](https://github.com/orgs/nodejs/teams?query=nodejs-))

I don't think I have the full visibility into the risks or factors to be considered around nodejs membership.
What I am sure is, @nodejs/nodejs-he is not active nor is required.

Personally, I am fine with @benjamingr suggestion, if

[2020-08-28 21:57] ljharb commented on #547
Git itself already retains that backup - the PR will show a timeline entry with the old sha and the new one, and the old sha will be accessible until github GCs it, which I've never discovered it to do. Are you sure a backup repo is even needed?

[2020-08-28 22:21] mmarchini commented on #547
@ljharb good point, in this case a backup repo might not be necessary. We could implement this and if we have an incident where a PR gets completely messed up and unrecoverably lost because of the commit queue we can rethink the backup repository.

[2020-08-28 23:39] mmarchini commented on #546
I think having a nodejs.org/nodejs.dev DNS entry is a really good idea, but keeping it separate and using GH Pages is probably simpler and more approachable than sharing code with the website repositories (and is easier to automate with Actions if we want to). Note that we already have precedence for this, https://benchmarking.nodejs.org/ is not a part of https://github.com/nodejs/nodejs.org, inst

[2020-08-28 23:42] mmarchini commented on #546
Also worth noting that there's nothing preventing us from moving it to the org and later moving it to the website repos if we find that useful/easier to maintain/easier for the target audience to contribute.

[2020-08-29 08:36] mmarchini commented on #505
In theory we need to ping TSC and CommComm, so that's a good start :)

I'm generally +1 if no one objects with starting to publi

[2020-08-29 08:38] mmarchini commented on #505
Misclicked while typing the comment above

[2020-08-29 09:03] mcollina commented on #505
We are reserving the nodejs scope for _internal_ /core usage. I'm -1 for using it for external usage.

[2020-08-30 02:09] bnb commented on #546
I'm not sure what the barrier to entry would be for something like `join.nodejs.org` or `meet.nodejs.org` but I've got zero issue with that. I'm happy with that or .github.io, but would definitely want to not stall on that ❤️

[2020-08-30 02:10] bnb commented on #505
@mcollina cool, what's another org we can officially publish to?

[2020-08-30 02:10] bnb commented on #505
(also accidentally closed 🙄)

[2020-08-30 02:59] mmarchini commented on #505
@bnb I don't think we have any, but we could probably create one. Some ideas:

- nodejs-contrib
- nodejs-misc
- nodejs-utils
- nodejs-packages

[2020-08-30 03:20] mmarchini commented on #546
Creating a DNS entry is entirely separate from where the code will live, so it should have no influence on entry barrier

[2020-08-31 06:48] mmarchini opened #548 "Experiment with mmarchini-oss/npm-otp-publish to publish org npm packages"
I've been working on [this Action](https://github.com/mmarchini-oss/npm-otp-publish) to make it possible to publish npm packages via Actions for projects that require 2FA. Since publishing org npm packages requires 2FA, we could try this Action on some projects. We could start with node-core-utils and maybe llnode, and I'm happy to help setup it on other projects that would be interested.

To use

[2020-08-31 09:01] mcollina commented on #548
@ronag do you think we could experiment this with undici?

[2020-08-31 09:13] ronag commented on #548
@mcollina Yes, that was my intention with the original suggestion 👍

[2020-08-31 09:27] targos commented on #548
+1.

We could use the foundation's 1Password account to share the OTP secret (1Password supports it in a nice way and generates the codes like an authenticator app)

[2020-08-31 10:25] ronag commented on #505
What's the definition of internal vs external? Whether or not it depends on core internals through `process.binding`?

[2020-08-31 10:49] mcollina commented on #505
`@nodejs` is kept for core to use _internally_. Essentially the module loaded with the `@nodejs` scope would be loaded from the binary.

[2020-08-31 13:44] MylesBorins commented on #505
@mcollina the built in modules spec is moving forward with using `:` as the delimiter not `@`. Does that change your opinion at all?

[2020-08-31 13:45] MylesBorins commented on #505
FTR I think that we should consider something like `nodejs-extras@` anyways, as labelling something `@nodejs` does give it an unfair ecosystem advantage and potentially the impression that it is officially blessed. That could cause us to raise the bar a bit higher than necessary to include things in the scope.

I could see us using `@nodejs` for publishing polyfills or externally consumable / comp

[2020-08-31 13:46] mcollina commented on #505
I'm representing only the historical view of the problem. If we want to use if for other purposes.. it's ok for me.

[2020-08-31 13:49] MylesBorins commented on #546
+1 on creating a DNS entry and publishing via pages.

Here is an example github pages deploy action if that is helpful https://github.com/tc39/proposal-top-level-await/blob/master/.github/workflows/publish.yml

[2020-08-31 15:53] bnb commented on #548
+1. Happy to help get the 1Password set up if you would like, @mmarchini.

[2020-08-31 18:19] bnb commented on #546
Sounds like we have rough +1s for DNS. In that case, I'd like to propose `join.nodejs.org`. The URLs would then be `join.nodjes.org` for the index and `join.nodejs.org/<filename>` for each entry, assuming GitHub Pages doesn't require file extensions when you're doing a CNAME for non-index pages (it doesn't do this for `.github.io`)

@MylesBorins I'll work on getting that set up in my repo before w

[2020-08-31 19:03] mmarchini opened #549 "#nodejs-core (or #nodejs-dev) channel on the OpenJS Foundation Slack?"
Since https://github.com/nodejs/admin/issues/53 a lot has changes. The Node.js and JS foundation got merged, and the new foundation has an official Slack: https://slack-invite.openjsf.org/. Many projects have channels there, and many Node.js working groups do as well. I'm wondering if we could create a #nodejs-core (or #nodejs-dev) channel there. We can also have an IRC app linking to the #node-de

[2020-08-31 20:14] ljharb commented on #549
The slack-irc bridge (in build, but also everywhere else I've tried it) is a very unpleasant and awkward experience on both ends in my experience, albeit slightly nicer on the Slack side. I think that if "not IRC" is preferred (personally, I prefer IRC), it would be better to disconnect from IRC entirely rather than the subpar bridged experience.

[2020-08-31 21:26] mmarchini commented on #549
Right, I guess that's another option: having IRC and Slack as separate channels. The bridge is not ideal but is a compromise between users who prefer IRC or Slack since we'll never be able to satisfy both types of user.

[2020-09-02 22:05] mhdawson commented on #545
On nodejs-foundation I think we talked about changing it but I think the agreement was that it was not worth the work required.  If it had been an org that would have been different.

[2020-09-02 22:20] mhdawson commented on #549
I personally find Slack easier to keep connected/engaged that IRC.  It is being use more within the foundation and I think creating nodejs-core there would make sense.