[2022-05-09 23:12] aduh95 commented on #683
This have been open for more than seven days with no objections, and has been 👍ed by two TSC members, so it's approved!

@Gozala could you transfer the ownership of <npm.im/tes>t to [`nodejs-foundation`](https://www.npmjs.com/~nodejs-foundation) please?
@juliangruber could you transfer your repo to the nodejs org please?

[2022-05-10 16:56] JakobJingleheimer opened #687 "Youtube and Zoom access for @JakobJingleheimer (me)"
For when @geoffreybooth and @bmeck can't attend the Loaders team meeting (such as today—we postponed, so no rush).

[2022-05-10 17:12] JakobJingleheimer commented on #685
Do we (or whatever "LF" is) have a 1Password org? If so, people can be added to the org and then there is no 30-day limit.

[2022-05-10 17:30] bnb commented on #686
I'm curious why? As far as I know, neither of the two active members of the Social Team have been engaged in talking about this and it's rather unprecedented to recommend removing an active team without talking about it with those team members.

I'm disappointed in our processes here because I feel I know the reason why and feel like this is a borderline personal attack that is dishing out a conse

[2022-05-10 17:30] Trott commented on #685
Linux Foundation

[2022-05-10 17:31] Trott commented on #687
@nodejs/tsc Not sure who usually gets pinged on these kinds of requests.

[2022-05-10 18:22] mhdawson opened #688 "Updates to npm team"
Darcy from npm asked that we update the Node.js npm team to:

1) remove @isaacs
2) add @lukekarrys
3) add @npm-cli-bot

I've done 1) and will do 2) and 3) assuming no concerns are raised by end of day Wednesday

[2022-05-10 21:18] mhdawson commented on #687
@Trott I think any existing youtube manager can add people as additional managers. We then have asked Brian Warner to share the zoom credentials.

I generally leave it for a few days in case there are any concerns/objections and then add as a youtube manager, and ask Brian to share.  @Trott I think you could do the same, if not I'm sure I could tweak the youtube permissions so you could.

[2022-05-10 21:20] mhdawson commented on #684
@RafaelGSS thanks for confirming, closing.

[2022-05-10 21:20] #684 closed

[2022-05-10 21:22] mhdawson commented on #688
@lukekarrys updated.

[2022-05-10 23:43] Trott commented on #687
Given that @brianwarner's last day at the foundation is Friday, maybe we should expedite this (or find out who to send these kinds of requests to instead going forward).

[2022-05-11 13:16] mhdawson commented on #687
As I was typing I was not sure how public that was. I agree if we can expedite it would be good. @brianwarner can you do the share now ?  I also asked Brian what we would do in the future but we've not closed on that yet.

[2022-05-11 19:16] Trott commented on #687
Oh, shoot, yeah, I thought that was widely known. I'm sorry. I'll edit my comment just in case....

[2022-05-11 21:42] mhdawson commented on #688
k invites sent adding @lukekarrys and @npm-cli-bot to the npm team, closing.

[2022-05-11 21:42] #688 closed

[2022-05-12 19:49] WaleedAshraf commented on #686
@Trott We should also archive https://github.com/nodejs/social-media-delegates repo. The initiative isn't active anymore.

[2022-05-12 20:32] dshaw commented on #686
+1 for archiving the @nodejs/user-feedback team. It hasn't been active since I stepped down 3 years ago.

[2022-05-13 01:59] Trott commented on #686
Since removing `user-feedback` seems non-controversial, I'll do that now, but proceed a bit more slowly on the others.

[2022-05-13 06:23] bnb commented on #686
I'll leave my final notes about the Social Team:

I'm disappointed that rather than anyone who was engaging in apparent back-room discussions that were critical of the Social Team trying to engage with the Social Team - either by talking to or working with the team or by actually stepping up to do the work - the decision was made to propose it be removed. I genuinely hope we can try to do better w

[2022-05-13 17:10] bcoe commented on #654
@mhdawson like so?

https://github.com/nodejs/email/pull/189

[2022-05-13 18:27] mhdawson commented on #654
@bcoe yes, perfect.

[2022-05-13 19:36] mhdawson commented on #687
I don't see any objections/concerns so adding @JakobJingleheimer to the youtube managers.

[2022-05-13 19:37] mhdawson commented on #687
Or not. @JakobJingleheimer could you email me the right email to use to add you, don't see one in your github profile.

[2022-05-13 19:39] mhdawson commented on #687
@JakobJingleheimer can you also PR yourself into the zoom-nodejs section in  https://github.com/nodejs/email/blob/main/iojs.org/aliases.json ? Once you do that I'll get you the zoom password.

[2022-05-15 10:02] JakobJingleheimer commented on #687
done, thanks! nodejs/email#190 (I can't add you as a reviewer O.o)

[2022-05-15 13:31] aduh95 commented on #683
The repo has been transfered to the nodejs org, I've added @nodejs/test_runner as maintainers.

We would need to have an Automation token added to the repo's secrets to allow publishing to the npm repository. @mhdawson is it something you can take of?

1. Go to https://www.npmjs.com/settings/nodejs-foundation/tokens/new
2. Enter the nodejs-foundation account's password
3. Name: `NPM_TOKEN secret t

[2022-05-15 18:00] aduh95 commented on #660
@mhdawson can you take care of the token creation please?

1. Go to https://www.npmjs.com/settings/nodejs-foundation/tokens/new
2. Enter the nodejs-foundation account's password
3. Name: `NPM_TOKEN secret to publish corepack` ?
   Type: "Automation"
   Click "Generate Token"
4. Copy the generated token (it starts with "npm_")
5. Go to https://github.com/nodejs/corepack/settings/secrets/actions/new

[2022-05-16 21:33] mhdawson commented on #660
@aduh95 done as requested above

[2022-05-16 21:37] mhdawson commented on #683
@aduh95 done as requested above

[2022-05-16 21:59] mhdawson commented on #687
@JakobJingleheimer pefect, thanks. Zoom info sent through OpenJS slack.

[2022-05-16 21:59] #687 closed

[2022-05-16 22:08] Gozala commented on #683
I have send an invite to @nodejs-foundation

[2022-05-17 13:35] mhdawson commented on #683
@Gozala thanks, accepted it.  @aduh95 is there something more than accepting the invitation that we need to do?

[2022-05-17 17:47] arcanis commented on #660
@aduh95 I invited `nodejs-foundation` to be an admin, feel free to remove me once you have confirmed it works fine on your end

[2022-06-02 14:11] aduh95 commented on #683
@mhdawson I just released `test` v3.0.0 on npm and it looks like it works as expected. Can you make sure `@nodejs-foundation` is the only user that can publish on this package? Once that's done, I think this issue can be closed :)

[2022-06-02 16:46] aduh95 opened #690 "Update permissions on node-core-utils repo"
I've noticed that @nodejs/node-core-utils was not granted "Maintain" role on [nodejs/node-core-utils](https://github.com/nodejs/node-core-utils/settings/access) repo, and there was a few individuals with "Write" access. I went ahead and remove "Write" access to all the individuals, and upgrades @nodejs/node-core-utils to maintainers.

Before:
![screenshot of the GitHub UI that shows a few individu

[2022-06-10 17:37] aduh95 commented on #690
No objections in 7 days, closing.

[2022-06-10 17:37] #690 closed

[2022-06-11 18:15] Trott opened #693 "Revisiting membership expectations"
Some things I would like the TSC to consider modifying in the membership expectations.

## Mixed signals

First, there is a confusing (or at least confusing-to-me) mix of signals. For example:

The juxtaposition of "must...conduct themselves" with "general guidelines include" leaves things very open to interpretation. (If that is inevitable then let's acknowledge it.)  There is a "must" requiremen

[2022-06-13 16:47] Ethan-Arrowood opened #695 "Request for nodejs/typescript"
Following up on the TypeScript discussion at OpenJS World, I would like to start a new, dedicated Node.js TypeScript team. This team's initial responsibilities will include reviewing and maintaining the [`@types/node`](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node) package from [Definitely Typed](https://github.com/DefinitelyTyped/DefinitelyTyped).

Any current contribu

[2022-06-13 17:33] ljharb commented on #695
What's a dedicated repo used for? Team discussions can be had without a repo.

[2022-06-13 19:48] Ethan-Arrowood commented on #695
Oh I forgot to include this part; I believe someone requested some sort of integration that would cross-share/notify issues and PRs from definitely typed to the teams repo since I don't think cross-organization notifications work just yet.

Also happy to start this as just a team within the Node org and then we can graduate it to a standalone repo when that integration is ready or something along

[2022-06-13 19:54] ljharb commented on #695
Anyone whose name is on the types package will get tagged on any PR to it, so I’m not sure the node team would be related to it - folks would just PR their names in and out of it.

[2022-06-13 20:13] Ethan-Arrowood commented on #695
I think the issue presented during the summit was that those notifications tend to be ignored. The goal here is that someone like myself who doesn't get tagged on those PRs could then go and do a review

[2022-06-13 20:55] mhdawson commented on #683
Ok, the only maintainer on the test package in npm is now nodejs-foundation.

[2022-06-13 20:56] mhdawson commented on #683
@aduh95 I also notice that the publishing access setting specific to the package likely need to be updated. I assume updating to Require two-factor authentication or automation tokens should be ok

[2022-06-13 20:57] mhdawson commented on #683
@aduh95 I updated the requirement for publishing so you should probably test again if possible.

[2022-06-13 21:45] mhdawson commented on #693
I'm in agreement that we should not point reports to the @nodejs/moderation team.

I think these guidelines are valuable in terms of setting the expectations for those on the TSC, but I'm not sure we need a reporting/sanctions process to go along with them.

As with many things in the context of the history in which they were added, the content was wordsmithed/agreed but much of that context no lo

[2022-06-13 21:46] mcollina commented on #693
I agree we should update those and simplify things.

[2022-06-13 21:49] mhdawson commented on #695
I'll add that the discussion was also to work on other aspect like being able to run node script.js or something like that. There is also work related to updating the docs so that we can help the types be more easily generated.

If there is a set of people who want to focus on these efforts and a separate repo would be helpful to do that it seems reasonable to me.  We can open issues in the node.j

[2022-06-14 14:31] mhdawson commented on #695
I think the current request would be a team name `typescript` + slack channel

+1 from me.

[2022-06-14 19:26] bnb commented on #693
What's the point of having them, then?

[2022-06-15 21:22] Trott commented on #693
Perhaps someone can report issues to the TSC but told that they can also report it to any individual TSC member so that they don't have to report TSC member violations to the entire TSC.

[2022-06-15 21:26] Trott commented on #693
In TSC meeting today, it was pointed out that whoever gets the reports should also have clear processes in place to handle them.

[2022-06-15 21:27] Trott commented on #693
And it should include an escalation process, perhaps involving escalation to the OpenJS Foundation somehow.

[2022-06-15 21:32] MylesBorins commented on #693
The important thing here is to not lose that it is important that leaders are held accountable for things above and beyond the baseline code of conduct.

I don't think this needs to be explicitly defined process, a code of conduct issue should go through the normal process... those in leadership should be held to a higher bar.

[2022-06-16 17:21] mhdawson commented on #693
I do think there is value in providing expectations even if we don't include a "here is how we punish you if you don't follow them".  I'm not necessarily opposed to that but I think we get the most value by establishing that there is a higher expectation.

The doc already says `This is especially important in external communications, for example in social media. Should the member be unwilling or u

[2022-06-16 17:25] mhdawson commented on #693
I don't actually see this as a conflict. The first line says more generally that those in leadership must conduct themselves in a professional and respectful manner.  The following lines provide some concrete examples of what in some cases be considered either profession/respectful or not. I don't see that providing some examples should limit/the first line. We might update the language to make it

[2022-06-17 02:08] Trott commented on #693
I described it as "mixed signals". While that does indeed imply "conflict" or "contradiction" and you are correct that those things do not strictly contradict each other, that fact doesn't resolve the issue I was trying to raise.  *The document is written as something to be enforced* on the one hand, and *avoids being definitive about what the behaviors are that are to be sanctioned* on the other

[2022-06-17 02:09] Trott commented on #693
Maybe better than that would be acknowledging that the sentence applies to everyone. I'll open a PR to do that now.

[2022-06-22 13:45] #693 closed

[2022-06-28 17:30] mhdawson commented on #695
I don't see any objections so I think we can go ahead with the team. @Ethan-Arrowood do you have an initial list of people that should be added?

[2022-06-28 17:32] mhdawson commented on #685
@rginn do you know if the suggestion of adding people to the LF org work?

[2022-06-28 17:34] mhdawson commented on #676
added to teams, closing.

[2022-06-28 17:34] #676 closed

[2022-06-28 17:35] mhdawson commented on #625
Must be done by done. @danielleadams  let me know if that is not the case.

[2022-06-28 17:35] #625 closed

[2022-06-28 17:37] mhdawson opened #698 "Access to Zoom creds and youtube to stream meetings - @legendecas"
@legendecas hav volunteered to help chair/stream some node-addon-api meetings. Unless there are objections I'll go ahead and get him access early next week.

[2022-06-28 20:49] mhdawson opened #699 "Personal Access Token for dependencies check"
I'd like to create a PAT for running the script in - https://github.com/nodejs/node/pull/43362 as a nighly job.

From the description the PAT does not need any permissions need to be given to the token, since it's only used to query the public database.

Unless there are any objections I'll do that/work on adding a night jenkins job soon after https://github.com/nodejs/node/pull/43362 lands.

[2022-06-29 18:17] ovflowd opened #700 "Add Claudio Wunder as Member for Node.js Dev (Website Redesign)"
Hey there 👋 hope y'all are doing fine :)

I've been contributing recently and getting familiar with the whole Node.js Website Redesign initiative and doing strong contributions towards it. After finally getting some big features merged and getting confident with the codebase and getting familiar with the context behind the website (such as some of the motivations, the design, the currently missing

[2022-06-29 21:06] mhdawson commented on #685
Getting a 1Password org for the Node.js project would likely make sense.  Is that something that it would make sense for the Foundation to get/setup/have backup access for or would the expectation be that we do that on our own?

[2022-06-29 22:08] aduh95 commented on #660
@mhdawson Can you make sure that `nodejs-foundation` is the only account that has release permission on npm please?

[2022-06-30 14:06] mhdawson commented on #660
Ok removed @arcanis as  so the only maintainer is nodejs-foundation.

@aduh95 I assume I should also set the publishing access to be "Require two-factor authentication or automation tokens" right?

[2022-06-30 14:23] aduh95 commented on #660
That's correct.

Thanks a lot! I assume the issue can now be closed :)

[2022-06-30 14:29] #660 closed

[2022-07-02 16:33] Trott opened #701 "Change main repo config to delete merged branches"
I would like to check the box in the settings to delete merged branches. This will help with the PR branches created by GitHub Actions like the ones that update the AUTHORS file and the lint-md dependencies. Currently, if no one deletes the existing branch after merge, the next GitHub Actions run adds the new commit to the existing branch rather than creating a new one. We can probably adjust the

[2022-07-03 02:27] cjihrig commented on #701
+1 as long as there are no objections from @nodejs/releasers

[2022-07-03 07:38] targos commented on #701
SGTM

[2022-07-03 08:33] mcollina commented on #701
sgtm

[2022-07-03 10:51] RaisinTen commented on #701
:+1:

[2022-07-03 16:29] nschonni commented on #701
https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests should probably address any worry about deleting the staging branches as it looks like they are already protected branches

[2022-07-04 10:01] panva commented on #695
I would like to be added.

[2022-07-05 17:06] richardlau commented on #701
+1 Let's try it, maybe after this weeks security releases are done?

[2022-07-06 18:34] danielleadams commented on #701
+1 to also try it after this week's security releases.

[2022-07-06 20:18] RafaelGSS commented on #701
+1 after security release

[2022-07-08 18:00] Trott commented on #701
Security release is done so I've made this change. Thanks, everyone!

[2022-07-09 15:02] Trott opened #703 "Enable GitPod app on core repo for prebuilds"
@nodejs/tsc I plan to configure this for the main repo.

<img width="584" alt="image" src="https://user-images.githubusercontent.com/718899/178111120-04123e00-8144-4561-a8f4-ba968f7e6a0c.png">

This is to enable the prebuilds for developers that were configured in https://github.com/nodejs/node/pull/43698.

https://github.com/apps/gitpod-io

I have had this configured/enabled in my personal fork f

[2022-07-12 05:12] Trott commented on #703
Enabled and working.

[2022-07-12 05:12] #703 closed

[2022-07-13 20:53] mhdawson opened #704 "New repo called nodejs-dependency-vuln-assessments"
Requsting a new repo called `nodejs-dependency-vuln-assessments` based on some discussion with @mcollina and @RafaelGSS. FYI @facutuesca

This repo wil be used for

1. Running an action to check for vulnerabilities that are already public in Node.js dependencies using - https://github.com/nodejs/node/commit/07411da64f23b427b517bf7ccf85f26c986acd98
2. Manage assessments of the vulnerabilities alead

[2022-07-14 15:41] richardlau commented on #704
+1.

Re.

If we're running the action in this new repository I would suggest we move the script into the new repository and decouple it from the Node.js source tree. That would avoid us having to backport the script to earlier release lines if we want to run the checker on those.

[2022-07-14 19:26] mhdawson commented on #704
@richardlau you can take a look at the original PR. I asked if it made sense to included it in the Node.js repo and was convinced it made sense as dependencies etc. can be different for different Node.js versions etc.

[2022-07-15 15:09] mhdawson commented on #698
Long overdue, no objections so proceeding.

[2022-07-15 15:10] mhdawson commented on #698
Invited as manager to youtube account.

[2022-07-19 18:07] Ethan-Arrowood commented on #695
@mhdawson apologies for the delayed response; im just returning from vacation today. Please go ahead and create the team & channel. I do not have a list of folks to invite at this time. Would a twitter post be suitable to get an initial list? Or maybe we extend invites out to anyone who currently maintains @types/node ?

[2022-07-19 19:32] mhdawson commented on #704
ok no objections to create repo, moving forward.

[2022-07-19 19:35] mhdawson commented on #704
New repo here - https://github.com/nodejs/nodejs-dependency-vuln-assessments

[2022-07-19 20:23] mhdawson commented on #695
ok team created.  I think maybe asking existing Node.js collaborators + those who maintain @types/node would be a good start.

[2022-07-19 20:24] ljharb commented on #695
I'd be happy to be on this team.

[2022-07-19 20:49] aduh95 commented on #695
I've added @Ethan-Arrowood, @panva, and @ljhard to @nodejs/typescript.

[2022-07-19 21:38] #704 closed

[2022-07-20 18:54] mhdawson commented on #699
Turns out this is not needed as a github action, closing.

[2022-07-21 15:21] Ethan-Arrowood commented on #695
Thank you folks!

[2022-07-21 15:46] mhdawson commented on #699
Turns out is is needed, after all re-opening and creating.

[2022-07-21 15:47] #699 closed

[2022-07-25 14:49] aduh95 opened #705 "Create @nodejs/llhttp team"
Currently, the permissions on [nodejs/llhttp](https://github.com/nodejs/llhttp) repo are set as such:

- `@indutny` has write access.
- `@nodejs/tsc` has read access.

So only one member has write access, that doesn't seem right – of course, the TSC being admin on the org also have full access, but it would be worth updating anyway, but imo it would be better not to have to use our admin privilege

[2022-07-25 14:49] aduh95 commented on #705
/cc @nodejs/tsc

[2022-07-25 15:11] mcollina commented on #705
+1

[2022-07-27 13:18] joesepi opened #707 "Adding @ovflowd to org to help with website redesign work"
Hi all + @nodejs/tsc

@ovflowd has done some work in the nodejs Github org, particularly in the website redesign effort. While the future of that effort is uncertain, @ovflowd and @benhalverson have been continuing the effort and in issue #700 there is an ask to add @ovflowd to the @nodejs/nodejs-dev team to continue moving the work forward.

[2022-07-27 14:32] Trott commented on #700
Invitation sent.

[2022-07-27 14:32] #700 closed

[2022-07-27 14:32] Trott commented on #707
Invitation sent.

[2022-07-27 14:32] #707 closed

[2022-07-27 21:38] mhdawson commented on #705
+1

[2022-07-28 08:50] RaisinTen opened #708 "Create @nodejs/single-executable team"
I'd like to create a team that would focus on planning, implementing and maintaining the Single Executable Application (SEA) feature of Node.js. Interested candidates so far:
* @RaisinTen
* @dsanders11
* @jesec
* @jviotti
* @mhdawson
* @robertgzr
* @addaleax
* @targos
* @richardlau
* @guest271314
* @joyeecheung
* @tniessen
* @bnb
* @ovflowd
* @Qard
* @arcanis
* @kevinswiber
* @ruyadorno
* @gireesh

[2022-07-28 09:18] targos commented on #708
Interested

[2022-07-28 09:20] addaleax commented on #708
Interested

[2022-07-28 11:12] richardlau commented on #708
Interested, and +1 to team

[2022-07-28 13:15] ErickWendel commented on #708
+1 too!

[2022-07-28 13:23] jviotti commented on #708
Very interested :)

[2022-07-28 14:01] guest271314 commented on #708
Willing to help however I can. Mainly testing.

emphasize that term enough – test, test,
test. Test to the point it breaks.

-Ed Buckbee, NASA Public Affairs Officer, Chasing the Moon

[2022-07-28 14:06] joyeecheung commented on #708
interested

[2022-07-28 18:33] mhdawson commented on #708
+1 to creationg the team and an associated repo for issues etc. @RaisinTen you don't mention a repo but I think we'll probably need that as well.

[2022-07-28 18:47] tniessen commented on #708
Interested.

(Seeing the issue title with no context, I didn't associate `sea` with the acronym at first, but I don't have a better idea for the name of the team.)

[2022-07-28 18:50] Trott commented on #708
Can we name it something else? `@nodejs/single-executable` or something like that? I'd rather have it be long and clear than short and cryptic.

[2022-07-28 21:00] bnb commented on #708
Also interested in joining :)

[2022-07-28 21:35] ovflowd commented on #708
Ooh, that looks interesting. As a newcomer, would it be too problematic for me to be interested in joining too?

[2022-07-28 22:29] jviotti commented on #708
@ovflowd We would be happy to on-board you with the required context!

[2022-07-28 22:53] ovflowd commented on #708
Thanks, @jviotti would love to get on-boarded :)

[2022-07-29 01:12] Qard commented on #708
I assume single-executable meaning a Node.js build with custom scripts embedded? If so, I'm interested too, though I may be a relatively passive observer due to time constraints.

[2022-07-29 07:14] joyeecheung commented on #705
+1

[2022-07-29 07:26] RaisinTen commented on #708
@mhdawson done!

@Trott done!

[2022-07-29 07:28] arcanis commented on #708
Interested as well 👍

[2022-07-29 12:52] mcollina commented on #705
cc @indutny

[2022-07-29 13:27] ShogunPanda commented on #705
I'm interested to join this team to take care of llhttp releases.

[2022-07-29 18:10] kevinswiber commented on #708
Interested!

[2022-07-29 19:50] ruyadorno commented on #708
Interested

[2022-08-01 01:55] gireeshpunathil commented on #708
interested.

[2022-08-01 15:16] aduh95 commented on #705
I see a few approval and no objections, so I went ahead with the proposal. @nodejs/llhttp is now the sole maintainer of [nodejs/llhttp](https://github.com/nodejs/llhttp).

[2022-08-01 15:16] #705 closed

[2022-08-02 16:20] sheplu commented on #708
interested.

[2022-08-02 16:22] ovflowd commented on #310
I hope I'm not "necro-posting" here, is there any progress regarding the mentoring initiative?

I agree that Node.js as an org would benefit from being part of GSoD. I would love to take place here to mentor, as I've done that for GSoC for the last 3 years.

Even more, since Nodejs.dev could really get some help for the Docs part of it.

[2022-08-02 19:48] mhdawson commented on #708
@RaisinTen based on https://github.com/nodejs/admin/blob/main/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories, this is now approved (ie no objections after 72hours) so you can go ahead and create the repo/teams. If you need/want any help just let me know.

[2022-08-02 21:33] Trott commented on #686
Collection and user-feedback repos are archived and teams removed. Social stuff now includes Foundation folks but team and repo are still a thing. Closing this. Thanks, everyone.

[2022-08-02 21:33] #686 closed

[2022-08-03 17:03] RaisinTen commented on #708
I went ahead and created the team (@nodejs/single-executable) and the repo (https://github.com/nodejs/single-executable). @jviotti and I will be drafting a spec with all our findings till now, so that we can get y'all up to speed for the discussion in the first single-executable team meeting. Thanks for volunteering everyone! :-)

[2022-08-03 17:03] #708 closed

[2022-08-03 18:30] mhdawson commented on #698
Shared access to the zoom account as well, closing.

[2022-08-03 18:30] #698 closed

[2022-08-04 13:00] RaisinTen commented on #708
Btw, there is also a [#single-executable-application](https://openjs-foundation.slack.com/archives/C03S7Q7RV9R) channel in the OpenJS slack, so feel free to join that too.

[2022-08-05 09:51] aymen94 opened #709 "Archive the bot-love repository"
I advise archiving the current repository because:

-  We have implemented a bot.
- It is old and incomplete documentation

[2022-08-08 18:49] Trott commented on #709
Archived.

[2022-08-08 18:49] #709 closed

[2022-08-09 10:58] ovflowd opened #710 "Request Zoom Access"
Hey folks 👋 I'm requesting Zoom access as we need it for the Nodejs.dev weekly meetings. Right now, both I and @benhalverson don't have access to it.

[2022-08-09 11:00] ovflowd commented on #650
Bump. This is a very interesting point. It would be great to sync Crowding <> GitHub

[2022-08-09 11:02] ovflowd opened #711 "Add Nodejs.dev to Crowdin"
Hey folks 👋 we're in the process of getting i18n ready for `https://nodejs.dev` and for that we would like to integrate with Crowdin.

Could we get a new project within Crowdin and give me and @benhalverson maintainer access there? Thanks!

[2022-08-09 11:02] ovflowd commented on #711
cc @JohnTitor @Trott

[2022-08-09 18:10] Trott commented on #711
We still don't have administrative access to Crowdin yet as far as I know. We might need to get help from Crowdin itself but I'm still holding out on one of the existing admins giving me access.....

[2022-08-09 18:24] ovflowd commented on #711
Oh, I didn't know that, I thought you already got access 😅

[2022-08-09 19:26] Trott opened #712 "Clean up membership in @nodejs/website"
@nodejs/website has 142 members. Of those, I'd say fewer than 10 are active in website maintenance at this point and fewer than 20 have been active in the last year or so.

People I'd keep:

Anyone who is in this group who is also in the collaborators group
Maledong
XhmikosR
Nick Schonning
Aymen Naghmouchi
Willin Wang
Joe Sepi

People I'd add who are not in there yet:
David Kadaria
Claudio W

And

[2022-08-09 19:29] Trott commented on #711
Yeah, I thought I'd have access by now, but...not yet....

[2022-08-09 19:29] Trott commented on #712
@davidkadaria @ovflowd

[2022-08-09 19:34] Trott commented on #712
@nodejs/website

[2022-08-09 19:35] Trott commented on #712
@nodejs/tsc

[2022-08-10 03:25] ovflowd commented on #712
By the way, @Trott could the same cleanup apply on @nodejs/nodejs-dev? There are in theory 33 people in the team but barely 3-4 are actually active 😅

I think it only makes sense to keep people that are active, and if people want to contest (be added back) they can just ask and no harm done (I suppose 🤨)

[2022-08-12 04:11] Trott commented on #712
Yes, but I would rather someone who is active in that team do it rather than me. I'm active in the website team, so I feel reasonably comfortable making an assessment about who is and isn't very active. My engagement in nodejs-dev is comparatively sporadic.

[2022-08-12 07:11] benhalverson commented on #712
I’m active and can do it.

[2022-08-13 22:12] Trott commented on #712
OK, all done. (Please open a separate issue for node-dev if we're going to do that cleanup!)

If anyone thinks I removed them when I should not have, leave a comment here or send me an email. (My email address is in my GitHub profile.) It's entirely possible I misclicked somewhere. The results look good to me, though. There are now 28 members which is still too many possibly, but not nearly as jaw

[2022-08-13 22:12] #712 closed

[2022-08-13 22:16] Trott opened #713 "remove accounts that are in zero teams"
There are people in the nodejs org who have either removed themselves from their last team or else have been removed through some other process. To help clean things up and keep it maintainable, I'd like to remove people who have zero teams. But sometimes people can be very surprised when they get the GitHub notification email saying they've been removed from the org. And once or twice, someone ha

[2022-08-13 22:29] nschonni commented on #713
Related https://github.com/nodejs/admin/issues/651

[2022-08-13 22:40] Trott commented on #713
Accounts that would be affected (unless we add them to another team or decide that we're not doing this):

@ahmadnassri
@allevo
@amandeepmittal
@aoberoi
@aruneshchandra
@AustinWinstanley
@AyushG3112
@bcmarinacci
@bdharrington7
@bentinata
@bf4
@bjb568
@bluesockets
@chris--young
@ckotzbauer
@craftninja
@ctsuei
@davidfekke
@daxlab
@Delapouite
@detailyang
@dmcghan
@drzippie
@dshaw
@ErnestoSalazar
@exp

[2022-08-13 22:44] Trott commented on #713
I'm going to add @WaleedAshraf back to `@nodejs/website` and remove them from the list. They've been active in reviewing a handful of PRs in the nodejs.org this year, and that's plenty of reason to be on the team.

[2022-08-13 22:48] Trott commented on #713
Affected people list part 2 (broken up into two lists because apparently there is a limit to how many names you can @-mention in a GitHub comment):

@naskapal
@Neil188
@nickmccurdy
@nodech
@osk2
@paazmaya
@paulgrock
@pboivin
@petetnt
@pidofme
@pin3da
@preco21
@Qantas94Heavy
@rbnswartz
@reedloden
@rgbkrk
@robertkowalski
@RRomoff
@ruggertech
@SamuelBolduc
@sinaomrani
@sonicdoe
@stevemao
@Stichoza
@T

[2022-08-13 23:15] petetnt commented on #713
Honestly only reason I hadn't left was because I couldn't find a leave button on the organization page, for whomever is looking for it it can be found in your settings https://github.com/settings/organizations

[2022-08-14 00:31] benhalverson opened #714 "Team cleanup for nodejs.dev team"
From https://github.com/nodejs/admin/issues/712
of the 33 members, I think the following members of nodejs.dev should remain for being active in the repo.

@nodejs/tsc
@nodejs/nodejs-dev

Ben Halverson
Joe Sepi
Nick Schonning
Rodion Abdurakhimov
Claudio Wunder
Manish Kumar

[2022-08-14 04:58] ruggertech commented on #713
being in the org allows me to stay informed.

[2022-08-14 05:41] Trott commented on #713
Can you explain that a bit more? What do you do to stay informed that you wouldn't be able to do if you weren't a member of the org?

[2022-08-14 13:40] Trott commented on #713
@nodejs/tsc (for awareness)

[2022-08-14 18:09] justsml commented on #713
Can you add me back to the website team?

[2022-08-14 22:01] ovflowd commented on #713
Are you currently contributing to the website repository? 👀 (Just by a quick look, it seems the last time you contributed was on 2018 https://github.com/search?q=commenter:justsml+org:nodejs, https://github.com/search?q=author:justsml+org:nodejs)

[2022-08-15 16:22] ovflowd opened #715 "Closure of stale non-relevant issues for nodejs.org repository"
Hey folks 👋 (@nodejs/website), I wanted to speak up before I take any action, but I'm interested in closing all stale issues (Issues without any updates on the last 6 months). Only issues regarding possible features, feature requests, and open discussions would be closed. Bug reports and essential issues deemed to be a priority for the current website, which might also reflect on the new website,

[2022-08-15 16:23] ovflowd commented on #710
cc @nodejs/tsc

[2022-08-15 16:24] ljharb commented on #715
Please don't do that; "staleness" has no bearing on whether an issue is actually resolved or not.

You certainly can use staleness as a filter to manually triage issues, and it may be that most of the old ones are closeable with a human-crafted specific explanation! but it feels very hostile as a user when an issue i care about is closed merely because it's been neglected.

[2022-08-15 16:30] ovflowd commented on #715
Oh! That's not my intention here at all 🙈. I don't want to create a sense that issues are being neglected. And I believe giving attention to every single issue creates a bond with the community.

Hence I believe that closing only issues that feel like they were resolved or moving them to the new website repository might be a better fit.

I don't see any problems in having old issues labelled as st

[2022-08-15 16:53] Trott commented on #710
Does TSC handle Zoom access? Or is that a Foundation thing? @mhdawson

[2022-08-15 18:18] GeoffreyBooth commented on #713
@isaacs is working on PRs to move some packages into core.

[2022-08-15 19:36] nschonni commented on #715
Note that general non-website issues are usually transferred over the the nodesj/help repo using that GitHub feature
![image](https://user-images.githubusercontent.com/1297909/184704863-01f21a19-5dbf-46ea-a724-e8acb881851e.png)

[2022-08-16 07:15] aduh95 commented on #713
Being or not in the org changes nothing to that, right?

[2022-08-16 18:11] webysther commented on #713
I've been away for a while and I'm returning now, could you keep me on the time to website?

[2022-08-17 12:53] mhdawson commented on #713
One additional suggestion which is optional and should not block or delay removing people as you suggested is that it would be good to document this as standard practice in our GITHUB_ORG_MANAGEMENT_POLICY.md]( (https://github.com/nodejs/admin/blob/main/GITHUB_ORG_MANAGEMENT_POLICY.md), most likely in the `members` section.

[2022-08-17 15:49] ruyadorno opened #716 "Access to Zoom creds and youtube to stream meetings - @ruyadorno"
I have [volunteered to run the regular meetings for the Node.js Release WG](https://github.com/nodejs/Release/blob/main/doc/meetings/2022-07-28.md#nodejsrelease) and I would also like to help out the [Tooling Team](https://github.com/nodejs/tooling) to which I'm a part of and has also been [suffering from the lack of contributors with stream access to start the calls](https://app.slack.com/client/

[2022-08-17 17:02] Trott commented on #716
@nodejs/tsc @mhdawson

[2022-08-17 17:06] mhdawson commented on #716
+1

[2022-08-17 18:10] Trott commented on #710
Let's hold off on this. @joesepi and I are meeting next week to talk about how to bring the website redesign to a conclusion. After that, we'll want to meet with everyone and sort things out. Maybe we can use the Website Redesign meeting slot on the 24th (11am Pacific, 2pm Eastern, 6pm UTC) to discuss further, although I have a standing conflict on Wednesdays at 11am and will likely to be absent.

[2022-08-17 18:23] ovflowd commented on #710
@Trott, if you're unable to attend at the regular Redesign meeting time, we could try to change the meeting time :)

[2022-08-17 18:36] justsml commented on #713
@ovflowd you are correct, that's my last merge there. However I have been on some of the zoom calls over the last year or 2, and recently I've been finding more time to contribute to the OSS projects I ❤️. (This is fairly recent, and to see that my efforts are trending toward more OSS work, I've recently landed small to medium PRs in aws-sdk-mock-client and Netflix's Pollyjs.)

While it's not visi

[2022-08-18 05:51] gireeshpunathil commented on #716
+1

[2022-08-19 11:25] RaisinTen opened #717 "Access to Zoom creds and YouTube to stream @nodejs/single-executable team meetings"
I'd like to stream meetings for the @nodejs/single-executable team.

Refs: https://github.com/nodejs/single-executable/discussions/19

cc @nodejs/tsc @mhdawson

[2022-08-19 17:53] mhdawson commented on #717
+1 from me

[2022-08-19 18:20] mhdawson commented on #716
Ok believe this is been open long enough without objections and it has some +1's. I'll give @ruyadorno access.

[2022-08-19 18:22] mhdawson commented on #716
@ruyadorno invite as manager to youtube account should be on its way

[2022-08-19 18:24] mhdawson commented on #716
@ruyadorno can you PR yourself into `zoom-nodejs` in https://github.com/nodejs/email/blob/main/iojs.org/aliases.json. You'll need be in that list for cases where you need a code from zoom to log in.

[2022-08-22 14:25] ruyadorno commented on #716
@mhdawson done: https://github.com/nodejs/email/pull/195

[2022-08-23 04:06] indexzero commented on #713
I believe my membership was from the website team, then as a Board member, and most recently as a member of the `package-maintenance` WG. Not as active in that WG as I'd like to be – but would still consider myself a member via a long standing "proxy": @rxmarbles

No strong feelings here so up to y'all @Trott @mhdawson (et al) what you'd like to do 🙏🖖

[2022-08-23 19:26] mhdawson commented on #716
@ruyadorno should be all set now, closing.

[2022-08-23 19:26] #716 closed

[2022-08-23 19:28] mhdawson commented on #717
I don't see any objections, so will move forward.
@RaisinTen can you PR yourself into `zoom-nodejs` in https://github.com/nodejs/email/blob/main/iojs.org/aliases.json. You'll need be in that list for cases where you need a code from zoom to log in.

[2022-08-23 19:32] mhdawson commented on #717
@RaisinTen there sound be an invite on its way to add you as a youtube manager.  Will co-ordinate with you otherwise to get you the password for the zoom account.

[2022-08-24 07:37] RaisinTen commented on #717
@mhdawson sure, I've created the the Zoom alias PR here - https://github.com/nodejs/email/pull/196

[2022-08-26 19:12] mhdawson commented on #717
PR for zoom alias landed, @RaisinTen should be all set up now, closing.

[2022-08-26 19:12] #717 closed

[2022-09-01 04:05] benhalverson commented on #714
This is done

[2022-09-01 04:05] #714 closed

[2022-09-10 13:26] ovflowd opened #721 "Request access to Firebase CLI App"
Hey there 👋, I requested access to the Firebase CLI App for creating a GitHub Action for deploying The Nodejs.dev Repository to Google Firebase Hosting.

I need this access to authorize the Firebase CLI App to communicate to the GitHub repository.

This will allow us to move the build process from G Cloud to GitHub Actions.

cc @Trott

[2022-09-10 13:37] Trott commented on #721
@nodejs/tsc

[2022-09-10 13:38] Trott commented on #721
/ping @MylesBorins I think you're the one that set up the Google Cloud thing in the first place so seems like something you might have opinions on.

[2022-09-10 13:39] ovflowd commented on #721
@Trott, @MylesBorins was the one that told me to do so 👀

[2022-09-10 13:39] ovflowd commented on #721
Context: https://openjs-foundation.slack.com/archives/CVAMEJ4UV/p1662747787440039

[2022-09-10 13:46] Trott commented on #721
Here's the tool for which access is being requested: https://github.com/apps/firebase-cli

It can be scoped to a single repository rather than the entire org if we'd like to do it that way.

[2022-09-10 13:49] Trott commented on #721
It installs with these permissions:

[code]

I imagine scoping it to nodejs.dev would be uncontroversial. Not sure about how folks would feel about getting it installed org-wide. Seems like we can start with just nodejs.dev. We can always add more repos later if needed.

[2022-09-10 14:19] targos commented on #721
+1 to install just on nodejs.dev

[2022-09-10 14:34] ovflowd commented on #721
Yup only on nodejs.dev is fine 😃

[2022-09-11 21:16] ovflowd opened #722 "Settings for Nodejs.dev Repository"
Hey there 👋 we need a few setting changes on the repository, but none of the current maintainers has access to the tab. The changes are:

- Allow only "Squash" merge for PRs (https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/configuring-commit-squashing-for-pull-requests)
- GitHub Pages permissions for GitHub Actions (https:/

[2022-09-12 06:25] targos commented on #722
Done:
![image](https://user-images.githubusercontent.com/2352663/189586748-0b83353e-97fa-4c80-842b-0923f8da5cd4.png)
![image](https://user-images.githubusercontent.com/2352663/189586877-455fbf73-5842-4b24-855e-f61f658ae03a.png)

[2022-09-12 06:49] nschonni commented on #722
Retriggered https://github.com/nodejs/nodejs.dev/runs/8299605238?check_suite_focus=true and the pages seem to build now

[2022-09-12 08:23] #722 closed

[2022-09-12 08:23] ovflowd commented on #721
@targos is there anything blocking us or may we proceed with this? 😄

[2022-09-13 17:56] Trott commented on #721
I was giving it 72 hours because that's what most things in this repo require, but we're at 77 hours now, so I'll go ahead and get this set up.

[2022-09-13 17:58] Trott commented on #721
All set up on the nodejs.dev repo. Let me know if there are any problems.

[2022-09-13 18:31] ovflowd commented on #721
![image](https://user-images.githubusercontent.com/12037269/189982337-f9481227-b3d1-41a3-8fa3-f26d2f7922e4.png)

@Trott, sadly it is not working 😅

[2022-09-13 18:32] ovflowd commented on #721
[code]

[2022-09-13 21:49] Trott commented on #721
¯\\_(ツ)_/¯

![image](https://user-images.githubusercontent.com/718899/190015408-2c36931f-2294-4f6f-a346-825411ad4b70.png)

Maybe it simply doesn't work if you don't give it access to everything?

[2022-09-13 21:51] ovflowd commented on #721
I have no idea, sadly. @Trott if you don't mind would you mind enabling for the whole org, just so I run this command (https://firebase.google.com/docs/hosting/github-integration) and then lock it back to the repo?

It could also be that my account has no access (not sure)

[2022-09-16 22:06] Trott commented on #721
I wouldn't want to do that without TSC consent. I'm sorry. I know that's probably not what you want to hear.

@nodejs/tsc

[2022-09-17 19:06] ovflowd commented on #721
No worries at all, Trott. Better make the decision with the TSC consent rather than not :)

[2022-09-17 19:09] ovflowd opened #723 "Add `Hacktoberfest` topic to `nodejs.dev`"
Yes! Hacktoberfest 2022 is coming! Let's prepare our Nodejs.dev repository by following the guidelines mentioned [here](https://hacktoberfest.com/participation/#maintainers) on the official Hacktoberfest guidelines.

For that, we need to add the `hacktoberfest` topic within the repository. As mentioned here: https://openjs-foundation.slack.com/archives/CVAMEJ4UV/p1663415524767309

[2022-09-17 19:09] ovflowd commented on #723
cc @joesepi @Trott

[2022-09-19 08:28] ovflowd commented on #723
Also the `hacktoberfest2021` topic can be removed. cc @benhalverson

[2022-09-19 10:54] benhalverson commented on #723
The topic hacktoberfest is already added to this repo. This was done last year. We also already have the PR labels hacktoberfest and hacktoberfest-accepted

![image](https://user-images.githubusercontent.com/7907232/191001858-3ad90d2b-cde8-470b-9e91-05be29648d10.png)

[2022-09-19 16:20] GeoffreyBooth commented on #721
From my reading of the error message, it looks like enabling it for the org doesn’t necessarily also enable it for all the repos within that org. If that’s the case, can someone try enabling it for the org and confirming that it only works for nodejs.dev and not the other repos?

[2022-09-21 02:52] Trott commented on #721
That's the way it's set up already and it's not working. (Or am I missing something?)

[2022-09-21 02:56] Trott commented on #721
Hmmm, that was weird. I checked and it said it was denied, so I changed it to approved. Can you try again now?

[2022-09-21 02:56] Trott commented on #721
(And I also double checked that it's only for the nodejs.dev repo.)

<img width="834" alt="image" src="https://user-images.githubusercontent.com/718899/191404239-139d0252-f55b-42d5-a6e2-bcd4fc21ce13.png">

[2022-09-21 02:57] Trott commented on #721
And for completeness:

<img width="841" alt="image" src="https://user-images.githubusercontent.com/718899/191404301-7d557052-2530-4071-a41d-65614da90039.png">

Other org owners can see that at https://github.com/organizations/nodejs/settings/oauth_application_policy.

[2022-09-21 04:45] GeoffreyBooth commented on #721
So is this issue resolved? Can we remove it from the TSC agenda?

[2022-09-21 08:07] ovflowd commented on #721
Lemme check if it works now :)

[2022-09-21 08:10] ovflowd commented on #721
It seems like I have permission now. But the command is giving a different Error now (I don't think it's GitHub related).

I think we can close this issue for now :)

Ty, @Trott!

[2022-09-21 08:10] #721 closed

[2022-09-21 15:29] bnb commented on #713
I am +1 to removing anyone who isn't explicitly a member of a WG. As far as I know, this shouldn't prevent anyone from contributing and I'd be happy to fast-follow with support to join relevant WGs if they *are* doing work in a WG but are not currently a member. The barrier to re-joining upon becoming active again is very low, so if people want to be a member they should participate actively in th

[2022-09-21 15:36] Trott commented on #713
I agree with @bnb and want to clarify that this applies not just to WGs (working groups), but also to all GitHub teams in the org, including those that are not officially chartered working groups.

[2022-09-21 15:38] Trott commented on #713
I've added the `tsc-agenda` label in the hopes that we can arrive at a decision at or before the next meeting (in one week) to either do this or close this issue. @nodejs/tsc

[2022-09-21 15:53] Trott opened #724 "adding @mylesborins as an admin to the nodejs.dev repository"
Ref: https://openjs-foundation.slack.com/archives/CVAMEJ4UV/p1663769020881049?thread_ts=1663747850.790449&cid=CVAMEJ4UV

[2022-09-21 15:53] Trott commented on #724
@nodejs/tsc This is an FYI for the most part, as I think we tend to add and remove admins from repos without a process.

[2022-09-21 15:55] Trott commented on #724
I also removed @adam-gh as an admin from the repo because it's my impression they're not active on that initiative anymore. Happy to add them back if I'm totally wrong about that.

[2022-09-21 15:55] #724 closed

[2022-09-22 23:16] Trott commented on #713
@nodejs/tsc Can you give a 👍 reaction to this if you'd like us to move forward with this, and a 👎 if you have concerns/doubts and would want this to at least wait for the next meeting? I see 👍 above from targos, aduh95, and RaisinTen. Anyone else?

[2022-09-23 21:39] Trott commented on #713
I've gone ahead and removed accounts that are in zero teams. If you feel like you were removed in error, please leave a comment or get in touch. (My email is in my GitHub profile.) Thanks, everyone!

[2022-09-23 21:39] #713 closed

[2022-09-26 16:05] helio-frota commented on #555
Thanks.

[2022-09-26 16:05] #555 closed

[2022-09-29 16:15] Trott opened #726 "Nominating Trott for social team"
In accordance with the [Social team document](https://github.com/nodejs/admin/blob/eae9bc146f3cbdbb01617339765ada0561c31c52/social-team.md), I'm self-nominating for the social team.

"Nominations require +1s from existing Social Team members and no objections after seven days." @nodejs/social

"Membership in the Social Team requires zero objections from [TSC](https://github.com/nodejs/tsc) members

[2022-09-29 16:16] richardlau commented on #726
No objection.

[2022-09-29 17:21] mhdawson commented on #726
+1

[2022-09-29 18:26] bnb commented on #726
+1

[2022-09-29 19:29] joesepi commented on #726
+1

[2022-09-29 22:44] BridgeAR commented on #726
+1

[2022-09-30 11:59] joyeecheung commented on #726
+1

[2022-10-02 10:02] ovflowd opened #727 "Request Admin access for nodejs/nodejs.dev"
I'm requesting admin access for the nodejs.dev repository so I can efficiently manage the Firebase integrations, GitHub Actions, et cetera.

cc @nodejs/tsc @nodejs/nodejs-dev

[2022-10-02 10:18] ovflowd commented on #727
cc @bnb @mhdawson @Trott @benhalverson @mcollina

[2022-10-02 10:19] RaisinTen commented on #727
SGTM but does this need the TSC to make a decision? I thought that changing roles in a repo is completely up to the team that's managing it.

[2022-10-02 10:20] ovflowd commented on #727
@RaisinTen no one from the current team has admin access to the repo :S

[2022-10-02 10:21] RaisinTen commented on #727
I think @joesepi and @MylesBorins has admin access :)

[2022-10-02 10:24] ovflowd commented on #727
Gotcha, I kinda also needed access (the point of this issue)

[2022-10-02 10:41] bnb commented on #727
+1 @ovflowd has been doing a tremendous amount of work in this repo.

[2022-10-02 15:02] Trott commented on #727
@ovflowd I've bumped you up from "Write" access to "Maintain" access. Give that a try and if it's not enough, I'll move it to "Admin".

[2022-10-02 15:05] ovflowd commented on #727
Hey @Trott, I've just tested, but it still didn't work. Looks like for what I need (Secrets) only Admin will do 😓

[2022-10-02 15:28] Trott commented on #727
You're now admin for that repository. I'm going to optimistically close this.

[2022-10-02 15:28] #727 closed

[2022-10-02 16:00] Trott opened #728 "GraphQL API explorer"
There's a request from @WaleedAshraf for GraphQL API Explorer access to the org. I don't have any more information than that but I'm opening this issue for Waleed or someone else to provide that information so a decision can be made. Thanks!

[2022-10-02 16:01] Trott commented on #728
(I clicked Deny but there's nothing stopping me or someone else with Admin privileges from clicking Grant Access to reverse it if we decide to do this. The link/page is https://github.com/orgs/nodejs/policies/applications/402786.)

[2022-10-02 16:24] WaleedAshraf commented on #728
We were testing some automation stuff in the morning at Collab Summit. Later I realized that this access is not needed for the GraphQL queries we needed. You did right denying it. You can close this issue.
Thanks,

[2022-10-02 16:50] #728 closed

[2022-10-11 16:28] Trott commented on #726
Based on the social-team.md doc in the admin repo, this nomination has passed. I've taken the liberty of adding myself to the social team in GitHub but I'm not sure what else needs to be done. @nodejs/social

[2022-10-11 22:57] Trott opened #729 "remove obsolete teams"
I would propose removing the following teams:

* @nodejs/ecosystem-security
* @nodejs/wishlist
* @nodejs/modules-legacy

Any concerns from either members of the those teams or else @nodejs/tsc?

[2022-10-11 22:58] BridgeAR commented on #729
+1 on removing the teams

[2022-10-14 22:17] mhdawson commented on #729
+1 on removing

[2022-10-14 23:02] Trott commented on #729
Done.

[2022-10-14 23:02] #729 closed

[2022-10-18 20:20] bnb commented on #726
FWIW onboarding is done here AFAIK and this can be closed.

[2022-10-18 20:20] bnb commented on #726
ah wait I can only close because of moderation, my bad - reopening.

[2022-10-18 20:27] aduh95 commented on #726
Fixed by https://github.com/nodejs/admin/pull/730

[2022-10-18 20:27] #726 closed

[2022-10-18 21:05] Trott opened #733 "archive https://github.com/nodejs/social-team"
It doesn't seem to serve any purpose.

@joesepi Can you confirm?

[2022-10-19 02:59] Trott opened #734 "archive https://github.com/nodejs/social-team-private"
@nodejs/social @nodejs/tsc

[2022-10-19 03:01] Trott opened #735 "archive https://github.com/nodejs/buffer-ecosystem-usage"
@nodejs/tsc, especially @ChALkeR

Totally OK if we think we should keep it, but it hasn't gotten any attention for years, and unarchiving is easy enough if we decide we want it.

[2022-10-19 03:03] Trott opened #736 "archive https://github.com/nodejs/http-next"
@nodejs/tsc @nodejs/http @Ethan-Arrowood

[2022-10-19 20:01] joesepi commented on #733
I can confirm @Trott that that repo is not currently serving any purpose other than being a place to drop issues for the Social Team's efforts which may be moot.

[2022-10-19 20:02] ljharb commented on #733
Presumably that could be handled by github team discussions

[2022-10-20 00:54] Trott opened #737 "Prune nodejs/citgm team"
I'd like to prune the nodejs/citgm team.

I think we can/should keep:

MylesBorins
targos
richardlau
BridgeAR

I think the following people are inactive of late in nodejs as a whole and can be removed from the CITGM team:

bzoz
gdams
al-k21

To give all seven of those people a ping in case they have any comments: @nodejs/citgm

And for TSC awareness and review/comment: @nodejs/tsc

[2022-10-20 00:56] Trott commented on #737
Should we eliminate the citgm team entirely and make CITGM the purview of the release team? @nodejs/releasers

[2022-10-20 00:57] jasnell commented on #737
SGTM

[2022-10-20 10:16] richardlau commented on #737
I guess that's the current reality, but I've always hoped to get more involvement in citgm from outside the release team.

[2022-10-20 15:03] ruyadorno commented on #737
We discussed it today in the Release WG and I agree with the assessment from @richardlau here that it would be great to have an active CITGM community outside of the Release Team.

@darcyclarke was also in the same meeting and mentioned that the @nodejs/npm team might be contributing more to it moving forward so it might be a good idea to keep the citgm team and give it a second chance 😊

[2022-10-20 15:07] ruyadorno commented on #737
One issue with CITGM and its contributions that I personally wanted to mention is the fact that is hard to attract contributors to such a low-visibility (but still essential to the project) type of work.

I don't want to derail the conversation over here (this might be a part of a larger conversation, since other groups such as the Build WG might also be in a similar position) but I believe it's s

[2022-10-20 15:08] nlf commented on #737
we are planning to potentially use it for acceptance testing of new releases of npm. i don't have much detail beyond that yet, but i do think it's going to play a critical role in how we submit new npm releases upstream

[2022-10-20 16:16] ljharb commented on #737
I'd be happy to join the CIGTM team if it would help; I have a couple packages tested by it already.

[2022-10-20 19:09] darcyclarke commented on #737
As @ruyadorno / @nlf mentioned the @nodejs/npm team is considering using CITGM prior to cutting our releases which should help ensure things are already looking green before we go & open a PR to the project. With that in mind, I think it would make sense for our team to help maintain CITGM longer-term.

[2022-10-20 21:52] Trott commented on #737
Membership pruned. Thanks everyone.

[2022-10-20 21:52] #737 closed

[2022-10-21 10:45] RaisinTen opened #739 "move postject under the nodejs org"
Owner: https://github.com/postmanlabs
Name of repository: postject
Repository link: https://github.com/postmanlabs/postject

The repository has the necessary code to inject arbitrary data into a binary post-compilation and also the code required for retrieving the embedded data at runtime. This is needed to make it possible for Node.js to support the creation of [single executable applications](ht

[2022-10-21 10:52] ovflowd commented on #739
👍

[2022-10-21 13:43] jviotti commented on #739
I'm all for it

[2022-10-21 14:19] bnb commented on #739
+2

[2022-10-21 15:22] jasnell commented on #739
Can you link to the current project repo?

[2022-10-21 15:25] richardlau commented on #739
https://github.com/nodejs/admin/blob/main/transfer-repo-into-the-org.md

[2022-10-21 16:45] jviotti commented on #739
This is the repo under discussion: https://github.com/postmanlabs/postject. The pre-requisites for transferring it make sense. @dsanders11 @RaisinTen Can you go through it, make the necessary changes in the repo and let me know once its ready for transfer? I'll handle the company logistics from Postman's side afterwards

[2022-10-21 16:45] jviotti commented on #739
This is the repo under discussion: https://github.com/postmanlabs/postject. The pre-requisites for transferring it make sense. @dsanders11 @RaisinTen Can you go through it, make the necessary changes in the repo and let me know once its ready for transfer? I'll handle the company logistics afterwards

[2022-10-22 08:30] benjamingr opened #741 "The README here needs an update"
Removing mentions of CommComm since it does not exist any more.

Alternatively, maybe the contents here can/should be moved under the TSC repo though updating the readme is a less chaotic change probably.

[2022-10-25 08:19] RaisinTen commented on #739
@richardlau thanks for the link, I've updated the repo and the description with the required info.

@nodejs/tsc PTAL.

[2022-10-25 08:22] targos commented on #739
Isn't it a bit early to move it under the org when we don't yet have consensus on using it ?

[2022-10-25 08:54] RaisinTen commented on #739
I thought that we didn't have consensus on using postject by making it a part of the Node.js binary but we did have consensus on using it separately at least - https://github.com/nodejs/node/pull/45066#issuecomment-1284100605. I'd be happy to address any concerns regarding that.

[2022-10-28 05:18] Trott opened #744 "auditing issue-triage team"
I don't think we have a recurring process to audit membership in @nodejs/issue-triage so I'm opening this issue to do that.

Looking at the membership, everyone seems to be active relatively recently except for possibly @PoojaDurgad and @himadriganguly. @PoojaDurgad and @himadriganguly: Are you still doing Node.js triage?

[2022-10-28 05:18] Trott commented on #744
@nodejs/tsc

[2022-10-28 05:20] Trott commented on #736
Archived.

[2022-10-28 05:20] #736 closed

[2022-10-28 05:21] Trott commented on #735
Archived.

[2022-10-28 05:21] #735 closed

[2022-10-28 05:21] Trott commented on #734
Archived.

[2022-10-28 05:21] #734 closed

[2022-10-28 05:22] Trott commented on #733
Archived.

[2022-10-28 05:22] #733 closed

[2022-10-28 10:58] ChALkeR commented on #735
post-merge LGTM )

[2022-10-28 11:34] RaisinTen commented on #739
72 hours have passed after I posted https://github.com/nodejs/admin/issues/739#issuecomment-1290170436, so I'm closing this issue now. Will transfer the repo soon!

[2022-10-28 11:34] #739 closed

[2022-10-28 13:33] jviotti commented on #739
I'll get the right Postman approvals, etc and will transfer the repo as soon as possible.

[2022-10-28 14:18] jviotti commented on #739
We have the final thumbs up. I'm transferring the project now.

[2022-10-28 14:19] jviotti commented on #739
And done! https://github.com/nodejs/postject :tada:

[2022-10-28 14:24] RaisinTen commented on #739
I have also given the @nodejs/single-executable team `Write` access to the repo. Feel free to raise any concerns regarding that as issues in the repo. Thanks a lot everyone! 🎉

[2022-10-28 14:36] aduh95 commented on #739
Shouldn't they get `Maintainer` role instead? That's what I've been doing when transferring repo, I'm never sure which is more appropriate though.

[2022-10-28 14:39] RaisinTen commented on #739
Ah, I didn't know that. Done, now the team has the `Maintain` role. :+1:

[2022-10-31 06:36] RaisinTen commented on #739
Btw, I have also invited the Node.js foundation npm account to be an owner of the npm package according to https://github.com/nodejs/admin/blob/201fd09510a82b1cc15835dd899fe011ee1fe014/transfer-repo-into-the-org.md?plain=1#L51-L53:
[code]

[2022-11-01 18:25] Trott opened #745 "archive https://github.com/nodejs/http-parser"

[2022-11-01 18:44] tniessen commented on #745
cc @bnoordhuis

[2022-11-01 19:03] richardlau commented on #745
For more context, this was removed from core for Node.js 13 by https://github.com/nodejs/node/pull/29589.

[2022-11-01 19:41] mcollina commented on #745
sgtm

[2022-11-02 00:37] mhdawson commented on #745
+1

[2022-11-02 23:16] Trott commented on #744
I removed PoojaDurgad and himadriganguly.

[2022-11-02 23:16] #744 closed

[2022-11-03 15:58] mhdawson opened #746 "Tracking issue for creating LFX crowdfunding account to accept bounties"
The TSC discussed/agreed to create an LFX crowdfunding account to accept the Project Part of the Hacker One bug bounties.

This issue is to track/share progress on that. At this point I believe we need to do the following:

- [x] Create an LFX Account that can be used to create the crowdfunding account.
  Currently they don't have any notion of teams so it needs to its own email
  - [x] add email

[2022-11-03 16:02] mhdawson commented on #746
PR to add email alias - https://github.com/nodejs/email/pull/202/files

[2022-11-03 19:33] mhdawson commented on #746
Created the LFX Account and then requested the crowdfunding account. It's currently pending.

[2022-11-04 17:21] anonrig opened #747 "Creating @nodejs/performance repository"
Hi all,

Upon receiving some great feedback from https://github.com/nodejs/node/issues/45302, I recommend creating a `nodejs/performance` repository that oversees the @nodejs/performance team focusing on performance-related stuff in Node.

I'd like to be the champion of this team in addition to the help of several TSC members.

Best,
Yagiz Nizipli

[2022-11-04 17:25] anonrig commented on #747
I feel like I should have cc'd the @nodejs/tsc team

[2022-11-04 17:28] richardlau commented on #747
+1 from me. Are you looking to revive the old benchmarking WG (i.e. https://github.com/nodejs/benchmarking) (not necessarily as a full blown WG) or is this going to be a fresh start?

[2022-11-04 17:31] anonrig commented on #747
I'm thinking about creating a non-formal team and a place to talk performance at first. Therefore, I believe a fresh start is much better than reviving a WG. We can convert this team to an official working group depending on progress and attendance.

[2022-11-04 17:41] mhdawson commented on #747
+1 from me. Would be great to have an active team working together on issues in this area.

[2022-11-04 20:57] aduh95 commented on #747
What would the repo contain? I don't really understand why a repo is needed.

[2022-11-04 21:29] anonrig commented on #747
I assume it'll be a place:

- to prepare and announce meetings
- communicate/ask performance-related stuff
- include docs about what optimizations we are looking for, and where to look for it
- keep track of progress

[2022-11-05 23:09] Trott commented on #745
Archived.

[2022-11-05 23:09] #745 closed

[2022-11-07 02:14] BethGriggs opened #748 "Python team review/call for members!"
I believe the number of active folks in the Python team is small. This issue is to review current membership and also call for others who may be invested in responding to, or reviewing Python issues.

I suggest removing the following three members who are collaborator emeriti and appear to not be active in the nodejs GitHub organisation anymore: refack, thefourtheye, aqrln. (Please correct me if I

[2022-11-07 05:58] cclauss commented on #748
I agree that I have not seen those three active for some time.

[2022-11-07 06:58] Trott commented on #748
@nodejs/tsc

[2022-11-07 23:29] mhdawson opened #750 "Zoom/Youtube access for @sheplu"
@sheplu has volunteered to help run Next-10 meeting when necessary.

Unless there are objections I'll give him access by the end of the week.

[2022-11-08 18:28] Trott commented on #747
https://github.com/nodejs/performance

[2022-11-08 18:28] #747 closed

[2022-11-08 18:36] anonrig opened #751 "Zoom access"
Hi,

In order to plan the first meeting for @nodejs/performance, I ask for permission to access Zoom.

[2022-11-09 18:51] mhdawson commented on #751
We'll need to get @anonrig access to both zoom and youtube. Unless there are objections I'll do that early next week.

[2022-11-09 18:59] anonrig commented on #751
Meeting is probably going to be on monday, due to the availability of all people. Is it possible to get access earlier @mhdawson? Or I can push the meeting for next week.

[2022-11-10 01:36] Trott commented on #751
Maybe someone who is attending the meeting already has Zoom access and can make it happen.

[2022-11-10 22:36] RafaelGSS commented on #751
I can join. I need the time first.

[2022-11-10 22:39] anonrig commented on #751
According to Doodle best time to have a meeting is November 14 1 PM EDT (New York).

[2022-11-11 07:11] Trott opened #752 "archive hardware repo and remove hardware team?"
I'd love to see that team rise from the ashes like a phoenix, but for now, it seems like [the repo](https://github.com/nodejs/hardware) has been inactive for a few years, and I don't think the GitHub team gets much use/activity either. I think it makes sense to archive the repository (which is easy to revert and low risk) and remove the team (which can always be added again, but is less trivial th

[2022-11-11 09:43] ovflowd commented on #752
I had no idea we had a Hardware WG...

[2022-11-14 17:10] BethGriggs commented on #748
Updated the team as proposed.

[2022-11-14 17:10] #748 closed

[2022-11-14 19:16] mhdawson commented on #751
Ok since there has been no objections I'll move forward with giving anonrig access.

@anonrig can you PR yourself into the `zoom-nodejs` list in https://github.com/nodejs/email/blob/main/iojs.org/aliases.json.

[2022-11-14 19:17] mhdawson commented on #751
@anonrig I'll also need a 1 password account I can use to share the zoom password with you

[2022-11-14 19:18] mhdawson commented on #750
Since there have not been any objections I'll proceeding with sharing with @sheplu.

@sheplu, can you PR yourself into the zoom-nodejs list in https://github.com/nodejs/email/blob/main/iojs.org/aliases.json.

I'll also need a 1password account I can use to share the Zoom password with you

[2022-11-14 19:50] anonrig commented on #751
I opened a pull request. (https://github.com/nodejs/email/pull/203)

You can use yagiz@nizipli.com. I have a valid 1password subscription.

[2022-11-15 11:38] sheplu commented on #750
PR done

You can use `jean.burellier@gmail.com` for the 1password account

[2022-11-15 15:17] mhdawson commented on #751
@anonrig you should get an invite to the vault in 1password

[2022-11-15 15:20] mhdawson commented on #750
you should have invite to vault with zoom creds.

[2022-11-17 11:33] ovflowd opened #753 "Add @ovflowd to Next-10"
Hey there 👋 as with my interest in Documentation efforts for Next-10, I thought it would make sense for me to be added on that team. Ty!

[2022-11-17 11:34] ovflowd commented on #753
cc @nodejs/tsc

[2022-11-17 18:05] mhdawson commented on #753
@ovflowd  just PR yourself into the Next-10 team members. It's the team that will agree/land, does not need TSC involvement.

[2022-11-21 13:57] sheplu commented on #750
the invite was in my spam, didn't saw it until this week end. Could you resent one ? (sorry :( )

[2022-11-21 16:08] legendecas opened #754 "Create @nodejs/realm team"
I'd like to propose creating a @nodejs/realm GitHub team to be able to mention people who are interested and able to review the works on the Node.js Realm support and the ShadowRealm strategic initiative (https://github.com/nodejs/node/issues/42528).

Interested candidates so far:
@cjihrig
@joyeecheung
@ljharb
@mcollina

@nodejs/tsc yea or nay?

[2022-11-21 16:18] ljharb commented on #754
I'd be interested as well.

[2022-11-21 18:58] mhdawson commented on #750
@sheplu resent

[2022-11-21 21:29] #753 closed

[2022-11-22 07:23] sheplu commented on #750
all good ! thanks a lot. Any doc or setup information I should be aware of ?

[2022-11-22 15:23] mhdawson commented on #750
This is what we currently have - https://github.com/nodejs/TSC/blob/main/Streaming/Streaming-To-Youtube.md

[2022-11-22 15:59] mhdawson commented on #751
@anonrig I think you should have access to everything you need now.  There are some instructions on streaming in https://github.com/nodejs/node/pull/45582 and I'm also happy to have a short meeting to help you get started if needed. Let me know if you need anything else.

[2022-11-22 15:59] #751 closed

[2022-11-22 16:00] mhdawson commented on #750
@sheplu,  I think you should have access to everything you need now.  There are some instructions on streaming in https://github.com/nodejs/node/pull/45582 and I'm also happy to have a short meeting to help you get started if needed. Let me know if you need anything else.

[2022-11-22 16:00] #750 closed, assigned to nobody

[2022-11-22 16:01] mhdawson commented on #685
The password is now shared in 1Password and I've done that for new people added.  I'm going to close this.

[2022-11-22 16:01] #685 closed

[2022-11-22 18:21] #752 closed

[2022-11-22 18:22] AkashaCoin commented on #752
RIP :(

[2022-11-26 08:59] ovflowd commented on #628
Hey folks, do we still need updates here? 👀

Basically, just to give context, we would use the key for using the G Calendar API for the Node.js Calendar page (Where we can see all the meetings of the Node.js project)

[2022-11-26 09:03] ovflowd opened #755 "Consider adopting Holopin"
Hey folks 👋, during Hacktoberfest I got ahold of a tool called [Holopin](https://holopin.io), which gave badges to people contributing to open source.

It seems that the Holopin folks are collaborating with open-source projects to give badges (gamification) to people contributing to open-source (like achieving milestones).

@elenalape, a friend of mine that works there, wanted to kickstart some di

[2022-11-27 05:53] RaisinTen commented on #755
Doesn't GitHub already provide something like that (https://github.com/ovflowd?tab=achievements in your case)? I'm not sure how Holopin is different from that, could you please elaborate?

Also what does it mean for this project to adopt Holopin? Does it mean that the nodejs organization would be able to send custom badges to some contributors via Holopin or some other medium?

[2022-11-27 15:33] ovflowd commented on #755
I don't think GitHub Achievements highlights at all project-specific achievements.

Holopin is kinda a wall of "virtual" stickers, I would say. But I believe @elenalape can do a better job on explaining her goals 👀

Yes, I believe that's what I believe so. I think one of the ideas she explained to me, was to "reward" contributions or at least "show gratitude" 🤔

[2022-11-27 19:29] cjihrig commented on #754
I have created @nodejs/realm and invited the interested parties.

[2022-11-27 19:29] #754 closed

[2022-11-27 23:24] elenalape commented on #755
Hi hi! Founder of Holopin here. 🦖 Thank you for looping me in, happy to provide more context and answer your questions.

Holopin lets you issue sticker-like digital badges for achievements, recognition, awards, event participation. Open source contributions is one of the use cases, and a natural fit for open source projects like NodeJS.

@RaisinTen — exactly, NodeJS would be able to create and sen

[2022-11-29 19:41] Trott opened #756 "clean up node-core-util team"
I added anonrig to https://github.com/orgs/nodejs/teams/node-core-util today (so he could cancel/restart some GitHub Actions workflows that were stalling) and noticed some inactive folks on there I'd like to remove.

Pinging:

@priyank-p
@lundibundi

Let me know if I'm mistaken about your relative inactivity in node-core-utils or if you intend to resume activity soon. Thanks!

@nodejs/tsc

[2022-11-30 13:22] AugustinMauroy commented on #650
Hello!
I just saw what the Koreans did. It's great 🔥 ! Is it possible to revive the French community?

Of course I want to start this initiative

[2022-11-30 14:11] ovflowd commented on #710
@Trott would it be OK if I could (again) request access to the Zoom Creds? I would like to "manage" the Website meetings if possible.

[2022-11-30 20:35] Trott commented on #650
@danielleadams

[2022-11-30 20:49] Trott commented on #710
I think that's fine. +1 from me

[2022-11-30 20:56] mhdawson commented on #710
+1 from me