[2020-09-02 23:38] mmarchini commented on #545
We should transfer the `@nodejs` org ownership to nodejs-foundation, we just need to figure out who owns it now. Or we could send a request to npm 😅

[2020-09-03 15:53] bnb commented on #545
@mmarchini in the i18n issue, it's noted that we own @nodejs/ and there's a lot of pushback on using it. ref: https://github.com/nodejs/admin/issues/505

[2020-09-03 15:58] ronag commented on #505
Isn't this already the situation with the project on the GitHub organization? Also isn't that the point of having it on the org? I'm confused how this would be different?

[2020-09-03 16:00] ronag commented on #545
I wouldn't say there is a lot of pushback. There are some questions and opinions on the matter and could be worth further discussing.

[2020-09-03 16:04] mmarchini commented on #545
Either way, we should own the nodejs org on npm, regardless of how we're going to use it

[2020-09-03 16:23] BethGriggs commented on #549
+1 for having a #nodejs-core/#nodejs-dev (or similarly named) channel in the OpenJS Slack

[2020-09-03 18:49] bnb commented on #505
FWIW this isn't intended to be an ecosystem thing, this is for our own translations of our own documentation.

[2020-09-03 18:50] bnb commented on #545
@ronag edited my phrasing 👍🏻

[2020-09-03 18:52] mmarchini commented on #505
ohh, I definitely misunderstood that before. In this case I'm -1 on using `@nodejs` as it can give the false impression for external users that the package is intended for them. I do think having a scope for internal tooling is a good idea, maybe something like `@nodejs-internal` or `@nodejs-dev`/`@nodejs-development` (`@nodejs-tools` also seems like it would be an external-facing scope).

[2020-09-03 18:57] mmarchini commented on #505
OTOH other projects like Electron do publish tools intended for the project on `@electron` instead of a different scope: https://github.com/electron/build-tools

[2020-09-03 21:34] wesleytodd commented on #505
Plus one to this.  I know if I saw a package which looked useful on the `@nodejs` npm org I would not hesitate at all to tightly couple to it.  `@nodejs-internal` on the other hand would make me think twice and reach out to the maintainers to ensure that was alright.

[2020-09-03 23:18] bnb commented on #505
Personally I do not like the name `@nodejs-internal` but can't think of anything better, so can't really recommend a different one 😅

[2020-09-03 23:27] nschonni commented on #505
No real opinion on the scope, but I think maybe adjusting the name to something like `node-api-docs` might relieve some of the concerns around promotion

[2020-09-04 01:24] wesleytodd commented on #505
I didn't mean to say I was tied to the `-internal`, just that the bare name implies external use is ok to me.  Perfectly fine with any other naming scheme for "things not intended for external use".

[2020-09-04 02:09] wesleytodd commented on #531
I don't think this will be a node core fork.  My understanding was that this would house the mid and top tier apis, and @jasnell was working on the lowest level apis in node core now.  So, this repo would house the http1/2/3 apis and whatever abstraction we build on top of that to make the compatibility story better.

If anyone from the @nodejs/web-server-frameworks team disagrees with my understa

[2020-09-04 04:24] zeke commented on #505
My vote would be for `@nodejs/i18n` if we can make it happen.

While the primary consumer of a `@nodejs/i18n` (or similarly named) package would be the Node.js website (i.e. an "internal" user), the package could also have potential value for the "external" ecosystem of Node.js users as well. The would be anyone who wants to consume structured Node.js documentation in multiple languages and for mu

[2020-09-04 08:44] tniessen commented on #545
I _think_ @ChALkeR owns `@nodejs`, but I am not quite sure.

[2020-09-04 08:59] ChALkeR commented on #545
@tniessen On npm? I don't.
I recommend contacting npm, Inc. support for that, I think?

[2020-09-04 14:36] wesleytodd commented on #505
In my previous comments I was focused on the scope name, but to give feedback now that I see the package base name is also for discussion 😄...

I would not expect the translations of the docs to be called `i18n`.  To me that would be a package for doing `i18n` in node, or to support nodes runtime `i18n` capabilities.  I would think `docs` which contained all the translations would be the name I ex

[2020-09-04 14:59] MylesBorins commented on #505
what about @nodejs-docs/i18n?

[2020-09-04 15:00] MylesBorins commented on #545
I am not sure who exactly own it but I can dig in.

[2020-09-04 17:34] mmarchini commented on #545
I'll submit a transfer request to npm using the nodejs-foundation account, that's probably the fastest way to find out and get it transferred

[2020-09-04 17:45] MylesBorins commented on #545
I've already identified the owner and started the transfer request to my personal account (didn't think about transferring to foundation account)
can update it

[2020-09-04 20:10] MylesBorins commented on #545
I'm an owner now! (also an owner of the @node scope)

there is a nodejs-admin account on both, is that something is managing?

[2020-09-04 20:35] mmarchini commented on #545
I believe so, yeah

[2020-09-05 01:14] MylesBorins commented on #545
I've invited nodejs-foundation to both the @node and @nodejs scopes

[2020-09-05 01:26] mmarchini commented on #545
@rvagg @mhdawson @jbergstroem y'all should've received an invite for the nodejs-foundation npm account to join the orgs above. The invite was sent to [build@iojs.org](https://github.com/nodejs/email/blob/6cdd348c0eafe8cf077c107fd6f58c6049b6d8b3/iojs.org/aliases.json#L82-L91).

[2020-09-05 10:09] mcollina commented on #545
Can I get access? I would like to add readable-stream as well.

[2020-09-05 10:19] mmarchini commented on #545
I think it makes sense to add everyone from TSC (or everyone who wants to) as admins to the orgs (and maybe add it as part of our onboarding/offboarding)

[2020-09-05 13:55] TiagoDanin commented on #505
Creating a scope for a single module seems strange to me.
We could use the `@nodejs-extras` that could be useful on future projects.

+1 `@nodejs-extras/docs`

[2020-09-05 16:07] wesleytodd commented on #505
The more I think on this, I am strongly in favor of using `@nodejs` as the scope for public consumption of node packages.  I especially like the idea of being able to `npm i @nodejs/docs` and have a local copy.  I think it is reasonable to have both internally used packages and public use packages in the scope.  If the idea is to reserve one scope for internal only packages, I think it should **no

[2020-09-05 18:35] mmarchini commented on #505
@wesleytodd by internal packages do you mean like shims for Node.js APIs (like readable-streams), or packages that are only relevant to the project (like node-core-utils)?

[2020-09-06 06:45] Trott commented on #531
According to https://github.com/nodejs/admin/blob/1ac8f19c14c22683c8f8271ca8f205a6580b3be6/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories, this is effectively approved. Looking at the web-server-frameworks folks, I see at least four people that should be able to add the repo (Matteo, James, Michael, and Gireesh). Happy to do it if they'd prefer that for any reason, but probably best for one of them

[2020-09-07 02:59] wesleytodd commented on #505
I think the distinction I wanted to make was about the perception of "should I, a random dev, use this package?". When @mcollina said above that it was going to be used for "internal/core usage" I wanted to point out that the scope `@nodejs` would mean the opposite for me.

In the last comment I think I mean `node-core-utils` not `readable-stream`.  `readable-stream` is used all over the place, an

[2020-09-09 17:36] mmarchini commented on #549
Created [#nodejs-dev](https://openjs-foundation.slack.com/archives/C019Y2T6STH)

[2020-09-09 17:36] #549 closed

[2020-09-09 19:15] mmarchini opened #551 "Add SLACK_WEBHOOK secret to nodejs/node"
Add `SLACK_WEBHOOK` secret which is a webhook URL to the OpenJS Foundation #nodejs-dev Slack channel. This allows us to send selective notifications to the channel via Actions, such as [notifying folks when someone force pushes](https://github.com/nodejs/node/pull/35131).

[2020-09-09 19:16] mmarchini commented on #551
cc @nodejs/tsc @nodejs/community-committee reminder we need two +1s from each committee

[2020-09-09 20:55] mhdawson commented on #551
+1

[2020-09-09 23:58] rvagg commented on #545
I got 3 invites in my email but they all lead to 404s. Maybe just let me know if I need to `npm owner add` anything?

[2020-09-10 00:13] mmarchini commented on #545
The links probably expired, or you need to be logged in as `nodejs-foundation` on npm for the links to work. I don't think you can use `npm owner add` to add the `nodejs-foundation` account as owner of the `nodejs` org unless you `rvagg` is an owner of the org (which is not the case, Myles is the owner now).

[2020-09-10 03:08] MylesBorins commented on #545
you can have multiple owners. I've escalated rvagg to also be an owner. There are still invites out for nodejs-foundation

[2020-09-10 17:55] Trott commented on #551
+1

[2020-09-11 16:17] mhdawson commented on #545
I can try to log in as nodejs-foundation a bit later to try to resolve that side of things.

[2020-09-13 10:29] mmarchini commented on #551
Need one more from @nodejs/community-committee

[2020-09-13 13:15] gireeshpunathil opened #552 "create a `issue-triage` team"
this issue is to:
 - propose a `issue-traige` team to contain the triage team members (ref: https://github.com/nodejs/node/blob/master/GOVERNANCE.md#triagers and https://github.com/nodejs/node/pull/35153#issuecomment-691668773 ) with "triage" access for the node and help repos, and the usual "write" access to the moderation repo
 - discuss and gather consensus
 - and create one
 - pls add +1 / 👍 t

[2020-09-13 13:39] Trott commented on #552
+1 👍

[2020-09-13 13:41] Trott commented on #552
I think `issue-triage` should be given "triage" access for the node and help repos, and the usual "write" access to the moderation repo.

[2020-09-13 13:43] gireeshpunathil commented on #552
thanks @Trott , inline edited the comment with that info

[2020-09-14 18:26] mmarchini commented on #552
cc @nodejs/tsc @nodejs/community-committee

[2020-09-14 18:29] mmarchini opened #553 "Add SLACK_WEBHOOK secret to nodejs/node-v8"
Slack webhook in the OpenJS Foundation slack (channel #nodejs-v8-canary) for important notifications on the nodejs/node-v8 repository.

Ref: https://github.com/nodejs/node-v8/pull/171#issuecomment-691640335

[2020-09-14 18:30] mmarchini commented on #553
cc @nodejs/tsc @nodejs/community-committee

[2020-09-14 21:06] MylesBorins commented on #552
One question. Will the triage team be able to kick of CI or land commits via labels?

I think there are two questions here

1. What are the default permissions
2. What behavior do we see as desirable

I don't have super strong opinions just yet, aside from assuring that we are intentional

[2020-09-14 22:17] mhdawson commented on #545
Still on my TODO list.

[2020-09-14 22:21] mhdawson commented on #552
+1

[2020-09-14 22:40] mmarchini commented on #545
I can do this tomorrow after the build infra onboarding.

[2020-09-15 02:42] gireeshpunathil commented on #552
@MylesBorins - thanks, I don't know the answer to that. Of course the [github documentation](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization) does not cover that. Looks like the build team, who made the scripts for the CI and LAND workflows would know.

/cc @nodejs/build @nodejs/automation

[2020-09-15 02:46] gireeshpunathil commented on #552
regarding desired levels: I am fine with permissions for those 2 actions to be granted to triagers, with a reasoning of more permissive than inhibitive, leading to more empowerment

but open to discussions.

[2020-09-16 21:43] helio-frota opened #555 "Suggestion to add a number or current date on youtube playlists"
Hi folks,
I'm trying to watch the videos of N-API in series
https://www.youtube.com/watch?v=5QiaNFhVRoI&list=PLfMzBWSH11xb8_DRfdB3yiB4g7MPzGA_l&index=41

But it is unordered.
Can you please add a number or current date on the title (I'm not sure how youtube works with playlists) but
it is hard to follow what happen in the past.

Big thank you. And keep with the good work.

[2020-09-16 21:43] mhdawson commented on #545
@mmarchini if you are going to do this let me know, otherwise I might try to schedule a time with Myles on Friday to do it.

[2020-09-16 21:45] mhdawson commented on #555
I typically add the date at the end of what Zoom gives us for the title. It would probably be easy to add at the start instead if it makes people easier to follow the sequence.

While we discuss I'll try to remember to add at start for the next meetings I chair to see if there is any problem doing it. If not make sense to me to ask people chairing meetings across the org to do it.

[2020-09-16 21:55] helio-frota commented on #555
Thank you. I believe whatever you folks do can help, because it is hard to follow, please look the order:

![2020-09-16_18-54](https://user-images.githubusercontent.com/6443576/93396458-19127900-f84e-11ea-9158-9f058457584c.png)

[2020-09-16 22:13] mmarchini commented on #555
For the diag meetings I always add at the start, yyyy-mm-dd format.

[2020-09-17 18:01] mhdawson commented on #545
tGot Myles to resend and the nodejs-foundation npm use is now a member of the node organisation.  I terms of owners I think it makes sense for a number of TSC members (or all to be the owners).

[2020-09-17 18:10] MylesBorins commented on #545
please add me

[2020-09-17 18:24] mmarchini commented on #545
please add me too :)

[2020-09-17 18:33] mhdawson commented on #545
I'm confused by the `please add me` from @MylesBorins as I thought he was the one who would be adding people ?

[2020-09-17 18:33] mhdawson commented on #545
primarily based on https://github.com/nodejs/admin/issues/545#issuecomment-689948610

[2020-09-17 18:33] mhdawson commented on #545
please add me too :)

[2020-09-17 18:37] MylesBorins commented on #545
@mhdawson I misunderstood, I thought you meant to add more people to the nodejs-foundation org 😂

[2020-09-18 13:41] mhdawson commented on #545
@MylesBorins there is no nodejs-foundation org.  It is simply a user which we add as a backup to be able to add/manage collaborators on Node.js packages in case the other collaborators are no longer available.

[2020-09-18 18:10] mmarchini commented on #545
This is the current membership of the `nodejs` org on npm:

![image](https://user-images.githubusercontent.com/4048656/93630845-871a8580-f99f-11ea-9b7f-7545590cbe3c.png)

[2020-09-18 19:32] mhdawson commented on #545
@mmarchini thanks for grabbing it. I think it should be likely be the TSC or subset as owners.

[2020-09-18 20:21] mhdawson commented on #555
I did DD-MM-YYYY for the N-API one today, we should agree on what we should recommend/use

[2020-09-18 21:14] mhdawson commented on #553
I should probably know the answer but @mmarchini does this mean that additional people who have access to nodejs/node-v8 will now have access to the secret?

[2020-09-18 21:33] ljharb commented on #555
yyyy-mm-dd lexicographically sorts properly, and lacks ambiguity between US and Europe formats (obligatory https://xkcd.com/1179/)

[2020-09-18 23:40] mmarchini commented on #553
No, the secret is only visible while I'm setting, after that GitHub will mask it on logs (and when editing users can only enter new values, the old value won't show up).

[2020-09-19 16:02] MylesBorins commented on #545
@mhdawson was is your current up to date npm account?

[2020-09-21 05:00] mmarchini commented on #552
Triagers will be able to start CI and land PRs using the commit queue.

[2020-09-21 05:09] gireeshpunathil commented on #552
so that means now the only outstanding question is: are we good to grant these permissions (default github permissions plus CI and land permissions) to triagers?

[2020-09-21 05:15] nschonni commented on #552
Looks like you could potentially have a github action to guard those labels by doing some inspection on the sender https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#label
Still possible for the cron job to pick up the label before that action removes it, but that might not really be a concern you have

[2020-09-21 05:26] mmarchini commented on #552
FWIW this is an issue that was raised before landing the commit queue, and the consensus back then was that it's not an issue: https://github.com/nodejs/TSC/issues/907#issuecomment-672373221

[2020-09-21 05:27] mmarchini commented on #552
I guess the only question I have is: do we have a clear process for folks to become triagers (like we have for collaborators)?

[2020-09-21 05:38] gireeshpunathil commented on #552
the process is outlined here: https://github.com/nodejs/node/blob/master/doc/guides/contributing/issues.md#triaging-a-bug-report

the key is: `Anyone with a reasonable understanding of Node.js programming and the project's GitHub organization plus a few contributions to the project (commenting on issues or PRs) can apply for and become a triager. Open a PR on the README.md of this project with: i)

[2020-09-22 06:00] mmarchini commented on #551
@nodejs/community-committee need one more +1

[2020-09-22 06:02] mmarchini commented on #553
Cc @nodejs/community-committee need one more +1

[2020-09-22 13:25] mhdawson commented on #545
mhdawson1

[2020-09-22 13:54] mhdawson commented on #555
Ok we should try to doc that somewhere `yyyy-mm-dd`

[2020-09-23 16:50] bnb commented on #505
FWIW I generally agree with @wesleytodd's expressed perspectives here but it's also a hill that I realize I do not have enough of a stake in to meaningfully drive consensus on 😅

[2020-09-24 02:58] Trott commented on #551
I forget where, but I believe we documented that for people who are on both committees, their vote can count for one committee or the other. Did we change that and now Michael Dawson has the double-value vote? I mean, not that we need to raise the obstacles to approval higher....

[2020-09-24 03:00] Trott commented on #551
I can't find it anywhere, so I think we should go with what you (@mmarchini) have been going with. If someone wants to make it harder to approve things, they an open a pull request to change the GitHub policy doc in this repo. I don't think anyone is going to advocate for that. Certainly not me.

[2020-09-24 03:03] mmarchini commented on #551
I've been counting each persons vote as one vote, so if they are on two committees they vote counts towards the committee with least votes so far. It doesn't change the fact that we have three TSC votes (you, Shelley and Michaël) and one CommComm vote (Michael). We still need one more from CommComm.

[2020-09-24 03:03] mmarchini commented on #551
(we don't require 4 votes, we require two from each committee)

[2020-09-24 03:04] mmarchini commented on #551
added to commcomm agenda for awareness

[2020-09-24 04:00] Trott commented on #553
+1 (but I'm not on CommComm....)

[2020-09-24 04:04] Trott commented on #551
Ah, I didn't realize that we count the GitHub reactions too.

If nothing else, our current process could use some clarifying, at least for me.

[2020-09-24 04:07] mmarchini commented on #551
If we don't, I've passed some apps and secrets without proper approvals 😅

[2020-09-25 00:51] nschonni opened #556 "GitHub Secret for nodejs/docker-node"
We had the token setup awhile ago for the creation of PRs from Travis-CI https://github.com/nodejs/docker-node/issues/670
We're migrating over to GitHub Actions https://github.com/nodejs/docker-node/pull/1337, so we need to have the secret `GITHUB_API_TOKEN` created. If the old token is stored in the nodejs/secrets repo from the original request it can be reused.

Otherwise I believe only `repo:pu

[2020-09-25 02:24] mmarchini commented on #556
cc @nodejs/tsc @nodejs/community-committee

We already have secrets for GitHub tokens, which means we can fast-track this (needs two folks from either committee approving the fast track). If we fast-track, this will only need one approval and wait 72h from the time the committees were notified.

[2020-09-25 02:24] mmarchini commented on #556
I'm +1 for adding this, but I want to understand why the GITHUB_TOKEN provided by GitHub doesn't work for this use case first. @nschonni have you tried it?

[2020-09-25 02:30] nschonni commented on #556
This particular setup in the PR no, but I have tried similar things where this doesn't work because:
- It's pushing to a repo that isn't the one that triggered the action
- It's creating an PR through the API to a separate repo

I've got a separate action were we're looking to generate PRs for the docker-node repo, where the built-in one will work fine

[2020-09-25 02:36] mmarchini commented on #556
I thought that was the case, just wanted to make sure someone tried first :)

(again, I'm +1, I can't approve my fast track request though, and either way we need to wait 72h before setting up secrets on nodejs/docker _if folks approve the fast tracking_)

[2020-09-25 21:02] mhdawson commented on #556
+1 to fast track

[2020-09-25 21:04] joesepi commented on #556
+1 to fast track

[2020-09-25 21:08] nschonni commented on #556
Just looping back the details here https://github.com/nodejs/docker-node/pull/1337#issuecomment-698668672

So a new token won't be required, and we'll be able to re-use this one after approval

[2020-09-27 03:55] guybedford opened #557 "Proposal to transfer "cjs-module-lexer" repo into Node.js organization"
Once the PR at https://github.com/nodejs/node/pull/35249 lands, Node.js will have a dependency on the external project https://github.com/guybedford/cjs-module-lexer, which was created and will be maintained explicitly for this PR feature.

I expect to maintain this project for at least a few years, but that maintenance would be done always based on upstreaming. In addition there would be no plans

[2020-09-28 06:56] targos commented on #557
+1

[2020-09-28 15:41] mcollina commented on #557
+1

[2020-09-28 15:59] arcanis opened #558 "Proposal to transfer the Corepack repo into the Node.js organization"
The PR at https://github.com/nodejs/node/pull/35398 adds a new dependency into the Node trunk: [Corepack](http://github.com/arcanis/corepack). Since once the PR has landed the expectation is that people will only use it through Node, I believe it would make sense to move it inside the Node organization.

### Maintenance:

I would be ready to keep maintaining Corepack regardless the org it belongs

[2020-09-28 16:04] mcollina commented on #558
+1

[2020-09-28 22:04] mmarchini commented on #558
I don't like the idea of moving a TS project to the org to be added as dependency to Node.js, but we already have precedence and I think I'm somewhat alone in this position so 🤷🏻‍♀️

+1 to moving the repository anyway. We should have an onboarding plan to have more folks working on that project as well.

[2020-09-28 23:51] cjihrig commented on #558
You are not alone.

[2020-09-29 00:01] Qard commented on #558
Even putting aside my apprehension of having a TS project in core, I'm not really seeing how this and the linked PR are worth the extra maintenance overhead versus just leaving it in userland. 🤔

[2020-09-29 02:32] jasnell commented on #558
What's the concern about using typescript?

@Qard ... I'm curious what additional overhead you're concerned about. There should be very little regular maintenance required... At least, definitely no more so than our current npm maintenance.

[2020-09-29 02:45] Qard commented on #558
TS is more an abstract concern to me--mainly just that it introduces yet another thing maintainers would need to learn. However, I'm less concerned about that in this instance, I mostly just included that to share that I had similar concerns of TS in core to others whom commented here.

I'm more just questioning the value of having this particular thing in core. It's not a _huge_ chunk of code, bu

[2020-09-29 02:58] jasnell commented on #558
Well, let's keep in mind that moving the repo in to the node.js org is a separate matter than deciding to ship it in core. We can decide one long before deciding the other.

[2020-09-29 04:52] mmarchini commented on #558
@jasnell personally I would like to see the repository move to the org before landing the PR, but if I'm alone in that opinion I'm happy to drop that part of my objection there.

[2020-09-29 05:02] mmarchini commented on #558
Also worth noting that since there are no objections here yet from TSC or CommComm (just a raised concern on TS), we can transfer the repository in 49 hours (unless we get an objection before that). So which happens first is probably moot since it's very likely that the repo will be transferred first (given the PR is not implemented as experimental at this point).

It introduces an unnecessary con

[2020-09-29 05:18] nschonni commented on #556
Did this hit the "fast-track" threshold, or is it still missing votes?

[2020-09-29 05:50] mmarchini commented on #556
Yeah, it's approved. As soon as someone has the time to add the secret to the repo it will be done. I'll try tomorrow but if anyone can do it first go ahead

[2020-09-29 06:13] mmarchini commented on #558
One thing we might want to consider is to also release this as `@nodejs/pmm` on npm once it moves to the org, so users on LTS can try it out too.

[2020-09-29 07:38] arcanis commented on #558
Note that it also removes a significant part of the maintenance burden. In the end I'm fine with removing it if you feel very strongly about it, but as the one who'll keep reviewing PRs on this project, I can tell I would feel much more confident if I had a type checker running.

[2020-09-29 15:36] cjihrig commented on #558
I disagree there. The maintainers are likely to change over time.

[2020-09-29 15:51] mmarchini commented on #558
Note that I shared the project with some folks and was told that it's harder to read/follow by at least one of them for the exact reason I mentioned: TypeScript is not JavaScript. I feel strongly about it but not enough to stop progress, but the possibility of switching back to JS if TS becomes a maintenance barrier should be on the table.

[2020-09-29 15:53] mmarchini commented on #558
Also, as the main maintainer of llnode today, we should avoid having projects in the org that are only maintained by one person, it makes everything so much harder.

[2020-09-29 16:14] wesleytodd commented on #558
I think there are multiple reasons this should be held:

1. There are many constituencies with large stake in this decision which are not represented in the conversation
2. There is no clear owner beyond the IC's currently involved
3. There is little meaningful difference today between this repo living in node or in userland
4. I think it is unclear if this is even the right long term solution for

[2020-09-29 16:21] mmarchini commented on #558
That would be Package Maintenance WG, correct? I don't think it fits any other WGs tbh.

[2020-09-29 16:44] wesleytodd commented on #558
I do think the PM WG has the most overlap.  We also have a charter written, many active members, and even a place for "userland" modules to live.  I think that group would be a great place to do either 1 or 2.

[2020-09-29 18:15] jasnell commented on #558
@wesleytodd:

I would not see this as a reason to block moving the repo in to the node.js organization. In fact, doing so would likely increase the visibility and attract more people into the conversation.

There have been clear statements made about folks from both the yarn and pnpm projects contributing and I will be participating as a contributor also.

Please clarify what you mean here. Moving

[2020-09-29 18:29] jasnell commented on #558
@wesleytodd :

From the corepack readme: "In practical terms, Corepack will let you use Yarn and pnpm without having to install them - just like what currently happens with npm, which is shipped by Node by default."

This is effectively the problem that corepack is looking to solve -- essentially, helping to somewhat level the playing field across multiple package manager options.

[2020-09-29 18:51] wesleytodd commented on #558
If the groups most closely involved do not think this is the right direction at all, do you still think so?  I see no conversation saying there is consensus on this part across all the involved groups.  Again, maybe I am wrong and that conversation exists and I was just not aware.

I intended to make the above argument for both parts (including it in the distribution and moving the repo), but sinc

[2020-09-29 18:57] mmarchini commented on #558
If we don't create a working group, and it doesn't fall under the package maintenance working group, it will be chartered under TSC, correct? IOW if there are disagreements on the repository that can't be resolved through collaboration, issues/PRs would be escalated to the TSC?

[2020-09-29 18:58] jasnell commented on #558
Yes.

[2020-09-29 19:01] jasnell commented on #558
@wesleytodd :

Let's try to make this more actionable then so that those of us advocating for this know what the goalposts actually are...

A couple questions:

1. Who are the stakeholders that we need to get consensus from?

2. Outside of this being written in typescript and changing the `npm i -g` flow for pnpm and yarn installation, what are the concrete concerns about the direction taken by co

[2020-09-29 19:52] nschonni commented on #556
@mmarchini awesome! Whenever the Secret is added, I'll land the outstanding PRs when I see this issue is closed

[2020-09-29 19:58] wesleytodd commented on #558
Ok, here is my (maybe) actionable feedback:

I don't think that Node.js shipping a tool to shim package managers serves our users or the maintainer of the project. It adds complexity and maintenance costs with no return value in the form of user happiness or productivity.

There is no doubt that if you start from a problem statement of "users of yarn/pnpm have to run npm i -g yarn/pnpm, which give

[2020-09-29 20:22] jasnell commented on #558
I wouldn't be so quick to dismiss this as an argument as maintainers of both yarn and pnpm have expressed this exact concern. You may not find the issue compelling but there's no doubt that it's accurate.

While this *is* a problem statement that I would agree with, this is *not* the problem that I think is being addressed here. The proposal on the table does not change the status quo with regards

[2020-09-29 20:41] wesleytodd commented on #558
Cool, that bit clears up some questions for me, thanks @jasnell.  I completely respect the position that pushing through against the resistance is difficult and often not worth the effort, and my feedback in this thread is exactly that kind of resistance (I apologize for that).

Unfortunately, I think I strongly believe that the problem needs to include those other things, otherwise we just smear

[2020-09-29 20:53] paul-soporan commented on #558
`nvm` would support this just like it already supports npm. `corepack` would be bundled with Node, so switching between Node versions would also switch between `corepack` versions.

    it would make the ecosystem more competitive because some of the hard parts would be done and the UX could be more easily iterated on at the top level
    it would mean no package manager "framework" holds a monopo

[2020-09-29 21:00] arcanis commented on #558
Issue https://github.com/nodejs/node/issues/15244 got opened three years ago, and got revived a few times since then (each time by people unaffiliated to the package manager teams) - each time with the same request. It totals 89 comments at the moment, and it's unlikely someone has something new to add. This problem isn't new.

Both me and @zkochan have been maintaining our respective projects for

[2020-09-29 21:09] jasnell commented on #558
I don't think this point can be overstated. Corepack is being brought to the table by maintainers of both yarn and pnpm to address a years old problem that no amount of discussion in core has resolved up to this point.

[2020-09-29 21:17] wesleytodd commented on #558
These are great points, and I think they are exactly the kind of things which should be nailed down as a part of the larger conversation.  Hence my initial proposal to have a structured conversation in a smaller group with the subject matter experts like yourself.  My concern is the current proposal exists, community projects exist, but Node's position is so unclear.  I think we need a clear probl

[2020-09-29 21:30] mmarchini commented on #558
(I just realized TSC and CommComm were not pinged here, so cc @nodejs/tsc @nodejs/community-committee since this is a request to transfer a repository to the org)

[2020-09-29 21:34] jasnell commented on #558
We may eventually get to a point where we can solve the larger problems. We may even decide that shipping corepack with the node.js binary just simply is not the right thing to do. But that is a completely separate question as to whether or not the corepack repo can move under the node.js organization. Doing so does not obligate us to any particular path moving forward and doing so helps to addres

[2020-09-29 21:37] dominykas commented on #558
Just to clarify... this issue is about adding this project under nodejs org? If so - then I think it should be done. It looks like an advanced project, that needs some incubation and experimentation, and we do have pkgjs org for just that, but at the same time - I don't think that PM WG _needs_ to be the admin of all such incubation and experimentation projects. The whole point is that the project

[2020-09-29 21:38] wesleytodd commented on #558
👍

Will moving it into the node org mean others than the current IC's participate?  If so, then I am on board.  There are reasons I probably won't be an effective contributor (things brought up above among them) but if others will then I will withdrawal my opposition and move it into that repo itself.

[2020-09-29 21:48] mmarchini commented on #558
@arcanis if you want to speed up the process, [here's a checklist](https://github.com/nodejs/admin/blob/master/transfer-repo-into-the-org.md#step-1-get-the-repository-ready) of files you should have before moving the repository to the org:

- CODE_OF_CONDUCT.md: it can be a reference to the Node.js Code of Conduct.
- CONTRIBUTING.md: if there isn't one already, the contributing guide of Node.js co

[2020-09-30 21:06] nschonni commented on #556
Friendly ping, we'd like to get out the backlogged 4.12 and 4.13 tags

[2020-09-30 22:29] mhdawson commented on #558
I'm ok with the move of the repo, provided as @jasnell has stated that it's clear that it does not imply any agreement or consensus that it will become part of core, and it is in support of experimentation and the process of gaining consensus on next steps.

[2020-09-30 23:08] mhdawson commented on #557
+1

[2020-09-30 23:24] mmarchini commented on #557
This is approved. @guybedford can you make sure the repository have the following files?

- CODE_OF_CONDUCT.md: it can be a reference to the Node.js Code of Conduct.
- CONTRIBUTING.md: if there isn't one already, the contributing guide of Node.js core could be a good example. Consider including the Developer's Certificate of Origin section in the document to avoid potential copyright conflicts.
-

[2020-10-01 06:01] guybedford commented on #557
Sure will do. Just give me a few days to prepare the repo for the transfer.

[2020-10-01 16:20] bnb commented on #551
+1

[2020-10-01 16:20] joesepi commented on #551
+1

[2020-10-01 17:44] mmarchini commented on #545
I believe this can be closed?

[2020-10-01 17:45] #547 closed

[2020-10-02 01:53] #545 closed

[2020-10-03 05:31] gireeshpunathil commented on #552
@mmarchini - are you familiar with the process of creating teams, and if so can you make this? (I haven't tried before, don't want to make mistakes.) thanks!

[2020-10-06 18:18] bnb commented on #553
+1

[2020-10-06 20:02] bnb commented on #556
@nschonni if you tell me what needs to be copied where, happy to help. If I'm not instantly responsive here, feel free to DM me on Twitter or the OpenJS Slack.

[2020-10-06 20:08] nschonni commented on #556
Thanks @bnb! I think this is what we need:
- Copy the existing PAT in the secrets repo: docker_node_github_api_token.md is in build/github-bot
- On https://github.com/nodejs/docker-node/settings/secrets add the value as a new "Repository secret" called `GITHUB_API_TOKEN`

[2020-10-06 20:27] mmarchini commented on #556
Created. I had to change the name to `GH_API_TOKEN`, apparently github doesn't let us create secrets starting with GITHUB_ (or it just doesn't let the specific GITHUB_API_TOKEN name). So remember to change that in the PR as well. Feel free to close this issue once the Action is working :)

[2020-10-06 20:42] nschonni commented on #556
Awesome @mmarchini I'll add that code suggestion on the PR for the name change

[2020-10-07 04:53] gireeshpunathil commented on #552
nvm, I attempted one here https://github.com/orgs/nodejs/teams/issue-triage

pls have a look and let me know , especially the` repositories` attribute.

[2020-10-07 04:54] nschonni commented on #556
Secret is working! Thanks @mmarchini

[2020-10-07 04:54] #556 closed

[2020-10-07 05:54] MylesBorins commented on #552
general permissions look good. Do we want this to be a subteam?

[2020-10-07 06:57] gireeshpunathil commented on #552
@MylesBorins - thanks.

tbh, no idea. tradeoffs of being / not being a suteam?

[2020-10-07 07:05] mmarchini commented on #552
@MylesBorins a subteam of which team?

[2020-10-07 13:14] Trott opened #559 "Collaborators team configuration cleanup"
I'm going to do the following:

* Remove net, http2, and quic as subteams. That was a temporary change to get CODEOWNERS to work but now we have the bot handling CODEOWNERS stuff so it shouldn't be necessary anymore.
* I'm going to remove "Write" access for repositories that are archived. There are now 19 repositories listed for Collaborators, and archived ones don't need to be on the list. The ar

[2020-10-07 13:17] Trott commented on #559
Consistent with other teams (like buffer), these three teams are now subteams of Core instead of Collaborators.

[2020-10-07 13:25] Trott commented on #559
Privileged access to the archived repositories removed for Collaborators (and anyone else I found in those repos while I was at it). The Collaborators list is now down to "only" 13 repositories.

[2020-10-07 13:25] #559 closed

[2020-10-07 19:10] RRomoff opened #560 "Broad Node.js Survey"
Hi All:

The Foundation would like to get the broad Node.js User Survey back off the ground. Last year, we made a bunch of progress in getting community feedback (https://github.com/nodejs/admin/issues/380 ) but needed to pause due to other priorities.

We also had some legal feedback pertaining to how extensive and in-depth our data set was regarding GDPR protected data / Personal Identifying Inf

[2020-10-08 21:39] mmarchini commented on #558
@arcanis per our process this is now approved, you can transfer the repository to the `nodejs/` org.

[2020-10-08 21:57] arcanis commented on #558
@mmarchini Nice! I've just tried but got "You don’t have the permission to create public repositories on nodejs" - do I need to do something special on my side?

[2020-10-08 21:59] mmarchini commented on #558
You got this error when trying to transfer the repo through settings? If that's the case give me admin permission to the repo and I'll transfer it.

[2020-10-08 22:07] arcanis commented on #558
I transferred it to your account, so you should be able to re-transfer it to @nodejs 😄

[2020-10-08 22:08] mmarchini commented on #558
lol

[2020-10-08 22:17] mmarchini opened #561 "Create @nodejs/corepack team"
Should've thought about that before transfering the repo lol.

@nodejs/tsc @nodejs/community-committee any objections on creating the corepack team with write access to https://github.com/nodejs/corepack and adding @arcanis to that team?

[2020-10-08 22:17] mmarchini commented on #558
done https://github.com/nodejs/corepack

[2020-10-08 22:17] #558 closed

[2020-10-08 22:25] mhdawson commented on #561
+1 from me

[2020-10-08 22:25] ChALkeR commented on #561
+1

[2020-10-08 23:47] MylesBorins commented on #561
+1

Can you add me to team too?

[2020-10-09 00:11] nschonni opened #562 "Admin access to https://github.com/nodejs-github-bot/official-images for nodesj/docker team"
This repo/fork is used to create pull requests to the docker/offical-images repo. Requesting access for the team so we can prune stale branches and fix the auto-pr branch if something goes wrong in the auto-pr process.

Not really sure how this should get documented

/cc @nodejs/docker

[2020-10-09 00:15] nschonni commented on #562
Alternate would be to create a fork in the nodes org and grant permissions there. We'd then just need to adjust the auto-pr job to use that

[2020-10-09 00:20] mmarchini commented on #562
Why can't the repository live in the org instead?

[2020-10-09 00:27] nschonni commented on #562
@mmarchini it could, that was my follow on comment 😄 , but maybe it did show up before you responded

[2020-10-09 05:06] mmarchini commented on #562
ah, guess I got confused with "create a fork". I meant transfer the whole repo and have the main repo in the org.

[2020-10-09 12:57] joyeecheung commented on #488
nodejs/node-core-utils has been created a while back. I have archived the automation and deleted the automation teams.

[2020-10-09 12:57] #488 closed

[2020-10-09 15:24] bnb commented on #561
+1

[2020-10-10 02:06] nschonni commented on #562
No worries, maybe this is a better statement:

Option 1:
- Give Admin or maintainer access to https://github.com/nodejs-github-bot/official-images nodejs/docker

Option 2:
- Create a new fork of https://github.com/docker-library/official-images into the nodejs org
- Grant Admin access to nodejs/docker to new repo
- Grant Write access to nodejs-github-bot to new repo
- Update nodejs/docker-node aut

[2020-10-10 04:10] mmarchini commented on #562
I'm more inclined to option 3. I always thought it was weird that we had that repository on the bot account. I don't understand why Admin access is needed though.

[2020-10-10 04:12] mmarchini commented on #562
Also, since Option 2 deletes the original repo and keeps only the fork, there's essentially no difference between options two and three.

[2020-10-10 20:58] Trott commented on #538
+1

[2020-10-12 17:37] gireeshpunathil commented on #552
purpose met - sub team created, closing

[2020-10-12 17:37] #552 closed

[2020-10-13 22:11] mhdawson commented on #538
+1

[2020-10-14 19:59] nschonni opened #563 "Adding aduh95 to linters team"
@Trott I don't think we have a particular repo for these issues, but since @aduh95 seems to have some interested and experience, it think it makes sense to add them.

[2020-10-15 12:20] Trott commented on #563
Done.

[2020-10-15 12:20] #563 closed

[2020-10-15 16:46] ljharb commented on #563
linking to the team @nodejs/linting

[2020-10-15 17:32] gabrielschulhof opened #564 "Proposal: A new repository for a WebIDL-to-N-API compiler (nodejs/webidl-napi)"
# Purpose
The [WebGPU spec](https://gpuweb.github.io/gpuweb/) is a new W3C specification to expose a machine’s GPU to JS. It is currently in active development and, as such, its WebIDL changes quite often.

[`WebGPU-NAPI`](https://github.com/Kings-Distributed-Systems/webgpu-napi) is a project that provides N-API bindings for native implementations of WebGPU adhering to https://github.com/webgpu-na

[2020-10-16 12:36] tniessen opened #565 "Archive nodejs/webcrypto"
I wasn't aware of @jasnell's efforts to add WebCrypto to Node.js core until a few days before the PR was opened. At this point, it probably doesn't make sense to continue my own efforts in https://github.com/nodejs/webcrypto. I didn't have much time during the last couple of months, and apart from Sam and @panva, there has been little to no help and/or engagement in that repository. And while a lo

[2020-10-16 23:05] tniessen commented on #565
cc @nodejs/tsc @nodejs/community-committee

[2020-10-19 21:03] RRomoff commented on #560
I'll be closing this down Weds and starting on next steps. Please let me know if there are any questions!

[2020-10-19 22:01] mhdawson commented on #565
+1

[2020-10-19 22:10] mhdawson commented on #560
@RRomoff can you give us a rundown on the next steps and timeline for them?

[2020-10-19 22:11] mhdawson commented on #564
+1 from me.

[2020-10-19 22:13] mhdawson commented on #562
+1 on option 3

[2020-10-19 23:19] nschonni commented on #562
Option 2 allows up to update and test with the new repo before the old one is removed. Option 3 assumes that we can co-ordinate timing and that there are no snags in updating all the CI workflows as a "big bang".

Sorry, missed the comment. I guess full Admin might not be needed, maintainer might be enough to be able to prune and possibly force-push to fix PR branches if there are issues with the

[2020-10-19 23:37] ljharb commented on #562
Option 2 deletes all issues and PRs, unrecoverably.

[2020-10-19 23:40] nschonni commented on #562
There are no issues because it's a fork of an upstream repo already. There are a few old testing PRs https://github.com/nodejs-github-bot/official-images/pulls?q=is%3Apr+is%3Aclosed but I think it could be Archived rather than deleted at the end if you think there is anything to keep

[2020-10-20 03:37] danbev commented on #564
Sounds very interesting, +1.

[2020-10-20 14:39] gabrielschulhof commented on #564
Thank you all for your help! I have created the repo: https://github.com/nodejs/webidl-napi

[2020-10-20 14:39] #564 closed

[2020-10-21 20:30] RRomoff commented on #560
**Next steps and timeline**
- update the survey w/o Oct 19
- re-engage with external survey resource, week of Oct 26
- format survey into surveymonkey, week of Oct 26
- Open Survey - week of Nov 2
- Collect responses ~ 4 weeks
- Close Survey, Week of Dec 7/14
- Analyse results (timing TBD on external expert)
- Publish Results (timing TBD, but early 2021)

[2020-10-21 22:03] mhdawson commented on #560
@RRomoff thanks! Great to have that level of insight :)

[2020-10-22 04:46] Trott commented on #565
Done.

[2020-10-22 04:46] #565 closed

[2020-10-22 05:14] Trott commented on #562
There seems to be agreement that this should happen, although I guess it's not unanimous about whether it should be option 3 or option 2. But I guess there's consensus?

What's the next step? Somebody with the bot login credentials needs to initiate the transfer?

[2020-10-22 13:24] nschonni opened #566 "Adding ttshivers to nodejs/docker team"
We have a new member we'd like to add to the team, but it looks like because they're not in the nodejs org currently, we can't directly add them to the team https://github.com/nodejs/docker-node/issues/1366

/cc @ttshivers @nodejs/docker

[2020-10-22 14:14] Trott commented on #566
I've sent them an invitation.

@nodejs/tsc @nodejs/community-committee @nodejs/docker Any objection to making @nschonni a Maintainer for @nodejs/docker?

[2020-10-22 17:31] tniessen commented on #565
Unarchived and re-archived to change the repository description to something meaningful.

[2020-10-23 03:28] ttshivers commented on #566
Thank you. Got the invite and accepted.

[2020-10-23 04:00] rvagg opened #567 "Move `node` Snap management repo into nodejs org"
I'd like to move primary maintenance of the Node.js Snap package `node` into this org, and I think I need to open an issue here to formalise it. I've discussed this with @nodejs/build-infra and have got a :thumbsup: from @mhdawson at least (and no disagreement from the others). I haven't yet mentioned this to @nodejs/build so this should serve as that and I would like @nodejs/build to be the "owne

[2020-10-23 13:58] mhdawson commented on #567
+1

[2020-10-23 14:00] mhdawson commented on #567
@rvagg the review process is described here: https://github.com/nodejs/admin/blob/master/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories

After 72 hours if there are no objections it can be transferred over and I should be able to help with that.

[2020-10-23 14:01] mhdawson commented on #567
@rvagg can you add a code of conduct file which references https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md

[2020-10-23 14:36] mhdawson commented on #567
You can probably just copy this one: https://github.com/nodejs/node-addon-api/blob/master/CODE_OF_CONDUCT.md

[2020-10-26 18:47] mhdawson commented on #531
Repo created, https://github.com/nodejs/http-next.  @Ethan-Arrowood can you push, licence, readme.md and code of conduct files before anything else goes in?

[2020-10-27 00:06] Ethan-Arrowood commented on #531
Pushed! Let me know if anything needs to be changed

[2020-10-27 01:12] Trott commented on #531
I think this can be closed now? Re-open if I'm wrong, of course.

[2020-10-27 01:12] #531 closed

[2020-10-27 16:45] Starefossen commented on #566
No objections here!

[2020-10-27 17:38] Trott commented on #566
Made @nschonni a Maintainer of `@nodejs/docker`. Closing this.

[2020-10-27 17:38] #566 closed

[2020-10-30 06:44] rvagg commented on #567
@nodejs/tsc I'm now transferring the `rvagg/node-snap` into this org. Could the person who receives the transfer please rename it to `nodejs/snap`, give @nodejs/build-infra admin access to it and @nodejs/build write access to it.

[2020-10-30 06:47] rvagg commented on #567
OK, I didn't need it to be accepted, I guess because I'm a member of the org. https://github.com/nodejs/node-snap is there now, I got to select the two teams but I think that only gives write access. Could I please get it renamed to `snap` and the build-infra team elevated to Admin so they can edit the settings & secrets and such.

[2020-10-30 06:57] targos commented on #567
I renamed it to `snap` and `build-infra` is now Admin.

[2020-10-30 07:03] rvagg commented on #567
perfect, thanks @targos. relevant secrets also added @ https://github.com/nodejs-private/secrets/pull/143

[2020-10-30 07:03] #567 closed

[2020-10-30 08:33] benjamingr commented on #512
This has been merged/fixed :] If anyone feels this should stay open - feel free to reopen

[2020-10-30 08:33] #512 closed

[2020-11-04 16:31] MylesBorins opened #570 "Planning to update members of @nodejs/npm in the next 24 hours"
Hey members of @nodejs/npm

I'm planning to update the membership list tomorrow and just wanted to give y'all a heads up before I do so.

If you have any questions feel free to lmk.

[2020-11-04 22:01] DSPence2931 opened #571 "Breach of code of conduct"
The node.js website seems to be breaking the openjs-foundation/cross-project-council as well as its own code of conduct by sporting a @blacklivesmatter banner on its webpage.

![image](https://user-images.githubusercontent.com/73968122/98172284-b5541600-1eb6-11eb-8138-9e2b18c76b4d.png)

"Our Pledge
We as members, contributors, and leaders pledge to make participation in our community a harassment-

[2020-11-05 16:11] MylesBorins commented on #570
Done, thanks all

[2020-11-05 16:11] #570 closed

[2020-11-19 20:09] mmarchini opened #572 "Add `workflow` scope to github-bot token used on nodejs/node"
### Why

The Commit Queue can't land changes to `.github/workflows` (see https://github.com/nodejs/node/issues/34770#issuecomment-730558824). That's because the Personal Access Token we use for Commit Queue doesn't have the `workflow` scope.

### Request

Add `workflow` scope to the Personal Access Token we use on `nodejs/node`

### Potential risk

It shouldn't be more risky than using the Commit

[2020-11-23 22:29] mhdawson opened #573 "Create private repo for inadvertent disclosures"
Would like to create new private repo called `premature-disclosures` for inadvertent disclosure handling as outlined in: https://github.com/nodejs/node/pull/36155

If approved I'll rename/cleanup https://github.com/nodejs/node-temp which was created adhoc during the last inadvertent disclosure.

[2020-11-24 02:04] gireeshpunathil commented on #573
I approve

[2020-11-24 05:59] mcollina commented on #573
I approve

[2020-11-24 08:13] targos commented on #573
I approve the creation of `premature-disclosures` but I don't think it should be a copy of `nodejs/node`. Let's make it an empty repo with a README that explains what it is about.

[2020-11-24 19:51] mhdawson commented on #573
@targos that is what had created. Myles had pushed the node content when we thought there was still a possibility of moving a PR. Given that we can't removing all of that is what I had in mind as part of the "cleanup"

[2020-11-30 21:35] mhdawson commented on #573
Repo repurposed and cleanup. Maybe not in the best way but should do.

[2020-11-30 21:35] #573 closed

[2020-11-30 23:50] nschonni commented on #572
We've run into this for the docker-node PAT as well recently because they added GitHub Actions to their repo it creates PRs for. Can we piggy back this to make it a general "Add `workflow` scope to github-bot", or is it better to spin up a new issue?

[2020-12-01 00:02] mmarchini commented on #572
@nschonni create a new issue, since re-using this issue would require re-approval from folks who already approved.

[2020-12-01 00:10] nschonni opened #574 "Add `workflow` scope to github-bot token used on nodejs/docker-node"
## Why

https://github.com/docker-library/official-images started to use GitHub Actions, so the automated PRs have started failing as the current PAT can no longer push to it's own fork that it creates PRs for.

Add workflow scope to the Personal Access Token we use on nodejs/docker-node. I'm not sure if the reverse lookup from the existing token is easy. I believe it can be found https://github.c

[2020-12-01 01:50] mmarchini commented on #574
cc @nodejs/tsc @nodejs/community-committee

[2020-12-01 01:52] mmarchini commented on #574
care to elaborate? I'm not sure I understand why it fails without `workflow` scope. A link to a failure (and to a discussion on that issue, if it exists) would be helpful.

[2020-12-01 01:52] mmarchini commented on #572
cc @nodejs/community-committee one more to go :)

[2020-12-01 02:08] nschonni commented on #574
Sure! Here is the failure we get now. EX: https://github.com/nodejs/docker-node/runs/1449886770?check_suite_focus=true#step:5:496

The `munge-pr.yml` file is actually something the Docker folks added in official images https://github.com/docker-library/official-images/blob/master/.github/workflows/munge-pr.yml. Since they added it, our PAT now requires the workflow scope to push to the github-bot

[2020-12-07 19:13] mmarchini commented on #573
Is the assumption that CommComm and Moderation can have access to this repository, even though they wouldn't receive a disclosure through the proper channels? Since both teams are admins on the org they have access to any private repos.

[2020-12-08 19:55] bnb commented on #572
+1

[2020-12-09 06:24] Trott commented on #574
I'm not sure how to proceed, but I don't want to see this stall either. @mmarchini or anyone else have anything to add at this point?

[2020-12-09 06:31] mmarchini commented on #574
@Trott this needs the usual four approvals (two from TSC, two from CommComm). I didn't approve yet because I want to understand why the workflow needs this permission (didn't have time to look into it yet, probably won't have time until late next week). If others feel comfortable approving it I would mind though.

[2020-12-09 06:32] mmarchini commented on #574
To be clear: I'm not blocking this, just withholding my approval until I understand how the permission fit in the workflow.

[2020-12-09 06:40] nschonni commented on #574
@mmarchini I'm not really sure what else I can add to my previous repsonse

[2020-12-09 07:26] mmarchini commented on #574
@nschonni I think your response is enough, I just didn't have time to explore it.

[2020-12-09 23:08] mhdawson commented on #574
I think I'm +1 on this. It seems that it increases our risk because being able to push changes to workflow files could also somebody to export `GITHUB_TOKEN` which in terms could provide some additional privileges.

I'm not sure we have much choice so we need to depend on the protection from where the Personal Access Token. @nschonni is that Jenkins?

[2020-12-09 23:21] nschonni commented on #574
Not Jenkins, it's used by this GitHub Action https://github.com/nodejs/docker-node/blob/8ca0250e3aad08328fd8719bbe2f6a61ba004a2f/.github/workflows/official-pr.yml#L45 and is stored as a Repo level secret. Here is what it prints currently https://github.com/nodejs/docker-node/runs/1449886770?check_suite_focus=true#step:5:3
That Action only runs on `pull_request_target`, so a drive-by PR can't alter

[2020-12-10 00:02] mhdawson commented on #574
@nschonni thanks, I figured it was either Jenkins or GitHub actions.. I'll reaffirm my +1

[2020-12-10 06:26] targos commented on #574
+1. This token is only used to update a fork and to open a pull request. If a workflow file was changed by a malicious actor, that would not pass the PR code review.

[2020-12-14 03:09] nschonni commented on #562
Since the auto-PR is blocked on #574, this might be a good time to do this with Option 3 since it's not functioning anyway

[2020-12-14 19:14] mmarchini commented on #562
@nschonni I can do it. No need to coordinate with anyone then?

[2020-12-14 19:15] mmarchini commented on #574
(still needs two more +1s @nodejs/tsc @nodejs/community-committee)

[2020-12-14 19:27] mmarchini commented on #574
oh I see, since GitHub doesn't have an option to sync forks automatically, if there are changes on `docker-library/official-images` workflows, it will fail. I really wish GH had an auto-sync option by default :(

Ok, so this is more risky than https://github.com/nodejs/admin/issues/572 because it actually pulls code from a repository outside of the org. @nschonni do we need to keep Actions enabled

[2020-12-14 19:29] mmarchini commented on #574
the scope is only needed when a workflow file is changed upstream. it doesn't matter which file it is.

[2020-12-14 19:39] ljharb commented on #574
@mmarchini i use this action: https://github.com/wei/pull to keep forks up to date automatically.

[2020-12-14 19:40] mmarchini commented on #574
@ljharb does it need `workflow` scope for when a workflow file is updated?

[2020-12-14 19:43] mmarchini commented on #574
It looks like it have the same issue: https://github.com/wei/pull/issues/249#issuecomment-701406810

[2020-12-14 20:24] nschonni commented on #562
yup, go ahead, we need to keep doing manual PRs for now anyway

[2020-12-14 20:27] nschonni commented on #574
in our case, we checkout the upstream repo for creating the patch anyway, so syncing forks isn't an issue in this case.

Turning off the actions on the fork repo is fine, because it's the Action on nodejs/docker-node that actually does the work

[2020-12-14 21:14] joyeecheung commented on #574
+1 from me

[2020-12-18 18:32] NickNaso opened #576 "Create repo node-api-headers"
I would like to create new public repo called  `node-api-headers`. The N-API team discussed about that in the last meeting happened today 18th December 2020. The reference issue is https://github.com/nodejs/node-addon-api/issues/855.
The purpose of the repo is to provide the N-API headers file and the symbols exported by N-API.
@nodejs/n-api

[2020-12-18 18:40] mhdawson commented on #576
+1 from me.

[2020-12-24 02:44] Trott commented on #572
@mmarchini Did this happen and can be closed? Or should this remain open?

[2020-12-24 22:16] guybedford commented on #557
I hate to admit I still haven't got around to this work.

Basically if someone would like to offer to do this repo setup for the transfer I would be glad to assist, but in the end I also don't feel like there's anything wrong with maintaining the repo locally for the time being too.

Feel free to prod me anytime though on it.

[2020-12-28 12:16] targos commented on #543
I think the default was changed to `main` automatically by GitHub, so this can be closed?

[2020-12-28 15:51] ljharb commented on #543
The setting is now "main", whether Github set it or someone else did, so yes, closing.

[2020-12-28 15:51] #543 closed

[2021-01-03 14:54] Trott commented on #576
Regarding repository creation our [docs](https://github.com/nodejs/admin/blob/f2d17d0102c0edbe21b367f732e8b3d1a549da5e/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories) say

So someone can create the repository and then close this issue. Maybe @mhdawson or @gabrielschulhof as they are both TSC members and members of the n-api team?

[2021-01-04 21:14] mhdawson commented on #576
I've created the repo and given access to the n-api team.

@NickNaso could you add a README.md, CODE_OF_CONDUCT.md and CONTRIBUTING.md ?

[2021-01-05 00:24] mmarchini commented on #551
Secret added and PR landed.

[2021-01-05 00:25] #551 closed

[2021-01-05 00:51] mmarchini commented on #562
Repository transfered to https://github.com/nodejs/official-images, @nodejs/docker has been added with ["Maintain" role](https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#repository-access-for-each-permission-level).

[2021-01-05 00:52] mmarchini commented on #562
@nschonni you might need to update the repo name on nodejs/docker-node actions, although GitHub might do the redirect properly as well.

[2021-01-05 00:52] #562 closed

[2021-01-05 00:55] nschonni commented on #562
🎆 thanks @mmarchini!

[2021-01-05 00:56] mmarchini commented on #574
@nschonni disabled Actions on nodejs/official-images and created a new PAT with workflow scope for nodejs/docker-node (updated the existing secret with that token, so you shouldn't need to make any changes to the Action for it to work). I'll close this issue, please let me know if it doesn't work.

[2021-01-05 00:56] #574 closed

[2021-01-05 00:57] mmarchini commented on #572
Done

[2021-01-05 00:57] #572 closed

[2021-01-05 06:56] PeterDaveHello commented on #562
Thanks @mmarchini! 🎉

[2021-01-05 17:02] #576 closed

[2021-01-05 22:25] mmarchini commented on #553
Done

[2021-01-05 22:25] #553 closed

[2021-01-07 14:27] RRomoff commented on #560
Hi All-
With a busier than expected end of year, the survey was pushed. I'm glad to say that it's loaded into the survey tool and ready to be shipped. Here's the link I wanted to share in case anyone would like a final review. My plan is to get this out next week.
Thank you!
https://www.surveymonkey.com/r/D6HXXPP

[2021-01-08 18:50] mhdawson commented on #560
@RRomoff thanks for the update.

[2021-01-08 19:02] mhdawson opened #577 "Google summer of code - any interest"
See https://github.com/openjs-foundation/cross-project-council/issues/673

[2021-01-09 23:49] cjihrig opened #578 "Proposal: move uvwasi to the nodejs org"
I'm opening this issue to see if there is any interest in moving [uvwasi](https://github.com/cjihrig/uvwasi) into the nodejs org. uvwasi is the bulk of Node's current WASI implementation.

Disclaimer: I am planning to limit my involvement on that project moving forward regardless of where it is hosted.

[2021-01-10 09:24] mcollina commented on #578
Are you planning to work on it somehow, or are others planning to do so?

(I'm generically +1)

[2021-01-10 19:38] cjihrig commented on #578
I'm not planning to continue working on it myself, but others are more than welcome to do so.

[2021-01-10 19:41] guybedford commented on #578
+1, I think this would be worthwhile to maintain for Node.js going forward.

[2021-01-11 20:32] cjihrig commented on #578
cc'ing @nodejs/tsc and @nodejs/community-committee for proper visibility of the issue.

[2021-01-11 20:52] mmarchini commented on #578
+1

Assuming there are no objections we can transfer it in 72h (72h is the wait time per our policy, but since tsc and commcomm were only cc'd today I suggest starting to count now so folks have time to review the request).

In the meantime, if you want to speed up the process, you can check if the following files exist in the repository (and create those that don't exist):

- CODE_OF_CONDUCT.md:

[2021-01-11 22:23] mcollina commented on #578
+1

[2021-01-11 23:19] mhdawson commented on #578
+1

[2021-01-11 23:22] jasnell commented on #578
While I'm generally +1, I'm concerned about the lack of maintainers. We either need to find some people willing to move WASI support in Node.js forward or we need to remove it.

@cjihrig ... would you see any reason why the WASI stuff couldn't be implemented as a native addon?

[2021-01-11 23:25] mhdawson commented on #578
@jasnell I agree with the concern over maintainers, but figure that if what we have is a copy having it in the repo would make sense until we figure out what next steps are.  Although maybe I need to better understand if uvwasi is the bulk of Node's current WASI implementation means and how transferring the repo helps support what we already have in core (if it does)

[2021-01-12 01:02] cjihrig commented on #578
I'm also fine with sending a PR to remove it if that is what is preferred.

From a technical perspective I think it's possible.

[2021-01-12 01:15] jasnell commented on #578
Don't get me wrong, I'm not saying that removing it is preferred. It just might make it easier to find contributors/maintainers if it is.

[2021-01-12 03:58] gireeshpunathil commented on #578
+1 to moving to core
+1 to implement natively, but not a pre-req for moving

[2021-01-12 04:56] MylesBorins commented on #578
Thank you for all the hard work on this up until now @cjihrig

I think there is a lot of value in us shipping this built into core, WASI + WASM is a potential platform agnostic backend for natively compiled modules. That said we absolutely need to have maintainers. Perhaps we could reach out to Bytecode Alliance as well as W3C folks working on WASI to see if we can get any people interested.

Whil

[2021-01-12 05:26] danbev commented on #578
+1 I'm interested in helping maintaining/contributing.

[2021-01-12 14:53] richardlau opened #579 "Create @nodejs/platform-zos team"
The IBM z/OS team have begun the process of upstreaming their changes to build Node.js on z/OS, starting with libuv: https://github.com/libuv/libuv/pull/3060.

I've been making changes on the CI (https://github.com/nodejs/build/issues/2491) and it would be very helpful to have a team containing the members for pings/notifications. Would it be possible to create a @nodejs/platform-zos team, initial

[2021-01-12 14:56] gireeshpunathil commented on #579
+1

[2021-01-12 19:04] zsw007 commented on #579
@alexcfyung is also working with me and Igor to upstream changes to build Node.js on z/OS. He is currently looking at changes on the Node.js side, so it may be beneficial to include him in the @nodejs/platform-zos team as well.

[2021-01-12 19:26] mmarchini commented on #579
+1

[2021-01-13 18:53] mhdawson commented on #579
+1

[2021-01-13 21:32] MylesBorins opened #580 "FYI: adding @wraithgar to @nodejs/npm"
@wraithgar has joined the npm cli team and as such I've added them to @nodejs/npm

[2021-01-13 21:32] #580 closed

[2021-01-14 15:44] cjihrig commented on #578
If no formal objections are raised, I plan to transfer the repo this weekend.

[2021-01-14 16:29] mmarchini opened #581 "Create new github-bot personal access token for nodejs/docker-node and add it to repository secretrs"
Request to create new Personal Access Token so we can publish docker images to GitHub Registry.

1. Create a new personal access token (PAT) with the appropriate scopes for the tasks you want to accomplish

- Select the `read:packages` scope to download container images and read their metadata.
- Select the `write:packages` scope to download and upload container images and read and write their met

[2021-01-14 16:29] mmarchini commented on #581
cc @nodejs/tsc @nodejs/community-committee needs two approvals from each committee

[2021-01-14 16:31] Trott commented on #581
👍

[2021-01-14 16:31] apapirovski commented on #581
Approved for @nodejs/tsc

[2021-01-14 22:16] mhdawson commented on #389
Generated list of people to be removed, confirmed with Tierney and did the removal. Closing.

[2021-01-14 22:16] #389 closed

[2021-01-14 22:36] mhdawson commented on #581
+1

[2021-01-15 21:35] bnb commented on #560
Happy to help with socials as it opens. I can work with @joesepi on some copy and schedule tweets / other posts.

[2021-01-16 19:42] cjihrig commented on #578
https://github.com/nodejs/uvwasi

[2021-01-16 19:42] #578 closed

[2021-01-20 12:57] oshunter commented on #576
Hi，mhdawson

When the n-api repo can be accessed?

[2021-01-20 22:41] mhdawson commented on #576
@oshunter its here: https://github.com/nodejs/node-api-headers but not yet populated with content.

[2021-02-16 10:53] richardlau commented on #579
Since there have not been any objections please could someone with permissions create and populate nodejs/platform-zos? And maybe @cjihrig could you update the libuv/zos team to include the additional members?

[2021-02-16 13:19] targos commented on #579
Created @nodejs/platform-zos and invited 3 people:
![image](https://user-images.githubusercontent.com/2352663/108068067-eae5cf00-7061-11eb-981e-7c0be80aae76.png)

[2021-02-16 13:19] #579 closed

[2021-02-16 13:51] cjihrig commented on #579
Done. Invites sent.

[2021-02-19 21:04] iansu opened #582 "Requesting access to Zoom account"
Hi, I'd like to get access to the Node.js Zoom account so I can run the Tooling Group meetings. I'm not sure if I also need access to the YouTube account or if the streaming is all done through Zoom. Thanks!

[2021-02-19 21:11] mmarchini commented on #582
cc @nodejs/tsc @nodejs/community-committee, not sure if we have a clear process in place for this?

[2021-02-19 21:42] mhdawson commented on #582
I'm not sure there is. I usually just email the tsc and community-committee asking if there are any concerns and then if not email Brian from the foundation asking that the person be added.

[2021-02-19 21:43] mhdawson commented on #582
@mmarchini do you want to do the above, otherwise I'm happy to as well.

[2021-02-20 09:23] targos opened #583 "Request for access to private data for Codecov"
https://github.com/orgs/nodejs/policies/applications/119817

I don't know when the request was created. GitHub doesn't display any date.

/cc @bcoe this seems to come from you. What's the need?

[2021-02-20 09:39] targos opened #584 "Travis CI integration"
I updated our [Travis CI integration](https://github.com/organizations/nodejs/settings/installations/197000)

Based on the absence of a `.travis.yml` file and the fact that they now use GitHub actions, I removed Travis CI permissions for the following repositories:
- node-gyp
- readable-stream
- node-addon-examples
- docker-node
- citgm
- llnode
- github-bot
- node-inspect
- remark-preset-lint-nod

[2021-02-23 23:59] mhdawson commented on #582
Since @nodejs/tsc was mentioned and I don't see any objections will forward on the request to Brian for Zoom access and add Ian to the list of youtube managers.

[2021-02-24 00:01] mhdawson commented on #582
youtube invite sent, and email to @brianwarner sent with @iansu on CC.

[2021-02-26 21:52] bnb opened #585 "Create new github-bot personal token for nodejs/tweet automation"
This week, @joesepi and I spent some time on automating the nodejs/tweet repo so we can consistently and easily get out any tweets that should be going out regularly. We started with two, and in the process came across a tiny hitch: for one action to trigger another, we need to use a PAT instead of the Actions-provided token since one action can't trigger off of another if there's a GitHub provide

[2021-02-26 21:52] bnb commented on #585
cc @nodejs/tsc @nodejs/community-committee needs two approvals from each committee

[2021-02-26 21:53] bnb commented on #581
+1

[2021-02-26 21:53] bnb commented on #581
Since @mhdawson is on both, you now have 2 and 2 :)

[2021-02-26 22:45] gr2m commented on #585
if you use a single bot, and you want to create a token than only has access to the one repository, then you could do that by creating an OAuth token through a GitHub App that you'd register on the @nodejs org. Let me know if that is something you'd like to try and I can help you set it up.

OAuth tokens from GitHub Apps also inherit the permission of the installation, you can grant more granular

[2021-02-27 01:08] joesepi commented on #585
I approve and thanks for all your help and guidance @gr2m 🙌

[2021-02-27 01:12] bnb opened #586 "Create nodejs/social-team repo"
There's some discussions that could be beneficial to have well documented and public for the Social Team. A repo outside of nodejs/tweet would be an ideal place for that :)

[2021-02-27 23:03] Trott commented on #586
No problem from me for creating a repo. I would prefer it be unambiguously named, so `social-media` might be better than `social` so that someone doesn't have to click through only to find out that it's not about Node.js happy hours and meetups. But that's just me offering my unsolicited opinion and not blocking on anything. Call it whatever works for you and everyone else.

[2021-02-28 10:04] targos opened #587 "Create new github-bot personal token for nodejs/node-v8 automation"
A token is needed with the `public_repo` and `workflow` scopes.
This is for a daily workflow that will update the `node-v8`'s canary branch with latest Node.js commit and V8 lkgr. `workflow` is needed for cases where the Node.js update contains changes to `.github/workflows`.

Reference: https://github.com/nodejs/node-v8/pull/171

/cc @nodejs/tsc @nodejs/community-committee

[2021-02-28 10:13] targos commented on #585
+1

[2021-02-28 13:14] Trott commented on #587
+1

[2021-03-01 12:27] joyeecheung commented on #587
+1

[2021-03-01 12:28] joyeecheung commented on #585
+1

[2021-03-01 17:29] bitcoinworldhub opened #588 "Nodejs/admin"
From f56173303d860bf4dd5848c45b7a4f3470a5c0ee Mon Sep 17 00:00:00 2001
From: mary marchini <mmarchini@netflix.com>
Date: Wed, 2 Sep 2020 16:10:37 -0700
Subject: [PATCH 1/2] doc: require main default branch before transfer

Our org default branch is set to `main`, so it makes sense
to also require new repositories being transferred to the org
to follow the same pattern.
---
 transfer-repo-into-the-

[2021-03-01 19:12] #588 closed

[2021-03-01 20:56] mhdawson commented on #585
+1

[2021-03-01 20:57] mhdawson commented on #587
+1

[2021-03-01 21:12] mhdawson commented on #586
+1

[2021-03-01 21:13] jasnell commented on #586
No objections here.

[2021-03-03 17:44] bnb commented on #586
It's been more than 72 hours, since this was proposed with no objections. Per my understanding of the repo's documentation, we can go ahead and create this. I'll do that. If it needs to be undone, I can also do that.

[2021-03-04 17:54] mhdawson opened #589 "Rename primary branch to main"
See context in: https://github.com/nodejs/node/issues/33864

Don't think that the change will cause any issues. @nodejs/tsc, @nodejs/community-committee, if I don't hear an concerns will rename early next week.

[2021-03-06 10:23] benjamingr commented on #519
I would like to bring this issue again for the TSC's and CommComm's consideration. I am concerned with so many people having access to private information.

I think the issue here applies to most other localisation teams as well.

[2021-03-06 10:25] benjamingr commented on #519
@bnb is there a clear process to bring something up for CommComm's consideration? (like the tsc-agenda) Is CommComm review/discussion even helpful/desirable in this case?

[2021-03-07 09:43] targos commented on #587
@nodejs/community-committee PTAL

[2021-03-08 23:09] mhdawson commented on #519
From the discussion it seems like we can remove the team.  @nodejs/tsc, @nodejs/community-committee any objections?

@benjamingr did you add to tsc-agenda to deal with removing the specific team or something larger?

[2021-03-09 09:34] benjamingr commented on #519
@mhdawson thanks. We have a lot of unused localization (and similar) teams with access to sensitive information (like moderation, org only announcements related to security etc) that are not audited. Basically ideally not only this team but every other inactive-for-4-5 teams would be removed.

I only brought up this team because I am a member of it but I assume it's not unique.

[2021-03-09 17:13] mcollina opened #590 "Enable github pages & subdomain for Undici"
@Ethan-Arrowood has developed a new website for Undici in https://github.com/nodejs/undici/pull/585.

I would like to:

* [x] enable github pages
* [x] setup a domain name for the project

As of domains, here are a few options:
* `undici.nodejs.org`
* `undici.nodejs.dev`
* `undici.dev`

The first two have the benefit of being official.

Are there any objections? What's the process for adding a DNS

[2021-03-09 19:11] a8m commented on #519
Hey all, commenting here since I was mentioned in this thread.

I was started the [nodejs-he](https://github.com/nodejs/nodejs-he/commit/e3311733939406a38f15ac49b0d74e7713db4b20) translation effort 6 years ago, and this is why I'm part of this team. However, in the last 4 years I'm active on other OSS projects and not really involved in any other NodeJS working group.

This working group contains

[2021-03-09 23:00] mhdawson commented on #519
@a8m thanks for the confirmation.

[2021-03-10 04:37] rvagg commented on #590
For nodejs.org, myself or @mhdawson usually handle these, tho there's some others with infra access that can. I guess just a signal that this is endorsed by (or at least has no objection from) the TSC is enough to make it move ahead, along with technical details of what it needs to point to. For nodejs.dev, that's something else entirely but maybe that'd be a good one to lean in to for this kind o

[2021-03-10 21:55] mhdawson opened #591 "Archive nodejs/workers ?"
While looking at our repos in respect to https://github.com/nodejs/node/issues/33864

I'm wondering if we still need the https://github.com/nodejs/worker repo since worker support has been integrated into the core repo.  @addaleax what do you think?

[2021-03-11 05:57] gireeshpunathil commented on #591
+1 to archiving it

[2021-03-12 23:06] bcoe commented on #583
@targos I don't believe there's any need for codecov.io to have access to anything but public data.

[2021-03-13 08:22] targos commented on #583
Okay, so I denied the request. We can revisit if there are any issues.

[2021-03-13 08:22] #583 closed

[2021-03-13 08:23] targos commented on #587
Ping

[2021-03-13 08:24] targos commented on #591
We would need to close https://github.com/nodejs/worker/issues/6 before archiving. @addaleax are you ok with that?

[2021-03-13 09:18] mmarchini commented on #587
Added to commcomm agenda as it needs one more approval from them

[2021-03-13 15:52] addaleax commented on #591
@targos Sure, done :)

[2021-03-18 14:19] bnb commented on #587
Hi hello yes, +1

[2021-03-18 14:21] bnb commented on #519
No objection from me, @benjamingr. It'll be raised in today's CommComm meeting.

[2021-03-18 15:56] targos commented on #589
I just did the rename.

[2021-03-18 15:56] #589 closed

[2021-03-18 16:02] BridgeAR commented on #519
No objection to remove the team.

[2021-03-18 16:36] joesepi commented on #587
Hi. +1 from me too.

[2021-03-18 16:38] joesepi commented on #519
As a CommComm member, no objection from me

[2021-03-18 16:42] RichardLitt commented on #519
Former commcomm, current i18n member, no objection.

[2021-03-18 17:00] mhdawson opened #592 "Audit of teams"
As part of the discussion in https://github.com/nodejs/admin/issues/519 it was suggested we should do a broader audit.

Opening this issue to discuss, move that forward.

[2021-03-18 17:00] mhdawson commented on #519
Removed team as agreed.

Opened this issue in admin repo to cover discussion of broader audit: https://github.com/nodejs/admin/issues/592

[2021-03-18 19:11] miladfarca opened #595 "Add Vasili as a member to AIX and IBMi platforms on node and libuv"
Vasili (@V-for-Vasili) has recently joined IBM and is a contributor to V8 on AIX and IBMi.
It would be great if he could also be added as a member of the following groups as his expertise could
be helpful on solving platform specific issues:
https://github.com/orgs/nodejs/teams/platform-aix
https://github.com/orgs/nodejs/teams/platform-ibmi
https://github.com/orgs/libuv/teams/aix
https://github.co

[2021-03-18 19:12] mhdawson commented on #595
Makes sense to me since I know he can help on issues that those teams are interested in.  Unless there are concerns/objections by Monday I'll go ahead and add him to those teams.

[2021-03-19 17:03] targos commented on #587
Thank you!

@mmarchini I think you're one of the few people who both have access to the github bot and repository settings? Would you be able to create the token and add it to https://github.com/nodejs/node-v8/settings/secrets/actions/new ?

[2021-03-20 04:08] Trott commented on #592
Just did a very quick and superficial audit of teams and would recommend eliminating the following that all seem defunct.

@nodejs/enterprise-advisory-group
@nodejs/nodetogether
@nodejs/onboarding
@nodejs/code-and-learn

[2021-03-20 04:17] Trott commented on #592
The following localization teams each have only one member and no significant activity in their corresponding repositories since 2015 or maybe 2016 in one case. They would seem to be obvious candidates for deletion, although not having the groups would possibly discourage people from realizing that they could join and start localization. (Although the fact that no one has joined since 2015 argues

[2021-03-21 04:36] bnb commented on #592
+1 to these. They were both CommComm groups that started but never accellerated.

Was this one ever used? If so, is it now defunct simply because of COVID and the lack of in-person events, or are we done with code and learns?

[2021-03-21 05:42] Trott commented on #592
Good question. I don't know that we're necessarily done with Code & Learn events--I stepped away long before COVID because I didn't want to burn out but I could see wanting to do them again with some modifications--but that team is addaleax, trivikr, and me. On the one hand, none of us have been actively involved in Code & Learn events in years. On the other hand, it's not like the three of us are

[2021-03-21 07:53] trivikr commented on #592
The team @nodejs/code-and-learn was created when we were actively organizing Code and Learn events back in 2017 and 2018. It's no longer used and I'm OK if it's eliminated.

[2021-03-22 15:51] joyeecheung commented on #592
+1 to all of these - I think we rarely use these to ping on GitHub nowadays

[2021-03-24 02:42] Trott commented on #592
Deleted those four and archived the nodetogether repo while I was at it.

[2021-03-24 19:51] phillipj opened #597 "Move node-pr-labeler into the nodejs organization"
As a step in modernizing the work our @nodejs-github-bot is doing in the nodejs/node repo, its PR labelling functionality has been extracted into a custom GitHub Action: [phillipj/node-pr-labeler](https://github.com/phillipj/node-pr-labeler).

The main goal of that project is to put the labelling rules (filepaths -> labels) inside the nodejs/node repo, as a static config file, instead of being par

[2021-03-24 20:22] richardlau commented on #597
Does this need a special token to label PR's from forks? I'm asking because the commit queue workflow did labelling and was disabled back in January because the token stopped working (https://github.com/nodejs/node/issues/34770#issuecomment-759478997). AFAIK only the owners (👋 @nodejs/tsc ) would be able to fix that so probably worth pointing out if that's extra responsibility the TSC needs to be

[2021-03-24 20:27] nschonni commented on #597
Is there much custom than some of the existing solutions like https://github.com/marketplace/actions/labeler that make sense to maintain a separate one?

[2021-03-25 14:40] mhdawson commented on #597
+1

[2021-03-25 14:59] mhdawson commented on #591
Ok archived

[2021-03-25 15:13] #591 closed

[2021-03-25 16:01] bnb commented on #597
Would this make more sense under the pkgjs org? That seems to be where much of our tooling like this is now living.

[2021-03-25 16:02] bnb commented on #597
CommComm chairperson is also an owner 😅

[2021-03-25 17:28] joesepi commented on #586
I'm closing this since the repo has been approved and created. Thanks!

[2021-03-25 17:28] #586 closed

[2021-03-25 17:31] joesepi opened #599 "Create nodejs/social-team-private repo"
There will be times when the Foundation (and perhaps others) may need to engage with the @nodejs/social team to plan communications regarding embargoed matters. For example: a new member company or upcoming promotions that would be best to remain private until time of announcement.

A private repo allows us (TSC, CommComm, Social Team) to work through these matters in a private way.

The expectati

[2021-03-25 19:41] Trott commented on #592
Archived nodejs-fi repo and removed nodejs-fi team. Remaining to be evaluated/completed:

- [ ] @nodejs/nodejs-bg
- [ ] @nodejs/nodejs-cs
- [ ] @nodejs/nodejs-pl
- [ ] @nodejs/nodejs-sw
- [ ] @nodejs/nodejs-ta

[2021-03-25 20:19] phillipj commented on #597
node-pr-labeler _could_ in practise be used by any GitHub repo, as it's just another Action after all. But there's quite a lot of logic related to nodejs/node' subsystems labels, `needs-ci` and the use of `lib / src` label when too many labels has matched the files changed (refs [node-pr-labeler `/lib/resolve-labels.js`](https://github.com/phillipj/node-pr-labeler/blob/dcf6257ece5f7bc3e685b92bd858

[2021-03-25 20:28] mhdawson commented on #590
+1

[2021-03-25 20:29] mmarchini commented on #590
cc @nodejs/community-committee

[2021-03-25 20:31] phillipj commented on #597
I honestly don't fully understand what happened back then, but I forked my proof-of-concept repo and opened this PR from that fork: https://github.com/phillipj/node-lookalike/pull/14.

From what I can see, it works as expected. And that's without any token added in Settings of the phillipj/node-lookalike repo.

Let me know if that doesn't answer your concern.

[2021-03-26 10:23] mcollina commented on #590
I have enabled github pages for the project at https://nodejs.github.io/undici/#/.

[2021-03-26 10:25] mcollina commented on #590
@mhdawson could you configure `undici.nodejs.org` to point to `nodejs.github.io`? I'll set up the rest.

[2021-03-26 19:22] mhdawson commented on #599
+1

[2021-03-26 19:54] mhdawson opened #600 "archive worker and security-advisories"
Related to moving primary branch to main I've there are a few repos we should archive. I realized I should probably raise an issue here before archiving a repo.

I have already archived https://github.com/nodejs/worker (Sorry about that, can revert if there are objections, at least I asked @addaleax first :))

The next one is security-advisories, see discussion in - https://github.com/nodejs/secur

[2021-03-26 20:01] mhdawson commented on #590
@mcollina done, it shows a 404, same as if I went to nodejs.github.io but I assume there is more setup on your end needed.

[2021-03-26 20:06] targos commented on #590
I set the custom domain at https://github.com/nodejs/undici/settings
GitHub says it's not possible to enable HTTPS but it's not clear why.

[2021-03-26 21:10] MylesBorins commented on #590
@targos despite the error message https://undici.nodejs.org/ works as expected ¯\_(ツ)_/¯

[2021-03-27 11:17] targos commented on #590
So is it not possible to have automatic redirect from `http` to `https` for the `nodejs.org` domain ?

[2021-03-29 16:59] bnb commented on #590
+1

[2021-03-29 17:34] MylesBorins commented on #590
@targos I'm unsure, would have to find out how dns was setup

[2021-03-29 19:00] bnb commented on #590
Should be able to with this setting?

![image](https://user-images.githubusercontent.com/502396/112886116-8033a480-909f-11eb-9bd8-c188569cb58e.png)

[2021-03-29 19:01] bnb commented on #590
(deleted a comment of my own that wasn't fully informed)

[2021-03-29 20:58] MylesBorins commented on #590
Quickly looking at the dns records on https://dnschecker.org/all-dns-records-of-domain.php it would appear that the DNS record points directly to cloudflare rather than pointing directly at GH-Pages. So we likely either need to enable the redirect on cloudflare (reasonably easy to do) or point DNS directly at GitHub

[2021-03-29 22:17] mhdawson commented on #590
Just let me know what you want added to cloudflare, if you can be specific what needs to be added (@MylesBorins sounded like you know what) that would be helpful.

[2021-03-29 22:18] mhdawson commented on #590
This is what I'd added earlier:

[2021-03-30 14:59] mhdawson commented on #597
Had discussed in the package maintenance meeting and I think we agreed it fits best with the Node.js org.

[2021-03-31 15:41] targos commented on #587
I don't know who else to ask 😕

[2021-03-31 15:42] mcollina commented on #590
I think there is something wrong in the DNS configuration.

https://docs.github.com/en/github/working-with-github-pages/troubleshooting-custom-domains-and-github-pages#https-errors

Apparently the DNS server is not configured correctly, it needs to be a CNAME to `nodejs.github.io` and not an `A`  record.

[2021-03-31 15:43] mcollina commented on #590
![Screenshot 2021-03-31 at 17 43 04](https://user-images.githubusercontent.com/52195/113172263-8e70f480-9248-11eb-8697-01decef283ad.png)

@mhdawson I think you need to remove `proxied`.

[2021-03-31 20:21] mhdawson commented on #595
@miladfarca, you should open a similar issue in libuv/libuv to ask that he be added to the teams there.

[2021-03-31 20:26] jasonwilliams opened #601 "Next 10 years for Blog posts"
I don't know where to put a suggestion so I apologise in advance and feel free to move this issue.
The NodeJS blog is a bit messy, and I wanted to raise it and share the scenario some of us go through. I mentioned some of this in the  survey also.

The official blog is still linked to https://nodejs.org/en/blog/ but as you can see this isn't really a blog, this is a list of release notes.  It's ti

[2021-03-31 20:30] mhdawson commented on #601
I'll start out with I'm not sure we want to move the existing content that goes under "news" to medium.  I know there are concerns about it not always being freely available.  I do agree though that making it easier to find/get to the medium blog post makes sense.

[2021-04-01 03:29] MylesBorins commented on #590
@mhdawson that worked http://undici.nodejs.org/ now automatically forwards to https://undici.nodejs.org/

[2021-04-01 08:14] #590 closed

[2021-04-01 16:21] bnb commented on #587
@targos AFAIK this is approved. I'm also waiting on a token for a different issue, this seems to be highlighting a bottleneck. Perhaps @mhdawson could help advise us?

[2021-04-01 21:43] srl295 commented on #532
I'm going to start this up again.

[2021-04-01 22:27] srl295 commented on #532
would include these two packages also:
- https://www.npmjs.com/package/full-icu
- https://www.npmjs.com/package/icu4c-data

[2021-04-01 22:32] srl295 commented on #532
@jasnell @mhdawson @obensource  et al, I have formally requested this transfer on the Unicode side.

[2021-04-02 03:38] srl295 commented on #532
@bnb / @mhdawson : unicode has approved this! What's next?

[2021-04-02 07:52] mcollina commented on #532
@ryzokuken are you still up for taking ownership of those modules?

[2021-04-02 16:22] obensource commented on #532
@srl295 @mhdawson @jasnell wonderful news! Thank you for your amazing work Steven! 👏👏👏

I'm available to help with the transfer – @mhdawson @mcollina please let me know here or feel free to reach out with what steps need to be taken.

@mcollina @ryzokuken I'd love to help maintain these modules as well. 🚀

[2021-04-02 16:25] ryzokuken commented on #532
@mcollina yes!

@obensource absolutely, would love to have your help :D

[2021-04-02 16:26] obensource commented on #532
@ryzokuken great! I'll reach out and let's sync soon! 🍻

[2021-04-02 16:27] srl295 commented on #532
@ryzokuken @obensource SGTM. I can do the actual initiation on the Unicode side.

[2021-04-02 16:28] obensource commented on #532
@srl295 wonderful – thank you for doing that and if I don't hear from the node folks we've pinged here soon I'll reach out directly. 👍

[2021-04-02 17:03] srl295 commented on #532
I did a minor update of full-icu to rollup some pending PRs, and I also made sure the metadata, copyright, license on everything is up to date.

[2021-04-02 17:05] obensource commented on #532
Thanks a million for bringing it up to date @srl295! 😎🙌

[2021-04-02 20:07] miladfarca commented on #595
I have created this issue in libuv:
https://github.com/libuv/libuv/issues/3143

[2021-04-05 17:03] bnb commented on #599
+1

[2021-04-06 00:46] #391 closed

[2021-04-06 08:23] WaleedAshraf commented on #599
+1

[2021-04-08 14:23] mhdawson commented on #532
@obensource from what I remember we need to make sure the repos have the following files:

* CONTRIBUTING.md  with DCO in it
* CODE_OF_CONDUCT.md
* LICENSE  (licence needs to be compatible with OpenJS IP policy approved licences or we need to request an exception)Once

Once we've validated that then I think we need to make one of the people in the project who have admin rights an admin on the repo

[2021-04-08 14:32] mhdawson commented on #532
One more thing, the github templates should also be set up so that the DCO is displayed when a PR is created as we do that in the core node repo as well.

[2021-04-08 14:47] mhdawson commented on #587
@bnb I've not been in the loop of creating tokens in the past. I think @joyeecheung was involved in the github bot work. @joyeecheung do you know?

[2021-04-09 03:02] joyeecheung commented on #587
I've added a CANARY_UPDATE token with the scopes mentioned in the OP, @targos can you try it out?

[2021-04-09 03:04] joyeecheung commented on #587
BTW all I did was creating a personal access token and adding it to the repository, according to the documentation here https://docs.github.com/en/actions/reference/authentication-in-a-workflow

[2021-04-09 08:23] ryzokuken commented on #532
@obensource let me know if you require any assistance :D

[2021-04-09 20:11] mhdawson commented on #595
Ok, I think we can close this one, and track addition to the libuv teams there. Let me know if that is not the case.

[2021-04-09 20:11] #595 closed

[2021-04-09 20:13] miladfarca commented on #595
libuv team has already added Vasili to AIX and IBMi, this can be closed.

[2021-04-09 23:27] srl295 commented on #532
Want to just make PRs to request those changes?

I can initiate the transfer whenever needed

[2021-04-10 23:04] Trott opened #610 "Moderation Team Certification"
We (along with @nodejs/community-committee) are supposed to certify Moderation Team folks every year. We didn't actually do it last year, if I'm not mistaken. Seems like doing it at the same time as the TSC Chair election will hopefully keep us from forgetting.

So, there's two things to do here: Figure out who of the current folks to re-certify for another year. And figure out if there's anyone n

[2021-04-11 10:48] targos commented on #587
Thank you @joyeecheung, it's working !

[2021-04-11 10:48] #587 closed

[2021-04-12 16:55] bnb commented on #599
@nodejs/tsc I believe we need one more approval from y'all :)

[2021-04-12 16:56] bnb commented on #585
Any way we can get this? @mhdawson?

[2021-04-12 16:57] targos commented on #599
+1

[2021-04-12 19:10] mhdawson commented on #585
@bnb can you list the steps that I need to go through to get what you want?

[2021-04-13 16:34] bnb commented on #585
@mhdawson from the Node.js GitHub bot account: https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token

[2021-04-13 17:15] bnb commented on #585
(that should then be added as a secret to the nodejs/tweet repo)

[2021-04-13 21:05] bnb opened #602 "Archive nodejs/education"
The nodejs/education repo has been inactive for 3 years to the day (an unintentional coincidence). While I fully support us investing in and running education efforts, I'd like to be upfront about where we have currently invested time and energy of our maintainers. As such, I'd like to request that we archive the repo.

I by no means see this as a permanent request, and would recommend that we una

[2021-04-13 21:11] bnb opened #603 "Archive nodejs/badges"
The nodejs/badges repo has been inactive for nearly 3 years. I really appreciate the efforts, time and, energy from those who were involved in the initiative work, but it seems that the traction on that work has slowed to a halt.

I by no means see this as a permanent request, and would recommend that we unarchive aggressively if there's genuine interest and desire to work on the badges initiative

[2021-04-13 21:32] mhdawson commented on #585
I think I've added it as NODEJS_TWEET

[2021-04-14 21:07] bnb commented on #585
@mhdawson so that worked, which is good news! Unfortunately, I need it from the Node.js bot account rather than from your account.

[2021-04-15 00:22] mhdawson commented on #585
Ok deleted that toke.

I just don't have enough mind space brain cycles to read/understand the right thing to do here.  Can you schedule a time next week for us to do it together?

[2021-04-15 16:41] joesepi commented on #599
repo created: https://github.com/nodejs/social-team-private

Thanks yall.

[2021-04-15 16:41] #599 closed

[2021-04-16 21:32] phillipj commented on #597
Anything thing I can do to help make a decision here?

Like getting confirmation from nodejs/node collaborators by opening a PR adding using of node-pr-labeler etc? I assumed that would be premature before making the move into the nodejs org, but I might obviously be totally wrong.

[2021-04-16 21:54] mmarchini commented on #597
+1 to move it to nodejs org, and thank you for working on this! It's a great step towards. It seems the repository already has the suggested files, so you just need to transfer it to the org and an Admin will approve it (you can let me know here and I can approve it, for example).

This is already true for the bot today, but the access to the server is even more limited. Moving to Actions should a

[2021-04-17 23:08] phillipj commented on #597
Thanks @mmarchini! I initiated the move now.

[2021-04-17 23:15] phillipj commented on #597
Closing this issue since the repository has been moved into the org now.

Assigned privileges to the @nodejs/github-bot team, since that's where majority of the code originated from. Feel free to change that if you'd prefer otherwise.

[2021-04-17 23:15] #597 closed

[2021-04-21 17:27] GeoffreyBooth opened #606 "Loaders team"
Hi!

I’ve been working with @MylesBorins to set up a new team to tackle the ES module loaders. I’ve created a repo and a GitHub team, and was starting to set other things up when Myles and @Trott suggested I open an issue here to ask for help. In particular, I’d like to be able to use an official Node account for meetings, and be able to record and upload them.

I’ll create templates in https://gi

[2021-04-22 15:24] mhdawson commented on #606
@GeoffreyBooth has been an active member of the Modules team, unless anybody voices concerns by Monday I'll add him to the list of youtube maintainers and ask Brian to give him access to the zoom account.

[2021-04-22 19:57] srl295 commented on #532
What's the latest on this?

[2021-04-26 07:29] bnb commented on #532
CC @obensource got an update?

[2021-04-26 15:08] mhdawson commented on #606
Invited @GeoffreyBooth as a manager for the youtube channel and have asked Brian to give him the zoom credentials.

[2021-04-26 16:57] obensource commented on #532
@srl295 @bnb thanks for your patience, I've blocked out some time to work on this today / this week. @srl295 I'll ping you as I go and let's shoot to get the transfer finalized this week! 🎉

[2021-04-29 14:33] MylesBorins opened #609 "New GitHub feature "Issue Forms" Available for use in Public nodejs repositories"
We have had a new feature enabled on our repos called "Issue Forms" which will allow us to use forms in issue templates to create a much more interactive experience for folks opening issues in our organiation.

For more details check out [the documentation](https://gh-community.github.io/issue-template-feedback/welcome/ )

If folks run into any issue please feel free to ping me in the OpenJS slack

[2021-04-29 15:27] bnb commented on #609
If folks would like to see what it's like as a user, you can take a look on electron/electron - we've been using it for a bit and it is excellent 👀

https://github.com/electron/electron/issues/new/choose

[2021-04-29 16:57] bnb commented on #610
CommComm voted on each member individually per the Moderation Policy guidelines, and each passed unanimously.

[2021-05-06 16:42] GeoffreyBooth commented on #606
Everything appears to be set up, thanks for all your help! I’ll reach out to @mhdawson if I have any issues (unless there’s another point person you recommend). Thanks.

[2021-05-06 16:42] #606 closed

[2021-05-07 19:00] obensource commented on #532
@srl295 @bnb adding the missing docs now + adding the github templates that @mhdawson mentioned "should also be set up so that the DCO is displayed when a PR is created".

I'll have some PRs in for your review in a bit @srl295. 👍

[2021-05-07 19:02] srl295 commented on #532
@obensource you may already be doing this, but please link them here (can probably just reference this issue) for reference

[2021-05-07 19:03] srl295 commented on #532
what's the procedure for changing NPM module ownership?

[2021-05-07 19:06] obensource commented on #532
@srl295 you got it, forked and working on them here at the moment:
* [full-icu-npm](https://github.com/obensource/full-icu-npm)
* [full-icu-test](https://github.com/obensource/full-icu-test)
* [icu4c-data-npm](https://github.com/obensource/icu4c-data-npm)

I'm currently adding the docs, and I will submit PRs to the upstream repos for each.

[2021-05-07 19:12] obensource commented on #532
As far as changing module ownership, I'm running with what @mhdawson said at the moment as far as the repositories are concerned:

Regarding the packages, I haven't looked into it yet – but I'm sure there's a way to do [this type of transfer] (https://docs.npmjs.com/transferring-a-package-from-a-user-account-to-another-user-account) between the orgs as long as it's facilitated by people who have t

[2021-05-07 19:15] srl295 commented on #532
Ah right, I am glad to simply *add* https://www.npmjs.com/~obensource as a maintainer if that is sufficient?

[2021-05-07 19:16] obensource commented on #532
@srl295 that should be fine! Thanks a million Steven! 🙌

[2021-05-07 19:22] srl295 commented on #532
^ added you as maintainer

[2021-05-07 20:10] obensource commented on #532
@srl295 So here's where rubber meets the road: I'm blowing away the [Unicode License](https://github.com/obensource/full-icu-npm/blob/master/LICENSE), and adding the [Node.js License](https://github.com/nodejs/node/blob/master/LICENSE) – which transitions it to MIT, but also keeps the ICU License, and provisions for locale data (of which you added to the Node.js license). Does that sound correct,

[2021-05-07 20:15] srl295 commented on #532
That might be OK, but maybe it would be better/safer to rename LICENSE to `unicode-license.txt` and just note somewhere, "portions from `full-icu` from Unicode, see unicode-license.txt" ? Then it kind of covers both the old and new world, and then deduplicate the license once it lands on the Node side?

[2021-05-07 20:18] obensource commented on #532
@srl295 That sounds good to me for now – I think for our sake it covers each side of the fence. If there's an issue with that, please feel free to advise us @mhdawson @bnb, et al. 👍

[2021-05-07 20:25] obensource commented on #532
@srl295 Adding MIT makes this repository comply with the [OpenJSF IP Policy](https://openjsf.org/wp-content/uploads/sites/84/2019/10/OpenJS-Foundation-IP-Policy-2019-10-22.pdf).

The only thing I'm uncertain about is if retaining any existing Unicode licenses as well makes it subject to what @mhdawson called an 'exception':

[2021-05-07 20:26] obensource commented on #532
I don't think so, but please advise @mhdawson. 😄

[2021-05-07 22:44] obensource commented on #532
@srl295 @mhdawson @bnb et al. The PRs are in, please review at your convenience. 🙏

* https://github.com/unicode-org/full-icu-npm/pull/58
* https://github.com/unicode-org/full-icu-test/pull/5
* https://github.com/unicode-org/icu4c-data-npm/pull/10

Thanks a million all! 🎉

[2021-05-07 23:54] srl295 commented on #532
Approved… would be nice to get a review from  @mhdawson ||  @bnb before merging and initiating transfer?

[2021-05-08 02:24] srl295 commented on #532
well, icu itself has been pulled into node before many times… and,  `Unicode-DFS-2016 ` is OSI approved:

https://github.com/unicode-org/full-icu-npm/blob/master/package.json#L16

[2021-05-08 03:18] obensource commented on #532
@srl295 100%. We should golden then! ☀️😎

[2021-05-08 03:23] obensource commented on #532
@srl295 do I need to be added as a Unicode Consortium member (or be given write access to these repositories) in order to merge the changes, or will someone else from the UC need to review and then merge? No problem either way, and thanks! 😄

[2021-05-08 17:27] srl295 commented on #532
I'll merge

[2021-05-08 17:35] srl295 commented on #532
All transfers requested!
I set the team owners to:  collaborators + i18n .. please fix as needed

[2021-05-08 17:53] obensource commented on #532
@srl295 will do, thanks a million! 🙌

@mhdawson @bnb, et al: if there are no issues with the current state of this transfer, I consider this issue to be closed. 👍

Thanks everyone! 🍻

[2021-05-10 04:37] Trott opened #612 "Archive https://github.com/nodejs/nodejs-zh-TW"
Let's archive https://github.com/nodejs/nodejs-zh-TW.

It has not been updated since 2015. The site it was for (tw.iojs.org) is long gone. The Wayback Machine at archive.org shows it going live in early 2015 and 404'ing by the end of 2015.

[2021-05-10 04:38] Trott commented on #612
@nodejs/nodejs-tw I

[2021-05-10 15:47] obensource commented on #532
## Closing the issue
Given that all of the three repositories to be transferred have now been transferred and meet the governance requirements of Node.js & the OpenJSF, I'm closing this issue.

**Welcome to node, ICU modules! 👏👏👏**

<img src="https://user-images.githubusercontent.com/1910457/117685981-460ff500-b16b-11eb-86a5-e18fa0b3b7ee.gif" width="350" />

## New Locations
New locations of the r

[2021-05-12 13:17] jasonwilliams commented on #601
@mhdawson how does the decision get made that Medium/Website is the official home of the NodeJS blog?

[2021-05-12 21:41] mhdawson commented on #601
@jasonwilliams I'm not sure, the use of both Medium and the Website blog section has been the ways thing have been for a number of years.  I wonder if the @nodejs/social team would have some input.

[2021-05-14 00:33] Trott commented on #612
Archived.

[2021-05-14 00:33] #612 closed

[2021-05-14 16:57] Trott opened #613 "Sentiment Analysis Bot"
Hi, friends.

I was asked today if we had ever considered using [sentiment-bot](https://probot.github.io/apps/sentiment-bot/). I know Tierney brought it up as an example in [a comment](https://github.com/nodejs/admin/pull/133#issuecomment-390791457) once. But I feel like we've had a more substantive discussion at some point, but I can't find it. Maybe I imagined it.

Anyway:

* Have we considered

[2021-05-14 16:59] ljharb commented on #613
My concerns, if it alerted publicly, would be that automated things like this tend to have pretty glaringly bad false positives (when they have any). If it alerted privately, it might be a useful warning system.

[2021-05-14 17:57] jasnell commented on #613
Have to agree with @ljharb ... I'd be +1 only if it alerts privately.

[2021-05-14 18:43] nschonni commented on #613
Not actually sentiment analysis, but a light one for closing empty issues https://github.com/github/docs/blob/main/.github/workflows/check-for-spammy-issues.yml

[2021-05-17 07:41] dominykas commented on #456
Spotted this little issue here while looking for the `74F12602B6F1C4E913FAA37AD3A89613643B6201` key (as they key servers seem to not find it) - anything that can be done to complete this and make it official?

[2021-05-18 05:19] Trott commented on #456
@nodejs/build Any reason not to go ahead and do this at this point?

[2021-05-18 14:48] bmeck opened #614 "Add calendar entry for HTTPS imports discussion"
I'm trying to get an entry added on 2021 June 10th 1PM-2PM [ UTC ] to the events calendar for the HTTPS imports discussion:

https://github.com/nodejs/node/discussions/36430#discussioncomment-753311

I do not have permissions to broadcast/record on the normal zoom so might need onboarding to do so.

[2021-05-18 14:51] mhdawson commented on #456
@Trott reading through I'd say as long as

1) We have agreement on using nodejs-keys versus something else like release-keys.
2) In terms of managing the content, its limited as outline in the original post
3) There is enough buy in from the Release team

We should be ready to move ahead.

I'm not sure on 1) and 3) though from the discussion comments in the thread. In particular 3) is
the one I'm

[2021-05-18 15:20] bnb commented on #456
I'd like to assert again that redundancy in naming repos with the prefix `nodejs` is confusing and inconsistent (`nodejs/next-10` rather than `nodejs/nodejs-next10` is a recent example). It would be ideal to strive for consistency across the org rather than having one-offs that use this prefix. As far as I can tell, as an org owner, `keys` does not exist in the `nodejs` org.

I do feel strongly ab

[2021-05-18 20:55] mhdawson commented on #456
@bnb my bad the current proposal is  nodejs/keys  will update above.

[2021-05-19 06:33] targos commented on #456
I have a slight preference for `nodejs/release-keys` over `nodejs/keys`

[2021-05-19 17:34] bnb opened #615 "Updated Calendar default time to GMT+0, off of GMT-7"
heya, just wanted to share a heads up that in today's Social Team meeting with @joesepi we were discussing sharing a link to the calendar and it came up that the calendar has defaulted to PST historically. This was because whoever created it was in PST.

I've changed it to GMT-0 rather than PST. This change is easy to revert, but I figured it's both better for communication and inclusion, requirin

[2021-05-19 20:11] mhdawson commented on #456
Like @targos I prefer nodejs/release-keys as well, but don't feel too strongly about it.

[2021-05-20 13:09] BethGriggs commented on #456
I also prefer `nodejs/release-keys`. I don't think it makes sense to mix release keys (which are more consumer-facing) with other keys used throughout the project for maintenance, so would prefer the more explicit naming.

[2021-05-26 17:44] Trott commented on #614
I'm not sure who usually adds events to the calendar and would be comfortable doing this, but I'm going to guess that the folks who run the CommComm and TSC meetings do, so... @bnb @mhdawson Would either of you be comfortable doing this for Bradley?

[2021-05-26 17:55] bnb commented on #614
Happy to do this. There is a list of calendar maintainers in the README of this repo, for future reference.

[2021-05-26 17:58] bnb commented on #614
AFAIK I only have access to the CommComm Zoom. I would assume @mhdawson has access to TSC Zooms and can help onboard 😅

We will also need the Foundation to add your Google Account to the YouTube account for permissions to stream.

[2021-05-26 18:48] Trott commented on #614
I should probably be removed from that list and my permissions removed. As I wrote to Bradley privately: I have access to the calendar, but I don't ever add things to it and am not confident I would Do It The Right Way.

Alternatively, you can just tell me there's no wrong way to do it, and just add things, it's fine. :-D

[2021-05-26 19:49] bnb commented on #614
There is no wrong way to add things. Everyone does it ad hoc, and if issues arise (they do!) we just solve them.

[2021-05-26 21:07] mhdawson commented on #614
@nodejs/tsc, @nodejs/community-committee adding tagging you since this issue includes a request to add Bradley to zoom and youtube for streaming. If there are no objections by next week I'll assume we can move forward with onboarding @bmeck.

@bmeck can you remind me on Tuesday if you don't get an invite as a youtube maintainer on Tuesday ?

[2021-05-26 21:52] bmeck commented on #614
@mhdawson sounds good

[2021-05-26 23:43] Trott opened #616 "deprecating the external node-inspect module"
I can't imagine anyone will object, but I've requested that @jkrems or someone else with publication access to the module deprecate `node-inspect`. See https://github.com/nodejs/node/discussions/36481#discussioncomment-789619 for discussion and context.

@nodejs/tsc @nodejs/community-committee @nodejs/diagnostics

Future reader: Please close this (if you have sufficient access) if no one has comme

[2021-05-31 15:25] mhdawson commented on #616
It's been 5 days, closing as requested.

[2021-05-31 15:25] #616 closed

[2021-06-08 15:53] bmeck commented on #614
@mhdawson was out last week due to things, seems nothing has been done here yet.

[2021-06-08 16:03] MylesBorins commented on #614
I've made a calendar event, let me know if you need anything else (like a zoom call) setup or added to it

[2021-06-08 21:49] mhdawson commented on #614
@bmeck you should now have a youtube invite as a manager which you'd need to stream.

Also have send email to Brian asking that he share the zoom credentials with you.

[2021-06-10 19:49] mmarchini commented on #548
With Automation tokens on npm this is not necessary anymore

[2021-06-10 19:49] #548 closed

[2021-06-10 19:52] mmarchini opened #618 "`NPM_TOKEN` for `node-core-utils` to auto publish to npm"
Request to create a `NPM_TOKEN` on `node-core-utils` containing an npm automation token for the [nodejs-foundation](https://www.npmjs.com/~nodejs-foundation) npm user so that we can [automate releases](https://github.com/nodejs/node-core-utils/pull/511/files) for node-core-utils.

Requires 2 approvals from @nodejs/tsc and 2 approvals from @nodejs/community-committee.

[2021-06-10 21:03] richardlau commented on #618
This would be a change in policy:
https://github.com/nodejs/admin/blob/main/npm-management.md

[2021-06-10 21:36] mmarchini commented on #618
Either that or create a new user for each module (saving the credentials on 1password/lastpass), which is a pain but would prevent the "token can publish any module" security concern.

[2021-06-11 01:39] Trott commented on #618
I'm 👍 on this, and would also happily 👍 something that clarified the policy.

[2021-06-11 15:56] mhdawson commented on #618
It was the ""you shouldn't login into this user to publish the module manually" part that was intended.

I think for auto publishing this makes sense, and I don't see why we'd create another user. I'm +1 to this as well.

[2021-06-11 17:35] joyeecheung commented on #618
Don't we do that sort of thing with the secrets repo using dotgpg?

[2021-06-14 07:07] #584 closed

[2021-06-14 07:59] mmarchini opened #619 "Create ‘actions’ team"
Requesting creation of the `@nodejs/actions` team to be used as code owner for all actions and action scripts (`tools/actions` on `nodejs/node`).

[2021-06-14 09:53] mmarchini commented on #619
We don't seem to have documented requirements to create a new team in our [Teams section of the GitHub Org Management Policy](https://github.com/nodejs/admin/blob/main/GITHUB_ORG_MANAGEMENT_POLICY.md#teams), so I'll just go with no objections for 72h to create the team. (code ownership of actions will be decided in a PR on `nodejs/node`, as usual).

cc @nodejs/community-committee @nodejs/tsc

[2021-06-14 10:03] targos commented on #619
+1

[2021-06-14 14:52] bnb commented on #619
+1. I think the reason there's no documentation for just creating teams is that they're *usually* associated with other groups, like committees.

Also, I'd be happy to participate in this 😅

[2021-06-14 15:42] mhdawson commented on #619
+1

[2021-06-14 16:43] bnb commented on #618
+1

[2021-06-14 19:20] mcollina commented on #619
+1

[2021-06-15 11:01] AshCripps opened #620 "Request for oauth credential for AWX instance"
As part of https://github.com/nodejs/build/issues/2550 im setting up a AWX install to allow for us to have this new team run specific playbooks etc to help fix common CI issues without having to wait for a build member. This would also allow the build team to stay more on top of our ansible scripts with more regular running.

The plan for the AWX instance is for it to sit at ansible.nodejs.org (Th

[2021-06-15 11:03] targos commented on #620
What kind of credentials are needed?

[2021-06-15 11:27] AshCripps commented on #620
an Oath app similar to the grafana one I assume: https://github.com/nodejs/build/issues/2370

[2021-06-15 12:21] targos commented on #620
OK, SGTM

[2021-06-16 13:08] mhdawson commented on #620
+1

[2021-06-17 19:36] richardlau opened #621 "Archive nodejs/node-report"
Now that Node.js 10 is End-of-Life, all currently supported versions of Node.js (i.e. 12, 14 and 16) contain the diagnostics report feature. As per https://github.com/nodejs/node-report/issues/142 the stand-alone module has been [deprecated on npmjs.com](https://www.npmjs.com/package/node-report).

[code]

Please archive https://github.com/nodejs/node-report.
(Perhaps wait until @mhdawson has rena

[2021-06-17 19:52] mhdawson commented on #621
I'll do both now.

[2021-06-17 19:57] mhdawson commented on #621
done, will leave this open a bit for visibility.

[2021-06-22 10:05] richardlau commented on #456
There's been preferences stated for (including from the release team, https://github.com/nodejs/Release/blob/main/doc/meetings/2021-05-20.md), and no objections to, nodejs/release-keys.

👍. I think there was some confusion earlier in the thread with how we store secrets for the Build team, but this proposal is specifically for the keys used to sign releases.

The release team has discussed this at

[2021-06-22 14:24] joyeecheung commented on #619
+1

[2021-06-22 17:08] mmarchini commented on #619
Done

[2021-06-22 17:08] #619 closed

[2021-06-23 16:17] BethGriggs commented on #456
If there are no objections I can go ahead and transfer the repository to https://github.com/nodejs/release-keys. We can then look at updating our related documentation/guidance on verifying, onboarding, etc.

[2021-06-24 04:24] canterberry commented on #456
I'm happy to help with anything needed of me for the transition or subsequent maintenance.

[2021-06-24 10:46] BethGriggs commented on #456
@canterberry would you mind adding me as an admin to your repository so I can initiate the transfer? (I'm assuming I need to have admin/create repository permissions in both places to do so.)

[2021-06-24 16:36] canterberry commented on #456
@BethGriggs Since the repo is under my personal GitHub user, it doesn't look like I can grant permissions for you to initiate a transfer of the repo. For visibility and review by current and future parties of interest, we have a few options:

 1. If I were granted temporary access to create public repos in the nodejs org, I can transfer the repo, then the permission can be revoked. This would carr

[2021-06-24 16:43] canterberry commented on #456
* [x] Transferred canterberry/nodejs-keys to twuni/nodejs-keys.
 * [x] Invited Beth to a team in that org with administrative access to the nodejs-keys repo.
 * [x] Forked twuni/nodejs-keys to canterberry/nodejs-keys for continuity.
 * [ ] @BethGriggs to transfer twuni/nodejs-keys to nodejs/release-keys.
 * [ ] @canterberry to ensure canterberry/nodejs-keys fork is properly tracking nodejs/release

[2021-06-24 17:17] BethGriggs commented on #456
Thanks @canterberry, https://github.com/nodejs/release-keys now exists. I'll remove myself from the org too.

[2021-06-24 17:34] canterberry commented on #456
Now that the transfer itself is complete, closing this issue.

[2021-06-24 17:34] #456 closed

[2021-06-29 16:05] mhdawson opened #622 "Access to Node.js Youtube and Zoom account for @KevinEady"
I'd like to get @KevinEady access so that he can help chair the node-api team meetings. He's a long time Node-api team members and has volunteered to chair when necessary (Thanks!).

Unless there are objections by Friday July 2nd, I'll go ahead and give him access to the youtube account and ask Brian to give him Zoom access.

@nodejs/tsc, @nodejs/community-committee let me know if you have any con

[2021-07-02 14:31] AshCripps commented on #620
as its been over 2 weeks can I assume this has been approved?

[2021-07-07 13:13] mhdawson commented on #620
Created the new oauth application and gave credentials to @AshCripps, closing.

[2021-07-07 13:13] #620 closed

[2021-07-09 15:30] mhdawson commented on #622
@brianwarner can you give @KevinEady the password for the Node.js zoom account so that he can stream?

[2021-07-09 15:33] mhdawson commented on #622
Invited Kevin as manager for Node.js youtube account so that he can stream.  @KevinEady and invite should be in your inbox.

[2021-07-09 17:10] brianwarner commented on #622
Sure, we use LastPass to share the credentials. @KevinEady can you please set up an account if you don't have one already, install the browser extension, and send me an email at operations@openjsf.org with the email address you used?

[2021-07-10 09:49] KevinEady commented on #622
Hi all,

@brianwarner, I have sent an email and @mhdawson, I have accepted the invitation.

[2021-07-12 03:08] brianwarner commented on #622
Good deal, thanks Kevin. Invite is on its way.

[2021-07-14 07:55] KevinEady commented on #622
Hi @brianwarner ,

I have received and accepted the LastPass share. If there is nothing else, I think we can close this issue...?

Thanks!

[2021-07-14 11:19] targos opened #623 "Heads up: changed required approval settings for actions in the org"
@nodejs/tsc @nodejs/community-committee @nodejs/moderation

I changed the global setting at https://github.com/organizations/nodejs/settings/actions
Previous value (GitHub default): "Require approval for first-time contributors"
New value: "Require approval for first-time contributors who are new to GitHub"

[2021-07-14 11:29] Trott commented on #623
I'm not opposed, but I am curious to know what was the motivation for the change?

[2021-07-14 11:54] targos commented on #623
In `nodejs/node`, I had to manually approve workflow runs on several pull requests that were open for many weeks.
GitHub recently introduced this to protect themselves from crypto miners, but I don't think the nodejs org ever got a pull request opened to abuse the system.

[2021-07-14 11:57] richardlau commented on #623
We did: https://github.com/nodejs/moderation/issues/411

[2021-07-14 21:51] mhdawson commented on #622
Closing since it seems to be set up for @KevinEady

[2021-07-14 21:51] #622 closed

[2021-08-10 12:59] mhdawson opened #625 "Zoom and twitter access for Danielle"
Since @danielleadams is a TSC member just opening this as an FYI that we are setting her up with access to the Zoom account and twitter so she can host/stream meetings.

[2021-08-16 17:59] bnb opened #626 "Update npm account to "Node.js" rather than "Node.js Foundation""
It seems our npm account is called "Node.js Foundation". It'd be preferable if we renamed this to "Node.js" since there is no such thing as the "Node.js Foundation" :)

https://www.npmjs.com/~nodejs-foundation

[2021-08-18 04:16] Trott opened #627 "Temporarily make brianwarner an owner for the nodejs org"
Doesn't feel right doing this without getting at least a few 👍 reactions from TSC and CommComm folks, so posting here:

Brian Warner needs to set up a secret for some calendar integration stuff. So he needs to be Admin in the org at least briefly. As most (all?) of you will know, Brian is employed by the OpenJS Foundation and Linux Foundation as Program Director.

If we could get some pile-on 👍 's

[2021-08-18 04:18] Trott commented on #627
Oh, and if someone else is working with Brian on this and feels like there is sufficient evidence of consensus, by all means, go ahead and temporarily elevate Brian's privileges and then close this issue. Thanks.

[2021-08-18 06:33] mcollina commented on #627
sgtm

[2021-08-20 17:28] bnb commented on #627
sgtm though I'd prefer that in the future a chair of TSC or CommComm work with the Foundation to do this rather than needing to go down the path of granting someone else additional access.

[2021-08-28 01:55] Trott commented on #627
I'm not sure. If you could ask @brianwarner if he still needs the elevated access or if things are complete, that would be great. (Or perhaps he'll reply in here. Either way!)

[2021-09-01 19:50] mhdawson commented on #627
@brianwarner when you have time please DM me through slack if you still need access/help.

[2021-09-03 01:56] Trott commented on #627
I went ahead and removed Brian from the org again.

@brianwarner If you still need access, get in touch! (DM Michael, email me, or whatever.)

[2021-09-03 01:56] #627 closed

[2021-09-07 18:39] benhalverson opened #628 "Google calendar API key needed in nodejs.dev"
Can someone add a GCal api key for the nodejs.dev repo to the Github secrets?

It's the last thing needed for this open PR.https://github.com/nodejs/nodejs.dev/pull/1713

The current key belongs to the dev that was working on this feature for demo purposes.

[2021-09-08 16:00] bnb commented on #628
cc @mhdawson maybe?

[2021-09-08 16:03] mhdawson commented on #628
I'll need a bit more context in terms of the steps needed to get a GCal api key and how it where/how it needs to be added.

[2021-09-12 00:59] lancemccluskey commented on #628
Initially, I thought adding it as a GitHub secret would work. I realized it would still expose the api key tho because we’re making the call from the client side. What if we utilized a firebase function and stored the key in fire store ? Kinda like the answer to [this stack overflow](https://stackoverflow.com/questions/66055676/is-it-ok-to-store-google-map-api-key-on-firestore-calling-from-flutter

[2021-09-12 13:09] lancemccluskey commented on #628
Expanding upon my idea, im thinking steps could be:

1. Create a firestore database holding the API key
2. Write a firebase function calling the Google calendar API and returning the events
3. Call the firebase function from the `nodejs.dev` repo

This gives us the advantages of not exposing the API key in a prod environment, its not stored in github at all, and if we add in more api calls that re

[2021-09-13 19:04] mhdawson commented on #628
I'm not sure how the existing calendar works on nodejs.org, but do you even need any private information? In google calendar I can add the Node.js calendar to my regular view and then see all the Node.js items on my Calendar. This makes me think we don't need anything private. If we just created a new gmail, add the Node.js calendar to that user's calendar then from the user you should be able to

[2021-09-14 04:14] benhalverson commented on #628
nodejs.org uses an iframe to load a Google calendar. see https://support.google.com/calendar/answer/41207?hl=en#
We moved away from that approach because a white calendar in dark mode looks terrible and we have no way to style an iframe on another domain. An attempt was made [here](https://github.com/nodejs/nodejs.dev/pull/890).

We don't need any private info but to access any Google API requires

[2021-09-14 14:39] mhdawson commented on #628
Understood, my question is why we need an API key tied to the the Node.js calendar. Can we just create a new gmail account, create an API key for that user and then use that to get the public calendar info?  I agree we'd likely need to share/store the info/login for that user somewhere.

[2021-09-14 14:43] brianwarner commented on #628
Hey Ben and Michael, I have the API key here if you want it. Sorry I missed
these notifications, but it sounds like a secret isn't the right way to do
it anyhow. Ben, maybe I should just email it directly to you.

On Tue, Sep 14, 2021 at 10:39 AM Michael Dawson ***@***.***>
wrote:

--

*Brian Warner*
The Linux Foundation
***@***.***
+1 724 301-6171

[2021-09-14 14:46] mhdawson commented on #628
@brianwarner what all does that API key give access to?

[2021-09-14 16:17] brianwarner commented on #628
It appears to be scoped just to the Google Calendar API. I had to create
it separately via GCP, but I'll be honest I don't know much more about how
it will be used.

On Tue, Sep 14, 2021 at 10:47 AM Michael Dawson ***@***.***>
wrote:

--

*Brian Warner*
The Linux Foundation
***@***.***
+1 724 301-6171

[2021-09-14 17:35] mhdawson commented on #628
My key question is will it let you manipulate the calendar, I'm not sure we need to expose/store a key that does that versus just reading the calendar which I'm wondering should be possible without a API key tied to the account.

[2021-09-14 19:04] mhdawson opened #629 "Give @GeoffreyBooth access to manage Node.js Calendar"
Seems like loaders meetings are moving around a bit. Will give him access by end of week unless there are objections.

[2021-09-14 22:25] brianwarner commented on #628
I found the Google Calendar API docs. From a quick skim it seems to be
read/write: https://developers.google.com/calendar/api/v3/reference

On Tue, Sep 14, 2021 at 1:35 PM Michael Dawson ***@***.***>
wrote:

--

*Brian Warner*
The Linux Foundation
***@***.***
+1 724 301-6171

[2021-09-15 10:00] lancemccluskey commented on #628
If we utilize a firebase function, then it doesnt matter what the API key has access to

[2021-09-16 13:28] mhdawson commented on #628
@lancemccluskey I still don't understand why it needs to be one that will have a higher level of access than read, which we could get through an API key on any account right?

I don't want to block progress but I also think we should reduce the number of high level access keys that we have across the org, the recent Travis incident shows that what should be private sometimes is not.

[2021-09-16 14:02] brianwarner commented on #628
From what I can tell, the API key can only be issued through GCP, and is
specific to the application (here, the themeable calendar) rather than the
Google account. I think the way it works is that you can either use the
default embedded Google Calendar view that's available to any account with
minimal customization, or you can provision an API key from GCP to allow an
app to request access to an e

[2021-09-16 14:13] mhdawson commented on #628
I don't want to block forward progress but one last comment to provide context from where I'm coming from.

The existing automation that creates the meeting issues is driven off the calendar. You can see it calling calendar.events.list in https://github.com/nodejs/create-node-meeting-artifacts/blob/412a306e2135fdba9acff0db81281cdcf5e71b66/create-node-meeting-artifacts.js#L60.

Where I'm coming fro

[2021-09-16 14:46] lancemccluskey commented on #628
@mhdawson Thats a good point. Youre right, we only need read permissions. Since the calendar is already public, I wonder if theres a way to get the events without an API key. I'll dig into that and see if i can come up with anything.

[2021-09-16 14:58] lancemccluskey commented on #628
Eureka!! @mhdawson I found this https://developers.google.com/calendar/api/v3/reference/events/list, and it says authentication optional. Since we only care about reading the events I think this is def the way we should go. I'll keep digging and see if theres anything else I can find.

[2021-09-16 21:05] mhdawson commented on #629
It's almost friday so I went ahead and added @GeoffreyBooth as there have been no objectiions/discussion so far.

[2021-09-16 21:05] #629 closed

[2021-09-17 10:53] lancemccluskey commented on #628
Ok I think most of us misunderstood before, the API Key ONLY lets us use the endpoints that dont require authorization. The Google Calendar endpoints require OAuth2 authorization to make changes

https://user-images.githubusercontent.com/40124399/133770620-9693fc4b-81fa-4e58-ab23-b1f7108a51c2.mp4

.

## Also

[Here](https://github.com/google/google-api-javascript-client/blob/master/docs/auth.md#si

[2021-09-17 16:25] mhdawson commented on #628
@lancemccluskey. That clarifies thing a lot, assuming we restrict to nodejs.dev then using the API key makes sense to me.

I think we would still want to store the key in a way that it's not public. So not in the repo, but on the server where we host nodejs.dev itself? Does that make any sense?

[2021-09-17 23:41] lancemccluskey commented on #628
Yeah it does. I just don’t know how we’d do that

[2021-09-20 14:52] mhdawson commented on #628
How where is the API key needed and how/where is nodejs.dev deployed? I know were nodejs.org is deployed and can log in there but have never looked at the same for nodejs.dev

[2021-09-22 18:10] #614 closed

[2021-09-22 18:13] bmeck opened #630 "public recording sent to wrong place (Zoom instead of YouTube)"
Do we have a process for how we should upload videos that got recorded into zoom instead of streamed to youtube? It seems while I recorded the loaders meeting yesterday it was recorded into zoom's cloud storage instead of youtube (and it seems there are other files in the zoom storage that aren't on youtube I see)

[2021-09-24 20:19] mhdawson commented on #630
That does happen on occasion. If you have access to stream I think you should also be able to log into https://studio.youtube.com/channel/UCjxM1d3fv_mSEBsyp5MTFrg and then manually upload.

[2021-09-30 17:25] Trott opened #631 "removing all non-Trail-of-Bits folks from security-external"
I'd like to propose removing all the non-Trail-of-Bits folks from @nodejs/security-external. They are all awesome folks, but none of them are routinely involved in security stuff with Node.js, and we can always add them back in for individual items where we need their involvement.

@nodejs/tsc @nodejs/community-committee

[2021-10-01 20:46] bnb commented on #631
+1.

[2021-10-01 21:35] mhdawson commented on #631
+1

[2021-10-03 02:50] Trott commented on #631
Done. Other things to do:

* Remove people who are on 0 teams from nodejs-private. (They'll get an email notification about that so we probably want to give them a personal email heads up first.)
* Clean up "outside collaborators" and "pending invitations" in both nodejs and nodejs-private.

[2021-10-03 02:50] #631 closed

[2021-10-03 02:50] Trott opened #632 "org cleanup"
* Remove people who are on 0 teams from nodejs-private. (They'll get an email notification about that so we probably want to give them a personal email heads up first.)
* Clean up "outside collaborators" and "pending invitations" in both nodejs and nodejs-private.

_Originally posted by @Trott in https://github.com/nodejs/admin/issues/631#issuecomment-932852558_

[2021-10-04 19:52] mhdawson commented on #632
+1

[2021-10-05 21:51] nschonni opened #633 "Adding Docker Hub folks to nodejs/docker"
Left this one sitting around for awhile https://github.com/nodejs/docker-node/issues/1474
Since @tianon and @yosifkit maintain the upstream official images and contribute to the discussion on issues an PRs, it makes sense to add them to the team.
Since they're not currently part of the nodejs org, I can't directly invite them, so I'm opening the issue here.

/cc @nodejs/docker

[2021-10-05 22:33] Trott commented on #633
Might be good to confirm with them that they have 2FA enabled on their GitHub accounts. The nodejs org is configured so that people can't be added unless they have 2FA enabled.

[2021-10-05 23:19] tianon commented on #633
Yep, we both do.

[2021-10-16 23:31] mmarchini opened #635 "` NPM_TOKEN` for `llnode` to auto publish to npm"
Request to create a `NPM_TOKEN` on `llnode` containing an npm automation token for the `nodejs-foundation` npm user so that we can automate releases for llnode.

We're kinda on a limbo with the CommComm being decommission so I'll consider this approved when we have 3 @nodejs/tsc approvals (as per #634).

[2021-10-16 23:31] mmarchini commented on #635
@bnb we really should move the `nodejs-foundation` password to 1password 😅

[2021-10-20 19:43] bnb opened #636 "sunset @nodejs/outreach"
it looks like there's presently no activity in the [nodejs/outreach](https://github.com/nodejs/outreach) repo. I'd love to see us do outreach work, but until that work is actively being done I think it's better if we sunset the repo, meetings, teams, and automation around it.

[2021-10-20 20:36] mhdawson commented on #636
+1, and now is probably a good time to do it.

[2021-10-20 21:50] ljharb commented on #626
I think people almost never change it either tho, so I'm not sure an absence of noise is itself a signal.

Changing your github username breaks the world, so i wouldn't be surprised if changing this one caused problems too. It might be simpler to make a new npm account (or better, org) with the proper name, and then migrate to that.

[2021-10-27 21:13] #633 closed, assigned to nobody

[2021-11-02 22:24] guybedford commented on #557
I've finally gone ahead and transferred the cjs-module-lexer project into the Node.js organization having completed the setup steps here. I've also added the Node.js foundation to the npm access for the package.

[2021-11-02 22:24] #557 closed

[2021-11-03 18:42] bnb commented on #626
Ah, I assumed _somewhere_ there was an automated account.

Happy to help facilitate this through 1Password if that's helpful

[2021-11-04 13:39] mhdawson commented on #626
@bnb sounds good. I think you could create a new npm account with the right name, have the credentials shared through 1password and then we can ask the teams publishing packages to add that new account as another collaborator in npm.

We should enable 2FA on that new account.

[2021-11-04 14:56] bnb commented on #626
I'd be happy to do this, but not sure if that's what you were suggesting :P

Agree, the OTP configuration can be stored in/used from 1Password.

[2021-11-04 15:29] bnb commented on #636
since there's been no -1s in two weeks, I'm going to go ahead and do this.

[2021-11-04 15:30] bnb commented on #636
actually, upon second thought I've now only got access to do this because I'm a Moderator which doesn't feel... right.

I'd be happy to do the work it if someone from the TSC approves that, but I don't want to abuse/overstep the permissions I have.

[2021-11-04 20:53] Trott commented on #636
Repo archived and team deleted.

[2021-11-04 20:53] #636 closed

[2021-11-05 13:19] mhdawson commented on #626
That was what I was suggesting.

[2021-11-07 14:57] aduh95 opened #640 "Update commit queue token permission"
I've been trying to update the CQ to make it able to "purple-merge" PRs with the CQ. Before that, the CQ was using two tokens:
- @nodejs-github-bot's token to push the commits (@nodejs-github-bot is part of `@nodejs/collaborators`)
- `GITHUB_TOKEN` provided by @github-actions to comment/close on PRs

`GITHUB_TOKEN` is not allowed to merge PRs because it's not part of `@nodejs/collaborators`, so @t

[2021-11-07 15:09] aduh95 commented on #640
https://github.com/nodejs/admin/blob/87bc4060f3a034736f0edfd01b543d357ac0636a/GITHUB_ORG_MANAGEMENT_POLICY.md#L129-L136

Link to the CQ: https://github.com/nodejs/node/runs/4131235476?check_suite_focus=true

The app being already in use, asking for a fast-tracking this request. Please :+1: this comment to approve.

[2021-11-07 17:11] targos commented on #640
Why do we need `notifications`?
Who can make the change (we should mention them)?

[2021-11-07 17:31] aduh95 commented on #640
I'm not sure we need it, I've added it because of this sentence in GH REST API docs:

_Source: https://docs.github.com/en/rest/reference/pulls#merge-a-pull-request_

It may or may not be necessary, but given the delay of 72 hours for the fast-tracked change to be approved, I thought adding it to the list would not hurt. We should try to only add `read:org` to that token and see if that's sufficien

[2021-11-08 12:09] targos commented on #640
/cc @nodejs/tsc

[2021-11-10 09:41] targos commented on #640
Ping @nodejs/tsc

[2021-11-10 13:54] Trott commented on #640
I 👍'ed the fast-track request. Is there anything else TSC should be doing with this?

[2021-11-10 14:43] targos commented on #640
I think two 👍🏻 are enough. Now the difficult part will be to find someone who can do the change.

[2021-11-10 15:55] aduh95 commented on #640
I think anyone that has access to the @nodejs-github-bot GitHub account should be able to do that – the README mentions a 1password account, probably the credentials are there (I don't have access to it AFAIK).

https://github.com/nodejs/admin/blob/87bc4060f3a034736f0edfd01b543d357ac0636a/README.md#L48-L50

[2021-11-10 22:48] Trott commented on #640
@nodejs/github-bot

[2021-11-11 09:40] phillipj commented on #640
For future ref, credentials to the github-bot account is in the secrets
repo.

I'll try to adjust the token as described above, before the weekend.

On Wed, 10 Nov 2021 at 23:49, Rich Trott ***@***.***> wrote:

[2021-11-12 21:40] phillipj commented on #640
<img width="771" alt="Screenshot 2021-11-12 at 22 39 47" src="https://user-images.githubusercontent.com/1231635/141537807-9432d6db-4df0-45f5-96f2-27858b25e048.png">

@aduh95 try again now?

[2021-11-12 21:52] aduh95 commented on #640
Just tried, and it works: https://github.com/nodejs/node/runs/4194822955?check_suite_focus=true 🎉  thanks a lot!

[2021-11-12 21:52] #640 closed

[2021-11-15 10:56] #518 closed

[2021-11-15 21:47] bnb opened #641 "move bnb/devenv to nodejs/devcontainer"
per https://github.com/nodejs/node/issues/39672, it seems the next steps would be to move the [bnb/devenv](https://github.com/bnb/devenv) repository into the Node.js org and to PR the `.devcontainer` dir to nodejs/node. I'd recommend moving it to nodejs/devcontainer.

One thing to note, we'd need to grab a Docker Hub token to publish it to the Node.js Docker Hub account to publish the image. I pre

[2021-11-15 21:49] bnb commented on #641
cc @nodejs/tsc

also @nodejs/docker potentially worth looking at this. I believe @Trott suggested that y'all might be a good set of stewards if you're okay with that.

[2021-11-15 22:14] bnb commented on #632
+1 fwiw

[2021-11-15 23:51] Trott commented on #632
All the pending invitations have been canceled in both orgs.

We still need to audit outside collaborators in both orgs.

[2021-11-16 19:17] Trott commented on #641
@bnb Feel free to put a `tsc-agenda` label on this if there's no attention/conversation going on.

[2021-11-16 21:46] mhdawson commented on #641
+1 from me

[2021-11-30 20:09] MattIPv4 opened #643 "Install Slack GitHub app for nodejs/node"
**Is your feature request related to a problem? Please describe.**

👋 Apologies if this isn't the best place (I thought about asking in Slack, but decided here might be better).

I would like to be able to use the Slack GitHub app to subscribe to releases from nodejs/node.

**Describe the solution you'd like**

Would it be possible for someone to install https://slack.github.com/ for nodejs/node,

[2021-11-30 21:29] MattIPv4 commented on #643
The app requests the following permissions:

- Read access to checks, code, commit statuses, metadata, and repository projects
- Read and write access to deployments, issues, and pull request

(Write access is used by the app to allow anyone to open an issue as themselves, to close issues/PRs that they have rights to close)

Ref: https://github.com/integrations/slack#about

[2021-12-02 22:27] jasnell commented on #641
SGTM

[2021-12-02 22:31] mhdawson commented on #641
Based on discussion in the TSC meeting today and no objections in the issue believe we can move forward. @bnb if you make me an owner of the repo I can move it over.

[2021-12-07 21:55] Trott opened #644 "Create a .github repo"
Per the GitHub Org Management Policy, I'm requesting that we create a .github repo so that we can put a SECURITY.md file there that will appear in the GitHub interface for all nodejs org repos that do not already have a SECURITY.md repo.

Ref: https://github.com/nodejs/security-wg/issues/776#issuecomment-987610423

@nodejs/tsc @nodejs/security-triage

Policy says this is automatically approved aft

[2021-12-07 21:56] Trott commented on #644
Also: @bnb @rcowsill

[2021-12-07 22:01] nschonni commented on #644
There may be a few other files that make sense in the repo too https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/creating-a-default-community-health-file

[2021-12-07 22:08] bnb commented on #644
SGTM. Might want to consider also migrating our CoC to just live there, since most checked in CoC files already point to this repo rather than actually checking in the CoC.

[2021-12-08 02:07] Qard commented on #644
To be clear, is this suggesting a shared template or just generating a file that points to the equivalent on nodejs/node? Because a template added automatically at repo creation time could get out-of-sync over time, if I'm understanding right?

[2021-12-08 02:38] ljharb commented on #644
Things in a .github repo transparently apply to any repos without shadowing files, so it would never get out of sync.

[2021-12-09 20:10] bnb commented on #644
yep, the files aren't templates so much as context for GitHub's UI (for example, in the sidebar of the main repo page and in issues/PRs).

[2021-12-09 20:16] bnb commented on #643
As a heads up, this isn't actually a "new" app. It's already installed, and the Moderation team takes advantage of it. I've found it particularly useful as a tool to be instantly notified when a new issue is created in nodejs/moderation and there have been a few occasions where it's significantly sped up my ability to respond to incidents.

I fully support this being used in the OpenJS Foundation

[2021-12-09 20:23] mhdawson commented on #644
I'm +1 for adding the template. One issue though that I think we discussed earlier in the pkgjs repo is that if you clone the repo you don't get a copy of those files. At least my understanding is that you only see them in the UI.  We ended deciding we needed to keep a copy of things like the CoC in the repo as well so that you would have a copy in local clonse.

[2021-12-09 20:59] bnb commented on #644
Yep, that is a tradeoff. The one caveat I'd present is that our _current_ CoC isn't actually a CoC: it's a link to our CoC. We've not actually got a CoC in any repo except nodejs/admin right now, and I'm not sure if the impact of the one/two links is the same as having a full CoC checked in to the source.

[2021-12-09 22:00] ljharb commented on #644
Additionally, I'm not sure how important a use case it is for people to explore the local clone; if you're only working locally, you have no way to convey any conduct in the first place.

[2021-12-09 22:08] Trott commented on #644
For things like a code of conduct, I think it makes sense to have a link in the README to the canonical document in the .github repo. And the CODE_OF_CONDUCT.md in the .github repo shows up in the UI. Same for SECURITY.md. We'll want to test this with a small number of repos first, but I feel like that's probably the way to handle it for all repos.

[2021-12-11 18:30] nschonni opened #646 "Archiving nodejs/installer"
Was reminded that https://github.com/nodejs/installer is still open because I got a few notifications today.
Don't think there has been any activity there for a few years, and the last issues are probably things for nodejs/help to get routed somewhere better

[2021-12-14 13:16] Trott commented on #646
@nodejs/tsc

[2021-12-14 13:19] Trott opened #647 "Adding jasnell to security-triage"
James has volunteered to help out with security triage. The process that the current security triage folks have sketched out for onboarding new members (https://github.com/nodejs-private/meta) includes TSC approval, even for folks who are already on the TSC. (The idea is to err on the side of being super-extra cautious and communicative.)

So...a bunch of TSC +1's or 👍's would be helpful. Thanks!

[2021-12-14 13:19] targos commented on #646
+1 we can always unarchive if someone wants to resurrect the initiative.

[2021-12-14 13:23] richardlau commented on #647
+1

[2021-12-14 13:23] mcollina commented on #647
👍

[2021-12-14 23:58] danielleadams commented on #647
👍🏼

[2021-12-15 12:37] joyeecheung commented on #647
+1

[2021-12-15 12:38] joyeecheung commented on #646
SGTM

[2021-12-15 21:27] Trott commented on #646
Archived.

[2021-12-15 21:27] #646 closed

[2021-12-15 21:37] mhdawson commented on #647
+1

[2021-12-16 18:31] mhdawson commented on #641
@bnb I think we can close this right?

[2021-12-16 18:32] bnb commented on #641
Yep!

[2021-12-16 18:32] #641 closed

[2021-12-17 07:44] ljharb opened #648 "request to be added to util team"
Hi! I'd love to be added to the @nodejs/util team, since I maintain https://npmjs.com/object-inspect and i want to be able to keep abreast of relevant changes to `util.inspect`.

[2021-12-17 07:48] targos commented on #648
You're in :)

[2021-12-17 07:48] ljharb commented on #648
Thanks!

[2021-12-17 07:48] #648 closed

[2021-12-23 16:18] nschonni commented on #55
@Trott since this has come up again recently, I wonder if this should get re-opened or just a new issue that is more targeted at creating a new config repo and taking the application as a separate issue.
//cc @nodejs/linting

[2021-12-23 18:03] Trott commented on #55
@nschonni I like the open-a-new-issue approach.

[2021-12-23 19:19] nschonni opened #649 "Create eslint-plugin-nodejs-internal repo"
Splitting off from previous discussion in https://github.com/nodejs/admin/issues/55

This would be a repo to be published as a NPM package that could be used for node core and repos want to follow those rules already set there. Suggesting `eslint-plugin-nodejs-internal` since there is already a `eslint-plugin-node` used, so it would be less likely to be confused

- [ ] copy over rules from https:/

[2021-12-23 19:24] nschonni commented on #649
//cc @nodejs/linting

[2021-12-23 19:41] mhdawson commented on #649
+1 from me

[2021-12-23 19:52] ljharb commented on #649
Could it be named with "internal" or something, so people don't get confused and think it's for all node-based projects?

[2021-12-23 20:28] nschonni commented on #649
@ljharb like `eslint-config-nodejs-internal`? I don't know what the restrictions are on word-breaks for config names

[2021-12-23 20:35] ljharb commented on #649
There are no restrictions, and yes, that sounds great to me.

[2021-12-23 20:37] nschonni commented on #649
OK, no issue for me, so I renamed the issue

[2021-12-23 23:33] Trott commented on #649
My understanding of shareable configs vs. plugins is not great, so apologies for this, but since I'm guessing I'm not the only one who will be wondering:

Is the idea here that most repos that used this would install both the shareable config and the plugin? The plugin would be a peer dependency of the shareable config? Or would one make the other not necessary as it would be a superset?

[2021-12-23 23:55] nschonni commented on #649
Sorry, the plugin https://www.npmjs.com/package/eslint-plugin-node isn't related to the rules in the core repo, but is used by a bunch of other common shareable configs. No relation to setting up a shareable config https://eslint.org/docs/developer-guide/shareable-configs

[2021-12-24 00:15] ljharb commented on #649
A plugin can be a shareable config, but can also provide its own rules, like eslint-plugin-import.

A shareable config can only provide a config, like eslint-config-airbnb.

[2021-12-24 00:36] nschonni commented on #649
OK, since there are some custom rules in core, should it be a plugin then?

[2021-12-24 00:38] ljharb commented on #649
Yep, given that, it seems like a plugin is the right approach.

[2021-12-24 00:53] Trott commented on #649
Oh, whoops, `eslint-plugin-node` isn't ours. I somehow got confused and was thinking about `remark-preset-lint-node`, which isn't ESLint *or* a plugin, but there you go. Never mind my question, although I guess I'm glad it surfaced the plugin vs. shared config question.

[2021-12-24 00:55] ljharb commented on #649
`eslint-plugin-node-internal` seems like a reasonable choice - altho if node owns any usernames, a scoped package would be better.

[2021-12-24 00:57] nschonni commented on #649
OK, updated title again 😄

[2021-12-29 18:32] bnb opened #650 "Archive all old i18n repos and teams"
We have quite a few old localization repos that, quite frankly, we've not maintained a strong relationship with. They've come up in organization management conversations over the past ~5 years, and generally we've just chosen to let them sit. If there's not currently a meaningful process that includes these repos, I'd rather not provide misdirection for people who might actually be interested in h

[2021-12-29 18:33] bnb commented on #643
@MattIPv4 which Slack org would you want this to be added to?

[2021-12-29 18:36] bnb commented on #650
example activity from quite a few i18n repos:
![image](https://user-images.githubusercontent.com/502396/147693091-a7f9623e-b269-41e9-a9ce-ea581e7f65aa.png)

[2021-12-29 18:40] bnb commented on #649
+1, happy to help with setup if that's something that would be helpful.

[2021-12-29 18:44] MattIPv4 commented on #643
I was looking to install this in my own Slack org, and had assumed that once it was installed as an app in the repo, anyone could subscribe to the repo using it.

However, given you're saying it's already installed (is it just installed in nodejs/moderation?), perhaps I'm wrong about how it functions -- might need to just stick to the RSS feeds instead.

[2021-12-29 19:27] srl295 commented on #650
FYI @nodejs/i18n  / @obensource

So we've been trying to leverage these into cross-community discussion, such as with https://github.com/nodejs/nodejs-vi/issues/23  … https://github.com/nodejs/i18n/issues/505 …  hasn't quite taken off.

I think some of these have already been archived. If there's not activity it may be worth doing so.

I'd propose having some kind of positive recommendation, such

[2021-12-29 19:51] nschonni commented on #649
@bnb sure, if we have enough +1s now and you have the access that would be great!
If you want to seed it with the license and other files, we can start copying over content through PRs afterwards.
I think @nodejs/linting should probably be either admin or maintainer access on the repo

[2021-12-29 21:55] bnb opened #651 "Implement an Activity Policy"
I'd like to recommend that we introduce an Activity Policy for organization membership to reduce the manual workload of maintaining organization membership and attempt to reduce the surface area for potential issues caused by escalated privileges.

I think we can probably be _incredibly_ lenient in what we consider "activity". I'd consider the following "activity", both in the nodejs and pkgjs org

[2021-12-29 22:45] Trott commented on #651
Prior art:

* TSC charter requires members to attend meetings or participate in votes to retain membership.
* Collaborators in the main repo are required to author or approve commits to retain membership.

(Not trying to make any particular point. Just adding some context/information about what's already done.)

[2021-12-30 04:17] bnb commented on #650
I mean, it looks like https://github.com/nodejs/nodejs-vi/issues/23 was opened in 2018 and hasn't gotten any kind of response. Feels like a pretty strong indicator that it's not active and is not going to be active.

I think this is fair, although I don't actually know what "activity" would look like for these groups since fundamentally how they were _initially_ structured around the iojs.org webs

[2021-12-30 05:20] srl295 commented on #650
Great suggestion.

[2021-12-30 18:20] zeke commented on #650
👍🏼

[2021-12-31 05:13] Trott opened #652 "Limiting who can approve/request-changes on pull requests in the nodejs/node repo"
Today, I noticed a setting that permits us to limit who can approve/request-changes on a pull request to people who have explicit read-or-higher access to a repository. I've turned this on for the nodejs/node repo to (hopefully) eliminate spam/bot approvals, which have certainly been a problem from time to time (and generate a lot of notification spam).

![image](https://user-images.githubusercont

[2021-12-31 05:13] Trott commented on #652
@nodejs/moderation @nodejs/tsc

[2021-12-31 05:14] #652 closed

[2021-12-31 12:29] benjamingr commented on #652
That's great and hopefully will reduce some review spam - thanks for the update

[2022-01-03 07:27] targos commented on #649
Is there any repository that would like to follow the same rules as nodejs/node? I find most them very specific to core development and also related to the history of the project. I would personally never want to use the same rule set anywhere else ^^

[2022-01-03 07:32] ljharb commented on #649
@targos the intention as i understood it was that it would only be used by projects seeking to be upstreamed into node core itself.

I very much agree that no other project would want to use node core's idiosyncratic eslint config :-)

[2022-01-03 20:38] obensource commented on #650
@bnb @srl295 @zeke I've reached out to all the l10n teams via these repos 2 or 3 times over the past few years and I've never got much of a response at all. However, my messaging activity in Crowdin with l10n teams has typically been successful and I get a decent response there. This is as it should be now since the l10n surface is entirely contained in Crowdin, and i18n for node projects remains

[2022-01-03 20:39] srl295 commented on #650
Sounds good @obensource  I think this sounds like a plan.

[2022-01-03 20:39] obensource commented on #650
Also @srl295 @zeke (and @nodejs/i18n), let's start meeting again this Friday? Happy new year! 🎉🚀

[2022-01-03 20:47] obensource commented on #650
*Very* excited for that discussion! 🙌

[2022-01-03 22:03] mmarchini commented on #652
The only downside IMO is when we request reviews from a WG, since this will prevent non-committers that are part of the WG from approving. All in all I think that's still a positive change and we should at least experiment with it for a while. If it turns out to be more harmful than good we can always revert (but I doubt it).

[2022-01-03 23:08] ljharb commented on #652
@mmarchini if they're part of the WG, i think you can add the WG github team as a reviewer, and they'd still be able to leave reviews

[2022-01-04 12:29] Trott commented on #649
I've created the repository at https://github.com/nodejs/eslint-plugin-nodejs-internal/ and given write access to @nodejs/linters, which includes @nschonni.

[2022-01-04 12:30] Trott commented on #649
Re-opening because there's a checklist in this issue, and I guess we should get all those done before closing.

[2022-01-04 16:31] nschonni commented on #649
I just copied those issues over to the repo to track there, so I'll close this one.
Repo still needs license and other boilerplate files too

[2022-01-04 16:31] #649 closed

[2022-01-04 18:51] mhdawson commented on #651
Your suggestions make sense to me. In line with what @Trott implemented in the prior art that he mentioned, it should be automated and I think the way it was done where it generates a PR is a good way to review/land versus the automation just automatically making changes.

[2022-01-04 19:06] mmarchini commented on #652
ohhhhh, interesting, I didn't know adding the team as reviewer would do that.

[2022-01-04 19:22] bnb commented on #651
Agree that it should be automated and via PR. If we've already got existing infrastructure in Actions, I think it makes sense to re-use that infrastructure.

[2022-01-08 23:09] Trott commented on #650
So what's the next step? There are a few of these repos that I'd like to see archived for other reasons, but I don't want to stomp on this effort and whatever has been agreed to here.

[2022-01-09 00:17] srl295 commented on #650
Proposed wording:

[code]

[2022-01-09 21:54] obensource commented on #650
@Trott @srl295 @bnb @zeke – since a few days have passed and the general consensus is to archive them, I'll iterate on @srl295's proposed message now and open an issue on each l10n group's repo. We can give them until this Friday (01/14/22) and then archive if there's no response. If there is a response, we can work with whoever is interested to migrate over to our active l10n groups in Crowdin an

[2022-01-09 22:22] obensource commented on #650
Gotta run at the moment, but I'll send out the rest before the day is over. 👍

[2022-01-10 07:01] obensource commented on #650
@Trott @srl295 @bnb @zeke, follow up: I've opened new issues on every localization project that still exists within the project to establish the intent to archive. The only two repos that appear to have somewhat recent activity are [nodejs-ko](https://github.com/nodejs/nodejs-ko), and [nodejs-pt](https://github.com/nodejs/nodejs-pt). Hopefully they can let us know if there's any useful activity oc

[2022-01-10 07:05] obensource commented on #650
@Trott / @bnb: It doesn't appear that I have the privileges to archive a repository though, so I may need to leave that up to one of you (unless I qualify to be granted those privileges). Thanks a million all! 🙏

[2022-01-10 13:43] obensource commented on #650
**nodejs-pt** just let me know that their [repo is inactive, and ok to be archived](https://github.com/nodejs/nodejs-pt/issues/83#issuecomment-1008608225). 👍

[2022-01-10 16:21] Trott commented on #650
I've archived that repo. One thing this brings up though is that we don't really have a way to audit the teams. Unless Crowdin provides a way? Or unless we're going to not have those teams anymore? Or maybe we only need them for existing localizations on the main website? Like, if someone submits a PR to update the translation for Esperanto, it's useful to have an Esperanto team to tag for review.

[2022-01-10 16:25] srl295 commented on #650
Is there a way to sync the crowdin users with a github team?

[2022-01-10 21:46] mhdawson commented on #647
@Trott this has been open for quite some time and on the TSC agenda for a number of weeks as well. While more +1s would be nice there are are some and no objections so I'm comfortable that we can declare TSC consensus and close out the issue?

[2022-01-11 08:57] Trott commented on #647
Yeah, let's remove it from the TSC agenda. It's on my list of Stuff To Take Care Of, and I'll get to it this week, although don't let me stop you if you want to do it. I documented a checklist for onboarding somewhere.

[2022-01-11 17:00] brianwarner opened #654 "Zoom meetings"
Hi, over the break it appears that Zoom has added some new security features, including verification by email when someone logs in from a new location.

I looked into it and here's the fix. Instead of having the meeting host log directly into the nodejs-meetings@openjsf.org zoom account, you should instead log in with your own Zoom account. When you're in the meeting, open the participants panel a

[2022-01-12 06:32] Trott commented on #647
I've added James to the relevant teams etc. We'll figure out where to put him in the schedule and everything, but for now, this can be closed.

Thanks for volunteering, James!  🎉

[2022-01-12 06:32] #647 closed

[2022-01-14 06:42] mmarchini commented on #651
I like this idea. We might want to also add `nodejs-private` to the list.

[2022-01-14 17:45] bnb commented on #651
@mmarchini done

[2022-01-14 22:29] mhdawson commented on #654
It think we discovered this only works for meetings versus webinars that we have been using. We should experiment if meetings will be a good replacement now (do they have the raise hand etc.)

@brianwarner I also assume that even though the host ends up being a regular user the 40 minute limit will not apply since the meeting was set up in a paid account?

[2022-01-14 22:52] brianwarner commented on #654
Good question. That should be the case, yes, since the meeting is being
hosted on the pro account.

Also, I can confirm meetings have the raise hand as well as non-verbal
feedback. Also breakout rooms, mute-all, etc.

On Fri, Jan 14, 2022 at 5:29 PM Michael Dawson ***@***.***>
wrote:

--

*Brian Warner*
The Linux Foundation
***@***.***
+1 724 301-6171

[2022-01-20 03:44] Trott commented on #650
I've archived all the nodejs-XX repos with the exception of nodejs-ko. That one seems relatively active but might be archivable or moveable to someplace outside the org. Someone ought to reply to https://github.com/nodejs/nodejs-ko/issues/1198#issuecomment-1012039615.

[2022-01-31 21:38] Trott opened #657 "fs team cleanup"
Hi, members of @nodejs/fs. If you'd like to stay on @nodejs/fs, can you leave a thumbs-up on this or a comment or something? I'm cleaning up some teams. I'll leave this open for at least 72 hours before cleaning up. And even after that window, you can always ping me or someone else on TSC to add you back. Thanks!

[2022-02-06 01:59] #610 closed

[2022-02-06 02:00] #613 closed

[2022-02-06 05:01] Trott opened #658 "Archive mentorship repo, remove team, remove links in other places"
Hi, everyone. Based on the lack of activity in https://github.com/nodejs/mentorship and https://openjs-foundation.slack.com/archives/C0120JLG02H, it seems to be time to sunset the mentorship program and archive that repository and Slack channel.  If we archive the channel and repo, we can always unarchive them if/when things get restarted. I don't think it's good to have people popping into the ch

[2022-02-06 14:24] danielleadams commented on #658
+1 if those that are/were involved are also +1

[2022-02-08 19:33] bnb opened #659 "blocklist import/export"
per the recent discussion around the moderation team and importing/exporting the blocklist across our three orgs (nodejs, pkgjs, and nodejs-private), I went ahead and built out a GitHub Action that allows us to import blocklists from one organization to another organization. In practice, this means that if someone is blocked in the `nodejs` org, that block can be imported to the other organization

[2022-02-09 01:40] Trott commented on #659
@nodejs/tsc PTAL. Also, this would be good to at least mention, if not discuss, at the TSC meeting on Thursday.

[2022-02-09 04:44] #657 closed

[2022-02-10 10:56] arcanis opened #660 "Bot user for nodejs/corepack"
I'd like to automate [Corepack](https://github.com/nodejs/corepack) so that it'd automatically be updated with new package manager information, and republished. The setup I have in mind:

- Every day, a workflow checks what are the latest npm/pnpm/Yarn releases, updates the config file, and opens a PR
- On each commit, check if the package.json version is on the npm registry; if it isn't, publish

[2022-02-10 23:41] aduh95 commented on #660
/cc @nodejs/tsc

[2022-02-11 08:42] mcollina commented on #660
I do not think this is a great idea.
One of the main reason we adopted corepack was to avoid work in nodejs/node to support multiple package managers. There is a _measurable_ amount of traffic on our H1 due to vulnerabilities in the npm dependencies, and my goal is to not increase it.

I propose that the config file include only the major  version of each package manager. This will ensure that for

[2022-02-11 08:56] arcanis commented on #660
Limiting updates to major is a good idea, but it's tangential to having an automation - we'll still want to the minor / patch releases from the same major.

The config file contains exact versions so as one Node version always has the exact same default pnpm / Yarn release, mirroring the way you currently distribute npm.

[2022-02-11 09:18] mcollina commented on #660
No. I'm proposing to avoid the problem altogether  and just specify the major version.

I would note that having a config file with the exact versions defeats one of the purposes of corepack.

I'm proposing a change so we can actually avoid the problem completely. Given corepack download the package managers dynamically, we should not have users install versions with known vulnerabilities or even

[2022-02-11 09:29] arcanis commented on #660
Dynamic installs are a large topic, with some people seing them as a pro in terms of security (always up-to-date) while others see it as a con (faker.js situation). The current design avoids this problem by ensuring that the default versions are static (even if the binaries are lazy loaded), which matches the existing status quo.

In my opinion, changing to dynamic versioning is a separate topic t

[2022-02-11 11:19] aduh95 commented on #660
I'm +1 changing the default of Corepack to always be the most up-to-date semver-minor/semver-patch of all supported package manager. IMHO being up-to-date is much preferable than keeping an insecure version forever.

I'm +1 having a bot that opens a PR to nodejs/corepack every time a new major version of npm or pnpm is released, and that opens a PR to nodejs/node every time a new version of Corepa

[2022-02-11 12:35] BethGriggs commented on #660
+1 to @mcollina's suggestion.

I completely missed the fact that Corepack maintains a config file with specific versions in the original discussion. Even with automation to create the PRs to update Corepack, that means Corepack puts extra burden on the project to ship new releases any time one of the three package managers upgrade their defaults in the Corepack config.

To add, I struggled to find

[2022-02-14 16:22] mhdawson commented on #660
I agree with the sentiments in the last few comments. From my perspective the only reason some of us were willing to pull in corepack is because it avoided pulling the package managers into Node.js itself. If it's effectively the same thing and forces Node.js to do security updates when an update is needed in one of the package managers we just don't have the bandwidth to support that  that (we al

[2022-02-16 12:55] aduh95 commented on #660
On the TSC meeting it was decided to go on with adding an automation that opens a PR to nodejs/node every time a new version of Corepack is released. We have already a workflow in the core repo to update dependencies: https://github.com/nodejs/node/blob/HEAD/.github/workflows/tools.yml.
@arcanis would you like to open a PR to add a step on this workflow that checks for Corepack updates?

[2022-02-16 13:05] arcanis commented on #660
Sure, will do 👍

[2022-02-16 14:49] Trott opened #662 "Moderation policy clarification around hiding comments"
Our moderation policy says this:

Note that it includes modify, lock, and delete, but not hiding. That was (IIRC) intentional. We want people to be able to hide off-topic comments without needing to engage in the overhead of opening and issue in the moderation repo or leaving a comment in the issue that they are hiding the comment in (as that defeats the purpose of hiding the comment in a lot of c

[2022-02-16 14:52] Trott commented on #662
There's also some confusing stuff going on in the moderating-non-collaborators segment. It starts with this:

It then lays out the procedure for moderating something, including the documenting-the-action part. However, it then says this:

So for intentionally disruptive content by non-collaborators, can I bypass the documenting-the-action step? If not, what is the part of the procedure that I'm ab

[2022-02-16 14:55] Trott commented on #662
Another oddity (and I know I'm probably the one who did the editing that resulted in this, so I'm sorry about that):

Second bullet point says:

But the third bullet point says this:

So in the second bullet point, an explanation "must" be provided, but in the third bullet point, it indicates that explanations are not always necessary.

[2022-02-16 17:37] benjamingr commented on #662
Opened a PR to iterate on https://github.com/nodejs/admin/pull/663/files

[2022-02-17 04:19] Trott commented on #662
Hiding a comment is non-destructive and reversible. If we ask people to document it, we basically make hiding worthless. No one will ever do it.

It might be excessive, but if we want to be notified every time a comment is hidden, maybe the thing to do is automate it. Have a GitHub Action that runs every 5 minutes or every hour or whatever and reports all the comments hidden since the last time it

[2022-02-23 10:08] arcanis commented on #660
Opened https://github.com/nodejs/node/pull/42090 to auto-update Corepack in Node. However my initial points were also to allow automated releases in the Corepack repository; is it possible?

Even if Corepack switches to dynamic versions, I'd still prefer to have some repository workflow for Corepack releases, and avoid having to release it by running commands from my own laptop.

[2022-02-23 18:57] mhdawson commented on #660
I don't think that makes sense. None of the packages are owned by the user, instead we add the nodejs-foundation as a backup user so that if the prior collaborators are no longer around we can add new ones.  We have talked about creating an org, and in that case it might make more sense. Since you indicated this was optional, it is probably best to handle/discuss this aspect as a follow on task to

[2022-02-24 05:55] Trott commented on #660
I believe npm publish tokens bypass 2fa.

[2022-02-25 17:25] Trott commented on #658
Archived the repo, deleted the team (4 members: @davidguttman, @detrohutt, @demola07, and @LonelyTree), requested the Slack channel be archived, removed folks who aren't on any other teams. Thanks, everyone, and happy to spin this all up again if there's activity/energy that warrants it.

Still TBD: Remove links and mentions where they appear in other repos, especially the website.

[2022-02-25 18:18] Trott commented on #658
Did a quick search and didn't find anything.

[2022-02-25 18:18] #658 closed

[2022-02-25 18:25] aduh95 commented on #662
On this topic, it might be interesting to clarify if it's also OK to hide comments made by collaborators in response to a previous off topic comment made by a non-collaborator. Maybe it's clearer with an example:

[code]

Let's assume a third party collaborator comes to the issue thread and decide to hide the off topic comment, is it OK to hide both? I would think so, but the policy is not clear o

[2022-02-26 21:29] mmarchini commented on #662
I think it would be reasonable to automate an audit report of sorts, probably not opening an issue here but maybe sending to TSC and Moderation team emails.

[2022-02-26 21:40] mmarchini commented on #660
According to our policy, we must add the nodejs-foundation user as admin for any project maintained package:

So if that's not the case yet, this is the first step. I'm almost sure we have used this same user to automate other packages that have automated release. If not, we really need to settle on this, adding user-created automated tokens is not the way to go for a project of our size.

I'm +1

[2022-02-28 16:11] mhdawson commented on #660
I agree that user-created tokens should not be used for automation of publishing. I don't think we have automated publishing yet. There was also a suggestion that we should change the name of the nodejs-foundation user. This might be the right time to create a new user or org and start by using it for automation.

[2022-02-28 16:14] targos commented on #660
+1. This would help unblocking https://github.com/nodejs/node-core-utils/pull/511

[2022-03-01 20:17] mhdawson opened #665 "zoom/stream access for @thescientist13"
@thescientist13 has volunteered to chair/stream package-maintenance teams meetings when needed.

Would like to get him zoom/youtube access so that he can do that.

@thescientist13 - link to streaming instructions - https://github.com/nodejs/TSC/blob/main/Streaming/Streaming-To-Youtube.md

[2022-03-01 20:18] mhdawson commented on #665
@thescientist13 I'll try to check back on the issue by the end of this week, if you don't see me doing that feel free to remind me.

[2022-03-01 20:23] thescientist13 commented on #665
Thanks @mhdawson .  For that doc, is there any value in adding notes for running the meeting itself?  Like maintaining / creating the word document, turning that into a markdown / file PR?  Or is it that handled differently per WG?

[2022-03-01 21:22] mhdawson commented on #665
I think a lot of wg/teams use the common approach. Documenting it as a suggestion/recommendation makes sense to me. In the above I'd say google doc instead of word doc.

[2022-03-03 15:38] bmeck opened #666 "Odd report of unable to comment on PR for first time contrib"
https://github.com/nodejs/node/pull/42177 was made by @rochdev but he is reporting in our corp slack that he cannot comment on the PR in the github UI.

[2022-03-03 15:48] aduh95 commented on #666
See https://github.com/nodejs/moderation/issues/544#issuecomment-1057624052.

[2022-03-03 15:48] #666 closed

[2022-03-09 21:35] mhdawson commented on #665
@brianwarner can you set @thescientist13 with access to the zoom credentials?

[2022-03-09 21:37] mhdawson commented on #665
Added @thescientist13 to youtube as manager using email listed in github

[2022-03-09 21:39] mhdawson commented on #665
PR to add to zoom email list - https://github.com/nodejs/email/pull/184/

[2022-03-09 21:52] brianwarner commented on #665
@thescientist13 For the time being, we're using lastpass to manage the credentials. Can you please set up an account and let me know which email you used for it? You can contact me directly at operations@openjsf.org if you prefer.

Also, we'll soon be moving to 1Password, so unfortunately this is only going to be temporary, but it will at least get you access to the account.

[2022-03-13 23:21] thescientist13 commented on #665
Sorry for the delay in replying!   Emailing you now @brianwarner

[2022-03-15 16:24] bnb commented on #644
given that it's been a... lot longer than 72 hours, I've created the repo @trott.

https://github.com/nodejs/.github

[2022-03-15 16:27] bnb commented on #659
@Trott has there been any decision from the TSC on implementing this?

[2022-03-15 18:27] bnb commented on #600
closing, since this has been completed.

[2022-03-15 18:27] #600 closed

[2022-03-15 18:27] bnb commented on #601
FWIW we've shuttered Medium for the most part.

[2022-03-15 18:28] #602 closed

[2022-03-15 18:29] bnb commented on #603
done

[2022-03-15 18:29] #603 closed

[2022-03-15 18:29] bnb commented on #609
closing this since it's public and used by us already 👍🏻

[2022-03-15 18:29] #609 closed

[2022-03-15 18:30] #644 closed

[2022-03-15 18:37] bnb commented on #69
going to close this since it's been ~4 years and several folks involved aren't involved anymore. I'm +1 to this change but it seems like we've not implemented it. I'd be happy to see it revived/implemented.

[2022-03-15 18:37] #69 closed

[2022-03-15 18:38] bnb commented on #118
we haven't done this and AFAIK there are no plans to. I love the emeritus structures that we have built up, but this specific discussion does not seem like it's going to lead to further changes. Feel free to reopen if you feel like it will.

[2022-03-15 18:38] #118 closed

[2022-03-15 18:39] bnb commented on #136
gonna close this, it was stale in 2019. It's 2022 😅

[2022-03-15 18:40] #257 closed

[2022-03-15 18:43] #303 closed

[2022-03-15 18:59] bnb commented on #561
I'm happy to do this but don't think I have permissions to outside of Moderation-level access. @nodejs/tsc could we get someone to do this?

[2022-03-15 19:00] bnb commented on #577
closing this since there is apparently not interest 👍🏻

[2022-03-15 19:00] #577 closed

[2022-03-15 19:16] aduh95 commented on #561
I've added Myles and Maël, as well as myself: https://github.com/orgs/nodejs/teams/corepack
I've also added nodejs/corepack to that team ownership: https://github.com/orgs/nodejs/teams/corepack/repositories

I think we're all set, closing. Let me know if I missed something.

[2022-03-15 19:22] mhdawson commented on #659
@bnb my recollection is that there were no concerns raised and understanding was that it could move forward.

[2022-03-15 22:35] Trott commented on #592
All deleted. I'll also remove any people from the org that aren't on any teams anymore. Closing this. Thanks.

[2022-03-15 22:35] #592 closed

[2022-03-15 23:27] bnb commented on #560
Going to close this 👍🏻

[2022-03-15 23:27] #560 closed

[2022-03-16 04:37] bnb commented on #530
closing since this is relatively resolved AFAIK

[2022-03-16 04:37] #530 closed

[2022-03-16 10:42] jasonwilliams commented on #601
@bnb any particular reason why or it just happened organically?

[2022-03-17 01:11] bnb commented on #643
yes you're correct, it is just installed there.

given that, going to close this. Feel free to reopen if me closing is erroneous :)

[2022-03-17 01:11] #643 closed

[2022-03-18 20:08] mhdawson commented on #665
@thescientist13 do you have everything in place now? Just checking before I close this issue.

[2022-03-18 23:08] thescientist13 commented on #665
I do, thanks @mhdawson / @brianwarner !

[2022-03-21 13:22] #665 closed

[2022-03-23 23:08] aduh95 opened #671 "Create @nodejs/test_runner team"
We have already `@nodejs/testing`, maybe `@nodejs/test` would be too close? Anyway, I think it would make sense to create a GitHub team for folks who want to subscribe to changes related to the new `node:test` module.

[2022-03-23 23:10] aduh95 commented on #671
/cc @nodejs/tsc

[2022-03-24 00:39] ljharb commented on #671
I’d like to be on it. We should be sure to include all maintainers of the top ~10-20 test frameworks in the ecosystem on all such discussions (and probably should have prior to landing anything)

[2022-03-24 09:28] juliangruber commented on #671
I'd like to be on it as well, for https://github.com/juliangruber/node-core-test

[2022-03-24 16:22] bnb opened #672 "Create PAT for blocklist import/export"
For https://github.com/nodejs/.github/pull/1 to be able to actually be run, it will need a PAT from an account that is an admin of both organizations - meaning, nodejs/ and pkgjs/. My assumption is that if @nodejs-github-bot isn't already an admin of pkgjs/, we should trivially be able to fix that but it'll still need to be done.

As such, I'm explicitly requesting a PAT with the `admin:org` scope

[2022-03-24 16:24] bnb commented on #659
I've moved the repo to [pkgjs/action-import-blocklist](https://github.com/pkgjs/action-import-blocklist) and have opened https://github.com/nodejs/.github/pull/1 which adds the Action to our organization. I specifically put it in our organization because I'd like to keep control of our data and PATs within the org we more aggressively maintain.

I will need to add a token to the `nodejs/.github` r

[2022-03-24 16:24] bnb commented on #672
cc @nodejs/tsc

[2022-03-25 18:52] mhdawson opened #673 "Give Alix Robinson from Linux Foundation access to youtube account"
I'd like to get Alix access to the Node.js youtube account so that the data for top videos can be shared in the board meetings versus just what is in the OpenJS youtube as I personally believe that does not properly represent what people are interested in/watching on its own.

[2022-03-25 18:54] mhdawson commented on #673
@arobinsonLF FYI.

[2022-03-25 22:01] mcollina commented on #673
SGTM

[2022-03-30 08:15] targos commented on #618
@mhdawson

1. Go to https://www.npmjs.com/settings/nodejs-foundation/tokens/new
2. Enter the nodejs-foundation account's password
3. Name: `NPM_TOKEN secret to publish node-core-utils` ?
   Type: "Automation"
   Click "Generate Token"
4. Copy the generated token (it starts with "npm_")
5. Go to https://github.com/nodejs/node-core-utils/settings/secrets/actions/new
6. Name: NPM_TOKEN
   Value: the

[2022-03-31 13:52] gireeshpunathil commented on #673
+1

[2022-03-31 22:36] mhdawson commented on #673
@arobinsonLF  you should have an invite adding you as a manager for the Node.js youtube account.

[2022-03-31 23:57] mhdawson commented on #673
Done, closing.

[2022-03-31 23:57] #673 closed

[2022-04-04 09:54] aduh95 commented on #671
This been opened for 7 days with no objections, I went ahead and created @nodejs/test_runner. Closing now.

[2022-04-04 09:54] #671 closed

[2022-04-04 16:59] GeoffreyBooth opened #674 "Transferring in repo `loaders-test`"
Hi, yesterday I transferred in the repo https://github.com/nodejs/loaders-test without realizing that there’s a process for this. My apologies. Moving that repo here has been a TODO item for the loaders team for over a year, as we test the loaders API against the examples in that repo. I just learned of https://github.com/nodejs/admin/blob/main/transfer-repo-into-the-org.md, I’ll be following the

[2022-04-04 17:29] BethGriggs opened #675 "Create nodejs.org private fork for release announcement"
Historically we've drafted the major release announcements in a restricted OpenJS Google Doc and then posted the content to the Node.js Medium and https://openjsf.org/blog.

This year I propose we post the Node.js 18 major release announcement to nodejs.org. (IMO, that's the logical place where end users would be looking for official release content.). Posting it to nodejs.org also means we can us

[2022-04-04 18:14] Trott commented on #675
The OpenJS Foundation folks would have to answer this definitively, but I imagine the embargo isn't about the factual content about the release. I imagine it's about the actual text, and maybe some quotes from some folks. "Michael Dawson, Senior Node.js Person Of Note at Red Hat, says, 'This is the most significant new release of Node.js since our last release!'" That kind of stuff.

[2022-04-04 18:18] Trott commented on #675
"Node.js 18 is significant because, at least in the United States, Node.js can vote now. 18 is a really, really, big number. It is bigger than 17, if you can believe that, and that was the integer we assigned to our last release. We've really outdone ourselves here!" said Rich Trott, currently seeking employment after being fired for "having an alarminigly magnified sense of his ability to be funn

[2022-04-04 18:58] aduh95 commented on #674
/cc @nodejs/tsc

I've added @nodejs/loaders as maintainers of [nodejs/loaders-test](https://github.com/nodejs/loaders-test).

[2022-04-04 19:14] nschonni commented on #675
Definitely not what it is intended for, but I wonder if you could abuse the Security Advisory feature https://docs.github.com/en/code-security/repository-security-advisories/creating-a-repository-security-advisory

[2022-04-04 19:41] BethGriggs commented on #675
I have raised the question of whether the embargo is necessary considering the content of the release is always publicly known in advance via the proposal (as we discussed last week, @richardlau). I haven't had a response on that just yet. I do believe that the concern is around other press lifting the words verbatim and publishing it prior.

Part of the intent of moving from a OpenJS/TSC-restrict

[2022-04-04 19:59] mhdawson commented on #675
I think the main reason in the past has been that there is a goal to make a "marketing splash", get press interested in writing articles etc. From what I understand that does not work very well if the info/details are already public/published.  @arobinsonLF, @rginn should be able to add more explanation/confirm if that is correct.

I suggest we proceed with this proposal so that we get started and

[2022-04-07 07:25] bnb commented on #672
added label since this has been open for two weeks with no review and I need +1s from the @nodejs/tsc 😅

[2022-04-07 07:32] targos commented on #672
+1

[2022-04-07 19:48] mhdawson commented on #672
+1

[2022-04-07 20:22] mhdawson opened #676 "Add @nsait-linaro and @pbo-linaro for platform-windows-arm"
I can't remember us having any policy/process for adding people to teams but I like making things like this visible before I do them.

From the discussion on arm64 binaries - https://github.com/nodejs/build/issues/2540

I'd like to add @nsait-linaro and @pbo-linaro to the platform-windows-arm teams.

I'll plan to do that in a few days unless I see concerns.

[2022-04-07 20:39] mhdawson commented on #674
@GeoffreyBooth thanks for the heads up and making sure we are consistent with https://github.com/nodejs/admin/blob/main/transfer-repo-into-the-org.md in terms of the end state.

[2022-04-07 20:40] GeoffreyBooth commented on #674
Thanks, I think I’ve done everything that should be done? Please let me know if there’s anything else.

[2022-04-07 20:44] mhdawson commented on #674
As per [the ](https://github.com/nodejs/admin/blob/main/GITHUB_ORG_MANAGEMENT_POLICY.md#repositories) I think we can consider the request to transfer it in retro-actively approved since the tsc was at mentioned over 72 hours and from what I can see the other required files are there so I think its done and the issue could be closed.

[2022-04-07 20:44] #674 closed

[2022-04-07 21:34] mhdawson commented on #618
@targos ok, done but not sure that will be enough since 2FA is enabled.

[2022-04-07 22:09] arcanis commented on #660
What are the next steps regarding the publish bot user?

[2022-04-08 05:56] targos commented on #618
It should be fine. Automation tokens bypass 2FA.

[2022-04-08 08:03] targos commented on #660
I guess it would be to create an automation token for the nodejs-foundation user and add it as a secret to the nodejs/corepack repo (like https://github.com/nodejs/admin/issues/618)?

[2022-04-08 12:38] targos commented on #618
Looks like you were right: https://github.com/nodejs/node-core-utils/runs/5885136215?check_suite_focus=true

I don't know what's blocking it, though. I have setup automation tokens without issues before (on an account that has 2FA enabled too).

[2022-04-12 18:40] bnb opened #679 "Enable nodejs/node Discussions as Org Discussions"
GitHub launched a feature today that enables you to select a repo's Discussions tab to be set as the org Discussions tab. Given that nodejs/node is the most active/relevant set of Discussions, I'd really like to recommend we set nodejs/node's Discussions tab as the org discussions.

Context here: https://github.blog/2022-04-12-whats-new-in-github-discussions-organization-discussions-polls-and-more

[2022-04-13 06:15] targos commented on #679
SGTM

[2022-04-13 16:18] nschonni commented on #679
Don't feel strongly about it, but https://github.com/nodejs/help might be another candidate

[2022-04-13 20:36] mhdawson commented on #679
SGTM

[2022-04-13 21:13] BridgeAR commented on #672
+1

[2022-04-14 08:27] targos commented on #618
I checked on https://www.npmjs.com/package/node-core-utils/access and the package doesn't enforce 2FA so I really don't know what's wrong.

[2022-04-14 08:27] targos commented on #618
`nodejs-foundation` also has access:
![image](https://user-images.githubusercontent.com/2352663/163345602-c724532d-6302-44b2-bd06-b35a956b895f.png)

[2022-04-14 08:29] targos commented on #618
@mhdawson are you sure that you didn't create a publish token instead of an automation token?

[2022-04-15 00:25] bnb commented on #679
@nschonni my idea with this is that org discussions could likely replace nodejs/help :)

[2022-04-15 00:49] ljharb commented on #679
We could presumably make nodejs/help’s discussions *be* the org’s discussions, and then there’s a nice transition.

[2022-04-15 01:34] nschonni commented on #679
@bnb that could work, but might need to confirm the permissions required. Currently the website folks and a few non-core contrib folks can transfer issues into nodejs/help when the are accidentally created there. That could always get sorted later though

[2022-04-18 15:25] Trott commented on #672
I just tried to help @bnb by creating the token, but I don't have the authentication credentials for @nodejs-github-bot. Can someone else step in to do this? @nodejs/tsc @nodejs/github-bot @nodejs/build

[2022-04-18 16:42] bnb commented on #679
The challenge I see with this is that people _will_ default to discussions on nodejs/node, and in general that seems to be where project members have also been most active. I think nodejs/node makes a lot more sense than nodejs/help, since help IMO should only be an _aspect_ of discussions, not the entirety.

[2022-04-18 16:47] bnb commented on #679
hmm good point, I might be able to make an action that could do this but yeah perms might be an issue for that.

[2022-04-18 19:52] phillipj commented on #672
Sure, I can create a token for the github-bot. Its credentials are part of the secrets repo too for future ref.

Do we have preferred ways of sharing such a token?

[2022-04-18 20:53] bnb commented on #672
@phillipj if you'd want to just add it to the nodejs/.github repo as a GitHub Secret so you don't need to share it, that'd be sick. Ideally, it'd be named `BLOCKLIST_TOKEN` since that's what the current PR (https://github.com/nodejs/.github/pull/1) uses, but I can change if needed :)

[2022-04-18 21:00] phillipj commented on #672
@bnb sounds good to me 👍🏻 I've already created the token, so if you provide me sufficient privileges in that repo, I'll create `BLOCKLIST_TOKEN` ASAP

[2022-04-18 21:43] bnb commented on #672
AFAIK I only have the ability to provide that access via being an owner from the Moderators team, which I am not supposed to use for that. @Trott / @nodejs/tsc if one of y'all could maybe add @phillipj with the `admin` role to that repo and remove him when he done adding the token? 🙇🏻

[2022-04-18 22:21] aduh95 commented on #672
I've added @phillipj as `Admin` on nodejs/.github. Let me know when you no longer need it.

[2022-04-19 07:07] phillipj commented on #672
✅ `BLOCKLIST_TOKEN` repository secret added.

@aduh95 feel free to remove my admin privileges.

[2022-04-19 14:30] mhdawson opened #681 "Add @Qard to those who can stream to youtube"
@Qard will chair some Diagnostics WG meetings.

We'll need to add him as a youtube manager and get him access to the Zoom credentials.

Unless I hear objects in the next few days I'll go ahead with that.

@nodejs/tsc FYI

[2022-04-19 14:36] mhdawson commented on #618
@targos I thought I followed your instructions above exactly. What would be the difference between the two (ie what did I miss in the instructions above that would result in a publish instead of automation token). Once I understand that I can try again.

[2022-04-19 14:42] aduh95 commented on #618
See https://github.blog/changelog/2020-10-02-npm-automation-tokens/

An **automation token** will bypass the 2FA when publishing, while the **publish token** will not:
![screenshot from npm website](https://i0.wp.com/user-images.githubusercontent.com/1130014/94804251-6cee9780-03e2-11eb-9380-f18a7b410b9b.png?ssl=1)

[2022-04-19 15:11] mhdawson commented on #618
@aduh95 k thanks, updated and I should have it correct this time.

[2022-04-19 16:23] targos commented on #618
It worked this time: https://github.com/nodejs/node-core-utils/runs/6081510688?check_suite_focus=true
Thanks!

[2022-04-19 16:23] #618 closed

[2022-04-19 20:12] BethGriggs commented on #675
https://github.com/nodejs/nodejs.org/commit/b6619fca48c4b8fe29379d1747b137e82467cf9b is the content that was created in this private fork. Deleting the repository now.

[2022-04-19 20:13] #675 closed

[2022-04-21 22:11] mhdawson commented on #681
I don't see any objections think it's unlikely we'll get any.

@brianwarner could you give @Qard access to the Zoom secret?

@Qard you should have received an invitation as a manager for the Node.js youtube account.

[2022-04-22 14:13] brianwarner commented on #681
@qard can you send me an email at operations@openjsf.org and let me know which Google account you'll use for this?

[2022-04-23 16:35] brianwarner commented on #681
Just following up, this is done.

[2022-04-25 21:58] mhdawson commented on #681
@brianwarner many thanks.  I also got the email telling me that @Qard was a manager of Node.js so I think this is done, closing.

[2022-04-25 21:58] #681 closed

[2022-04-29 20:13] bcoe commented on #654
👋 I'm having trouble starting the Tooling Group meeting, due to this issue, I get what looks like an OTP entry, but I'm not seeing how I would take over the meeting (since it doesn't start automatically).

![Screenshot 2022-04-29 4 13 23 PM](https://user-images.githubusercontent.com/194609/166062968-e41c7f47-6cf6-4e7b-a428-ed18df68bbd1.png)

Any suggestions on a workaround?

[2022-05-01 20:13] aduh95 opened #683 "Transfer juliangruber/node-core-test in the Node.js org"
@Gozala offered in https://github.com/nodejs/TSC/pull/1206#issuecomment-1098514488 to hand over the `test` npm module to the Node.js org, I would like to suggest that we accept that generous offer, and publish a new semver major containing a polyfill for the actual `node:test` core module.

I'm suggesting we use [juliangruber/node-core-test](https://github.com/juliangruber/node-core-test) for this

[2022-05-02 20:28] mhdawson commented on #654
@bcoe can you PR yourself into https://github.com/nodejs/email/blob/main/iojs.org/aliases.json in the `zoom-nodejs` section. That is the email to which the OTP codes are sent to.

We ended up with that approach and it shoud be what you need to log in when challenged.

[2022-05-03 00:01] Qard commented on #654
Am I right in understanding I will need to do that too for running the diagnostics working group meetings?

[2022-05-03 14:56] mhdawson opened #684 "Youtube and Zoom access for @RafaelGSS"
@RafaelGSS is going to chair security wg meetings. To do that he'll need acess to the Zoom credentials and be a youtube manager.

Unless there are objections I'll make him a youtube manager and ask Brian to share the Zoom credentials.

@nodejs/tsc

[2022-05-03 14:57] mhdawson commented on #684
I plan to start getting him access by Thursday unless there are concerns raised.

[2022-05-04 18:18] mhdawson commented on #654
@Qard yes, sorry I forgot to do that when we onboarded you. If you can PR yourself in that would be great.

[2022-05-09 12:56] mhdawson commented on #684
Added @RafaelGSS as a manager of youtube account.

@brianwarner can you give @RafaelGSS access to the zoom account credentials.

[2022-05-09 15:14] brianwarner opened #685 "Storing the Zoom credentials"
LF just switched from LastPass to 1password, and while we've gained many things in the process, I'm told that credential sharing outside of the LF org is limited to 30 days at a time. Apparently this is currently the max supported by 1password.

The Node.js Zoom account is shared out to many people in the project, so it's not exactly a state secret. Is there a central place for the project to keep

[2022-05-09 16:48] RafaelGSS commented on #684
All good!

[2022-05-09 22:12] Trott opened #686 "Removing teams and archiving repos"
I'd like to remove the following teams and archive their associated repos:

* @nodejs/social This will mean transferring management of our Twitter account to the OpenJS Foundation. @richardlau pointed out that https://github.com/nodejs/tweet is referenced in https://github.com/nodejs/node/blob/master/doc/contributing/security-release-process.md as part of the security release process. The process